[2020-09-14 10:14] svenjacobs commented on #923
Interestingly the tests do not fail when run individually from IDE but fail when run with `./gradlew test`.

[2020-09-14 10:28] raniejade commented on #923
A few things to test out (I'll setup a project myself later, can't right now):

1. What's the behaviour when adding `org.gradle.parallel=false` to `gradle.properties`.
2. What's the behaviour when you move `coEvery { world() } returns "world 2"` to a `beforeEachTest`.

[2020-09-14 10:55] svenjacobs commented on #923
In both cases tests unfortunately still fail :(

[2020-09-14 11:02] raniejade commented on #923
Weird, hmm. I'll have to investigate some more. Can you wrap `stringProvider.world()` in a `runBlockingTest`?

[code]

The idea here is to call `stringProvider.world()` using the same dispatcher.

[2020-09-14 11:11] svenjacobs commented on #923
Neither wrapping `coVerify` nor `coEvery` in `runBlockingTest` did fix this.

[2020-09-15 16:53] molszewski commented on #916
We're experiencing the same issue - when we run any test via IntelliJ test runner or `./gradlew test --tests` command line Spek2 tests are running as well.

Our `build.gradle` contains the following setup:

[code]

Would appreciate if you could advise if more setup is required or a workaround can be applied to address this issue. Thank you.

[2020-09-15 20:20] R4md4c commented on #916
Unfortunately I'm still suffering from this problem, one workaround that I discovered is executing single test methods doesn't trigger this bug, unlike when trying to run the entire class. It's not ideal but it's less time consuming than trying running an entire class and executing other Spek tests with it.

[2020-09-17 09:01] jcornaz opened #924 "Test execution order is messed up since Spek 2.0.13"
Hi,

Please consider the following code:

[code]

## Using Spek `2.0.12`

I get expected standard output (in the test report created by gradle):

For `Spec1`:
[code]

For `Spec2`:
[code]

## Using spek `2.0.13`

I get non-expected standard outputs:

For `Spec1`:
[code]

For `Spec2`:
[code]

![image](https://user-images.githubusercontent.com/2535178/93448576-0b9fd200-f8d4-11ea-8a86-639871f2910e.png

[2020-09-17 09:48] raniejade commented on #924
Yeah, this was a bit unfortunate - I'm using coroutines under the hood, which explains the execution order. At any given point, a fixture or the actual test can be suspended which gives other tests to run. Lesson here is that, coroutines execution model is not really good for running tests :sweat_smile:, specially with frameworks relying on execution order. I'll rework this for `2.0.14`, making su

[2020-09-18 19:17] robstoll opened #927 "regression with 2.0.13, discovery fails"
I have a regression with spek 2.0.13 (update from 2.0.12 to 2.0.13 fails) it seems like in some modules the test discovery does not work anymore. See https://travis-ci.com/github/robstoll/atrium/jobs/384465747#L1087 and https://travis-ci.com/github/robstoll/atrium/jobs/384465747#L1095

Note that I have implemented a check to see whether a test was run or not. This is the only reason why I have det

[2020-09-19 00:04] raniejade commented on #927
Thanks for the report @robstoll! Are you able to provide stacktraces? My guess is it is related to #924, I used coroutines for discovery as well - which means that at any given it may suspend. Are you using mockk by any chance?

[2020-09-19 00:05] raniejade opened #928 "Port #925 and #926 to 2.x"

[2020-09-19 12:28] robstoll commented on #927
There aren't any or rather I don't know how I could get to a potential exception during the discovery phase. It seems like the error is silently swallowed. The build only fails because I have implemented a check that at least 1 test needs to run. Spek is happy if it does not find any tests.
Notice, the discovery still works in some modules but fails for atrium-api-fluent-en_GB-kotlin_1_3-jvm.
I am

[2020-09-26 08:25] raniejade commented on #924
Should be resolved in #925

[2020-09-26 08:25] #924 closed, assigned to nobody

[2020-09-26 08:26] raniejade commented on #923
Should be resolved in #925.

[2020-09-26 08:26] #923 closed, assigned to nobody

[2020-09-27 13:16] sondr3 commented on #426
Drive-by question, is this working in the latest version of Spek or am I missing someting? I still have to wrap my tests with `runBlocking`.

[2020-10-02 07:20] raniejade commented on #918
Closing as a duplicate of #790. I did some initial investigations before, the structured view is tied to the language of the file and it's not very easy to extend. Most probably, I'm going to add a new tool windows for this.

[2020-10-02 07:20] #918 closed, assigned to nobody

[2020-10-04 12:28] #928 closed, assigned to nobody

[2020-10-16 11:55] Majstr opened #931 "Spring tests execution problem (parallel)"
I am running test with Spring framework. With Spek version 2.0.13 I get this error:

`Failed to start bean 'webServerStartStop'; nested exception is org.springframework.boot.web.server.PortInUseException: Port 8080 is already in use`

This is probably because tests are run parallel instead of sequential.  It looks like it from Intellij menu too.

Version 2.0.12 works good.

I have also tried with

[2020-10-16 12:03] steintore commented on #931
I got the same issue running Gradle tests. Even if it says that parallel is disabled by default, Gradle now runs all tests in parallel.
Happens only on version 2.0.13.

I have tried to set both
`spek2.discovery.parallel.enabled`
`spek2.execution.parallel.enabled`

but they do not seem have any impact on the test execution being run in parallel

[2020-10-16 15:12] raniejade commented on #931
2.0.13 is a broken, please use 2.0.12 for now. Will be fixed in 2.0.14. Please see #924

[2020-10-27 16:44] snijsure commented on #886
@raniejade so is there a plugin version that works with Android Studio 4.1 - tried 2.0.13-IJ2020.1 and it fails with RuntimeException.

[2020-10-29 12:35] svenjacobs commented on #923
Any chance of a new release with this bugfix soon? 😃

[2020-10-29 12:52] raniejade commented on #923
Maybe in two weeks time, I’m really having trouble finding time for my personal projects at the moment. 😢

[2020-11-02 15:45] joaolrpaulo commented on #639
👋 Any news on support for this feature?

[2020-11-07 03:20] raniejade commented on #927
@robstoll Can you try out this build https://bintray.com/spekframework/spek-dev/spek2/2.0.14-alpha.0.4%2B88d54d2 ? Hopefully it fixes the issue you are seeing.

[2020-11-07 03:21] raniejade commented on #923
@svenjacobs Can you try this build out? https://bintray.com/spekframework/spek-dev/spek2/2.0.14-alpha.0.4%2B88d54d2 Hopefully it fixes the issue :crossed_fingers:

[2020-11-09 09:55] svenjacobs commented on #923
Yes, tests work with this version 👍  I just compared it to 2.0.13 were tests fail.

[2020-11-09 09:57] raniejade commented on #923
Awesome, I'll start the release process sometime this week when I get the time. Thanks for checking!

[2020-11-09 16:34] robstoll commented on #927
Same result using 2.0.14-alpha.0.4+88d54d2
Is there a way to activate debugging for spek or similar so that I can post here what the discovery does?

[2020-11-09 21:09] robstoll commented on #927
Btw. I noted something interesting. Most module have languageVersion 1.2 with the exception of a few where one of them is where the error occurs, this one has 1.3. No idea if this is related to the bug but could be the necessary hint for you.

[2020-11-10 03:38] raniejade commented on #927
Ahh interesting, thanks for pointing this out! I'll do some debugging on my end. If it's an exception, I'm logging it - IIRC there was a problem with JUnit Platform where it wasn't failing when there are discovery exceptions.

[2020-11-11 12:59] grossws commented on #764
@raniejade, could you please sync released versions to central? Currently only 2.0.9 is there.

[2020-11-11 16:03] robstoll commented on #927
btw. I have pushed a branch in case you want to debug it in conjunction with atrium:
https://github.com/robstoll/atrium/tree/spek-927

[2020-11-15 04:59] raniejade commented on #923
@svenjacobs sorry for the delay, `2.0.14` should be out now.

[2020-11-15 04:59] #922 closed, assigned to nobody

[2020-11-25 03:05] RationalityFrontline commented on #742
Encountered same problem, when will eagerly evaluated memoized be available?

[2020-11-25 05:29] RationalityFrontline opened #937 ""gradlew test" doesn't work with JPMS (Java Platform Module System)"
When working on a modular project which has a module-info.java file, tests can be run successfully via Intellij IDEA, but can't be run with the "gradlew test" command.
Running tests via gradle will get the following error message:
[code]
And in the report file you see the stacktrace:
[code]
After doing some patchings with the following build script(gradle kotlin dsl), "gradlew test" can run withou

[2020-11-25 08:19] jcornaz commented on #742
As the PR for 'eager evaluation of memoized ' has been closed (#661). Maybe memoized could be made thread safe in the mean time?

[2020-11-25 08:37] raniejade commented on #937
@RationalityFrontline can you include a sample project that reproduce this?

[2020-11-25 08:45] raniejade commented on #742
In `2.1.0` memoized will be eagerly evaluated (see #835), I don't think it's a good idea to include it to in the `2.0.x` line since it is a big change. I might re-scope the `2.1.0` release to just include a better IJ plugin and coroutines support, before, I wanted to add Kotlin\Native support but unfortunately the compiler plugin api is not stable enough so I guess I'll push that back.

[2020-11-25 08:46] raniejade commented on #555
Pushing this back since the kotlin compiler plugin api is not stable enough to my liking.

[2020-11-25 11:38] RationalityFrontline commented on #937
@raniejade With some testings on the newly created sample project, I finally solved the problem with the following build script:
[code]
The sample project is available at [spek-jpms-sample](https://github.com/RationalityFrontline/spek-jpms-sample).

[2020-11-25 11:38] #937 closed, assigned to nobody

[2020-11-27 15:24] dnowak opened #939 "Release plugin supporting IntelliJ IDEA 2020.3"
IDEA 2020.3 reached RC stage.

Please release plugin version supporting it so that I can use Spek in the latest IDE :-).

[2020-11-29 23:41] RIP21 opened #940 "Is it possible to write a parameterized test?"
Will be nice to have an example of one.

Also. Is it possible to make it work with Spring?

[2020-12-02 18:10] martypitt commented on #939
IDEA 2020.3 is released, and now I'm stuck unable to run any tests.  A new release would be lovely please!

[2020-12-05 00:19] raniejade commented on #939
Sorry for the wait, I'll work on a build this weekend and release it sometime next week!

[2020-12-05 02:25] snijsure commented on #939
Is it possible to document how to generate new plugin zip. So community can help you?

If it is documented can give a pointers?

Thanks!

[2020-12-05 02:34] raniejade commented on #939
In the mean time can anyone try this build out?
[2.0.15-alpha.0.0+20201205T020538Z-IJ2020.3.zip](https://github.com/spekframework/spek/files/5646356/2.0.15-alpha.0.0%2B20201205T020538Z-IJ2020.3.zip)

@snijsure Yeah, that is a good idea - it is sometimes a bit involved specially if there are big changes in the IJ platform.

[2020-12-05 16:59] sepatel commented on #939
It worked for me. I ran all of the existing speks I have on a couple of different projects and they all work as they should.

[2020-12-07 16:01] dnowak-wrldrmt commented on #939
Works fine for me, too.

[2020-12-07 19:52] robstoll commented on #939
Works for me too so far

[2020-12-12 18:41] dnowak commented on #939
Just got a few exceptions from the plugin:
[code]

[code]

[code]

[2020-12-14 05:03] raniejade commented on #939
@dnowak are you able to send a reproducer? Based on the exception, the containing file for a spek class is null which shouldn't be.

[2020-12-14 14:12] CedrickFlocon commented on #940
is that what you are looking for ?
[code]

[2020-12-14 14:52] RIP21 commented on #940
Yup :) Exactly, thanks :)

BTW, any idea why my Spek tests are running no matter what Gradle test pattern I asked?

I mean task is

`Task execution finished ':test --tests "com.whatever.graphql.mutation.OnboardingMutationsTest"'.`

But it runs all Spek tests that are in different test packages etc. I have such a setup.
[code]
So if in IntelliJ I select one of the JUnit tests to run, it runs all Sp

[2020-12-14 21:47] robstoll commented on #939
One issue I noticed today is that the plugin runs test even if there are compilation errors. Thus letting the user believe everything is correct even though the real test could actually not be run due to the compilation errors. It somehow executes the tests as they were compiled before the compilation errors.

[2020-12-14 23:33] raniejade commented on #939
That's weird, part of the execution is doing a compile. Can you check the run configuration created? Particularly, if there is a "Make" run before launch task?

[2020-12-14 23:39] raniejade commented on #940
@RIP21 I have fixed this before, what JUnit platform and gradle version are you using? If you can reliably replicate it can you create a ticket and attach a reproducer?

[2020-12-15 00:03] RIP21 commented on #940
@raniejade which versions of Gradle and and Spek and platform are expected to have this fixed?
I'll tell tomorrow what version I have (from phone now)

[2020-12-15 06:44] robstoll commented on #939
Will do. could it be it takes a run configuration which was created from an old plugin? I use spek since a while now, or in other words, should I delete the run configuration and let the plugin re-create it?

Debug a spec detects the error, so it hardly can be the run configuration no? Maybe a problem of intellij's or gradle's incremental build?
That's the configuration it generates:
![image](http

[2020-12-15 18:36] RIP21 commented on #940
@raniejade
[code]
build.gradle.kt
[code]

[2020-12-16 20:30] robstoll opened #943 "KotlinExceptionWithAttachments: Exception while analyzing expression"
reported by intellij
[code]

[2020-12-17 10:59] raniejade commented on #940
@RIP21 thanks! Can you try using Junit Jupiter 5.6.0 and see if it fixes the issue?

[2020-12-17 11:15] RIP21 commented on #940
@raniejade not fixing.

[2020-12-17 11:34] raniejade commented on #940
Okay, that's weird. Mind filing an issue?

[2020-12-31 08:13] ravenblackdusk opened #944 "Sharing a memoized val between different Speks"
I want to share a `memoized` `val` between different `Spek`s, since the `memoized` `val` is an `org.testcontainers` `DockerComposeContainer` which takes several minutes to be evaluated. But none of the `CachingMode`s seem to work. This leaves me with the option to write all tests in a single `Spek`.
How can I share a `memoized` `val` between different `Spek`s?

[2021-01-02 07:39] rgal75 opened #945 "Using Spek with UI tests on Android"
I am trying to use Spek 2 for UI testing on Android but I always get an ExceptionInInitializerError when trying to launch an Activity with ActivityScenario.launch(...):
[code]
My dependencies are:
[code]
My spec:
[code]
Is there a sample project that shows how to use Spek 2 with instrumented testing on Android?

[2021-01-04 13:51] dnowak-wrldrmt opened #946 "Exception thrown by IDEA plugin 2.0.15-IJ2020.3"
Problem reported by IDEA

Stack trace:
[code]

Invalidation trace:
[code]

[2021-01-05 07:59] raniejade commented on #945
Sorry for the delay! I'm not sure if it is totally possible at the moment, do mind I'm no android dev. Have you tried looking at https://github.com/mannodermaus/android-junit5? The instrumentation test part of the doc looks interesting. Spek provides a JUnit Platform engine (`spek-runner-junit5`) which might work with it.

[2021-01-05 09:54] rgal75 commented on #945
Thanks, I will look into https://github.com/mannodermaus/android-junit5.

[2021-01-13 06:34] ravenblackdusk commented on #638
I've been implementing data driven tests with spek for my project and I'd like to share my experience, so that the problems that I faced could perhaps be better handled in your design.
[code]
in short not being able to access memoized in scenario scope causes a lot of problems. this is `equalize` in case you are intrested:
[code]

[2021-01-26 14:17] kawpii opened #947 "Why Spek need complex setup for Android compared to Kotest on Android?"
Spek Android Setup

[code]

Kotest Android Setup

[code]

[2021-01-27 10:31] raniejade commented on #947
I suspect that we can make spek use the same setup as kotest. Gradle didn't support JUnit 5 before hence we relied upon `de.mannodermaus.android-junit5` to us that support - we probably can drop that now. So to sum it up, the samples are just not up to date.

[2021-01-27 11:17] kawpii commented on #947
okay! side question: why chose spek over kotest?

[2021-01-28 07:39] raniejade commented on #947
It's really a matter of preference and your needs.

1. API wise, Spek inherits from RSpec and several JS test frameworks - while kotest (previously known as KotlinTest) inherits from ScalaTest.
2. Kotest provides its own assertion library while Spek does not. We don't provide it because developers normally have their own preference. Plus developing an assertion API requires some effort which warra

[2021-01-28 12:31] kawpii commented on #947
Please update the docs to the new version. Thanks I'll close this now.

[2021-01-28 12:31] #947 closed, assigned to nobody

[2021-02-03 20:43] sunbladehub opened #948 "Misplaced unitTests.all {} block in sample build.gradle"
https://github.com/spekframework/spek/blob/e76356ac1259dcb65de24c6138d2288445ea8745/samples/android/app/build.gradle#L44

This block
[code]

should be a child of the `testOptions` block, not the `jacocoOptions` block

[2021-02-03 20:45] sunbladehub commented on #948
Also I noticed the [website gradle setup](https://www.spekframework.org/setup-android/) is very different from the [sample project gradle setup](https://github.com/spekframework/spek/blob/2.x/samples/android/app/build.gradle). Which one should I reference?

[2021-02-04 00:49] raniejade opened #949 "Move artifact publishing directly to Maven Central"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-04 00:52] raniejade opened #950 "IJ plugin runs tests even if there are compile errors"
Investigate: https://github.com/spekframework/spek/issues/939#issuecomment-745089542

[2021-02-04 00:52] raniejade commented on #939
@robstoll I moved your report to #950 - so I can close this ticket.

[2021-02-04 00:52] #939 closed, assigned to nobody

[2021-02-07 19:24] robstoll commented on #949
It seems like 2.0.10, 2.0.11 and  2.012 have not been published to maven central. For instance:
https://repo.maven.apache.org/maven2/org/spekframework/spek2/spek-dsl-js/

[2021-02-07 22:34] raniejade commented on #949
Yeah, forgot to click the "Sync to Maven Central" button. I'll do it now, the need for manually doing it will go away after this ticket.

[2021-02-08 04:52] raniejade commented on #949
@robstoll everything should be synced now.

[2021-02-08 08:17] robstoll commented on #949
Thanks, I can confirm that it works

[2021-02-13 20:39] corlaez commented on #108
This feature would be a nice addition!
A button that allows parallel execution would be enough for my needs. Similar to this junit4 plugin: https://plugins.jetbrains.com/plugin/12959-junit4-parallel-runner

[2021-02-13 20:52] corlaez commented on #108
https://kotlin.libhunt.com/spek-latest-version

Since 2.0.13 we have these gradle properties that allow parallel execution:

✅ Parallelism is at a class level not individual test scopes. Spek uses coroutines under the hood to execute tests in parallel, essentially spek2.execution.parallel.enabled just controls which CoroutineDispatcher is used. For parallel executions Dispatchers.Default is used,

[2021-02-14 02:35] raniejade commented on #108
@corlaez When this ticket was created the plan is to have test scope level parallelism, not just class level. I might have to re-think this a bit further - the real question is: is class/spek level parallelism enough?

[2021-02-14 02:42] corlaez commented on #108
got, got it.
Yeah I have noticed that 2.0.13 will execute tests within a class in parallel but at a class level the execution is still sequential.

[2021-02-14 02:43] corlaez commented on #910
I am working on that in my local at the moment. Feel free to assign it to me.

[2021-02-14 03:03] corlaez opened #952 "Spek gradle properties not working in Kotlin multiplatform project"
Spek Gradle properties don't seem to be working for a Kotlin multiplatform project i.e:
* `spek2.execution.test.timeout`
* `spek2.discovery.parallel.enabled`
* `spek2.execution.parallel.enabled`

Additionally this vmOption `-DSPEK2_TIMEOUT=1`  doesn't have any effect either. (Should this be a different issue?)

Update: For clarity, this happens in tests with JVM target.

Could this be a larger iss

[2021-02-14 03:05] raniejade commented on #952
JS and Native are not supported for these properties. Spek doesn't officially support them yet.

[2021-02-14 03:22] corlaez commented on #108
What I am used to is the way that Spock running with JUni4 Parallel Tests (https://plugins.jetbrains.com/plugin/12959-junit4-parallel-runner) works:
Spock would instantiate the fields every time it is about to run a test. That means that in parallel each test works with its own instances. It sounds like wasted objects and garbage collection triggering more often, and it probably does but it has no

[2021-02-14 03:23] corlaez commented on #952
I don't know if this changes the assessment but it is happening in the JVM portion of a multiplatform project. I will add the reproduction in a sec.

[2021-02-14 03:28] raniejade commented on #952
Ohh, interesting. Implementation wise it just checks the system properties. It might be a difference in how the system property is set from gradle.

[2021-02-14 03:29] raniejade commented on #910
Thanks for look at this @corlaez!

[2021-02-14 03:36] corlaez commented on #952
I updated the ticket since all gradle config in general are ignored.

[2021-02-14 03:52] raniejade commented on #952
I just saw the example, gradle properties are not propagated to the JVM spawned for running the tests. You should be doing: https://github.com/spekframework/spek/blob/2.x/integration-test/build.gradle.kts#L105

[2021-02-14 04:30] corlaez commented on #952
Awesome, I have changed the project to use `systemProperty("", "")` and **Timeout works now**.

![image](https://user-images.githubusercontent.com/18663098/107868839-a2f25c80-6e55-11eb-8890-7519bb875d79.png)

However, parallel tests still seem sequential. Is there something about this test that prevents it to be run in parallel?

[code]

[2021-02-14 04:44] corlaez commented on #952
This alternative way to configure has the same problem. Timeout works, parallel doesn't.
[code]

[2021-02-14 06:20] raniejade commented on #952
Parallelism is class level only (i.e if you have two classes, they can be executed in parallel), any scope under a class/spek is executed sequentially.

[2021-02-14 16:30] corlaez commented on #952
Oh I see what you are saying.
I still don't see that happening though.
![image](https://user-images.githubusercontent.com/18663098/107882553-fd240980-6eb7-11eb-8f73-0dea80d80ff1.png)
I am going to try on a non multiplatform and see if that helps

[2021-02-14 16:32] corlaez commented on #952
or maybe they are too short. I will make them work harder (longer) and see if that shows a difference when run in parallel

[2021-02-14 16:38] corlaez commented on #952
I sprinkled some Thread.sleep and I don't see a change (at least in multiplatform)
![image](https://user-images.githubusercontent.com/18663098/107882655-9c490100-6eb8-11eb-9345-369a2f128637.png)

Additionally every so often, one of the tests is not detected. Maybe this deserves a different ticket altogether but I am not sure whether it's multiplatform exclusive or not yet.
![image](https://user-im

[2021-02-15 09:46] raniejade commented on #952
@corlaez where are you placing the sleeps?

[2021-02-16 08:56] dnowak-wrldrmt opened #954 "Version for IntelliJ IDEA 2021.1"
Hi,

Could you, please, release version for IDEA 2021.1?

BR,
Darek

[2021-02-16 10:06] raniejade commented on #954
Note to myself, latest build versions are here: https://confluence.jetbrains.com/display/IDEADEV/IDEA+2021.1+latest+builds

[2021-02-18 04:09] corlaez commented on #952
[code]

[code]

[code]

[2021-02-21 16:46] corlaez commented on #910
I know I offered myself for this one, believing I had a hang on how they work and that I was about to complete the documentation locally. However, I haven't been able to make them work properly, maybe I just don't know how to use them.

If this is still open, I can still do it if I figure it out eventually. Otherwise, feel free to take this documentation if you do know how it works @raniejade or a

[2021-02-22 16:11] CedrickFlocon opened #956 "Memoized & constructor Behaviour"
As describe [here](https://www.spekframework.org/core-concepts/#scope-values), I use `memoized` to mock my dependencies.
The memoized value is created only if we access it.
So if I want to test a constructor behaviour, I cannot use a memoized value.
Do you have any suggestion ?

Dummy example (my case is with async observable instead of a static list)
[code]

[2021-02-22 22:21] raniejade commented on #956
I think for this case you instantiate another `Dummy` in an `it` - since you are specifically testing ctor behaviour.

[code]

[2021-02-23 14:16] CedrickFlocon commented on #956
Thanks,

Finally I move to the old way `lateinit` and `beforeEachTest` to keep the flexibility of test structure.

[code]

[2021-02-23 14:16] #956 closed, assigned to nobody

[2021-02-28 19:02] ultraon opened #957 "Incorrect example in a doc section "core-concepts""
Hello, I've found that in a doc section "core-concepts" there is an incorrect example with Kotlin `lateinit var added: Boolean`, link is https://www.spekframework.org/core-concepts/ . Kotlin doesn't support `lateinit` feature for simple types. To fix it you just need to do the following: `var added = false`

[2021-03-01 00:12] raniejade commented on #957
Resolved at 14af51d

[2021-03-01 00:12] #957 closed, assigned to nobody

[2021-03-06 02:58] raniejade opened #959 "Looking for new maintainer(s)"
It was around five years ago when @hhariri reached out to me, to discuss the merge of Spek and [KSpec](https://github.com/raniejade/kspec). Both projects have similar goals (KSpec was born out of my frustration of Spek at that time) so the merge was very beneficial for both projects. Fast forward to now, it has been quite a journey and the experience in maintaining an open source project (Spek was

[2021-03-08 06:51] sh-soltanpour commented on #959
Hi, I tried to reach out to you using Twitter but it seems that your dm is restricted on Twitter. Please let me message you there (@_shahryar_s).
Thank you.

[2021-03-08 08:52] raniejade commented on #959
Hey @sh-soltanpour - just followed you back. That should allow you to DM me :)

[2021-03-22 17:37] snijsure commented on #959
@raniejade @sh-soltanpour having a **documented** process of generating new plugin for Android studio would be super useful. If there is such a document I would be happy to test that process on various 4.1.3 , 4.2 (beta) versions of Android studio.

Currently I am finding upgrading to latest version of Android studio is almost impossible because , you can't run Spek tests successfully when using S

[2021-03-23 05:50] #211 closed

[2021-03-24 09:47] raniejade commented on #959
Yeah, that's a good idea. If you are still interested in building your own version of the plugin you can take a look at https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin-android-studio/build.gradle.kts#L8

[2021-03-26 00:45] snijsure commented on #959
@raniejade I will absolutely try this.

However can you help decoding these magic numbers and how you arrive at those numbers?

[code]

[2021-03-27 02:55] raniejade commented on #959
@snijsure sorry for the delay - busy with life admin.

The first one `201.7223.91` is the SDK used to build the plugin and second one `ij.VersionRange("**201.8743.12**", "**201.8743.12.***")` is the version the plugin will support. Normally both versions should be the same, however, if we supported the AS version at a non-GA staged (alpha/beta/rc) the first version would be reflecting the IJ versi

[2021-04-08 01:50] 3flex commented on #954
2021.1 is released, so it would be great to see a new version released with support :)

[2021-04-08 09:35] raniejade commented on #954
Yep, just need to trigger a release - hopefully I get by to it this weekend.

[2021-04-13 06:41] raniejade commented on #954
`2.0.16` is out, IJ plugin should be available by now.

[2021-04-13 06:41] #954 closed, assigned to nobody

[2021-04-13 06:41] raniejade commented on #949
`2.0.16` is out which publishes directly to Maven Central.

[2021-04-13 06:41] #949 closed, assigned to nobody

[2021-04-14 17:44] xian opened #963 "Plugin build for IDEA 2021.1 failed to deploy"
See https://github.com/spekframework/spek/runs/2263755561

Here's what's available in the JetBrains plugin marketplace:
![image](https://user-images.githubusercontent.com/40298/114755299-553b8880-9d0e-11eb-86a3-bc22a8ad05fb.png)

[2021-04-14 21:20] dnowak-wrldrmt commented on #954
Hi @raniejade, 2.0.16 is released but there is no variant for IDEA 2021.1.

At least it is not visible on the plugin's page https://plugins.jetbrains.com/plugin/10915-spek-framework/versions and my IDEA 2021.1 did not find a matching plugin version, too.

[2021-04-15 00:06] raniejade commented on #963
Looks like there is a misconfiguration in one of our workflows. I'll probably upload the version manually.

[2021-04-15 00:39] raniejade commented on #954
@dnowak-wrldrmt There was a mishap on our GH workflow - I'll manually publish the plugin, you should see it in a couple of hours.

[2021-04-15 00:40] raniejade commented on #963
@xian upload done, can you check?

[2021-04-15 01:22] xian commented on #963
Works, thanks @raniejade!

[2021-04-15 01:22] #963 closed, assigned to nobody

[2021-04-15 08:59] DmitriyZaitsev opened #964 "Could not find spek:spek-runtime:2.0.16"
I started getting this error message after an update from 2.0.15 -> 2.0.16, which is weird as I see that that the latest available version of spek-runtime [here](https://mvnrepository.com/artifact/org.spekframework.spek2/spek-runtime) is 2.0.0.

[code]

[2021-04-15 09:01] raniejade commented on #964
In 2.0.16 publishing was moved to Maven Central due to bintray being shutdown. Do you have `mavenCentral()` in your `repositories` block?

[2021-04-15 09:06] DmitriyZaitsev commented on #964
Yes, I have.
I see on Maven that all spek modules have the latest version 2.0.16 except spek-runtime which is 2.0.0.

[2021-04-15 09:16] raniejade commented on #964
Ahh wait, `spek-runner-junit5` shouldn't need `spek-runtime` but that should be `spek-runtime-jvm`. The POM file for `spek-runner-junit5` is correct: https://repo1.maven.org/maven2/org/spekframework/spek2/spek-runner-junit5/2.0.16/spek-runner-junit5-2.0.16.pom. I wondder why is it asking for `spek-runtime`. 🤔

[2021-04-15 09:40] DmitriyZaitsev commented on #964
My declared dependencies.
[code]
Works perfectly until the change to 2.0.16

[2021-04-15 09:43] raniejade commented on #964
Can you setup a sample project that replicates the issue?

[2021-04-15 09:56] DmitriyZaitsev commented on #964
Unfortunately, no, sorry.
But maybe you'll find helpful this output from ```$ ./gradlew app:dependencies```

[code]

The dependency really comes from spek-runner-junit5 ```¯\_(ツ)_/¯```

[2021-04-15 10:01] raniejade commented on #964
What gradle version are you using?

[2021-04-15 10:03] DmitriyZaitsev commented on #964
Btw, for 2.0.15 you're right, it depends on `spek-runtime-jvm`
[code]

[2021-04-15 10:04] DmitriyZaitsev commented on #964
I use Gradle v7.0-rc-2

[2021-04-15 18:22] robstoll commented on #964
I have the same or a similar problem with atrium (using gradle 6.7)
[code]
https://github.com/robstoll/atrium/pull/869/checks?check_run_id=2355507816

[2021-04-15 23:49] raniejade commented on #964
My guess it has something to do with not publishing the `kotlinMultiplatform` publication. Weirdly enough I didn't do any changes publications from 2.0.15 -> 2.0.16.

[2021-04-15 23:56] raniejade commented on #964
Interesting, bintray's publish plugin ignored gradle's module metadata files when publishing so it wasn't present in `2.0.15` but now present in `2.0.16` due to the move to central. I think I just need to publish `kotlinMultiplatform` publication to fix this.

[2021-04-16 01:50] raniejade commented on #964
@DmitriyZaitsev @robstoll I suggest to use `2.0.15` for now. #965 will be included in `2.0.17`.

[2021-04-16 11:25] robstoll commented on #964
Good, I am actually still on 2.0.12 because of https://github.com/spekframework/spek/issues/927. Any chance you fix this as well? Can I help somehow?

[2021-04-18 09:40] raniejade commented on #964
Ahh, totally forgot about that issue. @sh-soltanpour is going to look at it.

[2021-05-01 19:12] jGleitz opened #966 "v2.0.16 dropped support for Java 8"
Upgrading to v2.0.16 leads to the error message below in Gradle when running in Java 8. Since v2.0.15 worked fine with Java 8, I think that this is a regression that should be fixed by correcting the Gradle metadata file of the artefacts.

[code]

[2021-05-01 19:17] jGleitz commented on #966
In #964 @raniejade [mentioned that v2.0.15 was published without Gradle metadata](https://github.com/spekframework/spek/issues/964#issuecomment-820810577). I think this regression was introduced by adding this metadata.

[2021-05-03 05:57] raniejade commented on #966
Yeah, unintended side-effect. A solution perhaps is to explicitly tell the kotlin plugin the JDK target. @sh-soltanpour are you able to look at this? Thanks for the report @jGleitz!

[2021-05-06 22:05] ryanelliott-wk opened #967 "Kotlin 1.5.0 - TestSuiteExecutionException testing function with "when" and enum"
Tests fail unexpectedly with a `TestSuiteExecutionException` after upgrading to Kotlin v1.5.0 using Spek v2.0.15. This happens when using an Enum and a `when` statement. Here is an example to reproduce:

[code]

and the test:
[code]

Which produces this exception:
<details>
<summary>Click to expand</summary>

[code]
</details>

The function works as expected without any errors when called in the a

[2021-05-07 02:01] raniejade commented on #967
Weird and interesting at the same time. Have you tried disabling the new IR backend compiler?

[2021-05-07 02:36] ntoskrnl opened #968 "MockK crashes when running Spek tests from Android Studio"
I am trying to use MockK in tests with Spek. Tests run just fine from command line but fail when I run them from the IDE (Android Studio).

There is an [issue report in MockK](https://github.com/mockk/mockk/issues/605) for this, but previously there were similar issues with other test framework plugins (e.g. [bug in Kotest plugin](https://github.com/mockk/mockk/issues/467)). And it was related to

[2021-05-07 03:01] ntoskrnl commented on #968
After some digging, I found that adding dependency on `mock-agent-jvm` artifact fixes the problem.
But `mockk` already has a runtime dependency on it: https://mvnrepository.com/artifact/io.mockk/mockk/1.11.0

[2021-05-07 03:04] raniejade commented on #968
@ntoskrnl Can you attach a sample project here that reproduces the issue? Would help out in debugging.

[2021-05-07 17:00] ryanelliott-wk commented on #967
@raniejade is the IR compiler just for targeting JS? I am using JVM

[2021-05-07 19:28] raniejade commented on #967
@ryanelliott-wk There's an IR backend for JVM as well which was made the default in Kotlin 1.5

[2021-05-07 20:03] ryanelliott-wk commented on #967
I see the same exception with `useIR=false`

Here are my compiler options:
[code]

[2021-05-08 17:17] ntoskrnl commented on #968
Here is a sample project: https://github.com/ntoskrnl/spek2-with-mockk-sample
Let me know what I can do to help with the debugging.

For the issue with mockk there is a workaround, but there is also an issue with Spek replacing RunConfiguration for all other tests in the project. It is reported here: https://github.com/spekframework/spek/issues/837
Maybe it has something to do with how `SpekRunCon

[2021-05-09 03:35] raniejade commented on #968
Nah, this is something in IJ - IJ will query each plugin for an "action" that can be run in a particular context. It's not the responsibility of Spek's plugin to check for other test types.

[2021-05-09 03:47] ntoskrnl commented on #967
I just run the test you provided with Kotlin 1.5.0 – works fine for me...

[2021-05-09 05:06] raniejade commented on #967
Interesting thanks @ntoskrnl! Maybe some caching issues? Have you tried doing a clean build @ryanelliott-wk ?

[2021-05-10 14:29] ryanelliott-wk commented on #967
Thanks for trying it out @ntoskrnl!

@raniejade I'm still having the issue with a clean build. I'll try to do a more standalone reproduction - maybe there is another dependency somewhere in my project that is contributing to the issue.

[2021-05-20 14:41] svareniem commented on #837
I can confirm that it is still valid issue: https://github.com/ntoskrnl/spek2-with-mockk-sample. Any fixes planned?

[2021-05-31 04:34] raniejade opened #970 "Port #965 to 2.x branch"

[2021-05-31 04:57] raniejade commented on #966
Looks like we need to set `org.gradle.jvm.version` attribute to 8. Also apparently as a workaround you can do this https://docs.gradle.org/current/userguide/component_metadata_rules.html. Apologies for the delay, I'm a bit busy with my personal life atm.

[2021-05-31 04:57] raniejade commented on #966
Attributes can be set via https://docs.gradle.org/current/userguide/variant_attributes.html#sec:declaring_attributes.

[2021-06-03 19:05] adesentenac commented on #886
It seems this issue is still present in Android Studio 4.2.1 with the Spek plugin 2.0.16-IJ2020.2.

[2021-06-05 14:47] raniejade commented on #886
@adesentenac you have to install the AS specific plugin, see https://plugins.jetbrains.com/plugin/10915-spek-framework/versions. I don't have any idea why AS is picking up the IJ version of the plugin.

[2021-06-07 20:14] adesentenac commented on #886
@raniejade There is no plugin listed for AS4.2, and since AS4.2 version matches build 202.* I guess that's why it falls back on the IJ build?

I'm not able to install the plugin for AS 4.1 in AS 4.2. I also tried building a plugin locally (by adding a new version in build.gradle.kts of the AS plugin), but when I use it I get errors when I run the tests.
This is what I tried to add:
[code]
I also t

[2021-06-08 03:14] raniejade commented on #886
Ahhh - didn't realize that 4.2 is new. I'll work on adding a new build sometime this weekend.

[2021-07-07 16:41] adesentenac commented on #886
Hi @raniejade no plugin seems to have been released for AS 4.2. Is there something I can do to help? Thanks!

[2021-07-08 01:27] raniejade commented on #886
Hey @adesentenac, I haven't done a deploy yet but you use this dev build: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions/dev/123233 (ignore the 4.1 prefix, I made a mistake here)

[2021-07-08 21:11] adesentenac commented on #886
Thanks, it works!

[2021-07-11 06:04] nathan815 opened #975 "Test fails in Spek Android Studio plugin but works in Gradle due to different classpath"
I have a Spek test running successfully with `./gradlew test`, but it fails when running with the Spek Framework Android Studio plugin. For some reason the Spek plugin isn't picking up my [override of `android.util.Log`](https://gist.github.com/nathan815/ce931e4f104e915d1dd43064b13ae91d) (in `src/test/java/android/util`) so the default Log stub class is being loaded instead.

[code]

Is there a wa

[2021-07-11 11:44] raniejade commented on #975
Hey @nathan815, what AS and spek plugin version are you using? It might be that you pulled in the plugin for IJ not for AS. For AS 4.2 you have to use https://plugins.jetbrains.com/plugin/10915-spek-framework/versions/dev/126685 for now.

[2021-07-11 16:23] nathan815 commented on #975
Hey @raniejade, here are my versions:

AS: 4.2.2
Spek plugin: 2.0.16-IJ2020.2

So I did have the IntelliJ version. The one you sent works well - thank you!

[2021-07-11 16:36] nathan815 commented on #975
Is it possible to download the AS version of the plugin directly through AS plugin marketplace?

[2021-07-28 10:13] DebashisPorter opened #976 "JCenter migration issue, spek-runtime is missing"
Using the latest spek version i.e is 2.0.16 which has JCenter removed and is published to maven is failing to build with the below issue:
`Could not find spek:spek-runtime:2.0.16`
This `spek-runtime` is being required internally by `spek-runner-junit5` but `spek-runtime` is not moved to JCenter and it is also not there with version `2.0.16` and build is failing because of this.

[2021-08-13 10:55] carlosflorencio opened #980 "Spek Framework Plugin incompatible with IntelliJ IDEA 2021.2"
Hi,

The plugin needs an update to be compatible with the latest IntelliJ release.

[2021-08-13 11:06] carlosflorencio commented on #980
Just saw there is already a PR :) https://github.com/spekframework/spek/pull/979

[2021-08-14 19:58] robstoll opened #981 "add automatic-module name so that it can be used as proper module"
If you build a modular app (https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_modular) then every library which is not at least an automatic module is a bit of a pain.
You can workaround it with something like https://github.com/jjohannes/extra-java-module-info but it would be better if this is not necessary.

Can you please include make spek an automatic module f

[2021-08-16 09:36] carlosflorencio commented on #980
The new release works fine.

[2021-08-16 09:36] #980 closed, assigned to nobody

[2021-08-17 07:08] raniejade commented on #976
`2.0.17` is out which contain the fix, @DebashisPorter can you verify that it is working for you?

[2021-08-28 07:07] rburgst commented on #964
when will 2.0.17 be released?

[2021-08-28 08:15] raniejade commented on #964
@rburgst it is out already.

[2021-08-28 08:30] rburgst commented on #964
Hm, its not listed on the github releases

[2021-08-28 10:23] raniejade commented on #964
https://search.maven.org/search?q=g:org.spekframework.spek2

[2021-09-07 08:38] jcornaz opened #983 "Could not find spek-dsl-metadata 2.0.17"
Looks like most artifacts on maven central are on 2.0.17 except for `spek-dsl-metadata` and `spek-runtime-metadata`:

![image](https://user-images.githubusercontent.com/2535178/132313060-b89dbad8-bae9-4019-8a6b-3db4c9ecfa72.png)

*source: https://search.maven.org/search?q=org.spekframework.spek2*

That is problematic as some of the other modules (like `spek-dsl-jvm`) depend on the `spek-dsl-metada

[2021-09-07 09:03] raniejade commented on #983
I removed the metadata publishing since I thought it was not needed anymore 🤦🏽 - what error are you getting @jcornaz?

[2021-09-07 09:33] looserkevin commented on #983
Hi @raniejade, I get this error:

[code]

[2021-09-07 09:51] raniejade commented on #983
Thanks @looserkevin - honestly I remember the docs saying metadata module shouldn't be needed anymore. But anyway, I'll work on it.

[2021-09-07 10:18] jcornaz commented on #983
Thanks @raniejade.

It is kind of strange because I don't see the error @looserkevin do (we work together on the same codebase).

However, if I manually look at https://repo1.maven.org/maven2/org/spekframework/spek2/spek-dsl-jvm/2.0.17/spek-dsl-jvm-2.0.17.module I see (at line 39):

[code]

Which basically references the non-existing `spek-dsl-metadata` version `2.0.17`.

[2021-10-07 11:32] janbolat commented on #983
Facing the same issue with 2.0.17 metadata

[2021-10-12 06:30] md0092651 opened #985 "Run test button does nothing"
Run 'Spek:testcasename' button does nothing with Android Studio Arctic Fox | 2020.3.1 Patch 3 Build #AI-203.7717.56.2031.7784292, built on October 1, 2021
it was working fine earlier

[2021-10-12 07:02] mane91 commented on #985
Facing same issue, tried JUnit5 related changes by adding required dependencies but, no success.
referred below for link for new updates-
https://www.spekframework.org

[2021-10-18 23:23] ntoskrnl commented on #985
Could be something with the environment. It works for me, same version of Android Studio, and macOS with Java11.

[2021-10-29 08:17] marcphilipp opened #986 "Spek should be compatible with JUnit Platform suites"
JUnit 5.8 introduced `@Suite` classes and a new engine to execute them. Spek is currently incompatible with them because it does not use the `UniqueId` passed in to `TestEngine.discover` for the children of the engine descriptor and instead constructs its own:
https://github.com/spekframework/spek/blob/2.x/spek-runner-junit5/src/main/kotlin/org/spekframework/spek2/junit/SpekTestDescriptor.kt#L20

[2021-11-02 10:19] koenpunt opened #987 "Feature: Support running tests in random order"
To prevent tests to incorrectly succeed due to deterministic order it should be possible to randomize the execution of tests.

It should however also be possible to run the tests with the same random seed, to debug failures only happening with a certain order.

[2021-11-08 22:27] rocketraman commented on #967
Likely https://youtrack.jetbrains.com/issue/KT-47475

[2021-11-23 02:44] tikal commented on #916
I believe this issue comes from Spek not applying the tests filter. That's an issue I experienced as well, right now it is not possible to only run some specific Spek test(s) via Junit runner...

[2021-12-10 10:48] fwdekker opened #989 "Incompatible with IntelliJ IDEA 2022.1"
Launching IntelliJ IDEA 2021.3 with the latest Spek version results in the following error when launching the IDE:

As a result, none of the plugin's features are available. The plugin should be updated to support the latest IDE version.

Additionally, because this is not the first time that the plugin is incompatible with the latest version (cf. #829, #834, #889, #939, #954, #980), I think it mig

[2021-12-19 07:44] raniejade commented on #959
Just an update: Still looking for maintainers to take over Spek - I barely have time to work on personal project nowadays.

[2022-01-11 08:31] robstoll commented on #989
I am considering moving away from spek due to this problem because it basically pops up with every update. Any plans to address this problem?

[2022-01-14 12:05] MetroSteffenPaul commented on #959
I would be interested in maintaining spek. we currently use it for unit testing production code in our company and I am annoyed that it does not work with the latest idea version.
so please count me in :)

[2022-01-14 12:14] raniejade commented on #959
@MetroSteffenPaul Thank you! (and apologies for not fixing it - barely have time nowadays) As for your specific problem can you take a look at #988 and backport it to the `2.0.x` branch?

[2022-01-14 13:21] MetroSteffenPaul commented on #959
@raniejade no worries, taking a look.

[2022-02-07 17:19] sepatel commented on #989
I think being unable to fix the inability to actually run spek tests for months at a time is a big reason that we are also starting to migrate everything away from Spek. As nice as it is, the inability to keep it maintained is causing major impact on our product development and this being a continual problem that isn't getting resolved in a few days or a week is terrible.

There should be some way

[2022-02-13 00:41] raniejade commented on #989
Just merged #991, 2021.3 plugin is available in the dev channel for now: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions/dev/157940. Appreciate it if you can test it out, I'll trigger a full release after that.

[2022-02-13 02:31] sepatel commented on #989
I just tested it and didn't find any issues with any of the tests for the main project we have.

[2022-02-13 22:53] raniejade commented on #989
Thanks @sepatel, I'll trigger a release tonight.

[2022-02-14 09:07] jurriaan commented on #989
Thanks @raniejade.

Just tested I do unfortunately get this error using the dev channel plugin:

[code]

Using JDK 17 and Kotlin 1.6.10
[code]

[2022-02-14 09:16] raniejade commented on #989
@jurriaan That usually happens when you have multiple kotlin versions in your classpath. Can you look at your dependencies?

[2022-02-14 09:49] jurriaan commented on #989
All kotlin dependencies of this project are currently on 1.6.10 (except for https://mvnrepository.com/artifact/org.jetbrains.kotlinx/kotlinx-coroutines-bom, but that's probably unrelated, 1.6.0 is the latest version).

[2022-02-14 10:07] raniejade commented on #989
Can you try listing down the dependencies via gradle? (https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html) - there is most likely a conflict with the kotlin versions.

[2022-02-14 11:27] jurriaan commented on #989
@raniejade That's indeed how I checked it:

[code]

All kotlin related dependencies:
<details>
<pre>
$ ./gradlew dependencies|grep kotlin
+--- org.jetbrains.kotlin:kotlin-stdlib:1.6.10
|    \--- org.jetbrains.kotlin:kotlin-stdlib-common:1.6.10
+--- org.jetbrains.kotlin:kotlin-reflect:1.6.10
|    \--- org.jetbrains.kotlin:kotlin-stdlib:1.6.10 (*)
|    |    |    |         +--- com.fasterxml.jackson.

[2022-02-14 13:19] raniejade commented on #989
Thanks @jurriaan! Are you able to share your project so I can attempt to replicate it?

[2022-02-16 17:01] sebastien-delaherche opened #992 "Gherkin rule dsl missing"
Hi guys,

First thank you for this framwork.

I think we miss some kind of Group between Feature and Scenario on Gherkin implementation.
In fact there is actually such definition on Gherkin specification: https://cucumber.io/docs/gherkin/reference/#rule

I would like to add it in the framework if it don't bother you?

I think it is just a matter of extension, BUT when I try to do it in my codebase

[2022-02-28 15:55] jurriaan commented on #989
@raniejade Sorry for the late response, I've tried a lot of things (clearing caches, rebuilding the project etc.) which didn't work. But after removing my `.idea` and `.gradle` folders it works again :tada:

Tested successfully on `IntelliJ IDEA 2021.3.2 (Community Edition)`

[2022-03-10 23:23] lnhrdt commented on #989
@raniejade any chance you're ready to trigger a full release now?

[2022-03-10 23:44] raniejade commented on #989
Apologies, triggering it now.

[2022-03-11 00:09] raniejade commented on #989
It should be out by now, again apologies for the delay.

[2022-03-12 19:32] lnhrdt commented on #989
Thank you @raniejade! The new 2.0.18 version of the plugin is working for us in IntellijJ 2021.3.2.

We appreciate you maintaining this for us!

Do you have any opinion on @FWDekker's suggestion:

Would you consider this approach? Or is it a better practice to keep this manual process for supporting new versions of IntelliJ after they come out?

[2022-03-13 10:16] raniejade commented on #989
We have tried unbounding the until version of the IJ specific built of the plugin way back and it caused issues with Android Studio (it was trying to use the plugin built for IJ - note that we have two different builds for IJ and AS because of this: https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin-android-studio/src/main/kotlin/org/spekframework/intellij/SpekAndroidConfigurationType.

[2022-03-29 20:13] robstoll commented on #983
cannot update spek for this reason. Any plan to release a 2.0.18 which includes it again?

[2022-04-18 19:18] nlwillia commented on #989
FWIW, the same problem now exists for IDEA 2022.1.

[2022-04-19 08:16] fwdekker commented on #989
@raniejade I see, I was unaware of those API issues in AS. While I have no experience with this, I imagine it might be possible to create two versions of the plugin, one that is unbounded in version and supports all IDEs except AS, and a bounded version specifically for AS. I think this should be possible by making the former use `<incompatible-with>com.intellij.modules.androidstudio</incompatible

[2022-04-19 09:27] raniejade commented on #989
@FWDekker interesting, I'm not familiar with: `<incompatible-with>com.intellij.modules.androidstudio</incompatible-with>` but let me try it out, thanks! We are already building the plugins separately (and they have their own plugin.xml file), so it should be possible.

[2022-04-27 07:51] martypitt commented on #989
Hey folks.

Just wondering if there's any ETA with a 2022.1 compatible release?

[2022-04-27 08:15] raniejade commented on #989
Hey @martypitt, not anytime soon sorry - I'm currently moving. I can start taking a look maybe two weeks from now.

[2022-04-27 10:02] martypitt commented on #989
No worries.  Thanks for the update.

[2022-05-13 13:40] remvst opened #993 "Multiplatform status?"
I am working on a Kotlin multiplatform project (iOS and Android only for now) and would love to give Spek a try, however all threads that refer to it seem to indicate that only JVM is supported.

Since those are all pretty old, could we get clarity on what the roadmap is (+ maybe timeline?) and what's currently supported?

[2022-05-21 10:03] raniejade commented on #989
I just merged a new PR (#994) which should include the `incompatible-with` changes. Additionally, it bumps the until-build to `223.*`. It should be published in the dev channel of the plugin - would be great if you can test it. I'll do an actual release after that.

[2022-05-24 10:38] jurriaan commented on #989
@raniejade Thanks! It works great with 2022.1 :)

[2022-06-12 14:53] KwabenBerko commented on #993
+1

[2022-06-17 09:42] DmitriyZaitsev opened #996 "Incompatible with 2022.2.1"
Hi @raniejade
I get the message `Incompatible: requires IDE build 213.* or earlier` on the Android Studio Electric Eel | 2022.2.1 Canary 5 _#AI-221.4165.146.2211.8713749_, built on June 17, 2022.

Yet, I have to stay on Android Studio Electric Eel | 2022.1.1 Canary 3 _#AI-213.7172.25.2211.8624637_, built on May 21, 2022.

When will you have a chance to support the new version? Thanks!

[2022-06-19 07:12] raniejade commented on #996
Thanks for the report @DmitriyZaitsev! I don't usually release builds for canary as they tend to move in build versions quite often, making it hard to keep up.

[2022-06-19 19:05] DmitriyZaitsev commented on #996
@raniejade that's true about canaries, you're right! Wherein, I'm not reporting the issue related to the canary build. The plugin does not support 2022.2.1 at all. Moreover, I tried to install the plugin for the official IDEA CE 2022.1.2, but it doesn't work either.

Summing up, I kindly ask for support for 2022.1.2 and 2022.2.1.
Apologies for not being clear in my initial comment.

I love this pr

[2022-06-20 06:26] raniejade commented on #996
@DmitriyZaitsev ohh right. There should be a build in the dev channel if you would like to try: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions/dev. I haven't done a release yet which should include support for 2022.* (I'll see if I have time this coming weekend).

[2022-07-01 10:17] DmitriyZaitsev commented on #996
Hi @raniejade
have you had a chance to look at this?

[2022-07-01 10:19] raniejade commented on #996
Hey @DmitriyZaitsev not yet unfortunately - have you tried the dev build of the plugin? (You have to download it and install it manually)

[2022-07-02 00:14] DmitriyZaitsev commented on #996
@raniejade I have.
For IDEA CE it at least installs.
For AS I get the following message:
[code]

[2022-07-26 16:20] koenpunt commented on #996
The moment is here:

<img width="681" alt="image" src="https://user-images.githubusercontent.com/351038/181058760-35351f8c-eaa5-4d5c-b3cb-a4041ea62188.png">

[2022-08-01 13:21] LisPI commented on #108
We're experiencing the same issue. Maybe there are any workaround? btw looks like 2.0.4 the first Spek version with the problem

[2022-08-03 10:25] jurriaan commented on #996
Since https://plugins.jetbrains.com/plugin/10915-spek-framework/versions/dev/176742 works fine with 2022.2, is it possible to officially release the latest version of the plugin?

[2022-08-20 10:01] raniejade opened #997 "klib publishing fails due to missing checksum"
[code]

[2022-09-28 23:10] asubb commented on #996
Works for me with the latest Intellij IDEA 2022.2.2:
![image](https://user-images.githubusercontent.com/2813479/192904103-32be23d6-5140-4707-8db4-10acc77fad36.png)