[2019-01-29 11:59] raniejade commented on #555
Yep, more specifically:
- how are tests discovered?
- how are tests executed?

Good place to start is the  `kotlin-test` implementation for K/N.  Is there a way to hook into it or something more native (think `mocha` and `jasmine` for JS).

[2019-01-30 11:03] charleskorn commented on #555
Last time I looked at `kotlin-test` in K/N, there was a compile-time operation that scanned for tests and effectively generated a `main()` that then ran them (there's a bit more to it than that, but that's the general idea). The reason for this is that K/N doesn't (and won't) support reflection, so some other mechanism is required.

As an initial step, I'm thinking there could be something very si

[2019-01-30 11:04] raniejade opened #581 "Setup ci builds for the AS plugin"
Due to requiring a local AS studio installation, the AS plugin builds are not included when the travis build runs.

[2019-01-30 11:54] raniejade commented on #555
Ideally we'd want something similar for JVM (so we can drop `kotlin-reflect`) and JS.

I think the only option we have (if we don't start with the compiler plugin) is to parse the test souces which doesn't look very simple to me.

[2019-01-31 05:20] snowe2010 opened #583 "Attempting to memoize System.out causes test to not run."
I'm unsure of how to actually describe this, but if I attempt to memoize something like

[code]

the test fails to run in intellij, this is what it looks like

![image](https://user-images.githubusercontent.com/1534535/52032201-483f6f80-24dd-11e9-8ee3-cfd7b1daccb5.png)

[2019-01-31 06:46] #578 closed, assigned to nobody

[2019-01-31 06:47] #581 closed, assigned to nobody

[2019-01-31 06:49] raniejade opened #584 "Update docs based on the samples"
The docs are a bit outdated compared to the samples, particulary the samples does not include `org.junit.platform:junit-platform-engine` in the setup.

[2019-01-31 06:51] raniejade opened #585 "Setup dev/release builds for ide plugins"
Now with #581 complete we can now setup builds to publish the ide plugins.

[2019-01-31 09:33] raniejade commented on #555
Did a quick spike on the compiler-plugin: https://github.com/raniejade/ct-discovery/blob/master/kotlin-plugin/src/main/kotlin/com/github/raniejade/ct/plugin.kt#L56

Basically I can see all classes being compiled and introspect annotations, super classes, etc. I just need a way to generate code.

[2019-01-31 09:35] #585 closed, assigned to nobody

[2019-01-31 09:41] raniejade commented on #553
Closing due to no activity.

[2019-01-31 09:41] #553 closed, assigned to nobody

[2019-01-31 09:42] raniejade commented on #511
Closing due to no activity.

[2019-01-31 09:42] #511 closed, assigned to nobody

[2019-01-31 10:00] raniejade commented on #578
@rburgst plugin is available in the `dev` channel: https://plugins.jetbrains.com/plugin/10915-spek-framework

[2019-01-31 10:01] charleskorn commented on #555
That's really cool, it doesn't look too difficult to create a compiler plugin then.

https://github.com/JetBrains/kotlin-native/blob/master/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/lower/TestProcessor.kt seems to be where most of the magic happens for `kotlin-test`.

I'm not going to have much time to work on this for a week or two - are you still interested

[2019-01-31 10:35] raniejade opened #588 "Support AS 3.4"

[2019-01-31 10:37] rburgst commented on #578
Unfortunately I dont see it on the web page:
![image](https://user-images.githubusercontent.com/22971/52048856-a6576b80-254c-11e9-8228-e0ad75dfae82.png)

[2019-01-31 10:42] raniejade commented on #578
@rburgst forgot to mention, update is still pending JB's approval. sorry!

[2019-01-31 10:48] raniejade commented on #555
PRs are always welcome! I'll post my progress here if I make any :joy:.

Ohh, wow it's generating IR. I was thinking if we could get away by just generating kotlin code and somehow include it in the build process.

[2019-01-31 11:08] ursjoss commented on #563
I experimented a bit more.

In analogy to @floralvikings comment 7 days ago, I created the following two classes (in two separate packages, that I left out here):

`TmpSpec`:

[code]

`TmpTest`:

[code]
Not surprisingly the JUnitTest prints the expected temp path (`Junit: C:\Users\UrsJoss\AppData\Local\Temp`)

Running the Spek variant produced different outcomes, depending on how I triggered the t

[2019-01-31 11:32] raniejade commented on #563
@ursjoss wow, thanks for a detailed investigation! Spek is definitely doing something different.

It's not setting the path here, `@c` and `@w@` are parameters required by JunitStarter - it just happens that they are using the temp directory.

[2019-01-31 11:39] raniejade commented on #563
@ursjoss do you have this option ticked for the spek run configuration?

![screenshot from 2019-01-31 22-38-22](https://user-images.githubusercontent.com/1041919/52051889-067bfb00-25a9-11e9-9838-b4073f4c747d.png)
JUnit by default has it enabled!

[2019-01-31 11:42] jcornaz commented on #563
Indeed it it ticked by default for Junit but not for Spek.

Junit:
![image](https://user-images.githubusercontent.com/2535178/52052046-9d1ecc80-2555-11e9-8dac-74ef8568d523.png)

Spek:
![image](https://user-images.githubusercontent.com/2535178/52052066-adcf4280-2555-11e9-800c-88064ab36495.png)

[2019-01-31 11:43] raniejade commented on #563
does ticking it fix the problem?

[2019-01-31 11:45] jcornaz commented on #563
Yes!

[2019-01-31 11:52] raniejade commented on #563
:tada: fix is a one liner :joy:. Anyway, in the meantime you can set the default for Spek 2 - JVM template via the ui.

[2019-01-31 13:08] ursjoss commented on #563
Excellent, thank you @raniejade.

[2019-01-31 13:33] jcornaz commented on #583
Very strange indeed.

However it doesn't seam to happen in `memoize` but when `System.setOut` is called.

Here is a minimal reproducer:

[code]

*EDIT: It is only a problem of the IntellIJ plugin. Running the test from gradle pass as expected.*

[2019-01-31 14:37] nizienko commented on #108
Hello, I tried to execute tests in parallel with 'maxParallelForks 2' in gradle config, which is works well on simple JUnit5 project without spek. All tests were executed twice in 2 threads.

[2019-01-31 14:44] snowe2010 commented on #583
@jcornaz it doesn't work for you without the memoization? That's weird because for me if I leave it as

[code]
it works fine.

[2019-01-31 15:02] floralvikings commented on #563
Awesome!  I was so close to figuring it out too, didn't even think of looking at that field 😞

Thanks for the awesome research and quick turnaround @ursjoss and @raniejade!

[2019-01-31 21:32] raniejade commented on #583
I may know what the problem is. When tests are run within IJ a new processed is spawned with `stdout` and `stderr` captured; this is used to communicate the test run events to IJ. So my guess is since you are overriding the default print streams - IJ is not receiving any events. Is there a way for you not to write directly to `System.out` and `System.err`? Maybe some variables which default to `Sy

[2019-02-01 00:45] charleskorn commented on #555
I was hoping that too, but sadly not :)

OK, I think my rough plan in terms of steps towards this are:

1. Basic implementation of the runtime and DSL for K/N, with users manually writing a `main` that passes a list of specs to a Spek-provided runner
2. Gradle plugin to hook running the tests into the normal Gradle lifecycle
3. Kotlin compiler plugin to generate the `main` automatically (and assoc

[2019-02-01 03:18] raniejade commented on #555
Sounds like a plan 💯 .

I'm imagining something like these:
[code]

`DiscoveryContext` can be also extended to include additional metadata, annotations for example.

[2019-02-01 05:48] snowe2010 commented on #583
Hmm. well the whole point of my project is to print stuff to console. I'm not sure of another way to test it 😢. I guess I could rewrite my function to not use `println` but instead use a writer and write straight to `PrintStream` and then mock that in some way, though I tried mocking `PrintStream` once and it didn't work.

Anyway, if this isn't actually related to spek then we can close it. Sorry

[2019-02-01 06:47] raniejade commented on #583
I was thinking something like this:

[code]

Instead of using `print` do `sysout.print(...)`. Then on your tests just override the value of `sysout` and `syserr` (probably in `setupStreams`).

[code]

Relying on `System.out` and `System.err`  makes your test very brittle, as anyone can override the value at any given time. Also, a rouge `print` call from another thread can cause your tests to fail

[2019-02-01 06:47] #583 closed, assigned to nobody

[2019-02-01 06:51] raniejade opened #590 "Upgrade to Kotlin 1.3.20"

[2019-02-01 19:10] wfhartford opened #592 "Cannot modify coverage settings of Spek 2 - JVM Run/Debug configuration"
In a Kotlin JVM project, the run/debug configuration configuration window does not have the three tabs at the top (_Configuration_, _Code Coverage_, _Logs_), only the basic configuration options are available. This prevents the user from modifying code coverage options, for example, from _Sampling_ to _Tracing_ which is required to collect branch coverage statistics.

To reproduce, create a Kotlin

[2019-02-01 21:47] #588 closed, assigned to nobody

[2019-02-01 21:48] #590 closed, assigned to nobody

[2019-02-01 21:49] #584 closed, assigned to nobody

[2019-02-02 00:47] raniejade opened #593 "Don't trigger release builds on forks"
Travis does not support it out of the box, but we could properly wrap the release commands in a shell script  then return early if the credentials are not present (`BINTRAY_API_KEY`, `BINTRAY_USER` and `HUB_API_TOKEN`).

[2019-02-02 05:27] #593 closed, assigned to nobody

[2019-02-03 02:29] charleskorn commented on #573
I can now reliably reproduce this if I have a test that throws an exception in a `given` block.

[2019-02-03 03:20] raniejade commented on #573
@charleskorn are you able to replicate it with spek2?

[2019-02-03 05:26] charleskorn commented on #573
I haven't tried yet.

[2019-02-03 08:50] raniejade opened #598 "Ensure JDK11 builds correctly before releasing any build"

[2019-02-03 09:03] charleskorn commented on #555
At the moment, it looks like it's not possible to disable kotlin-test (the `-tr` compiler option is always added for test source sets). This isn't a showstopper, but it is a pain, so I've created https://github.com/JetBrains/kotlin-native/issues/2618 to track the issue.

[2019-02-03 11:31] #598 closed, assigned to nobody

[2019-02-03 11:34] raniejade commented on #573
I don't think this is happening anymore in spek2 - see #566.

[2019-02-03 11:34] #573 closed, assigned to nobody

[2019-02-04 02:02] charleskorn commented on #555
I've had more time to work on this than expected, so I have an initial proof of concept for this working - please take a look at https://github.com/charleskorn/spek/commit/882b1c2b5d4727bf8f63ba86696e7009acdfe62f and let me know your thoughts.

Things that I will fix before creating a PR:
* the output from the test runner is very verbose and difficult to read
* the test runner always exits with ex

[2019-02-04 02:29] raniejade commented on #555
Wow! Awesome work @charleskorn, I'll take a look tonight!

[2019-02-04 05:51] raniejade commented on #555
Looking good @charleskorn! I have a few comments in the commit. I think moving forward, lets break the changes into several small (more manageable) PRs.

I believe these points deserve a dedicated PR. I don't think we can hook up to gradle's testing infrasturcture to generate reports - so might need to do it ourselves.

Separate PR, I'll create an issue.

Separate PR, I'll create an issue.

[2019-02-04 05:53] raniejade commented on #555
Once this is addressed https://github.com/charleskorn/spek/commit/882b1c2b5d4727bf8f63ba86696e7009acdfe62f#r32176940, can you send in a PR?

[2019-02-04 05:54] raniejade opened #599 "Setup CI builds for Kotlin Native"
Relates to #555.

The current travis builds only runs on linux, we'd want to build for windows and osx as well.

[2019-02-04 06:00] raniejade opened #600 "Implement console launcher for Kotlin Native"
Relates to #555

For prior art see: https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin/interop-jvm/src/main/kotlin/org/spekframework/ide/console.kt.

I'm imagining something like:

[code]

then KN user's in the meantime can write:

[code]

Within gradle, we can invoke something like:

[code]

For IJ integration (eventually), we can issue a command like (`sm` is service message, see htt

[2019-02-04 06:44] charleskorn commented on #555
Thanks for the feedback @raniejade!

I've already fixed the exit code issue and improved the format of the output somewhat (although there's plenty of room for improvement, and we probably need the option to select between different formats), so I'll include them in the PR once I address your comments.

[2019-02-04 07:08] raniejade opened #602 "Refactor path into the common module"
relates to #555.

[2019-02-04 11:59] yaroslav-shlapak opened #606 "Error "No test were found" when running tests from a package that contains other packages"
Environment:
Android Studio 3.3Build #AI-182.5107.16.33.5199772, built on December 25, 2018
Spek plugin versoin: 2.0.0-Studio3.3
spekVersion = "2.0.0"

Prerequirements:
a package that contains other packages with unit tests.

Steps to reproduce

1. Right click on a package-> Run 'Tests in '[package_name]''
2. "Instantiating tests... " is displayed in the Run tab
3.  "No test were found" is display

[2019-02-04 12:04] raniejade commented on #606
Can you share a sample project that can reproduce the issue consistently?

[2019-02-04 12:42] yaroslav-shlapak commented on #606
Just updated dependencies for https://github.com/yaroslav-shlapak/TestSpekProject
Please run tests against the https://github.com/yaroslav-shlapak/TestSpekProject/tree/master/app/src/test/java/com/example/testspekproject/packagetoruntests

[2019-02-05 08:57] #600 closed, assigned to nobody

[2019-02-05 09:58] raniejade opened #608 "Rich DiscoveryContext API"
The primary usage of this API is for discovering Test classes. Ideally it's an abstraction over platform specific Test discovery mechanisms. In JVM for example it could be backed by  [classgraph](https://github.com/classgraph/classgraph) (we already use it in the JVM implementation for `SpekRuntime`). On Native (and possible JS) due to the lack of runtime reflection it's backed by compile-time gen

[2019-02-05 12:53] raniejade opened #610 "Merge SpekRuntime implementations"
With #608, platform specific discovery has been abstracted making it possible to have a single implementation of `SpekRuntime`.

[2019-02-06 08:39] PawelDedio opened #613 "Setting priority of beforeEachTest"
Hi, is there a way to set custom priority of `beaforeEachTests` blocks?
I use pattern where I have one describe block per each method, for example for `presenter.start()` method It would be something like this:

[code]

It's easy and nice to call tested method inside `beforeEachTest` block, in that way `it` blocks has only `verify()` methods. But when I want to add some `context` inside `describe`

[2019-02-06 09:09] raniejade commented on #613
It is by design, I suggest that you create a separate context for the case of `user is logged`.

[code]

[2019-02-06 09:09] #613 closed, assigned to nobody

[2019-02-06 09:09] csschirag opened #614 "Unable to test java classes with Spek in Android studio"
I have create a package(testJava) in test folder and put java test class there which will test another java class.

java class :

package org.spekframework.speksample;

public class TestClass {

    public static int add(int x, int y) {
        return x+y;
    }

}

Testing Class:

package org.spekframework.speksample.testJava;

import org.junit.Assert;
import org.junit.Test;
import org.spekframew

[2019-02-06 09:12] raniejade commented on #614
Any way you can share a sample project that reproduces the issue? Also what spek version are you using?

[2019-02-06 09:14] csschirag commented on #614
[spek-android-example.zip](https://github.com/spekframework/spek/files/2835545/spek-android-example.zip)

Hi @raniejade , Please find attached project.

[2019-02-06 09:30] PawelDedio commented on #613
It's sad to hear that because if your method also do something without any `context` you need to duplicate method call in every `it` block like this:

[code]

[2019-02-06 09:38] raniejade commented on #613
Why do you need to duplicate `presenter.start()` in all the `it`s within `user is not logged`? `beforeEachTest` as the name suggest will be invoked for every test (`it` is a test).

[2019-02-06 09:46] NikkyAI opened #615 "java.lang.IllegalStateException: it.javaClass.`package` must not be null"
i updated to 2.0.0 and i got this: ![https://i.imgur.com/SkeXjL8.png](https://i.imgur.com/SkeXjL8.png)

note that none of my tests are in the root package

[code]

[2019-02-06 09:51] PawelDedio commented on #613
Ohh sorry, it was bad formatting. It should be like this:

[code]

[2019-02-06 09:54] raniejade commented on #613
You can extract common tests into an extension function.

[code]

[2019-02-06 10:15] raniejade commented on #615
Duplicate of #574.

This has been eluding me for awhile now, I can't seem to replicate it. Initial theory is it has something to do with either the jvm version or `kotlin-reflect`.

[2019-02-06 10:15] #615 closed, assigned to nobody

[2019-02-06 10:37] #608 closed, assigned to nobody

[2019-02-06 10:56] raniejade commented on #615
@NikkyAI can you give me the following info:
- kotlin version
- kotlin reflect version (if you can give me the output of `./gradlew dependencies` - it will be awesome)
- java version

Are you able to share a sample project that replicates the issue consistently?

[2019-02-06 11:33] NikkyAI commented on #615
- Kotlin `1.3.20`
- Kotlin Reflect `1.3.20`
- java `openjdk version "1.8.0_192"`

output of dependencies: https://gist.github.com/NikkyAI/7229b2e7009881cb7906a51efe2799f7

[2019-02-06 11:36] NikkyAI commented on #615
tomorrow i will try to make a minimal project .. or try to remove reflect from my codebase.. it should not actually be required.. i hope

[2019-02-06 11:47] csschirag opened #616 "Unable to find method 'org.gradle.testing.jacoco.tasks.JacocoReport.getExecutionData()Lorg/gradle/api/file/ConfigurableFileCollection"
I am getting following error after including Spek.

Unable to find method 'org.gradle.testing.jacoco.tasks.JacocoReport.getExecutionData()Lorg/gradle/api/file/ConfigurableFileCollection.

Please find attached sample project.
[spek-android-example.zip](https://github.com/spekframework/spek/files/2836169/spek-android-example.zip)

[2019-02-06 12:37] raniejade commented on #574
Tried replicating but with no luck. ~Also tests under the default package are working, so no problem there~.

EDIT: I was wrong the issue is with tests in the default package but it only happens if you are using JDK 1.8. Java 9 and above `Class#getPackage()` never returns null anymore https://bugs.openjdk.java.net/browse/JDK-8193889.

[2019-02-06 12:47] raniejade commented on #616
@csschirag I don't think this a spek problem, but probably you have a build file that is configured to a specific gradle version that is different to the one you use for running.

[2019-02-06 13:00] raniejade commented on #615
@NikkyAI was able to replicate it, see #574 (lets move the discussion there).

[2019-02-06 13:25] csschirag commented on #614
Hi @raniejade ,

As I have observed . problem is Spek plugin is unable to pick java files from the test folder.
e.g if in test folder  have two files one is .kt and another one is .java then only .kt file will get execute.

[2019-02-06 17:46] alilosoft opened #618 "Why there i no kdoc?"
Hi, I'm wondering why there is no kdoc in Spek source cod? When I use CTRL+Q for quick doc in IntelliJ I don't get any doc, or I'm missing some thing?

[2019-02-06 20:25] NikkyAI commented on #574
i get this issue with all my tests being in packages though.. i had some files that were just empty / commented out but even deleting those did not fix it,
i am not sure what is in the default package but it should not be any of the tests

[2019-02-07 07:48] raniejade commented on #618
Yep, we didn't include any kdocs. IMHO there is no need for it, API is very small and most of are just synonyms to the base APIs.

[2019-02-07 07:48] #618 closed, assigned to nobody

[2019-02-07 07:52] raniejade commented on #616
Closing this as I don't think it's an issue with Spek but with your project setup.

[2019-02-07 07:52] #616 closed, assigned to nobody

[2019-02-07 07:53] raniejade commented on #614
@csschirag from what I understand you are expecting spek to run Java tests?

[2019-02-07 07:55] csschirag commented on #614
yes, Right. because previous test cases are written in java.

[2019-02-07 07:55] raniejade commented on #574
@NikkyAI can you double check your tests? Maybe missing the package line? The only time I can consistently replicate this via the IDE and gradle is when I'm using Java 8 and have a test in the default package.

[2019-02-07 07:56] raniejade commented on #614
Those are JUnit tests and are not related to Spek. You have to setup them separately. Closing this as a non issue.

[2019-02-07 07:56] #614 closed, assigned to nobody

[2019-02-07 08:29] #574 closed, assigned to nobody

[2019-02-07 08:31] raniejade commented on #574
@NikkyAI once the dev builds are out can you try it out and see if it fixes your issue?

[2019-02-07 09:55] csschirag commented on #614
but Spek using Junit5 but unable to run Junit test.

[2019-02-07 10:14] quiqua commented on #614
Spek is using the `JUnit5 Platform Engine` which allows to run your custom Testing Framework via the JUnit Platform. It does however not mean that you can run JUnit tests with it. For that you'll need `JUnit Jupiter` https://junit.org/junit5/docs/current/user-guide/

[2019-02-07 11:53] raniejade opened #620 "Report package as a scope"
Given the following test classes:

- `FooBarTest`
- `com.example.FooTest`
- `com.example.BarTest`

The execution report might look like:

[code]

For better grouping, ideally we want the report to look something like:
[code]

[2019-02-07 11:54] #602 closed, assigned to nobody

[2019-02-07 11:54] #610 closed, assigned to nobody

[2019-02-07 12:24] raniejade commented on #620
Breaking change, need to think about it more.

[2019-02-07 12:34] raniejade commented on #620
@vanniktech re-opening as it's required to fixing #606.

[2019-02-07 12:37] raniejade commented on #620
nah, nvm (I thought of something else). Sorry!

[2019-02-07 12:37] #620 closed, assigned to nobody

[2019-02-07 12:43] vanniktech commented on #620
All good!

[2019-02-07 12:44] raniejade commented on #606
I've got a fix locally, just waiting for #621 to finish building so I can merge it.

[2019-02-07 13:50] henrik242 opened #622 "java.lang.ClassNotFoundException: kotlin.streams.jdk8.StreamsKt"
I get `java.lang.ClassNotFoundException: kotlin.streams.jdk8.StreamsKt` when running Spek Framework plugin v2.0.0-IJ2018.3 in IntelliJ IDEA 2018.3.3

And my tests runs are green while they shouldn't:
[code]

Full stacktrace:
[code]

[2019-02-07 14:21] henrik242 commented on #622
The exception disappeared when I added the `org.jetbrains.kotlin:kotlin-stdlib-jdk8` dependency, but it's still weird that the tests ran green.

[2019-02-08 04:23] PGScully commented on #622
I saw this, too.  It seems that going from the last release candidate to the final release added a dependency on Java 8 streams.  Switching from kotlin-stdlib-jdk7 to -jdk8 fixed it for me.

[2019-02-08 08:23] raniejade commented on #622
The `stdlib-jdk8` dependency is always there in `2.x`, is there any reason you need to use `jdk7`?

Because it didn't execute anything. Based on the error, it failed during discovery.

[2019-02-08 08:45] raniejade commented on #560
@peterholak ~is still happening in `2.0.0`?~ Actually it is still happening. It's probably broken because of this: https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin/interop-jvm/src/main/kotlin/org/spekframework/ide/ServiceMessageAdapter.kt#L91 and I'm not inclined to fix it. It's either this or broken test tree reporting in the IDE.

[2019-02-08 09:18] #560 closed, assigned to nobody

[2019-02-08 09:48] #606 closed, assigned to nobody

[2019-02-08 09:48] #563 closed, assigned to nobody

[2019-02-08 11:40] PGScully commented on #622
No, I can use jdk8 for Android dev as long as I avoid [certain features](https://developer.android.com/studio/write/java8-support) on older devices.  Using jdk7 was a convenient way to lock them out.
I was just surprised to see tests stop working when going from rc to release.

[2019-02-09 02:58] raniejade commented on #622
Weird indeed. Closing it as the exception is expected, `stdlib-jdk8` is required.

[2019-02-09 02:58] #622 closed, assigned to nobody

[2019-02-09 06:02] raniejade commented on #556
@vanniktech wdyt about `skip = because("Some reason")`?  I don't think it's a good idea to rename the existing parameter `skip` to `skipping`. Just a side note, one caveat with this approach of skipping vs using `x` prefixed synonyms is that the IDE won't know that the scope is supposed to be skipped.

[2019-02-09 06:05] raniejade commented on #204
Closing due to lack of activity.

[2019-02-09 06:05] #204 closed

[2019-02-09 09:51] vanniktech commented on #556
I like it!

[2019-02-10 12:53] raniejade opened #631 "Fix compatibility between 2.0.1 runtime and 2.0.0 ide plugin"
There were changes made to constructor signature of `DiscoveryRequest` as part of implementing Kotlin Native support. The change is: `DiscoveryRequest(List<String>, List<Path)` to `DiscoveryRequest(Discovery, List<Path>)`. Adding a secondary constructor that matches the old signature might fix it (hopefully) - if not we just need to accept it, move forward and communicate the breaking change.

[2019-02-11 09:11] alilosoft commented on #563
There is also an effort from the MockK team to fix this issue https://github.com/mockk/mockk/issues/239

[2019-02-11 13:52] antonshkurenko commented on #232
It still doesn't work, even after 2.0 release. When we can expect this?

[2019-02-11 16:11] mmitic-lotusflare commented on #232
@raniejade I've tried 2.0.0 release, it's better now, I can run individual JUnit tests (albeit it takes more time to initialize test framework, could be due to switch to JUnit 5). Running group of JUnit tests doesn't work (No tests were found) and "Run Spek tests in ..." has taken over usual "Run tests in ...", regardless of whether target contains Spek tests or not:
![image](https://user-images.g

[2019-02-11 20:05] raniejade commented on #232
Can you open another issue? I’ll take a look tonight. If you can also share a sample project, that will be very helpful.

[2019-02-12 11:57] mmitic-lotusflare commented on #232
I'll try when I find the time. What I tested with is a closed-source project, so I'll make a new sample project for this.

[2019-02-13 09:22] raniejade opened #632 "Complete migration to travis-ci.com"

[2019-02-13 11:30] #632 closed, assigned to nobody

[2019-02-13 15:37] jcornaz commented on #568
Using latest version of Spek plugin, I now have a stack-trace printed in the console:

[code]

[2019-02-13 21:11] raniejade commented on #568
@jcornaz the dev builds are not compatible with `2.0.0`, known issue: #631.

[2019-02-14 09:00] charleskorn commented on #555
To keep you updated: I've been working away at a compiler plugin - you can see my progress at https://github.com/charleskorn/spek/tree/compiler-plugin.

As soon as https://youtrack.jetbrains.com/issue/KT-29901 is resolved, I should be good to propose a PR.

[2019-02-14 09:29] jcornaz commented on #631
While waiting for the fix, is there a work-around?

Should we downgrade the plugin or artifact dependency? Down to which version?

[2019-02-14 09:31] raniejade commented on #631
Use the stable version `2.0.0` for both dependencies and IDE version.

[2019-02-14 09:40] raniejade commented on #555
Awesome, thanks for the update! I've been busy as well setting up the CI builds. Other than linux, adding a build for osx should be easy now. For windows I might setup something in appveyor.

[2019-02-14 09:59] charleskorn commented on #555
Nice! I think Travis supports Windows now, but not sure if it's in a production-ready state yet or not.

[2019-02-14 10:01] raniejade commented on #555
I wasn't able to test it because it does not support `language: java`. I should be able to use `language: shell` and install the JDK by myself but that's a lot of work on a platform that may not be ready for use.

[2019-02-14 10:04] charleskorn commented on #555
Right, makes sense.

[2019-02-14 10:34] #631 closed, assigned to nobody

[2019-02-19 08:04] Tapchicoma opened #637 "Automate plugin publishing for canary versions of Android Studio"
Would be nice to automate publishing plugin for new Android Studio canary versions (maybe IDEA eap as well).

IMHO, it is not required to have "stable" version of plugin for canary builds, just a way to run spek tests. All possible problems with this plugin versions should be fixed via separately opened issues.

[2019-02-19 10:52] raniejade opened #638 "Table/data driven tests"
The current recommended approach is by using `listOf` and nested `listOf`s for multiple rows.

[code]
It has some major caveats:
- api is clunky
- uses list as a container for rows, so it's possible to have non-uniform row sizes.
- row values has no meaningful names, you access them via `data[i]` (although you can assign them to a local variable to give it a meaningful name).

Spek 1 has a data dr

[2019-02-19 19:12] ed-george commented on #426
Having Spek without coroutines support, or any roadmap to supporting coroutines is a serious limitation. It would be great to see this implemented asap!

[2019-02-23 23:03] dibog opened #639 "Report better test case names on failures or provide a mechanism to fetch the full path name of the test"
If a test case fails the reports are not very descriptive.

E.g. take:

[code]
which will report those failures as
[code]

The message would be better if we can provide the path name of the test.
Unfortunately this path name can't be accessed currently. With the following,
very ugly extension function:
[code]
and the assertion in the original code changed as the following:
[code]
we get a better r

[2019-02-23 23:50] raniejade commented on #639
IMHO generating more descriptive reports is the way to go.  Starting `2.1.0` as part of Kotlin Native support - Spek will provide its own gradle plugin which will have proper reporting (similar to rspec or jasmine).

[2019-02-24 03:32] raniejade commented on #426
As I don't use coroutines that much, I'd like to see the various pain points you guys encounter while testing coroutines using Spek. Honestly, the biggest issue here is I'm not entirely sure how this extension would look like.

[2019-02-24 08:21] dibog commented on #639
Please don't forget to add it to maven, too, as not all the world is using gradle or is thinking about to migrate to gradle.

[2019-02-24 08:40] dibog commented on #639
I added a pull request for this issue: https://github.com/spekframework/spek/pull/641

[2019-02-24 09:29] jcornaz commented on #426
@raniejade In order to avoid boilerplate in each specification we have to add an equivalent of the following in each project:

[code]

Note that:
 1. My naming scheme is debatable.
 2. I don't create extension for `describe` because its content is only test-discovery and not testing. So there is never need to call suspending function in `describe`.
 3. I don't create extension for `it` because I o

[2019-02-24 10:15] raniejade commented on #639
The maven plugin for kotlin is getting left out in terms of features compared to the gradle plugin. Correct me if I'm wrong, I can't see any docs to setup mpp projects using maven.

[2019-02-24 10:21] dibog commented on #639
mpp as in multi platform projects? Tbh. I'm using kotlin for server centered development.
So I'm interested in using Spek there and we are using maven for building our projects.
The current maven support of Spek is fine for me, at least with the support mentioned in this issue.
So, please don't drop the maven plugin you have.

[2019-02-25 16:52] ed-george commented on #426
That looks like a great start @jcornaz. But can this issue be re-opened or re-created?

[2019-02-27 09:45] boylenssen commented on #569
Why is this closed? The latest version available in Android Studio still breaks the gutter.

I installed an older version: 2.0.0-rc.1.180+b8533a4-Studio3.3 and this resolves the error

[2019-02-27 11:48] raniejade commented on #569
Because it's fixed. Kidding aside, I've been testing it with the sample project and everything looks fine. Can you share a project that replicates it?

[2019-02-27 11:51] boylenssen commented on #569
Thanks for you very fast response! I was migrating from 1.x to 2.x and had various issues, I think it might have been a side effect. I guess I'm just too new at this and ran into other issues than this ticket concerns, so never mind my comment.

(for instance, I found out that you need a package name now :) https://stackoverflow.com/questions/54902578/migration-from-spek-1-x-to-spek-2-x-error/5490

[2019-02-27 12:00] raniejade commented on #569
Had a similar report from slack, but I'm pretty sure I have fixed it before releasing `2.0.0`.  It's only a problem if you are using JDK 1.8, JDK 9+ shouldn't have this problem.

[2019-02-28 12:38] raniejade commented on #638
Another option which is somewhat dynamic:

[code]

[2019-02-28 12:46] raniejade commented on #638
It might be also possible to do:

[code]

[2019-03-02 10:59] raniejade commented on #555
Windows support in travis looks promising. I've tried using `language: shell` and installed java myself on a new project that I'm working on: https://github.com/raniejade/termkolors/pull/1.

[2019-03-02 14:26] raniejade commented on #426
thanks @jcornaz! Re-opening (so it's easier to track) but I'm not committing to anything yet.

[2019-03-03 01:28] 3flex opened #642 "Discovery phase fails when test has nested class"
This below test from detekt now fails during discovery phase after upgrading from 2.0.0 to 2.0.1. The check on line 7 here caused the failure: https://github.com/spekframework/spek/blob/2be7ff1e3e05f630fef2e5e92fce44dfd4503e9c/spek-runtime/src/commonMain/kotlin/org/spekframework/spek2/runtime/util/ClassUtil.kt#L5-L9

This is because a nested class `NotConfiguredEmptyRule` is declared within the te

[2019-03-03 02:44] raniejade commented on #642
Weird, not sure why `NotConfiguredEmptyRule` is being passed to `extractPackageAndClassNames` since it does not inherit `Spek` (filtered [here](https://github.com/spekframework/spek/blob/2.x/spek-runtime/src/jvmMain/kotlin/org/spekframework/spek2/runtime/JvmDiscoveryContextFactory.kt#L53)). I have to investigate it further but in the meantime you can annotate `NotConfiguredEmptyRule` with `@org.sp

[2019-03-03 06:55] raniejade opened #643 "Test timeouts"
Spek executes tests serially in a single thread, any rogue tests that blocks indefinitely can cause the whole execution to block. Introducing an execution timeout per test will help stop that from happening.
- timeouts should be configurable globally and a per test basis.
- timeouts should only be applied to logic that participate in the execution phase: fixtures and test scopes.

Implementation d

[2019-03-03 06:55] raniejade commented on #643
(tentatively slating it for `2.1.0`)

[2019-03-03 07:09] raniejade commented on #426
Crazy idea: So you can call normal functions in a `suspend` block but not vice versa and to actually suspend is explicit (via the builders), why not add the `suspend` modifier to blocks/lambdas that participate in the execution phase (fixtures, memoized and test)? This means pulling in `kotlinx-coroutines-core` library but I will probably pull it in as part of implementing test timeouts (#643).

[2019-03-03 07:23] dibog opened #644 "IntelliJ Plugin should also list all successfull test"
I'm using the 2.0.0 Version.  The plugin only shows failed tests as tree. It would be nice to see every case, regardless if failed or not.

[2019-03-03 07:25] raniejade commented on #644
@dibog there should be a toggle in the reporting tab that shows all the tests regardless of the execution result. By default, it only shows the failures.

[2019-03-03 07:25] #644 closed, assigned to nobody

[2019-03-03 07:44] jcornaz commented on #426
Yes indeed. It'd be great from a usage perspective. I just wonder if it would noticeably impact performances or not.

Yes, but it can be an implementation detail of Spek (use `implementation`in gradle to make the dependency not transitive). The only API is the keyword `suspend` which is part of the kotlin the language. Technically you *could* provide `suspend` lambdas and the desired functionnalit

[2019-03-03 08:54] raniejade commented on #426
Interesting, KotlinTest did the same approach: https://github.com/kotlintest/kotlintest/pull/332.

Probably not that significant? AFAIK `suspend` just desugars to adding an extra parameter. The actual suspending logic (don't quote me on this) is done via a library and probably only happens when you call any of the builders. So if you don't anything async there shouldn't be any significant impact o

[2019-03-03 09:09] raniejade commented on #426
I'll do some more thinking... if you have any more ideas keep them coming.

[2019-03-03 11:27] feature opened #645 "memoized produces unexpected results"
The documentation for [scope values](https://spekframework.org/core-concepts/#scope-values) gives the impression that the `memoized` delegate is just a shorthand for `lateinit var`s and `beforeEach` blocks. However if the function passed to the `memoized` modifies another memoized value, the change is not reflected in the value.

I'm not sure if this is a bug with `memoized` or not, because I can'

[2019-03-03 11:58] raniejade commented on #645
Can you paste in the full test?

[2019-03-03 12:40] feature commented on #645
I was still working on the tests, but here they are. All the affected cases are commented with `Do not use memoized here`.

https://github.com/staminadevelopment/pubsub4k/blob/master/src/test/kotlin/pw/stamina/pubsub4k/publish/StandardPublisherRegistrySpec.kt

[2019-03-03 20:19] raniejade commented on #645
Did you mean _access_? You can't modify a memoized value.

Anyway, the exact semantics are (and you're right I need to add more documentation around it)

[code]

If `b` was accessed first then the value is initialized by calling the passed factory lambda, since it's accessing another memoized value `a`,  then the same thing will happen with `a`.

This can be seen by doing some simple `println`s.

[2019-03-03 23:23] feature commented on #645
I'm not trying to change the value of a memoized property, but make changes to the object that is memoized.

The simplest example case I can come up with is this simple List spec:
[code]
The first test passes fine as expected, but the last two unexpectedly fails.

If I replace
[code]
with
[code]
all the test passes as expected.

[2019-03-04 02:44] raniejade commented on #645
Ahh right, you aren't supposed to it that way. Since you're performing an action using `beforeEach` is the right way to go.

[2019-03-04 12:21] feature commented on #645
I learned that, and it also seems reasonable, but I still think the documentation should be clarified.

[2019-03-04 13:01] yaroslav-shlapak commented on #606
This bug is not fixed, instead of "No test were found" I get "Test framework is quit unexpectedly"

[2019-03-04 15:46] dibog commented on #644
Thanks, I have overseen that.

[2019-03-04 21:09] raniejade commented on #606
Can you give the spek version and plugin version you are using?

[2019-03-05 10:35] yaroslav-shlapak commented on #606
Spek version: 2.0.1
Spek plugin version: 2.0.1-Studio3.3
AS: 3.3.1 and 3.3.2
I'm also getting "No test were found" when trying to run all tests for the entire module using Junit runner

[2019-03-05 10:37] yaroslav-shlapak commented on #606
And sometimes nothing happens when I press play button near the test in the AS editor

[2019-03-05 12:40] raniejade commented on #606
Weird, can you share a sample project that replicates your issue?

[2019-03-06 13:58] boylenssen opened #648 "Exception thrown running Spek test in Android Studio"
Running tests from command line is no problem, running them using the plugin seems to give issues.
using plugin 2.0.1-studio-3.3

I suddenly get this error:

Exception in thread "main" java.lang.NoSuchMethodError: org.spekframework.spek2.runtime.execution.DiscoveryRequest.<init>(Lorg/spekframework/spek2/runtime/discovery/DiscoveryContext;Ljava/util/List;)V
	at org.spekframework.ide.Spek2ConsoleLau

[2019-03-06 15:09] m-maillot commented on #648
Same for me:
[code]

[code]

Spek plugin: Version: 2.0.1-Studio3.3

[2019-03-06 21:47] tinetti commented on #648
Same here...
[code]

[2019-03-06 23:35] raniejade commented on #648
Hey all! Apologies for the trouble there is an incompatibility issue noted in the release:

Two possible fixes:

1. If you are using `2.0.1` plugin please use `2.0.1` in your project.
2. If you have existing run configurations created using the 2.0.0 IJ plugin, you need to recreate them.

[2019-03-07 07:13] boylenssen commented on #648
Ow thanks! I did update dependency to spek version 2.0.1 and now it works. Thanks for the fast response!

[2019-03-07 18:20] tinetti opened #649 "spek 2.0.1 fails to discover tests"
upgrading from spek-2.0.0-rc.1 to spek-2.0.1 results in no tests being discovered

[code]

the only diff in my code is updating the spek version as noted above.

here's my gradle dependencies declaration:
[code]

and versions:
[code]

[2019-03-08 23:39] raniejade commented on #649
You may have an anonymous class somewhere that inherits from Spek, can you mark it with`@Ignore`.

[2019-03-09 00:24] raniejade commented on #648
Closing this, the only fix is using the same version in your project and the IDE plugin.

[2019-03-09 00:24] #648 closed, assigned to nobody

[2019-03-09 13:41] #645 closed, assigned to nobody

[2019-03-09 13:43] raniejade commented on #642
Resolved by #650

[2019-03-09 13:43] #642 closed, assigned to nobody

[2019-03-12 22:16] Lingviston opened #652 "Declaring memoize val in Spek root causes it to produce different values on given/when stages"
I've just started investigating Spek framework, so please forgive me inconvenient usage of some terms.

Following Gherkin style I want to have several `Feature`s within a single Spek test. I want all mocks and OUT (object under test) instance to be shared between all of the features so I need to declare them on the root Spek object level.

Looking at `SetSpek `example [here](https://spekframework.

[2019-03-12 22:33] raniejade commented on #652
Yes

Outside `Feature` the default caching mode is `CachingMode.TEST` which means all `test` scope will get a unique instance (Given, When, etc.. are test scopes). Within a `Feature` the default is `CachingMode.GROUP` which means group scopes (`Scenario` is a group scope) will have a unique instance. Depending on what you want you can use `CachingMode.GROUP` means all `Scenario`s receives a unique

[2019-03-12 22:48] Lingviston commented on #652
@raniejade thank you for claryfying the group vs. test scope for me. Reading the [doc](https://spekframework.org/core-concepts/) I could not properly map them to the Gherkin style:(

That's what I ended up with.

`CachingMode.SCOPE` is not what I want as it leads to the same object being shared across different features. What I need is unique object per scenario, but declared outside of the featur

[2019-03-12 23:03] raniejade commented on #652
`CachingMode.TEST` is the more practical default as a good practice tests should not share anything.

No, if you're not using the core dsl (`group`, `test`, ...). And the core DSL is not intended to be use directly - it is there to provide infrastructure to build styles (specification, gherkin, ...)

[2019-03-13 09:09] raniejade commented on #652
I'll re-purpose this ticket to improve the documentation about `CachingMode` and `memoized`.

[2019-03-13 09:17] raniejade commented on #426
I have timeouts now working (#643 - at least for JVM, K/N only supports a single thread coroutine) which is using coroutines under the hood. Would be really easy now to just add in the `suspend` keywords all over the place. Though I'm still not convinced if this is the correct thing to do.

[2019-03-13 09:41] jcornaz commented on #426
I don't know. I'd say it sound somehow appealing. As far as I could see, there is a tiny performance impact on the first test only (probably because more classes have to be loaded). But I could not notice clear impact for the rest of the tests.

An other "cons" is that adding `suspend` break binary compatibility. I'm not sure how important it is for a testing framework. But better to know it.

But

[2019-03-13 11:18] Lingviston commented on #652
But since Given/When/Then are actually test scopes - isn't that incorrect? I mean they're tests but they need to share the data. At least because in `Given` we usually set expectations for the mocks and in `Then` we verify them on the same object.

Prior to Spek those tests could be written with JUnit4 in the following manner:

[code]
So as you can see all mocks and OUT are declared one time and l

[2019-03-13 11:59] raniejade commented on #652
They share data/state if you declare the `memoized` within `Feature` and it is recommended way.

Your example exactly maps to:
[code]

Also spek supports another style: `specification` which the root default makes sense (`CachingMode.TEST`). Say you're a weird person that likes to use the two styles in a single class:

[code]

`CachingMode.GROUP` makes sense for `Feature` but not for `describe` an

[2019-03-13 13:41] KeithYokoma opened #654 "Discovery phase of SpekTestEngine fails for nested class inside Spek tests"
This is related to https://github.com/spekframework/spek/issues/642 but I still have a problem running tests with Spek `2.0.1` from CLI.

[code]

This will produce the following output in standard error: it seems SpekTestEngine fails during discovery phase for getting `null` from KClass#qualifiedName.

[code]

[2019-03-13 16:17] Lingviston commented on #652
Ok, in my example I used the same `When` part. But it can be different as well and thus lead to different `Features`.

Here's a real life example of what I covered with Spek tests. I have a publisher class, which gives you Reactive stream of date updates. This stream has initial value, which is dependent on the current date. Publisher also allows you to set new date value, which is processed someh

[2019-03-13 21:31] raniejade commented on #654
Please use `@Ignore`for the moment, the fix for #642 is scheduled for the `2.0.2` release.

[2019-03-13 21:36] raniejade commented on #652
I totally understand your side, I think a fix that you can do is write you're own `memoized`:

[code]

[2019-03-13 21:37] Lingviston commented on #652
@raniejade
Yep. We can close this topic.

[2019-03-13 21:37] #652 closed, assigned to nobody

[2019-03-14 01:30] KeithYokoma commented on #654
`@Ignore` does not take effect since class selectors are built in [`SpekTestEngine`](https://github.com/spekframework/spek/blob/2.x/spek-runner/junit5/src/main/kotlin/org/spekframework/spek2/junit/SpekTestEngine.kt#L50) and it doesn't care if a class is annotated with `@Ignore` or not.

[code]

I think we need to add some filters to check `@Ignore` annotation existence and the class is local or no

[2019-03-15 17:48] Fi5t opened #656 "I've a trouble with AGP 3.3.2"
I've tried to add this framework to my project and face an error during gradle sync.

[code]

When I set the AGP version to 3.2.0, everything became ok. Can you fix it?

[2019-03-16 00:08] raniejade commented on #656
Upgrade `android-junit5`? Can't really help you here - I'm not an android dev and by the looks of it the problem is not with Spek.

[2019-03-16 00:08] #656 closed, assigned to nobody

[2019-03-16 00:20] raniejade commented on #654
Re-opening as it is an issue with the JUnit 5 test engine.

[2019-03-16 23:24] #654 closed, assigned to nobody

[2019-03-19 07:57] svenjacobs commented on #631
Since it's not possible to install an older version through IntelliJ's / Android Studio's Plugin browser, [here's](https://plugins.jetbrains.com/plugin/10915-spek-framework) the download of version 2.0.0 of the plugin.

[2019-03-20 09:28] feature opened #658 "Eagerly evaluated alternative to memoized."
The syntax of `memoized` values provide a short and concise way of storing values, and it is much nicer than using lateinit vars and a `beforeEach` blocks. However because it is lazily evaluated it can cause some strange issues, as shown in my previous issue (#645) and down below.

Today I encountered into another issues with a combination of `mockito` and spek's `memoized`. If you memoize a mock

[2019-03-20 09:51] raniejade commented on #658
Can you add a small snippet of code? I think it will make things clearer to understand.

[2019-03-20 13:32] feature commented on #658
[code]

Because `a` and `b` are both memoized they aren't initialized until they are used. As `b` depends on `a` when its mock is created and being stubbed, `a` will also be created and stubbed while `b` is being stubbed. This behavior is disallowed by Mockito for some reason, and will throw an exception.

My issue isn't meant to be focused on this issue, but rather the suggestion of adding a new

[2019-03-20 23:24] raniejade commented on #658
One option is to add a `lazy` parameter to `memoized`, which defaults to `true`. I'll take a look at it more when I get back from vacation next week. Feel free to pull up a PR that explores that or any idea you might have.

[2019-03-21 10:21] anschnapp opened #659 "Initialization before each Scenario in Gherkin style"
I want to make a fresh creation of my service together with some mocks. Before each "test", i'm using the Gherkin style.

A test in this context is for me every Scenario I have described.

I have tried beforeEachTest but this is also executed for every given- and when- then-sections. This is not suitable for me because i configure the mock behaviour inside the given blocks.

Then I have tried befo

[2019-03-21 10:25] anschnapp commented on #659
Addition: Also the Feature are not counting as a group. Only a real `group` counts and this can be only created on the "root" level of the structure.

[2019-03-27 22:03] raniejade opened #662 "Check plugin compatibility with IJ 2019.1"

[2019-03-28 14:26] jcornaz commented on #662
*EDIT: Original content removed.*

*I Realized that my problem wasn't a compatibility problem between of IJ 2019.1 and Spek.*

*My problem was due to the fact that I had both `Spek` and [kotlintest](https://github.com/kotlintest/kotlintest) runners in my runtime classpath.*

*Sorry for the false positive.*

*Bottom line: Spek works like a Charm for me on Windows and IJ 2019.1*

[2019-03-28 14:42] jcornaz opened #663 "Make memoize call `close` if the instance was `Closeable`."
Hi,

In our code-base we found useful to write the following helper:

[code]

The idea is that if we want to memorize something which implements `Closeable`, then chances are that we want to close it before forgetting its instance. And always passing a destructor is a bit boilerplate for our taste.

IMHO, it would be even better if `memoized` would close instances of `AutoCloseable` by default (ev

[2019-03-28 21:41] raniejade commented on #663
Is `AutoCloseable` available in the multiplatform stdlib? If yes, then we might be able to add it.

[2019-03-29 08:56] jcornaz commented on #663
No :-(

However, I don't think it means that we cannot support it at all. There could be either:
* A specific implementation of `memoized` only for the JVM
* A specific extension function only for the JVM

It would be sad if the only reason to not add this is MPP support since there isn't any Spek runner for Javascript or Native at the moment. I understand it is a temporary situation, which will h

[2019-03-29 14:41] Petikoch commented on #352
2.0.0 was released, congrats!

https://github.com/spekframework/spek/releases/tag/2.0.0

[2019-03-29 22:28] raniejade commented on #663
Makes sense, I think adding the following extension to the JVM is the way to go.

[code]

An alternative is let `memoized` handle it under the hood (using `instanceof` perhaps), but it's not very apparent.

[2019-04-02 09:37] Lakedaemon commented on #662
I get one exception while running Spek2 in intellij 2019.1

Exception in thread "main" java.lang.NoSuchMethodError: org.spekframework.spek2.runtime.execution.DiscoveryRequest.<init>(Lorg/spekframework/spek2/runtime/discovery/DiscoveryContext;Ljava/util/List;)V
	at org.spekframework.ide.Spek2ConsoleLauncher.run(console.kt:18)
	at org.spekframework.ide.ConsoleKt$main$1.invoke(console.kt:35)
	at org.

[2019-04-02 09:39] Lakedaemon commented on #662
Please note that I'm not using the bundled java runtime (because the damn intellij idea is just unable to make it switch to the bundled runtime though it has been pestering me with it for months).

If you tell me this is related, I'll try to fix that

[2019-04-02 09:52] raniejade commented on #662
You need to make sure you have the same spek version for your project and the IJ plugin. `2.0.0` and `2.0.1` are not compatible.

[2019-04-02 10:15] Lakedaemon commented on #662
thanks. It makes sense and It fixed the issue.

(Also, I finally fixed the damn java bundled problem but it had no impact).

I'll now happily resume using spek2 (I only use that, you see and I would have reverted back to idea 2018 if I could not make it work).
Many thanks :)

[2019-04-03 19:15] ghost opened #665 "can't find test case"
Always fail find the test case,

this is my code.

[code]

[2019-04-03 21:41] raniejade commented on #665
Hey @JackSparling. What's the exception? Also note that Spek 1 is now deprecated, any reason not using Spek 2?

[2019-04-04 03:32] ghost commented on #665
[code]
Sorry, I'm confused where to change the library name.

[2019-04-05 18:23] orospakr opened #666 "Spek Framework for IntelliJ/Android Studio generates run configurations with incorrectly formatted paths"
<img width="595" alt="image" src="https://user-images.githubusercontent.com/16714/55648105-68293300-57ad-11e9-938b-213a02edd75b.png">

Path should apparently be `io/rover/core`, not `io.rover.core`. It looks like it's using a package identifier rather than a path.

The result of executing such a run configuration is "Test framework quit unexpectedly", with an exit code of 0.

I get run configurati

[2019-04-06 01:24] raniejade commented on #666
@orospakr What version of spek are you using in your project and in the IJ plugin?

[2019-04-08 04:01] charleskorn commented on #649
I am seeing a similar issue with a nested data class inside a test - it doesn't inherit from `Spek`, but it is inside a class that does:

[code]

`qualifiedName` is `null` for `Scenario`, so the check on line 7 of `ClassUtil.extractPackageAndClassNames` fails.

[2019-04-08 04:04] raniejade commented on #649
@charleskorn fixed by #655, which is part of `2.0.2` (starting the release process tonight).

[2019-04-08 04:05] charleskorn commented on #649
Great, I guess I should just be more patient then :)

[2019-04-08 17:11] orospakr commented on #666
Android Studio 3.3.2
Build #AI-182.5107.16.33.5314842, built on February 15, 2019
JRE: 1.8.0_152-release-1248-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.3

And Spek Framework plugin version 2.0.2-IJ2018.2.

[2019-04-08 19:00] orospakr opened #667 "Spek Framework IJ/Android Studio Runner in Android Studio puts android.jar first in class path"
With the JVM, classpath entries that appear first in the list given to `-classpath` take precedence.

However, the Spek Framework runner in IntelliJ/Android Studio appears to put `android.jar` first in the classpath.

For example:

[code]
(newlines added for clarity)

This can be bit problematic if one is using classpath ordering as an escape valve from Android's stub implementations of things. `o

[2019-04-08 19:04] orospakr commented on #666
In my project at time of reporting the bug it Spek itself was 2.0.1, but confirmed it persists with 2.0.2.

[2019-04-09 06:20] raniejade commented on #666
Known issue, not a priority right now.

I'll take a look, thanks for the info!

[2019-04-09 06:23] raniejade commented on #667
Not sure on how to fix this, the classpath the plugin uses is provided by AS itself. Do you have the same problem if you run a JUnit 4 test in AS?

[2019-04-09 07:04] raniejade opened #668 "Rename CachingMode.GROUP to CachingMode.EACH_GROUP"
by rename, I mean deprecating `CachingMode.GROUP` and add in `CachingMode.EACH_GROUP`. `CachingMode.GROUP` means that the value is unique per group, but the name is not apparent as it could also be interpreted as _unique in the group it was declared_ (which is what `CachingMode.SCOPE` is).

[2019-04-09 07:06] raniejade opened #669 "Consider renaming beforeGroup to beforeScope"
to align it with `CachingMode.SCOPE`.

[2019-04-09 07:07] raniejade opened #670 "Support beforeEachGroup fixture"

[2019-04-09 09:39] kleinwareio opened #671 "Gradle Multi-project only runs tests for one project"
I have a Gradle multi-project (all Kotlin) and for some strange reason, tests are only being found in one of my projects.

Here is the entire `build.gradle` for the root project
[code]

Projects X and Y don't have a `build.gradle`, they both use what is defined in the root.

Both projects also have Spek tests.

`./gradlew clean test -i` shows Project X with `WARNING: TestEngine with ID 'spek2' fai

[2019-04-09 11:57] raniejade commented on #671
@kleinwareio can you try using spek `2.0.2`?

[2019-04-09 18:46] orospakr commented on #667
Yeah, that's my current workaround: if I run it with the classic JUnit test run configuration, my overlay of org.json just works.

[2019-04-09 18:46] orospakr commented on #666
Hey @raniejade maybe I'm missing something, but this prevents me from running more than one file's worth of tests at a time.  How should I run all my tests at once? (short of just using the JUnit runner)

[2019-04-10 05:05] kleinwareio commented on #671
Thanks @raniejade ! That fixed it!

[2019-04-10 07:16] kleinwareio commented on #671
However... now I can only run the "top level" `object MyTests : Spek(...)` tests from the gutter in IntelliJ. None of the other groups (`describe`, `it`) have the "run" icon anymore...

[2019-04-10 07:20] raniejade commented on #671
@kleinwareio are you using `@RunWith(...)`? or do you have the spek plugin installed?

[2019-04-10 07:21] kleinwareio commented on #671
Hmmm..... Restarting IntelliJ brought back the missing gutter icons...

Not sure which side of the IDE / Plugin fence the issue was on... Sorry for the spam =/ and thanks for the help!

[2019-04-10 07:21] #671 closed, assigned to nobody

[2019-04-10 12:03] raniejade commented on #666
Will running via gradle work for you for now? I think I know what the issue is, just trying to find some time to do the actual change.

probably this: https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin/intellij-base/src/main/kotlin/org/spekframework/intellij/SpekRunConfigurationProducer.kt#L119

[2019-04-13 00:14] raniejade commented on #667
Actually, `android.jar` should not be in the classpath - the plugin has some special logic to remove android jars and replace them with mockable versions.

[2019-04-13 00:21] raniejade commented on #665
You can check out this [guide](https://spekframework.org/migration/) for migrating to `2.x`.

[2019-04-13 00:22] raniejade commented on #666
@orospakr can you check this build:
[2.1.0-alpha.0.1+4f4cd28-Studio3.3.zip](https://github.com/spekframework/spek/files/3075544/2.1.0-alpha.0.1%2B4f4cd28-Studio3.3.zip) if it fixes your issue?

[2019-04-13 00:27] #662 closed, assigned to nobody

[2019-04-14 09:57] #668 closed, assigned to nobody

[2019-04-14 10:01] #643 closed, assigned to nobody

[2019-04-16 05:29] charleskorn commented on #649
I am still seeing this issue in https://github.com/charleskorn/kaml with Spek 2.0.2.

Something in [`YamlTest`](https://github.com/charleskorn/kaml/blob/master/src/test/kotlin/com/charleskorn/kaml/YamlTest.kt) is triggering this issue. (The name of class in this case is `com.charleskorn.kaml.YamlTest$1$1$1$5$Container$Companion`, but `qualifiedName` is `null`.)

[2019-04-16 08:30] raniejade commented on #649
@charleskorn can you give the stacktrace?

[2019-04-16 10:09] gorjan-bux commented on #333
Got the same error, working on a Spring Boot app, with IntelliJ `2019.1`, kotlin `1.3.30`.
The following configuration (in pom.xml) fixed it:

[code]

[2019-04-16 10:14] raniejade commented on #333
@gorjan-bux can you paste in the exact stacktrace? If you see any warnings from the IDE, paste it here as well. You might have some conflicting kotlin versions on your classpath.

[2019-04-16 10:41] gorjan-bux commented on #333
@raniejade here you go. It was probably a misconfiguration from my side, since I am new to kotlin and probably I just haven't done my project setup properly.

[code]

[2019-04-16 10:43] charleskorn commented on #649
[code]

Running the tests from IntelliJ gives a similar error.

[2019-04-16 10:46] raniejade commented on #333
@gorjan-bux I don't see anything related in Spek there, but probably you have conflicting kotlin-reflect versions. I haven't used maven for a while but there should be a way to dump the dependency tree and based on that check for multiple versions of `kotlin-reflect`.

[2019-04-16 10:49] raniejade commented on #649
Thanks, @charleskorn! It's very helpful, I have an idea on how to fix this.

[2019-04-16 12:54] gorjan-bux commented on #333
@raniejade I am not using the spek framework. But when I googled for the kotlin error, I landed on this thread, so I thought I would save somebody else in that situation some time. All in all, it was the missing `kotlin-reflect` dependency that was causing the issue. Cheers.

[2019-04-18 08:12] yaroslav-shlapak commented on #666
Same issue on AS 3.3 and 3.4, any progress? Running test and viewing test results inside the IDE is a paramount feature. Without it, we need to open test report in the browser with no referencing to the code.

[2019-04-18 08:19] yaroslav-shlapak opened #676 "Unsuitable Spek gradle plugin to update"
Android studio always propose to install spek gradle plugin for IJ, which doesn't work properly
![Screenshot from 2019-04-18 11-14-46](https://user-images.githubusercontent.com/3373419/56346748-82123f00-61cb-11e9-977b-85e776852d7c.png)
![Screenshot from 2019-04-18 11-15-21](https://user-images.githubusercontent.com/3373419/56346763-876f8980-61cb-11e9-9099-46938e82bda8.png)
whereas AS plugin is not

[2019-04-19 00:57] raniejade commented on #676
Thanks @yaroslav-shlapak, i probably need to update the version ranges for AS 3.4

[2019-04-20 00:31] raniejade commented on #666
@yaroslav-shlapak have you tried the build I posted here?

[2019-04-21 23:25] #666 closed, assigned to nobody

[2019-04-21 23:26] #676 closed, assigned to nobody

[2019-04-22 01:08] #649 closed, assigned to nobody

[2019-04-23 07:15] yaroslav-shlapak commented on #666
@raniejade can't install it on AS 3.4. Is there a build for AS 3.4?

[2019-04-24 00:28] raniejade commented on #666
@yaroslav-shlapak sorry about that, probably because the build is before #676 was merged to the main branch. You can download the latest dev build from https://plugins.jetbrains.com/plugin/10915-spek-framework/versions (dev channel) - it should contain both changes.

[2019-04-24 08:59] yaroslav-shlapak commented on #666
@raniejade this issue still persists on v2.1.0-alpha.0.7+b081e15-Studio3.4. Test project: https://github.com/yaroslav-shlapak/TestSpekProject

[2019-04-24 12:36] raniejade commented on #666
@yaroslav-shlapak just confirming, when you say issue: is it you are unable to install the plugin? or not being able to run the test in a package (because of the invalid path - can you confirm that you are getting `com.example` instead of `com/example`)?

I'm pretty sure that path issue is fixed,

[2019-04-25 09:04] yaroslav-shlapak commented on #666
@raniejade the path seems to be correct (with slashes instead of dots), but I still got an empty test suite when running Spek against a package.

[2019-04-25 15:33] peterholak opened #680 "Android Studio offers updates to the not fully compatible IntelliJ version"
Right now, Android Studio (3.4, `183.5429.30.34.5452501`) wants to install the `v2.0.2-IJ2018.3` version of the plugin. Doing so leads to some issues:

- the run configurations are not compatible with the ones from the Android Studio version of the plugin (if they were created with the AS plugin, they can't be executed with the IJ plugin)
- it is not possible to create a run configuration for all

[2019-04-25 22:08] raniejade commented on #680
@peterholak this will be fixed in the `2.0.3` release.

Known issue, not a priority right now.

I've looked at this before and got to nowhere. One possible solution is to constrain the version ranges of the mainline IJ plugin builds further (`181.xxxx.*` instead of just `183.*`).

[2019-04-27 01:15] raniejade commented on #666
@yaroslav-shlapak thanks for the clarification, I'll take a look.

[2019-04-27 11:48] raniejade commented on #666
@yaroslav-shlapak got your example working - just had to make a few tweaks:

[code]

Found out that the latest dev build of a plugin is not compatible with `2.0.2`. I think moving forward I'll add in the requirement that the plugin version and the library version should be the same.

[2019-04-27 11:58] raniejade commented on #667
@orospakr is this still an issue with AS 3.4? Tested it on a project and it puts `android.jar` at the end of the classpath.

[2019-04-27 17:44] 9468305 opened #681 "Does the latest IntelliJ IDEA 2019.1.1 can be used to develop Android project with spek?"
Hi,

In `https://github.com/spekframework/spek/blob/2.x/docs/running.md` Line 7, you said:

AFAIK, IntelliJ IDEA can used to build regular Android project, just need to download Android SDK and config the right file path. (https://github.com/9468305/log-kotlin is one of my simple kotlin multiplatform project for Android, iOS, which created by IntelliJ IDEA.)
Is there any other reason for not use I

[2019-04-27 23:51] raniejade commented on #681
Yes, because of the plugin. Several hacks introduced to support Android Studio made it hard to have only one plugin. There's probably a way to restructure the plugin so that it can support both android and non-android projects, but not a priority right now.

[2019-04-27 23:51] #681 closed, assigned to nobody

[2019-04-28 07:06] #665 closed, assigned to nobody

[2019-05-01 08:49] charleskorn opened #682 ""Packages and file facades are not yet supported in Kotlin reflection. Meanwhile please use Java reflection to inspect this class""
I've just tried to update https://github.com/charleskorn/kaml to use Spek 2.0.3 and I'm getting this error when running the tests through Gradle:

[code]

AssertionsKt is a reference to [this file](https://github.com/charleskorn/kaml/blob/master/src/test/kotlin/com/charleskorn/kaml/Assertions.kt) which doesn't contain a class.

[2019-05-01 10:54] raniejade commented on #682
Interesting, the exception happens here: https://github.com/spekframework/spek/blob/2.x/spek-runner/junit5/src/main/kotlin/org/spekframework/spek2/junit/SpekTestEngine.kt#L52. What kotlin and JVM version are you using?

[2019-05-01 11:19] charleskorn commented on #682
Kotlin version is 1.3.31.

Java version:

[code]

[2019-05-01 22:34] raniejade commented on #682
Most probably the JVM version, I'm using JDK10 at home. Is JDK 8 a requirement for you? Is it possible to use JDK 10 but set the compilation target to Java 8?

[2019-05-02 08:52] charleskorn commented on #682
Just tried with JDK 11 and got the same error. Anything else you'd like me to try?

[2019-05-02 09:34] vanniktech opened #683 "java.lang.AbstractMethodError: org.spekframework.spek2.runtime.Collector.getDefaultTimeout()J"
After updating from 2.0.2 to 2.0.3 I'm getting the following exception:

[code]

[2019-05-02 09:43] raniejade commented on #683
Two versions of spek in the classpath perhaps?  That's the only thing I could see that may cause that exception.

[2019-05-02 10:12] vanniktech commented on #683
You're absolutely right. Silly me.

[2019-05-02 10:12] #683 closed, assigned to nobody

[2019-05-02 12:08] raniejade commented on #682
All good, thanks for the help! I'll try to replicate it.

[2019-05-02 15:34] tomjw64 opened #684 "AssertionError still yields passing test"
The following snippet of test code yields a correctly failing test in spek version `2.02` but yields an incorrectly passing test in spek version `2.03`
[code]

Here is the gradle build file, setting the spek version on the first line if it comes in handy:
[code]
:+1: Running with `val spekVersion=2.0.2` =>
[code]
:-1:  Running with `val spekVersion=2.0.3` =>
[code]

[2019-05-04 08:06] raniejade commented on #682
@charleskorn can you try dev build: `2.1.0-alpha.0.1+026f046`?

[2019-05-04 08:07] #684 closed, assigned to nobody

[2019-05-04 11:40] charleskorn commented on #682
Tried that with https://github.com/charleskorn/kaml and now I'm getting:

[code]

Can I suggest adding some unit tests around this code? It seems to be a recurring source of issues.

[2019-05-04 14:00] raniejade commented on #682
I added some tests before but it does not catch all cases. Can you show me which class is causing the problem?

[2019-05-04 22:29] charleskorn commented on #682
It looks like it's the companion to `Container` defined at https://github.com/charleskorn/kaml/blob/master/src/test/kotlin/com/charleskorn/kaml/YamlTest.kt#L1034

[2019-05-05 00:50] raniejade commented on #682
I'll post in another build once #687 is merged. So sorry for the trouble!

[2019-05-05 01:56] raniejade commented on #682
Build finished, can you try `2.1.0-alpha.0.3+45afbe2` out?

[2019-05-05 11:01] charleskorn commented on #682
Looks like it's working, thanks!

[2019-05-05 11:02] #682 closed, assigned to nobody

[2019-05-08 07:13] raniejade commented on #599
https://azure.microsoft.com/en-au/services/devops/pipelines/ looks interesting, going to try it out.

[2019-05-08 13:27] jordaninstil opened #689 "Disallow empty descriptions"
When running via `gradle test` no spek tests will be run when a block (group, describe, it etc) has an empty description.

This issue does not happen when running via the spek framework plugin.

Spek version: 2.0.1 - 2.0.4 (possibly any 2.x version)
Android studio: 3.4

[2019-05-08 13:30] jordaninstil opened #690 "Spek plugin shows tests passed when intentional failure present"
The Current Spek plugin will not display any failures in the test tree (Only shows green ticks), but the window containing information on test runs will show failures.

Spek version: 2.0.4
Android studio: 3.4
Plugin version: v2.0.4-Studio3.4

<img width="1362" alt="Screenshot 2019-05-08 at 15 23 35" src="https://user-images.githubusercontent.com/29856519/57382782-764fe200-71a5-11e9-830a-707bb1ef28

[2019-05-08 13:54] yaroslav-shlapak opened #691 "Spek is crashing when running any test displaying wrong test results"
AS 3.4
Spek version: 2.0.4
Spek gradle plugin version: v2.0.4-Studio3.4

Can't run tests because of errors:
[code]
or
[code]

whereas results are green:
![Screenshot from 2019-05-08 16-51-26](https://user-images.githubusercontent.com/3373419/57380445-adc48b80-71b1-11e9-87bd-2e1448ca28d9.png)

test project:
https://github.com/yaroslav-shlapak/TestSpekProject

[2019-05-08 14:02] yaroslav-shlapak commented on #691
It be might somehow related to the plugin version inconsistency on the web:
![Screenshot from 2019-05-08 17-00-22](https://user-images.githubusercontent.com/3373419/57381079-efa20180-71b2-11e9-8cb9-32d7755135a7.png)
but in the IJ IDE marketplace it is available:
![Screenshot from 2019-05-08 17-00-31](https://user-images.githubusercontent.com/3373419/57381130-05afc200-71b3-11e9-8917-723b2e60a558.pn

[2019-05-08 14:18] raniejade commented on #690
Can you provide more details, such as:

- a screenshot of the problem
- what spek ide version are you using?

[2019-05-08 14:25] jordaninstil commented on #690
@raniejade updated the description

[2019-05-08 14:26] raniejade commented on #691
Thanks for the report! I’ll check it out. What JDK version are you using?

[2019-05-08 14:31] raniejade commented on #690
Thanks heaps, let me investigate!

[2019-05-08 21:14] jordaninstil commented on #691
@yaroslav-shlapak similar issue here #690

[2019-05-08 22:50] raniejade commented on #691
@yaroslav-shlapak I've pulled in your project and it is working for me. I had to make one tweak: use `kotlin-stdlib-jdk8`.

[2019-05-08 22:51] raniejade commented on #690
@jordaninstil it works for me. Are you sure you don't have `2.0.3` on your classpath? Or perhaps an old version of the plugin is cached by IJ?

[2019-05-08 22:53] raniejade commented on #689
An empty description is not allowed. Going to re-purpose this ticket to make it consistent by adding checks.

[2019-05-09 07:05] raniejade opened #692 "Allow overriding default timeout"

[2019-05-09 08:32] yaroslav-shlapak commented on #691
Thanks Ranie!

The first excepetion (from the project which does have kotlin-stdlib-jdk8) is fixed by uninstalling and installing the newest version of the gradle plugin from the marketplace - though the versions are the same, the old one didn't work.
The second exception (from the test project) is fixed by https://github.com/yaroslav-shlapak/TestSpekProject/commit/76f9a1bfc7778eba87f2742409f3c05f

[2019-05-09 08:32] #691 closed, assigned to nobody

[2019-05-09 23:18] #692 closed, assigned to nobody

[2019-05-10 07:33] jordaninstil commented on #690
@raniejade invalidated caches, reinstalled the plugin, and issue still persists.

This is on android studio 3.4

[2019-05-12 02:37] raniejade commented on #690
@jordaninstil that is really weird. Can you share reproducer? I can't reproduce it with my test projects.

[2019-05-12 07:58] jagiellonczyk14 opened #697 "Automatic test creation in Intellij"
Hi is it possible or is in plans to create spek2 tests in intellij by CTR shift t - o am using both kotlin and kotlin framework plugin and. Can not see such option,  too choose sth other than junit, Spock and testng

[2019-05-13 19:38] Bendat opened #698 "Timeout not working for "describe""
In 2.0.4 I am unable unable to override the default timeout. The method signature allows it but no matter what's set it still times out:

`         it("Created the device", timeout = 30000) {
                   macroOfLongApiCalls()
                }
`

Results in:
`
Timed out waiting for 10000 ms
kotlinx.coroutines.TimeoutCancellationException: Timed out waiting for 10000 ms
`

[2019-05-14 00:55] raniejade commented on #698
Fixed by #693 which will be included in the next release.

[2019-05-14 00:55] #698 closed, assigned to nobody

[2019-05-14 16:03] Jano14 opened #699 "Error in Intellij"
IntelliJ return me this error:

`java.lang.NoSuchMethodError: org.jetbrains.kotlin.resolve.lazy.data.KtClassInfoUtil.createClassOrObjectInfo(Lorg/jetbrains/kotlin/psi/KtClassOrObject;)Lorg/jetbrains/kotlin/resolve/lazy/data/KtClassOrObjectInfo;
	at org.spekframework.intellij.domain.ScopeDescriptorCache.buildDescriptor(ScopeDescriptorCache.kt:50)
	at org.spekframework.intellij.domain.ScopeDescripto

[2019-05-14 16:10] Bendat opened #700 "Add a lazily evaluated group type"
I attempted to create a test in the following format.
[code]

The problem is, when the describe executes, it throws an unitialized field exception on the list.

Is there currently any way to do this?

[2019-05-14 18:53] obianachebe opened #701 "How do you test methods that call Resources.getSystem()?"
I'm testing a presenter class that gets string resources from my resource directory like so:

[code]

When called in my Spek test file using the Android Studio Plugin an exception is thrown

[code]

I understand that the Spek plugin cannot run code that calls any Android API. Unfortunately, I don't know any other way to access my string resources. Is there any way around this besides using `gradle

[2019-05-15 05:11] raniejade commented on #699
I've seen this before, you need to update kotlin IJ plugin to the latest version.

[2019-05-15 05:11] #699 closed, assigned to nobody

[2019-05-15 05:14] raniejade commented on #700
No, that's not valid. Would suggest reading https://spekframework.org/core-concepts/ to understand why it won't work.

You can try:

[code]

[2019-05-15 05:14] #700 closed, assigned to nobody

[2019-05-15 05:16] raniejade commented on #701
Probably related to #667. What AS version are you using?

[2019-05-15 05:27] obianachebe commented on #701
@raniejade thanks for the reply. See my environment below

Spek Framework: 2.0.2

Android Studio 3.4
Build #AI-183.5429.30.34.5452501, built on April 9, 2019
JRE: 1.8.0_152-release-1343-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.1

[2019-05-15 05:50] raniejade commented on #701
@obianachebe from my understanding the tests passed when running in gradle but not in AS?

[2019-05-15 09:37] Jano14 commented on #699
Thank you for your comment @raniejade now works fine!!

[2019-05-15 18:36] krzykrucz commented on #699
@raniejade I've got the latest version of kotlin IJ plugin and the error stil occurs. I have the same versions as Jano14

[2019-05-16 12:08] raniejade commented on #699
@krzykrucz can you share a reproducer?

[2019-05-16 12:13] krzykrucz commented on #699
I'm not sure what do you mean by a reproducer. The exception happens every time I open a file with a Spek test.

[2019-05-16 12:15] raniejade commented on #699
Just a sample project that always replicates the issue. Just for context, the exception will only happen if you have an older version of the kotlin plugin installed. What version do you have (project and IDE plugin)?

[2019-05-16 14:33] obianachebe commented on #701
@raniejade my mistake. The test does not pass when running in gradle because `Resources.getSystem()` is an Android API which cannot be run in JVM. This is probably a mocking issue

[2019-05-17 12:49] paz-raon opened #702 "too slow okhttp test"
- okhttp_version=3.14.1
- spek_version=2.0.4

too slow When I do to run async okhttp test.

Here is my code.

---
        it("okhttp enqueue") {
            val httpClient = OkHttpClient.Builder()
                .protocols(listOf(Protocol.HTTP_1_1))
                .build()

            val request = Request.Builder()
                .url("https://www.google.com")
                .method("GET", n

[2019-05-17 22:33] raniejade commented on #702
You're not calling `CountdownLatch#countDown` when the HTTP call completes, therefore, the call to `countDownLatch.await()` will block forever.

[2019-05-17 22:33] #702 closed, assigned to nobody

[2019-05-17 22:36] raniejade commented on #701
Right, not really a Spek problem as we don't support (yet) running tests that require the android runtime.

[2019-05-17 22:36] #701 closed, assigned to nobody

[2019-05-18 16:07] robstoll opened #704 "java.lang.IllegalArgumentException: Unsupported platform kind: JavaScript"
I have a multiplatform project with common, js and jvm. When I try to run a spec written in the common module then I get the following error:
[code]
I would expect that it still executes the test for JVM. It could give an IDE warning something along the line of `Platform Javascript is not supported` but IMO this is not even necessary (as it would appear all the time and annoy the user quickly

[2019-05-18 16:33] robstoll commented on #704
@raniejade as you mentioned in slack:

Maybe the above error is due to the same reason. I thought the stack trace could be helpful

[2019-05-18 18:16] robstoll commented on #704
Btw. it works from gradle but only because I created the following two files in js:
[code]
and
[code]
clearly not ideal but the idea of the workaround might be a viable workaround for spek as well. I would transpile spek to js as well (I guess you can already due this) and provide the artefact even though you don't run tests yet.

[2019-05-19 00:25] raniejade opened #706 "Provide JS and Native api artifacts"
This will allow MPP projects to use spek smoothly even though tests aren't run yet.

[2019-05-19 00:26] raniejade commented on #704
Neat idea, created #706.

Also found the problem and submitted #705. I'll include it in the `2.0.5` release which will happen by Monday or Tuesday.

[2019-05-20 08:12] jordaninstil commented on #690
@raniejade I could reproduce it for any project, but now the plugin doesn't work on my machine (even after clearing cache and reinstalling).

You're welcome to close this issue since it can't be reproduced.

[2019-05-20 09:37] raniejade commented on #690
Super weird, I'll do some more digging.

[2019-05-20 15:10] AlyoshaVasilieva opened #707 "Spek fails to discover tests on Java 9, 10, 11, 12"
IntelliJ 2019.1.2, Gradle 5.4.1, Windows 10 x64.

Using this buildscript:

[code]

and this test code
[code]

I receive the following test output (with very minor differences) on Java 9, 10, 11, and 12:
[code]

This code works fine on Java 8. Am I doing something wrong or is this a bug?

[2019-05-21 06:04] #704 closed, assigned to nobody

[2019-05-21 12:42] yaroslav-shlapak opened #708 "Provide gradle plugin update for Android Studio 3.4.1"
Currently available for download Spek plugin v2.0.4-Studio3.4 is not compatible with AS 3.4.1

[2019-05-21 16:34] yaroslav-shlapak opened #709 "Fix plugin being incompatible with Android Studio updates"
Spek framework gradle plugin is the only plugin being used by me which becomes incompatible with every new AS update.
![Screenshot from 2019-05-21 19-26-16](https://user-images.githubusercontent.com/3373419/58113859-2a6a5780-7bff-11e9-8ef6-a922cf239f6d.png)
Is it possible to fix this to work the same way as the other plugins work?

[2019-05-22 01:07] raniejade commented on #704
@robstoll can you try the latest dev build https://plugins.jetbrains.com/plugin/10915-spek-framework/update/62590? it should contain the fix.

[2019-05-22 03:03] vegeta2102 commented on #683
@vanniktech I'm facing the same issue ? How did you solve it ?
I already tried clean, build , sync gradle many time but not fix yet ...

[2019-05-22 04:47] sraiteri opened #710 "Release date for version 2.0.5?"
Hi Spek Framework community,

We have a number of teams in entrenched in the process of upgrading legacy Spek tests to Spek 2. One of the significant barriers reported is the ability to provide custom timeouts during test debugging, which has since been resolved in `2.0.5` (thanks @raniejade!).

Is there an ETA on the release for this version?

Regards,
Shane.

[2019-05-22 04:51] raniejade commented on #708
Duplicate of #709

[2019-05-22 04:51] #708 closed, assigned to nobody

[2019-05-22 04:52] raniejade commented on #710
Just need to fix #709 then trigger a release. Hopefully by tonight. In the meantime, can you use the dev builds?

[2019-05-22 07:04] raniejade commented on #709
@yaroslav-shlapak can you try this build out?

[2.1.0-alpha.0.7+20190522T070111Z-Studio3.4.zip](https://github.com/spekframework/spek/files/3206043/2.1.0-alpha.0.7%2B20190522T070111Z-Studio3.4.zip)

[2019-05-22 08:02] yaroslav-shlapak commented on #709
@raniejade it works on AS 3.4.1 ~~and on AS 3.5 Beta 2~~. Will it work on future AS releases?

[2019-05-22 08:06] yaroslav-shlapak commented on #709
This issue is not about providing a working plugin for AS 3.4.1. It is about the fix of behavior that was observed for about half a year - when AS is updated Spek plugin stop working.

[2019-05-22 08:07] raniejade opened #712 "Support AS 3.5 Beta"

[2019-05-22 08:08] raniejade commented on #709
Locking the versions is intentional, there are no guarantees that the plugin for the current version of AS will work for the next major version. I'll add a plugin build for AS 3.5 on the `2.0.6` release (see #712).

[2019-05-22 08:11] raniejade commented on #709
And the problem with this update was AS changed the build number between `3.4.0` -> `3.4.1`. I was working on the assumption that build numbers won't change between minor releases - this was the case for all previous releases.

[2019-05-22 08:12] #709 closed, assigned to nobody

[2019-05-22 08:55] yaroslav-shlapak commented on #709
Thanks @raniejade

[2019-05-22 08:59] yaroslav-shlapak commented on #709
Sorry for misinformation - 2.1.0-alpha.0.7+20190522T070111Z-Studio3.4 doesn't work on AS 3.5 Beta 2. But v2.0.4-IJ2019.1 does work.

[2019-05-22 10:26] sraiteri commented on #710
Thanks @raniejade :smile:.

We're are going to continue using the 2.1.0 dev build in the meantime, so at this stage it's just to satisfy an internal development rule that we don't do APK releases with pre-release dependencies.

[2019-05-22 11:22] vanniktech commented on #683
That

[2019-05-23 09:01] raniejade opened #713 "Consider migrating to Azure Pipelines for CI builds"
https://azure.microsoft.com/en-au/services/devops/pipelines/

[2019-05-23 22:16] raniejade commented on #710
FYI, `2.0.5` is out :)

[2019-05-23 22:16] #710 closed, assigned to nobody

[2019-05-23 22:17] raniejade commented on #707
Really weird, can you check if you have conflicting versions of kotlin-reflect in the classpath?

[2019-05-24 08:30] AlyoshaVasilieva commented on #707
Classpath only has one kotlin-reflect, version 1.3.31 same as other Kotlin dependencies.

Swapping assertion system from io.kotlintest to `org.junit.jupiter:junit-jupiter-api:5.3.2` 'fixed' it, except now I'm using different assertion system. Does `io.kotlintest:kotlintest-runner-junit5:3.3.2` work for you on Java 9+ or should I switch off it?

[2019-05-24 08:48] raniejade commented on #707
Hmmm, I have noticed `kotlintest-runner-junit5` to caused issues when used with Spek before but never dug in any further. Current suspicion is that `kotlintest` pulls in an older version of `classgraph` which might not support Java 9+. Can you confirm what classgraph version is pulled in with and without `io.kotlintest:kotlintest-runner-junit5:3.3.2`.

[2019-05-25 06:07] gaplo917 commented on #699
@krzykrucz I solved by install the latest kotlin IJ plugin manually https://plugins.jetbrains.com/plugin/6954-kotlin/versions

My IntelliJ version: IntelliJ IDEA 2019.1.2. IDE shows that "kotlin IJ (1.3.21) plugin" has **NO** update.

Manually download the plugin(1.3.31) and install from disk solve the problem.

[2019-05-27 04:07] AlyoshaVasilieva commented on #707
kotlintest pulls in `io.github.classgraph:classgraph:4.8.1`. Without it, `org.spekframework.spek2:spek-runtime-jvm:2.0.5` pulls in `io.github.classgraph:classgraph:4.0.6`.

[2019-05-27 04:42] raniejade commented on #707
Can you try explicitly depending on `io.github.classgraph:classgraph:4.8.1` instead of having it pulled transitively?

[2019-05-27 05:39] robstoll commented on #704
Looks good :)

[2019-05-27 07:53] jcornaz opened #714 "Fail fast with Gherkin style"
Hi,

When we use Gherkin style to write a scenario, if a `Given` or a `When` fail (throw an exception), there is no much point to run the assertions in the `Then`.

Actually, running them even make more difficult to interpret the result of the test IMHO. Because we may have many assertions (in many `Then` and `And`), we'll see many assertion failures, and may not notice at a glance that the `When`

[2019-05-27 10:32] AlyoshaVasilieva commented on #707
Using `io.github.classgraph:classgraph:4.8.1` causes spek to fail on Java 9-12 with the same issue even while using JUnit Jupiter.

The last working version is 4.6.32. The next version, [4.8.0](https://github.com/classgraph/classgraph/releases/tag/classgraph-4.8.0), does not work.

edit: I forgot to try an actually up-to-date version. Depending specifically on `io.github.classgraph:classgraph:4.8.

[2019-05-29 02:40] sraiteri commented on #670
Hi @raniejade,

Just to confirm the use-case this feature would be fixing - does it give us the flexibility to run a block of code before each group? In the Gherkin-style syntax, it would give us something like:

**(assume references to `mock()` are from mockito-kotlin2**
## Now
[code]

## After beforeEachGroup is introduced
[code]

Basically, sensible data/mocking defaults in the `beforeEachGroup

[2019-05-29 06:16] raniejade commented on #670
@sraiteri yep, that should be possible.

[2019-05-31 06:40] Tapchicoma opened #715 "[IDEA] Test framework quit unexpectedly"
Whenever I try to run any spek test from IntelliJ IDEA - I got "Test framework quit unexpectedly". Running same tests from command line via `./gradlew :library:core:test` produces test results.

IDEA test console output:
[code]

Env:
IntelliJ IDEA 2019.1.3 Build #IU-191.7479.19
Spek: 2.0.5
Spek plugin: v2.0.5-IJ2019.1 (can't update any further)
Repo: https://github.com/freeletics/coredux
Java: 1.8

[2019-05-31 07:01] raniejade commented on #715
@Tapchicoma just cloned the project and it worked for me.

![Screen Shot 2019-05-31 at 5 00 19 pm](https://user-images.githubusercontent.com/1041919/58687669-a580fa00-83c5-11e9-93b0-5557ab0e680b.png)

What kotlin plugin version do you have?

[2019-05-31 07:27] Tapchicoma commented on #715
@raniejade Kotlin 1.3.31-release-IJ2019.1-1

[2019-05-31 07:35] raniejade commented on #715
Weird, I have the same version. Have you tried re-installing everything?

[2019-05-31 07:43] Tapchicoma commented on #715
Tried to clean the project `.idea/` and `*.iml` files and reimport it - still the same problem.

Is there any way to debug spek plugin/test run to get more info?

[2019-05-31 07:46] raniejade commented on #715
How about reinstalling the plugins? Another way to debug is to run the command the ide outputs directly:

[code]

btw, what test were you running?

[2019-05-31 10:04] schalkms opened #716 "Parallel test execution of Spek tests via Gradle"
To cite the [Gradle documentation](https://guides.gradle.org/performance/#parallel_test_execution)

[code]

Can we also have support for `Spek` to speed up test execution?

[2019-05-31 10:20] raniejade commented on #716
Duplicate of #108. Definitely on the roadmap, but no concrete plans yet.

[2019-05-31 10:20] #716 closed, assigned to nobody

[2019-05-31 10:31] raniejade opened #717 "Upgrade to latest version of classgraph"
see https://github.com/spekframework/spek/issues/707#issuecomment-496166584 for context.

[2019-05-31 10:32] raniejade commented on #707
thanks @AlyoshaVasilieva for the investigation. Created #717 as a todo on Spek.

[2019-05-31 10:32] #707 closed, assigned to nobody

[2019-05-31 12:31] Petrulak opened #719 "Can not run test from command line"
Hello, we have recently migrated from Spek 1 to Spek 2.
The migrated tests are running fine using AS plugin, however, doesn't run using the command line.
It hangs here for a few seconds (10~15?)
[code]
Adn then i can see
[code]
Any idea what can be wrong?

We are using:
[code]

[2019-05-31 19:02] Tapchicoma commented on #715
Tried to reinstall kotlin and spek plugins - same problem.

Any single test suite there. For example, [`SimpleStoreTest`](https://github.com/freeletics/CoRedux/blob/master/library/core/src/test/kotlin/com/freeletics/coredux/SimpleStoreTest.kt)

[2019-05-31 19:03] Tapchicoma commented on #715
Btw, I can successfully run all tests from IDE in `:library:core` module.

[2019-05-31 23:46] raniejade commented on #719
Can you share the project or a reproducer?

[2019-05-31 23:47] raniejade commented on #715
Super weird, tried running that and it works. What was the result when running the ff in the terminal:

[code]

[2019-06-01 06:20] Tapchicoma commented on #715
same as from IDE - prints nothing and completes with exit code 0.

[2019-06-01 22:33] robstoll commented on #715
I have the same problem as well. It works with kbox (https://github.com/robstoll/kbox) which is a MPP, it works with tutteli-spek-extension (https://github.com/robstoll/tutteli-spek-extensions) which is just a jvm project but does not with Atrium.

I am using:

To reproduce:
- checkout https://github.com/robstoll/atrium/commit/452c8399998bc036c08363da25886a7632a15f77
- open project in Intellij
- n

[2019-06-01 23:08] raniejade commented on #715
thanks @robstoll, I'll investigate!

[2019-06-02 01:13] raniejade commented on #715
@Tapchicoma do you have _delegate build/run actions to Gradle_ enabled by any chance? and are you using the platform test runner or the gradle one?

[2019-06-02 01:56] raniejade commented on #715
@robstoll I have a fix (somewhat) for your problem (see #720). Well, at least it fixed the `test framework stops unexpectedly`, but `ClassNotFoundException`s are showing up - not sure if it's a problem with IDE plugin or some bug in the project. Just waiting for the builds to finish, so you can test out a dev build.

[2019-06-02 02:41] #717 closed, assigned to nobody

[2019-06-02 06:27] Tapchicoma commented on #715
"Delegate build/run actions to Gradle" is disabled, but I tried with this setting enabled - same result.

"Platform test runner" is set to run the tests.

But you lead me to the way it starts working - By default I had in "Build, Execution, Deployment" -> "Gradle":
![Screenshot_20190602_082355](https://user-images.githubusercontent.com/1595262/58757631-dec58100-850f-11e9-9de8-6e6de8acbab6.png)
Whe

[2019-06-02 08:12] robstoll commented on #715
@raniejade nice, don't worry about `ClassNotFoundException` if they happen in a `-js` project. That might well be a problem on my part. I pushed a draft so that you can already try out things--  I should have mentioned that, the build for it fails due to problems in -js projects (https://travis-ci.org/robstoll/atrium/jobs/540225562#L3608).

I tried out what Tapchicoma mentioned: I had already `Bui

[2019-06-02 14:08] robstoll opened #721 "[IDEA] abstract class without explicit constructor, subclasses cannot be run"
Following an example:
[code]

[2019-06-02 14:15] robstoll commented on #715
@raniejade I fixed all project problems and had another look into it and found a few things (checkout https://github.com/robstoll/atrium/commit/bfbdaa089f1db99ffd0eb7fe2cfad32231c1f596):
- AnyAssertionsSpec can still not be run within the IDE but is also not run via gradle
- I have created a dummy Spek in the same file (called `A`) and this one can be run within the IDE and is also picked up when

[2019-06-02 16:09] robstoll opened #722 "[IDEA] opening file with anonymous Spek object throws error"
It does not happen to all files which have an abstract Spek in there. I get the following stacktrace
[code]
Can be reproduced as follow:
1. git checkout https://github.com/robstoll/atrium/commit/fbad08d166cd0fefb59b29b7e31fb029dee240a2
2. Open up AnyAssertionsSpec in ch.tutteli.atrium.specs.integration => I get an IDE error every time I am opening the file

The problem seems to be due to the `incl

[2019-06-03 06:32] raniejade commented on #715
@robstoll can you try the latest dev builds including the IDE plugin?https://bintray.com/spekframework/spek-dev/spek2/2.1.0-alpha.0.1%2Bcb69d79. The dev build of the plugin can be downloaded here: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions

[2019-06-03 08:36] robstoll commented on #715
works :+1:

[2019-06-05 07:30] Petrulak commented on #719
Hello, i can not share the project, since it an enterprise app. I will try to fix it somehow on my own.

[2019-06-06 04:51] raniejade commented on #719
If you can send in a sample project that reproduces the problem consistently, then I'll be happy to help. :)

[2019-06-10 10:46] robZrad opened #723 "Routes not added to Micronaut EmbeddedServer"
Spek test for Micronaut application fail when ran from IntelliJ Idea/Spek plugin , because EmbeddedServer has no routes defined. I encountered it in my project, but the same can be reproduced with https://github.com/micronaut-guides/creating-your-first-micronaut-app-kotlin.
Steps to reproduce:
1. install Intellij 2019.1.3
2. Install Spek-Framework Plugin v2.0.5-IJ2019.1
3. Clone and open https://g

[2019-06-10 12:20] raniejade commented on #723
Quick question before I start investigating further: Did you follow the setting up guide found here? Particularly the section _2 Writing the App_?

[2019-06-10 14:09] robZrad commented on #723
You mean https://guides.micronaut.io/creating-your-first-micronaut-app-kotlin/guide/index.html#writingTheApp ?
Yes, I just rechecked all the steps once again.

[2019-06-10 18:32] jshinn6788 opened #724 "Test events were not received"
I'm getting this "Test events were not received" error when I run my tests using the IDE and gradlew.  I'm using TestNG framework.  My goal was to use it with the Windows Application automation testing.  I have no idea how to resolve this.

[2019-06-10 18:58] nlwillia opened #725 "Fixtures run in different thread"
I have a test that's breaking when migrated to Spek2 because it configures a ThreadLocal in `beforeGroup` which runs in the discovery phase in the main thread, but the test itself now runs in a separate worker thread that can't see that information.

It looks like I can work around this using `beforeEachTest`, though that means the setup code runs per test instead of per group.

I imagine that it'

[2019-06-11 09:42] raniejade commented on #725
Actually, it's the recommend way to setup test dependencies. As an alternative you can use `memoized`.

[code]

If you're using the specification style (describe, it) then you have guarantees that foo is initialized on the same thread as the test (including fixtures) since the default `CachingMode` is set to `TEST` (each test will receive a new value).

No guarantees on the gherkin since the defau

[2019-06-11 09:42] #725 closed, assigned to nobody

[2019-06-11 09:45] raniejade commented on #724
Hey! TestNG framework is a different framework and does not relate to Spek whatsoever. If you're really using Spek, then please describe the problem more and possibly include a reproducer (minimal sample project that replicates the problem consistently).

[2019-06-11 09:45] #724 closed, assigned to nobody

[2019-06-11 12:41] benco03 commented on #697
duplicate of #81

[2019-06-11 16:56] nlwillia commented on #725
That helps, thanks.

[2019-06-13 12:04] #712 closed, assigned to nobody

[2019-06-14 10:35] raniejade commented on #723
It works for me if I have the option `Delegate build/run actions to gradle` ticked, otherwise, I get the same exception.

[2019-06-14 10:35] #723 closed, assigned to nobody

[2019-06-14 10:40] raniejade commented on #719
Please re-open when you are able to share a sample project.

[2019-06-14 10:40] #719 closed, assigned to nobody

[2019-06-15 13:13] raniejade opened #727 "Migrate to kotlin-dsl"

[2019-06-16 08:32] raniejade opened #730 "Fix flaky timeout tests"
Timeout tests have been failing a lot on macos and windows for some reason.

[2019-06-17 13:17] #730 closed, assigned to nobody

[2019-06-17 23:05] CACuzcatlan commented on #683
@vanniktech how do I assume that there is only one version in the classpath? I converted all my tests to Spek2 and removed all references to Spek, but I still get this error.

[2019-06-18 08:57] raniejade commented on #683
@CACuzcatlan what build tool are you using? There should be a way to print out the dependency tree. You also need the same version of spek for the IJ plugin.

[2019-06-18 16:07] floralvikings opened #732 "Support IntelliJ IDEA 2019.2"
The plugin cannot be installed in IJ 2019.2 EAP on Windows 10 (and presumably other operating systems)

To reproduce, attempt to install the plugin in the 2019.2 EAP release.

IJ Version:
[code]

[2019-06-26 09:05] #727 closed, assigned to nobody

[2019-06-26 09:20] raniejade commented on #713
Bye travis!

[2019-06-26 09:20] #713 closed, assigned to nobody

[2019-06-26 17:54] robstoll opened #735 "missing parameter of super class results in exception"
consider the following code
[code]
This results in the following exception. The stupid thing about it, this seems to crash/hinder intellij's type checking mechanism sometimes (I think because the error occurs too fast too many times) so that one does not even get a compile error about the missing argument.
[code]

[2019-06-26 18:12] robstoll commented on #735
I found the cause, the project used a newer kotlin version than the kotlin plugin in intellij

[2019-06-26 18:12] #735 closed, assigned to nobody

[2019-06-26 18:33] robstoll commented on #715
@Tapchicoma I might have a new track why this fails. I changed a project from using OracleJDK to OpenJDK and now spek stops working as well. What jdk vendor do you use?

*Edit*: oh wow, false alarm, this time there was a compile error which intellij did not show me (compiling with gradle revealed it)

*edit 2*: fixed the compile error and it still does not run. I'll see if I can still get a oracle

[2019-06-27 06:11] Tapchicoma commented on #715
@robstoll still OracleJDK:
[code]

[2019-06-27 09:45] robstoll commented on #715
oh man, sorry for the noise. I am on a new laptop and I used the regular spek plugin and not the dev version as advertised above. It works with dev (used 2.1.0-alpha.0.10+3ef9a70) for both OracleJDK and OpenJDK.

[2019-06-27 17:30] argonath88 commented on #232
Do you have something similar for Maven setups? I'm having the same problem of not being able to run JUnit tests (written in Groovy) along with Spek tests (written in Kotlin)

[2019-06-28 04:52] raniejade commented on #232
@argonath88 sorry no, I'm not very familiar with maven.

[2019-06-28 04:56] raniejade commented on #715
I'll probably release the next version in ~2 weeks. Just finishing the move to azure pipelines (quite useful for building mpp projects) and gradle kotlin-dsl.

[2019-06-30 03:36] automationhacks opened #737 "Validating a return value examples show use of lateinit on primitives which throws a compiler error"
Hello There.

I was walking through the examples given for **Specification or Gherkin** syntax and I observed a compiler error on trying to use `lateinit` for a primitive data type like Int. Using Kotlin 1.3.40 version with Spek 2.0.5

Can you please fix the documentation so that it does not mislead people. Essentially since the examples work with a primitive data type which is not supported with

[2019-06-30 04:12] raniejade commented on #737
Makes sense, thanks for the report!

[2019-07-01 12:10] dszakallas opened #739 "Plugin throws exception when loading test file"
**Plugin Version**:
2.0.5-IJ2019.1

**IJ Version**:

IntelliJ IDEA 2019.1.3 (Community Edition)
Build #IC-191.7479.19, built on May 28, 2019
JRE: 1.8.0_202-release-1483-b58 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.5

**Problem**:
Each time I open a test file, I get the following exception:
[code]

[2019-07-01 12:40] #732 closed, assigned to nobody

[2019-07-01 13:06] raniejade commented on #739
@dszakallas What version of the kotlin plugin do you have installed?

[2019-07-01 22:07] dszakallas commented on #739
It's 1.2.71

[2019-07-02 08:46] raniejade commented on #739
That's very old, you need to update to the latest version.

[2019-07-02 08:46] #739 closed, assigned to nobody

[2019-07-02 18:19] robstoll commented on #715
I had another odd behaviour which could be the reason for this error. To reproduce:
- git clone robstoll/atrium
- checkout '#88-hide-subject-from-Expect'
- gr clean
- open up AnyAssertionsSpec  in en_GB and run it
-> in the `build` window of intellij I can see the following command (after toggle the view to output): `:atrium-api-cc-en_GB-jvm:assemble` => `assemble` does not include `compile test c

[2019-07-04 09:36] #706 closed, assigned to nobody

[2019-07-04 15:04] robstoll commented on #722
The bug also occurs if you have an anonymous object inheriting Spek

[2019-07-05 13:10] raniejade commented on #722
Thanks for the tip! I kinda have an idea about the problem.

[2019-07-06 16:37] jcornaz opened #742 "Memoized is not thread safe."
If a `memoized` value is accessed concurrently by many threads in the same test, then it might create the value many times.

Example:

[code]

on my computer prints:

[code]

[2019-07-07 08:53] robstoll opened #743 "[IDEA] same text in `describe` as in `it` results in <no name>"
Nothing which bothers me, as I usually don't have the same text.
Following an example:
[code]
I guess this is an intellij plugin problem

[2019-07-07 09:16] raniejade commented on #742
This might become obselete once I make memoized eagerly evaluated.

[2019-07-07 10:47] #722 closed, assigned to nobody

[2019-07-07 13:57] #721 closed, assigned to nobody

[2019-07-09 13:58] rgladwell opened #746 "Cannot run selected tests Spek tests in IntelliJ IDEA Run window"
Cannot select individual Spek tests in IntelliJ IDEA Run window/pane with Spek Framework plugin.

[code]

With Kotlin version `1.3.41-release-IJ2019.1-1` installed in IntellIj.

### Steps to reproduce:

 1. Install Spek Framework IntelliJ plugin
 2. Open Kotlin/Spek project
 3. Right-click on `src/test/kotlin` folder and select `Run 'All Tests'`.
 4. Right-click individual test in IntelliJ Run pan

[2019-07-09 14:01] rgladwell opened #747 "Stale and duplicate Spek IntelliJ plug-in in marketplace"
There are two plug-ins for Spek in the IntelliJ plug-in marketplace. One is clearly newer (Spek Framework) but it is confusing as to which to use:

![Screenshot 2019-07-09 14 59 01](https://user-images.githubusercontent.com/209292/60894278-49c64e00-a25a-11e9-880f-c44d1ad39195.png)

[2019-07-09 18:35] Rosomack opened #748 "Tests time out when debugging"
Test timeouts are great but have a bit of an unintended side effect.

The tests time out even when a debugger is attached with breakpoints in test source code or the main source code.

I know we can work around this by setting a long timeout but is it possible to detect whether a debugger is attached and not apply a timeout?

[2019-07-10 10:47] raniejade commented on #747
The other plugin (`Spek`) can't be removed yet, so I guess we could update the description of `Spek Framework` to say something like: `Plugin for Spek 2`.

[2019-07-10 10:51] raniejade commented on #748
I don't think it's possible, and as you mentioned the best "solution" for now is to set a long timeout.

[2019-07-10 10:51] #748 closed, assigned to nobody

[2019-07-10 10:54] raniejade commented on #746
If I remember correctly `Run 'All Tests'` is handled by the built-in JUnit plugin not Spek, you might need to do something extra to make it work. This might also apply to 4 but I'll check. To help debugging can you share a minimal spek project that replicates the issue?

[2019-07-10 13:53] fawaad commented on #474
After trying this out myself, it appears that the doc still mentions `testRuntimeOnly` instead of `testImplementation`. I had to modify both my imports to the following to get this to work:

[code]

Is that still necessary? Should the docs be updated?

[2019-07-10 13:57] rgladwell commented on #746
I think any Kotlin/Spek project should work. I did try some of the example projects in Github but they're mostly stale and not usable with modern versions of software.

[2019-07-11 08:42] vincentfree opened #749 "Reuse defined steps"
When writing a Background type of step like
[code]
I would like to be able to reuse this like a function or some other way so steps defined in the past can be reused and we don't have to repeat ourselfs.

[2019-07-15 09:43] raniejade commented on #749
You can create an extension method on `ScenarioBody`.

[code]

Then you can use it as is on any `scenario`:

[code]

You can pass in some parameters there too, for example `GivenUserIsLoginAs(username, password)`. Do note for you can't pass memoized/scope values directly as parameters you need to access them via `memoized`.

[code]

Then you can use it as:

[code]

[2019-07-15 09:54] raniejade opened #750 "[IDEA] Allow running tests on source root"
ala `Run all tests` in the junit plugin. See #746.

[2019-07-15 09:55] raniejade commented on #746
Just replicated this, but I doubt I can fix this since `Run 'All Tests'` is handled by the JUnit Plugin. I have opened #750 to implement the same feature on Spek's IJ plugin.

[2019-07-15 09:55] #746 closed, assigned to nobody

[2019-07-15 09:56] rgladwell commented on #746
Thanks, subscribed

[2019-07-17 23:12] argonath88 opened #752 "How to run JUnit 4 tests and Spek at the same time in Maven"
I have a project with over 1500 unit tests written in Groovy with Spock, and we're migrating the codebase to Kotlin and we're aiming to use Spek. I wrote some tests in Spek, and they work fine. However, when I try running the new tests with the Groovy tests, I only see the Spek tests, and the Groovy tests are not run.

Here's my pom.xml

[code]

When I add a version
```<version>2.22.2</version>```

[2019-07-18 01:01] raniejade commented on #752
Hey @argonath88 can you share a sample project that reproduces the issue? Happy to help debug once we have that.

[2019-07-20 01:24] #714 closed, assigned to nobody

[2019-07-24 14:55] proteus-aholt opened #755 "Current version of plugin within JetBrains plugin repository is incompatible with IntelliJ 2019.2"
I noticed that a release was created on github that includes support for IntelliJ 2019.2 (release [2.0.6](https://github.com/spekframework/spek/releases/tag/2.0.6))

However, it appears that 2.0.6 has not been published to bintray, as well as the plugin version 2.0.6 has not been released on the JetBrains plugin repository.

[2019-07-24 21:44] raniejade commented on #755
Yeah, I’ll fix the bintray deploy. Not sure what happened to the plugin deploy, but I’ll take a look.

[2019-07-25 15:08] #755 closed, assigned to nobody

[2019-07-25 16:09] proteus-aholt commented on #755
latest version on bintray is still 2.0.5.  plugin version within jetbrains repository page is still 2.0.5.

[2019-07-25 16:12] raniejade commented on #755
Yeah, build failed for some reason. I’ll have a look later, it’s 2am here
now.

On Fri, 26 Jul 2019 at 2:09 am Alan Holt <notifications@github.com> wrote:

--
Cheers,
Ranie

Backend Engineer
Sydney, Australia

[2019-07-25 16:17] proteus-aholt commented on #755
2am?  Man, get some sleep.

Thanks for looking into this, Ranie.

[2019-07-26 08:19] jcornaz opened #757 "Spek 2.0.6-IJ2019.2 is not published"
Hi,

I'm not sure if you're aware of it, but `2.0.6-IJ2019.2` is not available in IntelliJ's plugin marketplace: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions

So, as a consequence, it is not possible to run Spek tests from IntelliJ 2019.2.

[2019-07-26 11:27] romeoro commented on #757
Had the same issue a couple of hours ago.
Now it should be available!

[2019-07-26 12:18] jcornaz commented on #757
Indeed. Thanks

[2019-07-26 12:18] #757 closed, assigned to nobody

[2019-07-29 22:04] argonath88 commented on #752
@raniejade Try this
[myservice.zip](https://github.com/spekframework/spek/files/3444409/myservice.zip)
It has one test in groovy's Spock and one test in Spek, but I can't make them run together. I simplified the project for convenience

[2019-07-29 22:05] argonath88 commented on #752
It has one test in groovy's Spock and one test in Spek, but I can't make them run together

[2019-07-30 15:23] rvega-arg commented on #659
@anschnapp did you find any solution or workaround? we are struggling with the same issue

[2019-07-30 21:32] adik993 opened #759 "Running tests with gutter icon does not respect "Run tests using: Gradle" setting"
IntelliJ offers the setting in `Build, Execution, Deployment > Build Tools > Gradle` to run the tests using Gradle. See docs [here](https://www.jetbrains.com/help/idea/gradle-settings.html#build_run_options)

**Current behaviour**
When the setting is set to "Gradle" clicking gutter icon runs the tests using IntelliJ

**Expected behaviour**
When the setting is set to "Gradle" clicking gutter icon r

[2019-07-31 11:37] raniejade commented on #752
Thanks! I'll have a look sometime this week.

[2019-07-31 11:57] raniejade commented on #659
Closing as duplicate of #670.

[2019-07-31 11:57] #659 closed, assigned to nobody

[2019-07-31 21:07] badoualy opened #761 "Add custom ExecutionListener/Reporter"
Is there anyway to add a custom reporter or simply to listen to an event "group failed".

In the `LifecycleListener`, we don't get any information in `afterExecuteGroup` about the result 🤔

Thanks.

[2019-07-31 22:04] robstoll commented on #722
I run into this problem again with 2.1.0-alpha.0.2

Stacktrace:
[code]

[2019-08-02 18:51] argonath88 commented on #752
@raniejade Any news?

[2019-08-03 13:10] raniejade commented on #752
@argonath88 I'm taking a look tomorrow :)

[2019-08-04 01:57] raniejade commented on #752
@argonath88 from the file you shared I can run spek tests by adding (particularly `<include>**/*Spec.*</include>`):

[code]

The groovy test sources are not being compiled by maven, not sure how to fix that as my maven-fu is no bueno.

[2019-08-05 18:25] argonath88 commented on #752
@raniejade I need them both running at the same time, Spek was already running... Anything you can do to help? I can't just drop the over 1000 tests that I already have

[2019-08-06 10:16] raniejade commented on #752
@argonath88 I first need a working sample that compiles the test groovy sources, I'm not sure how to setup maven for that. It may be the reason why the tests aren't running.

[2019-08-06 10:16] raniejade commented on #749
Closing as answered.

[2019-08-06 10:16] #749 closed, assigned to nobody

[2019-08-06 16:53] vincentfree commented on #749
Thanks again for the examples!

[2019-08-06 21:46] argonath88 commented on #752
Updated Groovy to use the same surefire 2.22.0 and it worked with this
https://blog.sandra-parsick.de/2019/03/21/maven-project-setup-for-mixing-spock-1-x-and-junit-5-tests/

[2019-08-06 21:46] #752 closed, assigned to nobody

[2019-08-13 10:12] bblackbelt opened #762 "Run Junit tests along with spek"
Hi is it possible to run 'normal' junit tests along with spek tests?

[2019-08-13 13:18] #762 closed, assigned to nobody

[2019-08-13 16:15] robstoll opened #763 "IDEA Plugin: Run all specs in a package of a common module"
In Spek1.x I was able to right click on a package and run all specs. Spek2 is missing this feature (at least in a common module).
With Spek2 I get the following message and no specs are run:
[code]

[2019-08-14 08:51] 3flex opened #764 "Publish to Maven Central"
Hi, I know this adds a burden to pushing new releases, but spek appears to be the only dependency for the detekt project that is not available on Maven Central. Any chance it could be published there?

Influential tweet (which links to a blog post that explains an issue that caused some concern last year): https://mobile.twitter.com/jakewharton/status/1073102730443526144

Thanks for your considera

[2019-08-14 09:43] raniejade commented on #764
Definitely going to happen, I was supposed to do this ages ago but it fell of my radar. Just need to sign the artifacts then it should be ready to go.

[2019-08-14 14:49] bblackbelt opened #765 "includeEngines android studio plugin"
Would it be possible to pass `includeEngines` as parameters to the runner? I am not sure my question makes sense. To give you some background, I did configure `includeEngines` to run `spek2` and `junit-vintage` tests. It works if I run it frome the terminal. If I run it from android studio with the spek plugin it runs only the spek tests.

[2019-08-17 02:20] raniejade commented on #765
The IJ/AS plugins only support running spek tests, running vintage is out of scope. I'm not sure if the JUnit 5 support added by IJ includes running tests engines other than `jupiter` and `vintage`. If it does then there is a probability that you could use whatever the plugin provides to run spek tests as we provide a `TestEngine` implementation (`spek-runner-junit5`).

[2019-08-17 02:20] #765 closed, assigned to nobody

[2019-08-19 08:13] svenjacobs opened #769 "Adjust default timeout globally"
As an enhancement to #692 I think Spek should offer a possibility to override/specify the default timeout **globally** for all tests. At the moment the timeout can only be specified per test suite or test.

I encounter random `TimeoutCancellationException` in various tests when my machine seems to be under heavy load. Increasing the timeout of a test usually fixes this. However I don't want to ove

[2019-08-19 09:07] raniejade commented on #769
Nice idea! For JVM the configuration can be passed via https://junit.org/junit5/docs/current/user-guide/#running-tests-build-gradle-config-params.

[2019-08-19 13:18] raniejade opened #770 "Multiplatform Gradle plugin"
## Motivation

The gradle plugin is long overdue and will pave the way for better reporting.

## Scope

- The plugin is for multiplatform projects only. JVM only projects will be dealt with separately.
- Reporting is out of scope and will be dealt with separately.

## Design

### Setting up

Using the `plugins` block:

[code]

Using the `buildscript` block:

[code]

### Test

A logical grouping of

[2019-08-21 06:48] robstoll commented on #761
I would be interested in such a feature as well but I actually need more than just a listener. More like a decorator whith the possibility to change events. E.g. turn a failing test into a successful one.
Following my current workaround in case others are interested:
https://github.com/robstoll/atrium/tree/master/samples/readme-examples/src/main/kotlin/readme/examples

[2019-08-26 06:58] ispbox opened #773 "Plugin for Android studio 3.5"
AS 3.5 has just released. Do you have any estimations to update Spek plugin to support it?

I found version 2.0.6 here (https://plugins.jetbrains.com/plugin/10915-spek-framework/versions), and it should be supported by AS 3.5, but my AS 3.5 says it is not supported (I downloaded it manually).
Automatic installation of Spek Framework plugin also doesn't help.

Android Studio 3.5
Build #AI-191.8026.

[2019-08-26 09:46] raniejade commented on #773
Probably just need to change the version range in the build file. Thanks for the report!

[2019-08-27 07:58] #770 closed, assigned to nobody

[2019-08-27 08:22] raniejade commented on #773
@ispbox can you try this build out?
[2.1.0-alpha.0.11+20190827T081910Z-Studio3.5.zip](https://github.com/spekframework/spek/files/3545025/2.1.0-alpha.0.11%2B20190827T081910Z-Studio3.5.zip)

[2019-08-27 19:50] ispbox commented on #773
@raniejade I just tried, and it solves the problem only partially.
Now all Spek tests in project don't have error icons, and Android Studio doesn't suggest to configure the plugin.
But, unfortunately, it is not possible to execute tests - "Run" button gets disabled if I select any Spek test.
I tried to open source file with Spek tests and run from there. Run button is enabled, and even popup menu

[2019-08-28 06:55] raniejade commented on #773
It's not so easy after all :cry:, I'll find some time this weekend to take a look.

[2019-08-28 16:23] ispbox commented on #773
I guess the change is due to new mechanism of running simultaneously on several devices.
Thanks a lot for your efforts, because it is difficult to live without tests.

[2019-08-28 21:13] robstoll opened #776 "Discovery failure should fail spek"
Maybe similar to #566 but opening it nonetheless as it does not seem to be fixed.
Following the use case:
- JVM platform
- one forgets to add `runtimeOnly "org.spekframework.spek2:spek-runner-junit5:$spek2_version"`
- gradlew build

The project builds fine even though no tests are executed due to the above failure.

[2019-08-31 11:37] schalkms opened #777 "Inheritance hierarchy: Base class support in Spek"
I have the following use case.
I implemented an abstract base class, which creates expensive objects before each test and disposes them after each test. To have this boilerplate code not spread through the code base, I created the following base class. Other `Spek` classes derive from this base class called `BaseSpek`.

How can I access the `object` variable in derived classes in order to call met

[2019-08-31 14:11] raniejade commented on #773
@ispbox This is working fine for me (using the sample android project). Do note that I have freshly installed AS3.5.

[2019-08-31 14:18] raniejade commented on #777
Have you tried something like:

[code]

Then in one of your test:

[code]

[2019-08-31 18:52] ispbox commented on #773
@raniejade Sorry for misleading you... I reinstalled AS and I was able to run my tests.

But later I've found the cause of my problems: my Spek tests are located in different modules, and in order to run them simultaneously in AS 3.4 (and before) I had an empty test, where I added all other Spek tests in configuration block "Before launch". So it is convenient - I run only one test, and AS automat

[2019-08-31 19:47] schalkms commented on #777
That was quick. Thanks for helping me out!
Do you think this is worth adding to the documentation, because in my opinion this pattern is missing?
I'd submit a PR then.

[2019-09-01 00:41] raniejade commented on #777
Definitely, any help is appreciated! :)

[2019-09-01 00:43] raniejade commented on #773
Cool, I'll close this one. Can you open a new ticket describing your issue? Screenshots will definitely help.

[2019-09-01 00:43] #773 closed, assigned to nobody

[2019-09-01 17:37] ispbox opened #778 "Adding Spek test to configuration of another Spek test is not working in AS 3.5"
The story started here: https://github.com/spekframework/spek/issues/773

Issue is with running one Spek test from another one via configuration option:
![Attach another configuration](https://user-images.githubusercontent.com/16974448/64080014-c2e09f80-ccf7-11e9-8fc6-13449e5c60fa.png)

I've created small sample project, please take a look.
[SpekTest.zip](https://github.com/spekframework/spek/file

[2019-09-03 11:45] badoualy commented on #761
Thanks for the sample @robstoll , I ended up doing what you did.
Short version for anyone interested:

[code]

In your `build.gradle`

[code]

Also add a `org.junit.platform.engine.TestEngine` file in `test/resources/META-INF` with the FQCN of your custom class

[2019-09-03 13:25] #777 closed, assigned to nobody

[2019-09-04 10:33] raniejade commented on #761
Following my current workaround in case others are interested:

@robstoll can you elaborate more on why you need this?

@badoualy I'm keen to hear your use case as well.

[2019-09-04 10:35] raniejade commented on #764
Starting the release process for `2.0.7` this week, hopefully everything should just work when I sync to central. :crossed_fingers:

[2019-09-04 10:37] robstoll commented on #761
I am using the modified spek engine to run specs, get the result and populate the Readme.md of Atrium. For instance: https://github.com/robstoll/atrium#your-first-assertion and the corresponding spec:
https://github.com/robstoll/atrium/blob/master/samples/readme-examples/src/main/kotlin/readme/examples/ReadmeSpec.kt#L40

[2019-09-04 10:48] raniejade commented on #761
Hmm, interesting. Though I still don't understand why you need to turn a failing test into a successful one.

[2019-09-04 10:49] robstoll commented on #761
Because I want that the test fails but turn it into a successful test so that the build does not fail

[2019-09-04 11:08] raniejade commented on #761
Ahh, make sense. I can probably add more info into `LifecycleListener` for now. Not to sure if I'd want to allow changing a failure to a success. I think for your use case you should be able to use:

[code]

Also, another thing to note is that a group failure is only reported when a group fixture fails (beforeGroup, afterGroup`) not when a child fails. The same applies for JUnit 5:

[code]

[2019-09-04 11:10] raniejade commented on #761
Including it for `2.0.8`. Going to add this class:

[code]

[2019-09-04 11:25] robstoll commented on #761
I cannot `ignoreFailures` in general as other failures should still fail. To be fair, it is probably a rather rare use case to turn failing tests into successful ones. So for me it is fine if I go on with the workaround. Maybe it is better if you focus here on badoualy's use case.

[2019-09-04 12:44] badoualy commented on #761
@raniejade I'm using Spek to run Appium test on BrowserStack, once the test is finished, I need to upload the session's result on BrowserStack.

I could've done it with a `success = true` at the end of every test, but that's quite ugly IMO.

[2019-09-05 08:58] jcornaz commented on #776
That's a quite different than #566. #566 was about an exception thrown during the discovery phase, and that's definitely fixed.

Your issue is about forgetting to add the test runner. I'm unsure what can be done there. One must use a test runner, if you don't then of course test won't be run. That's how the Junit5 platform works.

Junit5 behaves the same: If you forget `testRuntimeOnly("org.junit.

[2019-09-05 09:09] robstoll commented on #776
good it is different, in this case this issue has its right to exist :slightly_smiling_face:
With junit you can use `--fail-if-no-test`. The build then fails in case no tests are detect. Maybe spek could expose it?
I actually had a different use case where Spek could not run due to a problem in my code. The only thing I got was a warning in the console from junit saying that the engine Spek failed

[2019-09-06 00:18] raniejade commented on #764
Bintray says the sync went okay but I'm still not seeing the `2.0.7` artifacts yet, keeping this open until it does.

[2019-09-06 10:45] charleskorn opened #782 "~30s pause when running tests"
I'm not sure if this is something in my setup or an issue in Spek, but when I run the tests in https://github.com/charleskorn/batect with `./gradlew app:test`, Gradle seems to pause for nearly 30 seconds at `:app:test > 0 tests completed` before then starting to run my tests.

Do you have any ideas on what the cause of this might be?

Running the tests with a profiler suggests that most of this ti

[2019-09-06 14:29] raniejade commented on #782
That usually means you have some long running logic during the discovery phase. i.e

[code]

[2019-09-06 14:37] raniejade commented on #782
Probably this is the culprit? https://github.com/charleskorn/batect/blob/master/app/src/journeyTest/kotlin/batect/journeytests/VersionInfoJourneyTest.kt#L32

[2019-09-06 22:33] charleskorn commented on #782
Hey @raniejade, thanks for the quick response! `./gradlew :app:test` only runs the tests in https://github.com/charleskorn/batect/tree/master/app/src/unitTest (the journey test you linked to there runs quite quickly).

[2019-09-07 23:23] charleskorn commented on #782
Looking at this more closely, it looks like the time is spent loading classes and waiting for Mockito to generate mocks. Would you be interested in a PR that runs the spec resolution in parallel? (I'm imagining something like replacing the `map` call [here](https://github.com/spekframework/spek/blob/2.x/spek-runtime/src/commonMain/kotlin/org/spekframework/spek2/runtime/SpekRuntime.kt#L22) with a c

[2019-09-08 13:32] raniejade commented on #782
Is mockito thread-safe though?

[2019-09-08 19:26] plannigan commented on #769
This 10 second timeout surprised me when I needed to use the debugger to walk through a test case. Being able to alter/disable this behavior would make stepping through code much nicer.

[2019-09-08 22:08] raniejade commented on #769
Scheduling this for the next release.

[2019-09-09 08:39] charleskorn commented on #782
Yes: https://github.com/mockito/mockito/wiki/FAQ#is-mockito-thread-safe

[2019-09-09 12:18] raniejade commented on #759
Closing this as wont-fix. Gradle and Spek has a different notion of how tests are structured (Class - method vs lambdas), it's not possible to map a spek run request `org -> somepackage -> CalculatorTest -> calculator -> addition` to a gradle test filter.

[code]

[2019-09-09 12:18] #759 closed, assigned to nobody

[2019-09-09 12:19] raniejade commented on #759
FYI, build via gradle option is still honored.

[2019-09-10 09:07] #750 closed, assigned to nobody

[2019-09-10 09:54] raniejade commented on #763
Resolved by #784

[2019-09-10 09:54] #763 closed, assigned to nobody

[2019-09-10 10:36] #769 closed, assigned to nobody

[2019-09-10 10:39] raniejade commented on #782
Nice, I'm currently working on integrating coroutines internally - let's hold this for now until I'm done with it.

[2019-09-10 18:10] schalkms commented on #769
Thanks for the quick update @raniejade.
Could you please share with us how one can configure this global timeout?

[2019-09-11 07:23] #761 closed, assigned to nobody

[2019-09-11 08:35] raniejade opened #787 "Deprecate before/after and beforeEach/afterEach alias in specification style"
With #670, `before`, `after`, `beforeEach` and `afterEach` aliases declared in the specification style becomes ambiguous and confusing. They were only added to mirror what RSpec and Jasmine have.

[2019-09-11 10:36] #670 closed, assigned to nobody

[2019-09-11 12:38] raniejade opened #789 "Make scope value access stricter"
The current implementation allows scope value with a `CachingMode.TEST` to be accessed inside a `afterGroup` fixture. Consider the following scenario:

[code]

Scope values with `CachingMode.TEST` are cleared after each test execution, so the value of `a` in `afterGroup` is not the same as the value when `doSomething` was called. In this case, cleanup was actually called on a new instance!

It get

[2019-09-13 09:00] LiYing2010 opened #790 "IDEA Plugin: Support `Structure View`"
Tests are written using nested lambdas, and for most case, our tests are nested in many many levels, and get really really long,
but Plugin doesn't parse these nested levels and display the whole nested structure in IDEA `Structure View`
so in `Structure View`, we can only see the Test Class itself, but no Test Cases structure information at all.

It could be very difficult to navigate in test cod

[2019-09-14 06:24] raniejade commented on #764
Still having issues with the sync, pushing it back to `2.0.8`

[2019-09-14 06:24] raniejade commented on #790
Tentatively scheduled for `2.0.9`

[2019-09-14 14:15] ispbox commented on #778
The issue is still there with 2.0.7.

[2019-09-14 15:02] raniejade commented on #778
Yes, I haven't looked at this yet. In the meantime can you just use a gradle task to run everything?

[2019-09-14 17:23] ispbox commented on #778
@raniejade Do you mean something like
```./gradlew testVariantNameUnitTest```?

My experience with that some time ago finished with disability to run multi-module tests in single task. Probably that's easy, but I didn't find any way.
Currently I just run tests by hand, one after one.

[2019-09-17 08:11] svenjacobs commented on #769
Thanks for implementing this so quickly! Any plans when the next release is ready? :)

[2019-09-17 09:12] #789 closed, assigned to nobody

[2019-09-17 09:14] raniejade commented on #778
./gradlew testVariantNameUnitTest?

Yes

You mean, it does not work anymore?

(sorry for the delayed reply)

[2019-09-17 09:17] raniejade opened #792 "Allow timeouts to be disabled"
e.g by setting the timeout setting to `0`. This is useful for when you're debugging code and don't want to set a higher timeout value.

[2019-09-17 09:21] raniejade commented on #769
@schalkms it can be set via the property `SPEK_TIMEOUT`. You can try it out with the latest dev builds but it has pretty big changes internally that might have issues (like #781 and #789)

@svenjacobs No hard deadlines yet but hopefully in two weeks time. Two main things I'd like to finish first before releasing are:

- Publish to maven central (sorting out domain ownership and reserving namespace

[2019-09-17 10:39] ispbox commented on #778
I failed to make it working for multiple modules. In other words, it never worked for me. Maybe will do one more attempt to learn how to make this working via Gradle.

[2019-09-19 13:03] eric-labelle commented on #494
I've been trying the gherkin style and must agree that a lot is confusing with the style. As @davidsowerby pointed out, the number of test is not representative but most importantly, since `Given` `When` `Then` are consider tests, the jUnit reports are quite confusing as there is no way to see the scenario in the report and they are usually what describe best the test
The `before/after EachTest {

[2019-09-20 14:53] christian-draeger commented on #762
would be intressted in how to archive this as well.
@bblackbelt did you find a working solution along with junit5?

[2019-09-20 15:28] bblackbelt commented on #762
I was able to run them with

        junitPlatform {
            filters {
                engines {
                    include 'spek2', 'junit-vintage'
                }
            }
        }

and

     testImplementation("org.junit.vintage:junit-vintage-engine:5.5.1")

as dependency. I have to run the tests from the terminal tho. The plugin runs only spek test

[2019-09-21 00:44] raniejade commented on #790
Did a bit of looking, the structure view is linked to a particular language (on Spek's case it's Kotlin). I did find `LanguageSubstitutor` which might be the solution to this, but I need to do some experiments.

[2019-09-21 05:16] #792 closed, assigned to nobody

[2019-09-25 12:34] raniejade opened #797 "Set deprecation level of CachingMode.GROUP to error"
CachingMode.GROUP is replaced by `CachingMode.EACH_GROUP` (see #673)

[2019-09-25 12:36] raniejade opened #798 "Delete CachingMode.GROUP"
Using `CachingMode.GROUP` in `2.0.9` is considered as a compilation error, drop it in the next release.

[2019-09-25 12:48] raniejade opened #799 "Introduce fixture aliases in gherkin style"
The following fixture aliases will be introduced:
- `Scenario.beforeScenario` -> `Scenario.beforeGroup`
- `Scenario.afterScenario` -> `Scenario.afterGroup`
- `Scenario.beforeEachStep` -> `Scenario.beforeEachTest`
- `Scenario.afterEachStep` -> `Scenario.afterEachTest`
- `Feature.beforeEachScenario` -> `Feature.beforeEachGroup`
- `Feature.afterEachScenario` -> `Feature.afterEachGroup`
- `Feature.bef

[2019-09-26 06:04] #737 closed, assigned to nobody

[2019-09-26 06:04] #787 closed, assigned to nobody

[2019-09-30 09:05] raniejade commented on #764
Just an update, waiting for bintray to reply on my support ticket. Took a while since I needed to transfer the ownership of spekframework.org to myself - this makes it easier to get a namespace reserved in central.

[2019-09-30 09:21] raniejade opened #800 "Write 2.0.8 release notes"

[2019-09-30 11:24] 3flex commented on #764
Thanks for your efforts!

[2019-10-02 08:03] raniejade commented on #764
Finally done! https://search.maven.org/search?q=spekframework :tada: Though at the moment I have to click sync every release, I'll have to automate it at some point :)

[2019-10-02 08:03] #764 closed, assigned to nobody

[2019-10-02 08:45] #800 closed, assigned to nobody

[2019-10-03 11:00] ravikumar-n opened #801 "TestEngine with ID 'spek2' failed to discover tests"
I'm using Spek2 (`v2.0.6`) on my Android project. All my ViewModel tests extends the `BaseSpek` class.

**BaseSpek.kt**
[code]
When I execute all these tests from Android Studio it would run properly, but when I run via commandline like below:
[code]
Spek tests are skipped with below error message:
[code]
But If I extend all ViewModel tests from `Spek` instead of `BaseSpek` the tests fails but at-

[2019-10-04 06:08] raniejade commented on #801
You should use `abstract` instead of `open`. Is there a particular reason you need it `open`? If yes, you can use `@Ignore` so Spek won't try to instantiate the base class.

[2019-10-06 05:39] innov8ian opened #804 "Multi-platform support may require documentation"
I see there was previously an issue that is now closed on the Kotlin1.3 multiplatform support.  I also see there are artifacts for each platform on maven.

However what is not clear is how to add a dependency in commonTest to allow use in common.

I have successfully added spek as a JDK platform specific dependency to a multiplatform project, but cannot see how/what to add as dependency for common

[2019-10-07 00:28] raniejade commented on #804
Thanks for the report! Have a look at the multiplatform sample for now https://github.com/spekframework/spek/tree/2.x/samples/multiplatform. Multiplatform is not fully supported yet, only JVM is implemented (K/N implementation is very experimental).

[2019-10-07 06:58] innov8ian commented on #804
Thanks...that certainly allowed me to move forward.  Fast response certainly appreciated.

The project I am using to try spec is multiplatform, but I can live with js and native holding off on tests for now.

I managed to add tests in commonTest by following the examples, and at this stage the tests in common I tried do not use 'expect' functions.

I had not looked through the repo to find the sam

[2019-10-07 08:37] raniejade commented on #804
I was holding of mentioning multiplatform support in the docs as the feature is not yet fully completed.

I try to attend whenever I can :)

[2019-10-08 07:25] kamilmasyhur commented on #799
I see that you develop 2.1.0, already 28%
are you going to develop this? @raniejade

[2019-10-08 09:14] raniejade commented on #799
I have not worked on the `2.1.0` milestone for quite a while now, it mostly contains task for supporting Kotlin Native. This will be included in the next release (`2.0.9`)

[2019-10-08 12:36] ravikumar-n commented on #801
@raniejade The class doesn't need to be `open`, changing it to `abstract` solved the issue.

There should be some kind of warning/error message when `Spek` tests are ignored when it is not annotated with `@Ignore`. Because of the above issue, my module with 5+ normal test classes(which just extends `Spek`) containing 20+ tests in were entirely ignored. Upon watching `Jacoco` code coverage report o

[2019-10-08 13:15] alexei-ya opened #805 "Code in 'beforeGroup' and 'it' runs on different threads that causes unavailabylity to use some test frameworks (e.g. Selenide)"
Currently code in 'beforeGroup' runs on the main thread, but code in 'it' after 2.0.3 version on DefaultDispatcher-worker's thread. For example this situstion causes unavailability to use Selenide framework in such scenario:
- Open url in 'before'
- Do assertions in 'it'

This happens because of binding of WebDriver when it is created to current thread(main) in 'before' and unavailability to find

[2019-10-09 06:58] jcornaz commented on #568
Given @raniejade comment:

And given that we never seen the problem again (and we write Spek tests every day)

I think we can close this issue.

[2019-10-09 06:58] #568 closed, assigned to nobody

[2019-10-10 08:21] raniejade commented on #805
I'm planning to use coroutines more and at the moment usages of it is internal - `beforeGroup` will eventually be executed via coroutines as well. I might be able to provide a way (an API) to control the dispatcher used to run the test, which will probably fix your issue.

[2019-10-10 08:27] raniejade opened #806 "Add IDE inspection when a spek has no no-arg constructor"
See #801.

The plugin should recommend adding the `@Ignore` or mark it as abstract. annotation. Spek does not know how to instantiate a class that has a no-arg constructor (unless `@CreateWith` is specified), this can cause discovery failures preventing tests to be executed.

[2019-10-10 08:28] raniejade commented on #801
I've opened #806, closing this for now. I'm also going to upgrade to the latest JUnit Platform, from what I remember it now reports discovery failures properly instead of silently ignoring them.

[2019-10-10 08:28] #801 closed, assigned to nobody

[2019-10-10 10:15] alexei-ya commented on #805
Hi. Thanks for the answer.
Yeah, such API would be great to workaround such situations.

[2019-10-11 05:56] tikal opened #807 "Support let, subject methods like in RSpec"
I know Kotlin has different constraints, but subject and let are very valuable to remove boilerplate code. Just wanted to reference this as a potential feature.

See:
https://relishapp.com/rspec/rspec-core/v/3-9/docs/subject
https://relishapp.com/rspec/rspec-core/v/3-9/docs/helper-methods/let-and-let

[2019-10-11 20:03] robstoll commented on #798
What should be used instead? SCOPE?
And another question in a similar area, the LifecycleListener does not provide the methods beforeScope/afterScope: how I am supposed to know when a memoized value gets out of its cachingMode-scope? should I use `memoized(... descrutor)` for that purpose?

[2019-10-11 22:48] raniejade commented on #798
Use `CachingMode.EACH_GROUP`, it was poorly named.

Use `beforeGroup/afterGroup`. From the top of my head, the following pairs have the same semantics:

- `CachingMode.SCOPE` -> `beforeGroup/afterGroup`
- `CachingMode.EACH_GROUP` (previously known as `CachingMode.GROUP`) -> `beforeEachGroup/afterEachGroup`
- `CachingMode.TEST` -> `beforeEachTest/afterEachTest`

I'm not following, can you give an e

[2019-10-11 22:48] raniejade commented on #807
Have you looked at https://www.spekframework.org/core-concepts/#scope-values?

[2019-10-12 08:07] robstoll commented on #798
Ah OK. I won't bother you with my problem I guess I have to use the destructor anyway. Btw. There isn't a beforeGroup/afterGroup on the lifecyclelistener

[2019-10-12 23:47] raniejade commented on #798
Intentional, `LifecycleListener` is meant for notifying when a scope (group/test) is executed.

[2019-10-13 08:35] raniejade opened #809 "Support IntelliJ 2019.3 EAP"
Build no: `193.5096.12`

[2019-10-14 23:14] #797 closed, assigned to nobody

[2019-10-15 19:20] robstoll opened #811 "IDEA Plugin: KtCallExpression #kotlin because: containing file is null"
Just printing here what intellij tells me:
Spek-plugin version: 2.0.7-IJ2019.2

stacktrace:
[code]

induced.txt
[code]
invalidation.trace:
[code]

[2019-10-16 07:17] DanielSWolf opened #812 "Confused about test styles"
I'm new to Spek and trying to find out which syntax to use. According to the documentation, there are two possible styles: [_Specification style_](https://www.spekframework.org/specification/) (`describe`, `it`) and [_Gherkin style_](https://www.spekframework.org/gherkin/) (`Feature`, `Scenario`, ...).

However, in the [Core Concepts documentation](https://www.spekframework.org/core-concepts/), te

[2019-10-16 07:41] raniejade commented on #812
It’s the other way around, the different styles are just aliases to group/test. Please don’t use/mix them, treat group/test as an internal api. I used group/test in that section to show the difference of each scope.

[2019-10-16 07:50] DanielSWolf commented on #812
I see. So `group`/`test` is the "default" style and the other two are just alternatives. Thank you for the explanation!

Maybe it might help others to mention this in the documentation.

[2019-10-16 07:54] raniejade commented on #812
Please don't use them :) I'll eventually remove them in favor of making the `specification` and `gherkin` styles first class (instead of just aliases).

Closing this as answered.

[2019-10-16 07:54] #812 closed, assigned to nobody

[2019-10-16 08:38] DanielSWolf opened #813 "How to run tests automatically in IntelliJ IDEA?"
According to the [IntelliJ IDEA documentation](https://www.jetbrains.com/help/idea/test-runner-tab.html), the test runner tab should contain a "Toggle auto-test" button. Clicking this button automatically re-runs unit tests when the source code changes.

I'm using the "Spek Framework" plugin, v2.0.8-IJ2019.1, and I don't see such a button.

![image](https://user-images.githubusercontent.com/596316

[2019-10-16 13:21] DanielSWolf opened #814 "IntelliJ plugin does not recognize scope descriptions with interpolation"
If have a simple parameterized test using a `for` loop around the `it`. The IntelliJ IDEA plugin does not seem to recognize this as a test and doesn't display the green "Run" icon next to it:

![image](https://user-images.githubusercontent.com/5963162/66922879-34667a00-f028-11e9-89d0-34afba1cd000.png)

Am I doing something wrong? I noticed that there was a PR about table driven tests some years ag

[2019-10-16 21:34] nikitabobko opened #815 "Loops within spec classes breaks IDE support"
All I did is simple test:
[code]
And there is no way to launch particular test easily in IntelliJ (only all tests):
![image](https://user-images.githubusercontent.com/20517828/66960661-a0230400-f075-11e9-8a14-625423472588.png)

I'd even happy to have workaround like [this](https://github.com/spekframework/spek/issues/519). But we don't have this as well.

Please fix this issue. It makes your testi

[2019-10-16 22:23] nikitabobko commented on #815
Sometimes it works, sometimes it not:
![image](https://user-images.githubusercontent.com/20517828/66963420-5558ba80-f07c-11e9-82ee-37b0dda9fa34.png)
So unstable

I use latest stable IDEA: `IntelliJ IDEA 2019.2.3 #IU-192.6817.14`
With latest Spek plugin installed: `2.0.8-IJ2019.2`

[2019-10-16 22:59] raniejade commented on #815
Closing as duplicate of #814

[2019-10-16 23:04] raniejade commented on #814
Any interpolation on scope descriptions is not recognize by the IDE plugin atm, need to make some changes to the core before the plugin can support this.

It was dropped, I have not decided yet which way to go for table driven tests. But for now, the way you are doing it is correct (`listOf(...).forEach { .. }`)

[2019-10-17 06:29] DanielSWolf commented on #814
That would be great! I'm using parameterized tests fairly often, and being able to debug individual tests makes life much easier.

[2019-10-17 10:12] nikitabobko commented on #815
I'd not say that it's duplication. Look at the latest screenshot. First `describe` in `MyEventSpek` goes without any string interpolation or loops. But even in spite of this there is no run button

[2019-10-18 21:51] raniejade commented on #815
You are right, sorry! The problem here is that loops within your test breaks IDE support. Descriptions with interpolation not being supported is another issue, which is the duplicate of #814.

[2019-10-21 08:32] matejdro opened #816 "Spek Android Studio plugin is missing run buttons for individual tests in androidTest sources"
Spek plugin for Android Studio displays run button for individual tests in `test` sources (Unit Tests):

![image](https://user-images.githubusercontent.com/507922/67186976-7fe2a480-f3e9-11e9-81cd-5c227b4646db.png)

However, in `androidTest` sources (instrumented tests), buttons are missing:

![image](https://user-images.githubusercontent.com/507922/67186944-6d686b00-f3e9-11e9-934e-1d3eb8515ff7.png

[2019-10-22 08:42] jcornaz opened #817 "Build passes when spek fail to discover tests"
Hi,

When Spek fails to discover tests, it let the build be successful.

We observed the following log when running from gradle with `--debug`*:

*Note that without using `--debug` we were completely blind to it. The only indication we had is the low number of executed tests (which are only Junit5 tests running successfully).

[code]

We'll continue investigate to see if solutions proposed in #801

[2019-10-22 10:19] raniejade commented on #817
This should be fixed by using the latest version of JUnit Platform. I'm quite busy at work at the moment, I'll probably have some time to take a look during the weekend.

[2019-10-22 11:22] ursjoss commented on #817
@raniejade We are already using junit5 version `5.5.2`, which seems to be the latest stable version available.

I just tried upgrading to `5.6.0-M1` but with the same outcome as with `5.5.2`, i.e. the build succeeding despite the spek tests not being discovered and therefore not executed.

So, unfortunately, this seems to not resolve the issue.

[2019-10-22 11:33] raniejade commented on #817
This is the relevant issue on JUnit Platform https://github.com/junit-team/junit5/issues/1909, looks like it should be fix in `1.6.0` but based on this https://github.com/junit-team/junit5/issues/2028 tooling needs to update first (gradle, maven, etc...) to take advantage of it? (I'm not really sure)

[2019-10-22 11:49] ursjoss commented on #817
@raniejade Yes, I think this is related and relevant, thanks for the links.

[2019-10-22 11:57] ursjoss commented on #817
The relevant part from the junit 5.6.0-M1 release notes:

[code]

[2019-10-22 12:11] ursjoss commented on #817
I can confirm that junit5 in version 6.6.0-M1 resolves the issue when triggering the tests via IntelliJ (not delegating the test run to gradle). With latest gradle version 5.6.3 we don't have the upgraded tooling yet, so the build does not fail yet.

As documented in https://github.com/junit-team/junit5/issues/2028

[2019-11-01 19:21] DanielSWolf commented on #743
I'm having the same problem here. It doesn't just happen if `describe` and `it` have _the same_ text; it's enough if _one is a prefix of the other_.

Take this real example:

[code]

This is the result in the unit test window:

![image](https://user-images.githubusercontent.com/5963162/68050193-eb2f4f00-fce4-11e9-96d3-96af8f144ae9.png)

Note how "closes the internal file" gets truncated to "s the

[2019-11-07 17:28] FabianoLothor commented on #127
I solve it changing

`classpath "org.springframework.boot:spring-boot-gradle-plugin:2.1.8.RELEASE"`

to

`classpath "org.springframework.boot:spring-boot-gradle-plugin:2.2.0.RELEASE"`

[2019-11-08 22:59] #689 closed, assigned to nobody

[2019-11-08 23:02] #799 closed, assigned to nobody

[2019-11-08 23:05] raniejade commented on #743
Ohh interesting, I'll add the fix to the next release.

[2019-11-08 23:29] raniejade commented on #817
I'll move this to `2.0.10`, `1.6.0` is not fully released yet but in the meantime I'll update the version used by spek to `1.5.2`.

[2019-11-10 09:50] #809 closed, assigned to nobody

[2019-11-14 13:35] guliash commented on #778
Hello @ispbox. Any success with resolving the issue?

[2019-11-14 17:02] guliash commented on #778
https://issuetracker.google.com/issues/144443063
Opened issue.

[2019-11-17 12:32] ispbox commented on #778
@guliash No, unfortunately I didn't have enough time to look at this issue. Tried right now, and the issue is still there with Spek 2.0.8.
Thanks for opening issue.

[2019-11-21 07:09] matejdro commented on #816
Just a heads up, individual test support was added to Android JUnit5's plugin: https://github.com/mannodermaus/android-junit5/commit/599eb29e996850a7d4023872aaba495c9f8722e8

[2019-11-22 13:36] tieskedh opened #823 "call in place"
It would be great if When, Then And etc would use the `callsInPlace` of the kotlin-contracts, such that you don't have to place lateinit everywhere

[2019-11-24 07:56] raniejade commented on #823
Unfortunately, the call is not in-place... Given, When, Then and And are call after the Scenario function call exits.

[2019-11-24 07:56] #823 closed, assigned to nobody

[2019-11-25 07:33] schleifenkauz commented on #638
Which options do you consider the best at the moment? I would really like to contribute by implementing it.

[2019-11-25 07:49] schleifenkauz opened #825 "Generate documentation from tests"
What I really like with Spek is, that it does not only serve as a testing framework but also as a way of documenting code.  Wouldn't it be cool, if one could extract some kind of documentation from a Spek. I think a good target format would be markdown. For example the following Specification
[code]
would generate the following markdown:
* Feature: Calculator
     - Scenario: addition
         - W

[2019-11-25 09:29] schleifenkauz commented on #806
I could implement this

[2019-11-25 15:34] schleifenkauz commented on #806
I have implemented this now. Do I need a permission to push the branch?

[2019-11-26 04:28] raniejade commented on #806
Thanks for the interest! You don't have permission to push - the standard way of contributing is forking the repo, pushing the changes on the clone and then you can send in a pull request :).

[2019-11-26 04:33] raniejade commented on #825
Thanks for the report! Is this different from a test result? What benefit do we get from the generated doc?

[2019-11-26 04:34] raniejade commented on #638
@NKb03 I have a local branch that I'm experimenting on. The approach I'm leaning on is the same as what we have in Spek 1.

[code]

[2019-11-26 05:30] sunbladehub opened #826 "Problem Testing Coroutines: advanceTimeBy() in runBlockingTest() not working"
The [Kotlin Coroutines Testing documentation](https://kotlin.github.io/kotlinx.coroutines/kotlinx-coroutines-test/) states that `runBlockingTest` will auto-advance time for `delay()` calls in regular suspend functions. This behaviour is observed in Spek.

The docs also state that `advanceTimeBy()` should be used in a `runBlockingTest` block if a coroutine is launched and contains a call to `delay(

[2019-11-26 10:27] dhaksddj opened #827 "Where can I find some good examples of Spek2 tests?"
I checked the sample directory here but its just a simple test.

Any other projects making extensive use of Spek I can get ideas from?

[2019-11-26 11:24] raniejade commented on #827
A few samples (in the integration-test module):
- https://github.com/spekframework/spek/blob/2.x/integration-test/src/commonTest/kotlin/org/spekframework/spek2/integration/SetSpec.kt
- https://github.com/spekframework/spek/blob/2.x/integration-test/src/commonTest/kotlin/org/spekframework/spek2/integration/SetFeature.kt
- https://github.com/spekframework/spek/tree/2.x/integration-test/src/jvmTest/k

[2019-11-26 19:21] schleifenkauz commented on #825
It could be a kind of documentation, which would be used as a way of getting to know the code base by specific examples. The main advantage over the test results report is that to generate documentation one would not actually have to run the tests. For example in TDD you could write the Specification with Spek first. Then you could use the documentation generated from the test to guide the process

[2019-11-26 19:24] schleifenkauz commented on #638
I actually like the approach, which has the lambda expression after the `where` the most, because with this approach the data would not have to be actually stored. The `where` function could be `inline` too, eliminating any performance overhead. The memory and performance improvement may be neglectable although.

[2019-11-27 12:40] schleifenkauz commented on #806
#828

[2019-11-29 08:53] bdalenoord opened #829 "Support IntelliJ IDEA 2019.3"
Issue #821 should add support for IntelliJ IDEA 2019.3, but as it is now publicly available, the plugin no longer works. When reviewing the change for that issue (https://github.com/spekframework/spek/pull/821/commits/48d34b26d2d7e242dfe5dc85da83c0295688cc00) it dawned upon me that only the Azure pipeline for testing that version was added, not for releasing it...

[2019-11-29 08:54] bdalenoord commented on #829
I think the fix would be to add a `ij193` block on line https://github.com/spekframework/spek/blob/2.x/azure-pipelines.yml#L140.

[2019-11-29 08:56] raniejade commented on #829
@bdalenoord you are correct, just the release step is missing. Would you like to send a PR? Otherwise, I'll have time in the weekend do it.

[2019-11-30 15:50] robstoll opened #831 "unexpected IllegalStateException"
don't know when this happened, saw it in the reporting functionality of IDEA:
[code]

[2019-12-01 18:10] sunbladehub commented on #826
Ok. I got it working. The TestCoroutineScope needs to be injected into the tested class and all launch() calls need to utilize that scope. Then the testing framework has full control over the coroutine and delay() calls will auto-advance. See "Providing an explicit TestCoroutineScope" in the kotlin docs linked above.

[2019-12-01 18:10] #826 closed, assigned to nobody

[2019-12-03 07:44] #829 closed, assigned to nobody

[2019-12-03 10:36] robstoll commented on #829
Now the only thing missing is a release I guess or is the plugin waiting for approval from Intellij? Anyhow, I still have the `Incompatible with the current IntelliJ version`

[2019-12-03 11:31] raniejade commented on #829
@robstoll so the merge will trigger a dev build which gets published to the dev channel (which is waiting for JB's approval). I need to do an actual _release_ (2.0.9) to get the plugin into the stable channel.

[2019-12-04 06:38] raniejade commented on #638
@NKb03 the `where` approach won't work unless you switch the ordering (do where first - then the with) as the compiler won't have enough information about what the actual parameter types are.

[2019-12-04 09:52] derkork opened #832 "IDE plugin not compatible with 2019.3"
It would be nice if the IDE plugin also was compatible with the latest version of IntelliJ which is 2019.3.

[2019-12-04 09:54] raniejade commented on #832
It's already fixed - you can use the build in the dev channel for now: https://plugins.jetbrains.com/plugin/10915-spek-framework/versions - I still need to trigger a release for `2.0.9`.

[2019-12-04 09:54] #832 closed, assigned to nobody

[2019-12-10 07:09] matejdro commented on #715
Is there a way to see actual exception that caused the "unexpected quit"?

I've been experiencing this lately with Android Studio where this error happens randomly. Re-running same test (without any code changes) usually works fine afterwards.

[2019-12-10 07:18] #827 closed, assigned to nobody

[2019-12-10 09:31] dnowak-wrldrmt opened #834 "Update Intellij IDEA plugin to support version 2020.1"
Please release updated version of plugin that supports Intellij IDEA ~~2019.3~~  **2020.1**

[2019-12-11 00:46] raniejade commented on #426
I started experimenting with this on #835.

[2019-12-12 07:59] edwinRNDR opened #836 "Spek executes tests off-thread"
I have a number of tests that require to be executed on a known thread (one that has an OpenGL context associated to it). Currently it doesn't seem possible to change Spek's execution behaviour.

[2019-12-12 09:23] raniejade commented on #836
Thanks for the report @edwinRNDR! This looks like related to #805. With #835 (coroutine support), I think you can create your own dispatcher (from a single thread) and use `launch` or `async` for it:

[code]

[2019-12-12 11:53] edwinRNDR commented on #836
I don't think that would solve my problem in cases in which code execution is constrained to take place on the main thread (like LWJGL's window event handling code on macOS). This is indeed similar to #805 but with an additional constraint that code needs to be executed on the main thread.

[2019-12-12 12:19] raniejade commented on #836
The current implementation of #835 runs on the main thread actually but that will change (will probably use `Dispatchers.Default`). Bootstrapping of spek happens on the main thread (gradle and IJ), which gets blocked when the tests are executed (via `runBlocking`). I can probably expose some API (something like `runOnMain { ... } `) that will be run that thread. Implementing it might be possible u

[2019-12-13 09:36] matejdro opened #837 "[IDEA] Spek plugin replaces regular JUnit "run all"actions"
When right clicking on a folder in IntelliJ without Spek plugin installed, JUnit plugin will display normal "Run tests in [folder name]" action.

However, with Spek plugin installed, this action will be REPLACED with "Run speks in [folder name]". Spek action only runs Spek tests and ignores JUnit tests. Thus, there is no way to bulk-run regular JUnit tests apart from creating run configuration man

[2019-12-16 12:28] thsaravana commented on #65
What happened to this? Does Spek to Robolectric integration work?

[2019-12-16 17:54] madorb commented on #592
Would love to see this, i'd love to be able to configure my code coverage to not attempt to check / report test coverage for every class loaded when the app runs :-)

[2019-12-19 00:00] raniejade commented on #837
Weird, I'll have a look when I get back from holidays.

[2019-12-19 00:03] raniejade commented on #65
Looks like it fell out of interest. I'm not an android developer, so I don't know how to implement this properly. Would really appreciate someone doing android development pick this up.

[2019-12-19 12:31] simonobusek opened #838 "Spek executes code from different scenario"
Using Gherkin style of tests. Using plugin in Idea(2019.2) and running Spek with plugin(v. 2.0.9).

When I run Scenario B, some part of code defined in Scenario A is also executed. Anything written between Scenario and 1st step (Given, When, Then), respectively code out of scope of test steps is executed first. Im not sure if this is valid behaviour or should I avoid using any code in this place?

[2019-12-26 18:07] vanniktech commented on #804
Is there any update on iOS support?

[2020-01-10 03:23] raniejade opened #841 "Update android docs to use testImplementation instead of testRuntimeOnly"
See https://github.com/spekframework/spek/issues/474

[2020-01-13 23:08] xian commented on #65
Planning to look at this soon.

[2020-01-19 19:21] ravikumar-n opened #842 "Long term support of Spek framework?"
Dear Maintainers :)

Thank you for the awesome library. I've been using Spek2 for more than few months, I'd like the Scoping features, Specification formats, faster execution time etc.,

In order to push for enterprise-wide usage, Would like to understand your thoughts on Spek framework's LTS & future version plans?

[2020-01-21 09:08] charleskorn commented on #782
Hey @raniejade, are you still working on integrating coroutines? I'm still keen to have a crack at this

[2020-01-21 09:11] raniejade commented on #782
Hey @charleskorn! Yes, you find it at #835. Looks like everything is working, just need to do some testing since it is quite a big change.

[2020-01-21 09:15] charleskorn commented on #782
OK great, I'll keep an eye on that PR then.

[2020-01-24 22:29] raniejade opened #843 "Update azure pipelines build agents"
Azure is dropping support for the build agents we use for the mac and windows build, replace them with newer version.

[2020-01-29 04:19] raniejade opened #844 "Support IntelliJ IDEA 2020.1 EAP"
https://blog.jetbrains.com/idea/2020/01/intellij-idea-2020-1-eap/

[2020-01-31 10:22] StragaSevera opened #845 "Add a "xtest" option to skip the test, similarly to "xit""
There is a useful way to skip a test using Specification stype - just add "x" before the test function and it will be disabled, like "xit" or "xcontext". However, I do not see the way to use this feature when using a default style, with "group" and "test. It would be great to have this!

[2020-02-04 14:48] StragaSevera opened #846 "Cannot set the SPEK_TIMEOUT property for IntelliJ Plugin"
I want to disable timeouts, but for some reason I cannot get it working with the Spek plugin for IntelliJ.
My `build.gradle.kts` has:
[code]
, but it works only if I run the Gradle task for testing, not the IntelliJ plugin. How can I use this system property with the IntelliJ Plugin?

[2020-02-04 21:14] raniejade commented on #846
It's a bit tedious in the plugin atm, you have to set it per run configuration via the `VM options` config.

![Screenshot from 2020-02-05 08-13-03](https://user-images.githubusercontent.com/1041919/73787461-7130c980-47ef-11ea-98e7-00113b84665c.png)

It would be better if we could set it globally via some settings in IJ.

[2020-02-04 21:15] raniejade opened #847 "Allow disabling timeout in IJ globally"
See #846.

[2020-02-05 09:40] cristianrgreco opened #848 "IntelliJ test runner doesn't stop after all tests have executed"
Our project uses Kotlin and Micronaut. We extend Spek to start and stop a server as shown:

[code]

This works as expected. The tests all run with IntelliJ but the runner does not stop when they finish.

If I do not start the server then the tests correctly stop. Debugging the `afterGroup` shows that the server is being stopped. My guess would be that when the tests complete, the Spek runner tries

[2020-02-05 10:26] raniejade commented on #848
I'm pretty sure there was a related ticket about this, I can't find it anymore. The problem here is that the Micronaut embedded server is leaving some non-daemon thread running which stops the jvm from shutting down. JUnit does an explicit System.exit(0) to workaround this, but spek does not. Looks like this is a pretty common problem, so I'm happy to include the hack in spek as well.

[2020-02-05 10:32] raniejade commented on #842
Hey! Sorry for the delay (was busy with some other project).

LTS is something that I have not thought about, not sure if it is worth it. Anyway, the goal for Spek 2 for now is add full multiplatform support. At the moment, you can only write tests for the common and jvm platforms. Kotlin Native part is done but I'm not going to release it until I see a stable compiler plugin api, or just at least

[2020-02-05 10:36] raniejade commented on #845
It's intentional, `group` and `test` should be treated as an internal (low level) API - it's not the *default style*.

[2020-02-05 10:36] #845 closed, assigned to nobody

[2020-02-05 10:45] cristianrgreco commented on #848
Thanks @raniejade !

[2020-02-07 23:53] #806 closed, assigned to nobody

[2020-02-08 00:19] raniejade opened #850 "Migrate CI to use GH actions"

[2020-02-14 08:58] #844 closed, assigned to nobody

[2020-02-14 08:59] raniejade commented on #834
Closed in #851. Will be included in the `2.0.10` release.

[2020-02-14 08:59] #834 closed, assigned to nobody

[2020-02-14 12:43] #841 closed, assigned to nobody

[2020-02-15 18:20] johanneskraem3r opened #854 "Running tests from sample doesnt work"
I'm trying to run the test of the sample by clicking the gutter icons ( like explained [in the docs](https://www.spekframework.org/running/) ), [see image](https://www.spekframework.org/images/gutter_icons.png), and it fails.

This is on Windows, on a newly cloned git repo, without any local changes.
Running the test talk works without any problem.

`

Executing tasks: [:app:generateDebugSources,

[2020-02-15 18:31] johanneskraem3r commented on #854
Changing the kotlin version up to 1.3.61 seems to fix it:

(In from build.gradle ) :

Change :
    ext.kotlin_version = '1.3.20'
to:
    ext.kotlin_version = '1.3.61'

[2020-02-17 07:45] raniejade commented on #854
Nice find, thanks! I'll add this to my todo list.

[2020-02-22 22:39] dsvensson commented on #844
any release soon? or is there some snapshot repo somewhere?

[2020-02-22 23:33] raniejade commented on #844
@dsvensson a build is available in the dev channel https://plugins.jetbrains.com/plugin/10915-spek-framework/versions.

[2020-02-23 01:58] #850 closed, assigned to nobody

[2020-02-23 01:58] raniejade commented on #843
Superseded by #850

[2020-02-23 01:58] #843 closed, assigned to nobody

[2020-02-23 04:31] raniejade commented on #790
`StructuredView` is too tied to the language of a file making it hard to extend. Moving forward, I'll just a new tool window that shows the structure of a spek file. https://www.jetbrains.org/intellij/sdk/docs/user_interface_components/tool_windows.html

[2020-02-23 06:58] #848 closed, assigned to nobody

[2020-02-23 06:58] #798 closed, assigned to nobody

[2020-02-23 07:41] raniejade opened #861 "Evaluate https://github.com/Foso/MpApt for replacing reflection and native compiler plugin"
Generating IR is annoying and it only works on Kotlin Native. I would prefer a common solution that works across the supported platforms (JVM, JS and Native). MpApt looks promising, a few things to consider:

- Can we use kotlin-poet to generate code?
- Gradle and maven integration. On the IDE front we could require building using gradle instead of its built-in compiler infrastructure.
- Generated

[2020-02-23 07:50] #817 closed, assigned to nobody

[2020-02-23 08:05] JWT007 opened #862 "More output in spek-runner-junit5"
Currently when running via Maven with a Spek Test I only see something like the following in the console output (SomeSpek test is in Gherkin style):

    [INFO] -------------------------------------------------------
    [INFO]  T E S T S
    [INFO] -------------------------------------------------------
    [INFO] Running SomeSpek
    [INFO] Tests run: 3, Failures: 0, Errors: 0, Skipped: 0, Time

[2020-02-23 09:34] raniejade commented on #862
Definitely something that can be improved, however at the moment spek relies on the reporting infastructure your build tool provides.

[2020-02-26 09:15] raniejade opened #863 "Support AS 3.6"

[2020-03-02 07:47] #854 closed, assigned to nobody

[2020-03-02 07:47] #863 closed, assigned to nobody

[2020-03-09 15:39] cldfzn opened #867 "Initialization is very slow"
Currently using Spek for a smaller project with only ~2000 tests (800 actual tests) and it takes about 20-25 seconds between gradle switching to the test task and any tests being discovered and executed. Is this expected?

[2020-03-09 19:30] cldfzn commented on #867
Just noticed the duplicate with a different name.

[2020-03-09 19:30] #867 closed, assigned to nobody

[2020-03-10 20:55] xian commented on #65
Underway here: https://github.com/robolectric/robolectric/pull/5520

[2020-03-13 08:02] #426 closed, assigned to nobody

[2020-03-13 08:02] raniejade commented on #782
@charleskorn fyi, #835 is now merged!

[2020-03-15 19:21] guliash commented on #778
This should be resolved in Android Studio 4.0.

[2020-03-16 12:03] technoir42 commented on #715
@matejdro did you figure out how to debug "Test framework quit unexpectedly"?
I'm getting that error repeatedly with Spek 2.0.10 and AGP 3.6.1 but can't find any logs.

[2020-03-16 12:06] matejdro commented on #715
Sorry, I did not.

[2020-03-18 17:09] technoir42 commented on #715
In our case `Test framework quit unexpectedly` was caused by Spek's incompatibility with a newer version of Classgraph which came with KotlinFixture. We had 4.8.58 instead of 4.8.37.

[2020-03-21 23:05] assaflei opened #870 "Extension function wrap"
Is there an option to add function similar to wrap function found at v1?
Source: spek/spek-api/src/main/kotlin/org/jetbrains/spek/api/Spek.kt

Thanks

[2020-03-22 04:56] raniejade commented on #861
I was hoping that annotations, i.e if I place an annotation to the spek class - it will be visible on the subclasses. Unfortunately, that is not possible as there's no `@Inherited` annotation in kotlin`.

[code]

Going this route means all subclasses need to be annotated with a custom annotation which means another useless ceremony added.

[2020-03-22 04:56] #861 closed, assigned to nobody

[2020-03-22 05:28] raniejade commented on #870
@assaflei can you give an example?

[2020-03-22 20:20] assaflei commented on #870
I'm contributing to a project where there is a class implemented as shown below

[code]
It receives a block of code containing describeFun functions as parameter

In the new version of spek I use it like this:
[code]

[2020-03-23 03:53] vincentsong commented on #816
Hi @matejdro , is there instructions or tutorial about how to setup spek for android instrumented test?

[2020-03-23 04:59] matejdro commented on #816
You just [Set up JUnit5 instrumentation tests](https://github.com/mannodermaus/android-junit5/wiki/Instrumentation-Tests-Setup) and then include spek dependecy normally.

[2020-03-23 05:10] vincentsong commented on #816
thank you for the information, but after I setup it, I always got the error : Test framework quit unexpectedly

[2020-03-23 05:12] matejdro commented on #816
Sorry, I have no idea why this happen. It might be related to this issue: https://github.com/spekframework/spek/issues/715

[2020-03-28 05:51] raniejade opened #871 "Replace IrExtension with CollectAdditionalSourcesExtension"
A few notes:
- use `PsiFileFactory` to create an `KtFile` from text, not sure if this needs to be persisted to disk in-order for compilation to work.
- the idea here is to traverse the Psi hierarchy starting from a `KtFile` and look for spek classes. Once all are collected we generate a class file which is included in the compilation.

[2020-03-29 07:32] yoghurt1131 opened #872 "Add comment in maven example"
In. [Setting up for JVM](https://github.com/spekframework/spek/blob/de012e9392352fbd0ed507f290d9fa1e46cda966/docs/setup-jvm.md) documentation,  I'd like to add a comment in maven example like gradle one. ( I guess `kotlin-reflect` is often used in compile scope. )

[code]

[2020-03-30 21:20] danielgomezrico opened #873 "After creating an extension function for it the Spek Plugin crash and does not let you run tests"
Hi

My use case was that I have some common behaviour in all of my views in the app, so I wanted to reuse an `it` that checks for the same thing over those.

1. Created a `Suite` extension that creates an it normally, this extension receives a builder function to avoid calling the instance in the wrong memoized context.

2. Use it everywhere.

But when I use it in the test I get a crash from andro

[2020-03-31 19:15] danielgomezrico commented on #873
How can I reuse a check? or it is a try to over-engineer the tests?

[2020-03-31 22:45] raniejade commented on #873
Definitely a bug with the idea plugin, thanks for reporting! I guess for now, just re-use the check. Although you can re-use some parts of it:

[code]

Then call `verifyProgressBarShowing` in the duplicated `it`s.

[2020-04-01 02:36] danielgomezrico commented on #873
@raniejade got it, thanks

[2020-04-08 02:42] danielgomezrico opened #874 "Slow keyboard response on IDE after having a big Spek file"
# Dependencies
- spek_version: `2.1.0-alpha.0.14+a763c30` or `2.0.10`
- spek plugin: `2.0.10-Studio3.6`
- android studio `3.6.2`

# Description
When you have a big spek file (like 1000 lines) the IDE starts showing keyboard input *ultra slow*:

**It happens even if you dont have the spek plugin enabled.**

![2020-04-07 21 30 44](https://user-images.githubusercontent.com/76348/78738805-5fb38d00-791

[2020-04-08 02:58] danielgomezrico commented on #874
Looks like it is not related to spek but to android studio or intellij.

[2020-04-08 02:58] #874 closed, assigned to nobody

[2020-04-08 03:29] danielgomezrico commented on #232
I did it fine on gradle and android with:

[code]

and:
[code]

[2020-04-08 12:08] ssputay opened #875 "How to use Android Instrumentation with Spek?"
I'm getting the following error: `No instrumentation registered! Must run under a registering instrumentation.` when running this test:
[code]

[2020-04-08 14:33] danielgomezrico opened #876 "Output in terminal does not contain all the test context"
Hi

Im loving this tool, and I think there's a place to improve the output console.
Im using this to test my MVP presenters, and for that I use:
- `describe` as the main group
- `beforeGroup` as the point where I activate the method, do mocks, or others.
- `it` as the check that I want to assert.

Im not sure if this is not the proper use of Spek, I ended up doing that because of `memoized` and to

[2020-04-09 01:54] FrozenSync opened #877 "Using value in `Root.setup()` in a fixture"
Let there be a setup and a fixture

[code]
I understand you need `by memoized { ... }` to access values in `Root.setup()`, but that doesn't seem to be possible inside fixtures. Is this a limitation or should it be approached differently?

[2020-04-11 06:43] raniejade opened #878 "Move docs to readthedocs"
With readthedocs we can version our docs.

[2020-04-15 09:18] manuelprinz commented on #715
I also am affected by that. Any hints on how I can debug it?

It also seems to be a problem with the IntelliJ IDEA integration, as it runs fine when I call Gradle from the command line.

I am using Kotlin 1.3.70, Spek 2.0.10, IntelliJ IDEA 2019.3.4, Spek Framework Plugin 2.0.10-IJ2019.3, Gradle 6.2.2 and Java 11.0.6 (Azul Zulu 11.37+17-CA).

[2020-04-15 09:22] raniejade commented on #715
@manuelprinz I guess the quickest way to debug is building the plugin from source and making a change here: https://github.com/spekframework/spek/blob/2.x/spek-ide-plugin-interop-jvm/src/main/kotlin/org/spekframework/ide/console.kt#L14. Just wrap the whole method into a try-catch block, then printing the stacktrace.

[2020-04-15 09:28] raniejade commented on #877
This because `obj` is created using `CachingMode.TEST` by default, which is not accessible in `beforeEachScenario` (this equivalent to `beforeEachGroup`). So `obj` is only accessible in `{before|after}EachTest` and in the test scopes (Given, Then, etc...). A fix for you use it to specify the caching mode of `obj`.

[code]

[2020-04-15 09:28] raniejade commented on #877
I'm also sorry for the delayed reply @FrozenSync!

[2020-04-15 17:26] FrozenSync commented on #877
No worries. :) Thanks for taking your time to answer! It makes sense now.

[2020-04-19 01:10] raniejade commented on #877
Closing as answered :)

[2020-04-19 01:10] #877 closed, assigned to nobody

[2020-04-19 01:15] raniejade opened #879 "Disable timeouts by default"
The default timeout is set to 10 seconds which can be problematic when you are debugging your tests (causing your test to fail due to timeout). Most tests will run in less than that so there's no point of enforcing it, let's leave it up to the user if they want a timeout or not.

Note: Needs to be :cherries: :pick:  to `2.1.0` branch.

[2020-04-19 01:17] raniejade opened #880 "Add more logging when there is an internal error"
Related to #715

Note: Needs to be :cherries: :pick: to `2.1.0` branch.

[2020-04-19 01:18] raniejade commented on #871
Not doable, external symbols not available at that point.

[2020-04-19 01:18] #871 closed, assigned to nobody

[2020-04-19 01:20] raniejade commented on #838
@simonobusek Sorry for the delayed reply! This is expected please read https://www.spekframework.org/core-concepts/

[2020-04-19 01:20] #838 closed, assigned to nobody

[2020-04-19 01:21] raniejade commented on #846
Closing in favor of #847. Also I'm disabling timeouts by default in #879.

[2020-04-19 01:21] #846 closed, assigned to nobody

[2020-04-19 01:57] raniejade opened #881 "Ensure that tests are run on the main thread"
A lot of frameworks rely on certain actions running in the main thread, making that not the default is counter intuitive and most tests not relying on said frameworks does not care which thread it will run so making it the default won't hurt.

`main` here means the thread where the `SpekRuntime.execute` is invoked. In most cases this will be your main thread.

Notes:
	- Discovery may be run in par

[2020-04-22 11:22] raniejade commented on #880
Resolved by #884

[2020-04-22 11:22] #880 closed, assigned to nobody

[2020-04-22 11:23] raniejade commented on #879
Resolved by #882

[2020-04-22 11:23] #879 closed, assigned to nobody

[2020-04-22 11:32] raniejade commented on #881
Rescheduling for `2.1.0` as the changes I need can't be backported from `2.1.0` to `2.0.x`.

[2020-04-23 17:04] danielgomezrico commented on #876
Duplicates https://github.com/spekframework/spek/issues/639

[2020-04-23 17:04] #876 closed, assigned to nobody

[2020-04-25 06:03] #881 closed, assigned to nobody

[2020-04-28 22:12] asubb commented on #847
As a manual but one-time fix is to populate `-DSPEK_TIMEOUT=0` in the VM Options field of the Spek2 configuration template (i.e. `Run/Debug Configurations > Templates > Spek 2 - JVM`) . That'll work for every new run/debug configuration.

Btw the exception is very misleading, I spent whole day thinking my code failing so weirdly as it also uses coroutines. It fails in some separate thread without

[2020-04-29 03:20] raniejade commented on #847
Thanks for the report @asubb, in the next patch release timeouts are now disabled by default. With regards with the stacktrace, I can't think of a way to fix it at the moment - do you have any suggestions?

[2020-04-29 23:21] asubb commented on #847
Honestly didn't look into code. Though may tell that this timeout works quite interesting. It wasn't interrupting the execution of my code, but instead was failing just when my code has finished successfully, as it took longer than container expected.

And of course I didn't expect my code would be launched in something different from main thread.

As from my past experience, I've tried using time

[2020-04-30 04:47] raniejade commented on #847
I'll probably wrap the exception into something more meaningful, i.e in the exception message include which test failed.

[2020-05-11 22:25] ferhat-taslicukur commented on #81
+1

[2020-05-29 15:08] jffiorillo commented on #50
hi guys, I'm looking for the function used in the sample but seems like the sample is based on spek version `1.1.0-beta3` and the current version is `2.0.10`, a lot of things has changed there.

[2020-05-30 00:58] raniejade commented on #50
@jffiorillo I think you can still salvage the POC and re-use it (with some modifications) in Spek 2.x. [LifecycleListener](https://github.com/spekframework/spek/blob/2.x/spek-dsl/src/commonMain/kotlin/org/spekframework/spek2/lifecycle/LifecycleListener.kt) is still present in 2.x.

[2020-05-30 01:12] raniejade commented on #873
Moving this to `2.1.0`, as I'm planning a revisit and a big refactor to the IJ plugin.

[2020-05-31 01:54] neelkamath commented on #874
If someone seeing this issue still has this problem, it's because of the class constructor containing a large lambda. Simply [moving the lambda](https://youtrack.jetbrains.com/issue/KT-13474#focus=streamItem-27-1573280.0-0) outside the constructor solves the issue.

[2020-06-02 12:26] jffiorillo commented on #50
@raniejade  thank you for you answer but I found the following issues when attempting to migrate your example to spek2:

1. The `registerListener(this)` in [Spec](https://github.com/spekframework/spek/blob/1.x/spek-api/src/main/kotlin/org/jetbrains/spek/api/dsl/Spec.kt#L12) doesn't exist anymore in the [Spek](https://github.com/spekframework/spek/blob/2.x/spek-dsl/src/commonMain/kotlin/org/spekfra

[2020-06-02 13:04] raniejade commented on #50
`Root` could work, or just use `GroupBody` which `Root` inherits from. Also a hint, `GroupBody` implements `LifecycleAware` :)

[2020-06-02 13:36] teoboonkeat opened #886 "Test fails with RuntimeException Stub!"
We were writing test that references some android classes, custom views that extend from the Views class.
[code]

Android Studio 3.6.2 and Spek 2 was working, the plugin info:
2.0.10-Studio3.6 - ok
2.0.11-Studio3.6 - ok
2.0.11-IJ2019.2 - exception, not working (it was listed as compatible, is it actually not?)

Android Studio 4.0 both available plugins are not working and throws the same exception

[2020-06-03 23:40] danielgomezrico opened #887 "Android Studio 4 and mockito-android Crash"
# Env
Using:
- Spek "2.0.10" and "2.0.11".
- Spek plugin: "2.0.11-IJ2019.3".
- mockito 3.3.3:
    * `androidTestImplementation "org.mockito:mockito-android:$mockito"`
    * `testImplementation "org.mockito:mockito-core:$mockito"`

- Android Studio 4.0
- kotlin 1.3.72.

# Description

Having `androidTestImplementation "org.mockito:mockito-android:$mockito"` in gradle causes the unit test (which is

[2020-06-03 23:41] danielgomezrico commented on #887
Im not sure if this is a bug related to spek itself or to mockito https://github.com/mockito/mockito/issues/1944.

[2020-06-04 09:00] raniejade commented on #887
I can't say from the stacktrace if spek is causing it, probably wait for someone in the mockito team to comment at https://github.com/mockito/mockito/issues/1944.

[2020-06-04 09:02] raniejade commented on #886
I'll provide a build for AS 4.0, hopefully it's not a big change plugin wise. Btw, does running in the CLI (gradle) yield the same result?

[2020-06-04 09:11] raniejade opened #888 "Support AS 4.0"

[2020-06-04 09:13] raniejade commented on #847
Another improvement here is disabling timeouts when running a debugging a test in intellij. I think it is doable with JVM but I'm not sure how to implement it in other platforms.

[2020-06-04 11:37] dariuszseweryn commented on #886
It seems that CLI `./gradlew testAppDebug` works just fine for me. I get the above mentioned exception if run via IDE.
I am using `Android Studio 3.6.3`

[2020-06-04 11:56] raniejade commented on #886
Okay, can you share a sample project? I'll do a build for AS 4 and see if it works.

[2020-06-04 13:00] dariuszseweryn commented on #886
[Here you go](https://github.com/dariuszseweryn/SpekKaboomExample)

[2020-06-04 14:51] danielgomezrico commented on #887
Yeah, Im not sure, the weird thing is that it only crashes when I run an `spek` test from android studio.

They runs fine if :
- I run them from the terminal with: `./gradlew testDebugUnitTest`
- I run another test that does not involve spek from android studio.

That's what makes me think that maybe comes from spek somehow.

[2020-06-06 02:05] raniejade commented on #886
Attached is a 4.0 build, can you guys try it out? Forgot to mention, anything without the `-StudioX.Y` suffix is not compatible with android studio. Plugins for AS has some special handling to stub out `android.jar`.

[2.0.12-alpha.0.0+20200606T014723Z-Studio4.0.zip](https://github.com/spekframework/spek/files/4739194/2.0.12-alpha.0.0%2B20200606T014723Z-Studio4.0.zip)

[2020-06-06 16:40] dariuszseweryn commented on #886
This was it. My Android Studio automatically updated to -IJXXXX version of the plugin. When manually installed 2.0.11-Studio3.6 it works just fine.

I wonder if it is possible to prevent this situation in the future.

[2020-06-07 00:53] raniejade commented on #886
One way to do it is to make version compat of the IJ plugin to be more specific. At the moment, version is just from `193.1` until `193.*` which is "compatible" with android studio (but not really). I could change it to`193.WXYZ.1` until`193.WXYZ.*` which should make it more specific to a particular build of IJ. The problem is `WXYZ` can vary between releases (even minor ones IIRC) which makes mai

[2020-06-08 23:51] teoboonkeat commented on #886
This fix works! thanks a lot.

[2020-06-08 23:58] teoboonkeat commented on #886
Ahh.. thanks for the clarification. Probably for now the studio suffix is required I guess.

[2020-06-09 10:36] dariuszseweryn commented on #886
This or using the plugin can be hectic around automatic updates. Maybe there is another way but I am no expert in how IntelliJ/AS handle plugin versioning.

[2020-06-09 10:54] raniejade commented on #886
@dariuszseweryn not really, this problem only happens when a major version of AS (which happens twice a year?) is released and I haven't prepared a proper build for it (hence why it's pulling the IJ build of the plugin). Compared to having to publish a new build every time AS and IJ updates (even with patch releases).

[2020-06-09 11:55] dariuszseweryn commented on #886
Does it change anything that I still use AS 3.6.3 (did not updated to 4.0) there apparently is plugin version for `-Studio3.6` but I got upgraded to `-IJ` anyway?

[2020-06-09 12:26] raniejade commented on #886
That is indeed weird, if that's the case the only thing I can think of that can cause it is internal build number (`WXYZ` from before) has changed in `3.6.3`.

[2020-06-09 12:31] dariuszseweryn commented on #886
[code]

[2020-06-11 13:27] snijsure commented on #886
@raniejade I was having similar failures in our unit test after updating Spek plugin to .0.12-alpha.0.0+20200606T014723Z-Studio4.0.zip all those problems are fixed.

Is there any ETA when this plugin will get pushed to official plugin.

Thanks for the fix @raniejade

[2020-06-11 13:31] raniejade commented on #886
@snijsure most likely in two weeks time, I'm moving at the moment so I really don't have time to publish a release.

[2020-06-11 20:38] dnowak opened #889 "Support for Intellij IDEA 2020.2"
Hi,

Could you, please, release version for IDEA 2020.2?

Or please tell me how I can do it myself. I assume that it requires just a simple change of supported IDE versions.

BR,
Darek

[2020-06-12 23:08] danielgomezrico commented on #887
After updating the Android Build Tools to version 30 mockito does not crash anymore.

To be honest I don't understand why that fixed it.

[2020-06-12 23:08] #887 closed, assigned to nobody

[2020-06-22 02:42] corlaez opened #890 "Documentation for gradle kotlin dsl"
I had troubles configuring with gradle kotlin dsl. I had to read a bunch of docs to solve it.

Ideally I would like to have the kotlin version in the docs.
Also specify that gradle 6.5 will also work (it is not entirely clear right now, in my opinion)

[2020-06-22 03:03] corlaez commented on #890
This is the gradle kotlin dsl config:
[code]

[2020-06-22 03:44] corlaez commented on #862
I would also love to see an improvement on console output as it seems only the IDE is able to show the describe context information
[code]
`./gradlew test` Results in:
[code]
As you can see the "A calculator" and "addition" information are not shown.

[2020-06-22 03:52] corlaez commented on #825
Maybe not the same thing but you could grep those with something like: `Feature\(|Scenario\(|When\(|Then\(`:
[code]

[2020-06-22 07:19] raniejade commented on #890
Thanks for the report! Documentation is indeed dated, I haven't touched it in a while now.

[2020-06-26 09:54] Misoder opened #892 "High CPU when writing tests using Spek in IntelliJ IDEA Ultimate"
I'm currently on IntelliJ IDEA 2020.1.2 (Ultimate Edition) Build #IU-201.7846.76 (although the problem has been present on earlier versions) and Spek 2.0.9. OS is macOS 10.15.5 Catalina.

When writing Spek tests there's a high CPU load up to the point where it's almost unbearable. Auto completion and code inspection takes several seconds. This is not an issue when writing code elsewhere. Looking a

[2020-06-26 10:56] raniejade commented on #892
Thanks for the report @Misoder, have you tried invalidating the cache? Also can you provide a sample project that can replicate the issue?

[2020-06-27 04:31] raniejade commented on #890
Resolved by #891

[2020-06-27 04:31] #890 closed, assigned to nobody

[2020-06-29 07:08] ssp opened #899 "CancellationExceptions cancel tests successfully rather than failing them"
A `CancellationException` being thrown in in the tested code does not result in a failing test.

In particular this means that tests running into timeouts with Kotlin’s `withTimeout() {}` will succeed as this throws a `TimeoutCancellationException`.

To  me that is unexpected and led to tests which had broken succeeding nonetheless.

Example:
[code]

[2020-06-29 11:11] raniejade commented on #899
Thanks for the report @ssp! Nothing I can do at the moment but wait until the coroutine support is added (which is coming in 2.1 - no release dates yet as the release is blocked by a problem with kotlin compiler plugins).

[2020-07-01 21:49] asubb opened #900 "Before/After Each Group is called twice"
Version: 2.0.11
Plugin version: 2.0.11-IJ2020.1

I'm running the test suite in IDEA via plugin.

The snippet:

[code]

Outputs in the console:
[code]

Running via gradle produces the same result:
[code]

Before/After each group is called twice, though expected to run only once. What I'm trying to achieve is to perform some action before and after the set of checks and overall it works as expected

[2020-07-02 11:30] raniejade commented on #900
`beforeEachGroup` and `afterEachGroup` will run in the `group` they are declared in and for every child of said group. It has been this way since the beginning, so we can't just change it. But I do agree with you, it is a bit weird.

[2020-07-05 03:03] raniejade commented on #889
Resolved by #897

[2020-07-05 03:03] #889 closed, assigned to nobody

[2020-07-05 03:03] raniejade commented on #888
Resolved by #893

[2020-07-05 03:03] #888 closed, assigned to nobody

[2020-07-06 14:42] asubb commented on #900
Got it. That makes sense.

Is it worth to consider passing a flag or something to a call to be able to achieve desired behavior? I.e.

[code]

It looks ugly overall, but at this point I can't come up with any workaround or approach outside of the framework that would allow to do it.

[2020-07-14 08:35] dimkinware opened #902 "Don't see success results in Android Studio"
Don't see success results in Run window in Android Studio
[see screenshot when tests are success](https://prnt.sc/thexo3)

And everything ok when tests are failed
[see screenshot when tests are failed](https://prnt.sc/theyfe)

Android Studio 4.0

[2020-07-15 08:42] raniejade commented on #902
You have to click on the :white_check_mark: icon right next to the green play icon.

[2020-07-15 08:42] #902 closed, assigned to nobody

[2020-07-19 19:04] jordigarcl commented on #519
I'm experiencing this exact issue with Spek 2.0.10 and Gradle 6.4. How come? Doesn't matter if I configure IDEA to run tests using Gradle or IDEA.

[code]

[2020-07-30 09:41] arturbosch commented on #782
Hello @raniejade ,

we recently splitted some of our code to new modules to reduce incremental build and test time.
However we noticed some increase in test discovery since then.
It gets even worse when using `--parallel`. Modules with ~10 tests take 20 seconds to be discovered (https://github.com/detekt/detekt/issues/2902).
In some modules (rules) we have some heavy setup code but in others the t

[2020-07-30 10:04] raniejade commented on #782
@arturbosch Thanks for the report! I suspect this line https://github.com/spekframework/spek/blob/60c14fedfb85bfad2e2405406309385cc912f1b8/spek-runtime/src/jvmMain/kotlin/org/spekframework/spek2/runtime/JvmDiscoveryContextFactory.kt#L48 is causing the whole classpath to be scanned. I'll try making the scan asynchronous https://github.com/spekframework/spek/blob/60c14fedfb85bfad2e2405406309385cc912

[2020-07-30 10:33] arturbosch commented on #782
Thanks for the quick reply and the ongoing effort! It will help a lot.
Would it be possible to restrict the scanning to some user defined packages?
This could potentially also improve the performance.

[2020-07-30 10:42] raniejade commented on #782
I can look at that, but I don't think Gradle's implementation of JUnit 5 support is able to pass that info: https://github.com/gradle/gradle/blob/a9f9b343a3ebfa34534d8245908a1f5702271ac9/subprojects/testing-junit-platform/src/main/java/org/gradle/api/internal/tasks/testing/junitplatform/JUnitPlatformTestClassProcessor.java#L117

From what I can see, if you set a test filter in gradle - gradle itse

[2020-08-06 08:36] raniejade opened #910 "Document new jvm properties"
1. `spek2.execution.test.timeout` - replaces `SPEK2_TIMEOUT`.
2. `spek2.discovery.parallel.enabled` - controls whether discovery is done in parallel or not, by default it is sequential.
3. `spek2.execution.parallel.enabled` - controls whether execution is done in parallel or not, by default it is sequential.

[2020-08-18 10:59] arturbosch commented on #892
@Misoder @raniejade this may not be spek but Kotlin itself.
I've experienced the same with large files (1k+ code) and heavy usage of lambdas, lambdas with receivers and when expressions.
Spek's nature is to use many lambdas. How large are your files?

[2020-08-25 10:59] R4md4c commented on #519
I'm facing the same problem as well, using Gradle 6.6 and Spek 2.0.12, along with Android Studio 4.0.1
I'd suggest to reopen this issue.

[2020-08-25 11:12] raniejade commented on #519
@R4md4c can you file in a new issue? Also, please include a reproducer.

[2020-08-25 11:44] R4md4c opened #916 "Spek tests are executed along regular JUnit 5 tests"
If I try to run a single regular JUnit5 test from the IDE (Android Studio 4.0.1), I find that all the Spek tests are executed along the regular one.  I've included a test project as a zip file.

Just perform a run from IDE on the `CaculatorJUnitTest` and you should see something similar to the screenshot below.

[SpekIssueReproducer.zip](https://github.com/spekframework/spek/files/5123497/SpekIssu

[2020-08-25 12:11] R4md4c commented on #916
Also when running tests from gradle I notice that Spek and JUnit5 are both running, even-though I specified the `--tests` to run just the JUnit one.

[code]

EDIT: I had to add `junit-jupiter` to the list of engines included to make `gradlew test` detect the JUnit test class.

[2020-08-27 19:33] danielgomezrico opened #918 "[Feature Request] Structure dialog contents"
It will be cool to allow that intellij understands the spek files and prints the structure in the structure tree.

I show here that it does not print anything:

![image](https://user-images.githubusercontent.com/76348/91486568-14bbf700-e872-11ea-99b3-7bf5a30cc1be.png)

I found this interesenting when you have multiple tests and to give a broad view on it, it works like that on intelli and flutter

[2020-09-01 09:28] jGleitz commented on #95
I created `spek-testfiles`, an extension that handles test files and directories. I think it fits this use case well as far as cleaning up the file system is concerned. If you create a directory with it, it will be cleaned up automatically.

[code]

By default, the directory will be retained if the test fails, but you can also choose different deletion modes.

[2020-09-13 06:29] charleskorn opened #922 "Add option to disable "Spek discovery completed in X ms" (or just remove it entirely)"
After upgrading to 2.0.13, I'm getting messages like these in Gradle's output when running tests:

[code]

These aren't interesting to me and are just noise, and there doesn't appear to be any way to turn them off.

The source appears to be: https://github.com/spekframework/spek/blob/2.0.13/spek-runtime/src/commonMain/kotlin/org/spekframework/spek2/runtime/SpekRuntime.kt#L62

[2020-09-13 06:30] charleskorn commented on #892
I've seen similar things @arturbosch - have you opened an issue with JetBrains? Seems like it might be an issue in the IDE or compiler like you suggest.

[2020-09-13 07:04] raniejade commented on #922
I think I'll add in an option to disable the log line - it's useful for debugging slowness in the discovery phase.

[2020-09-13 19:34] arturbosch commented on #892
@charleskorn I haven't but I saw a lot of similar performance issues last time I checked in 2019.
Hopefully the new compiler frontend (FIR) will resolve these issues.

[2020-09-14 08:36] svenjacobs opened #923 "Many tests suddenly fail with Spek 2.0.13"
Starting with Spek 2.0.13 suddenly many tests fail that have not been changed in any way. Just Spek was updated.
The error messages are something like:

[code]

[MockK](https://github.com/mockk/mockk) version 1.10.0. This is the same MockK version that was used with Spek 2.0.12 where tests still work.

[2020-09-14 09:15] raniejade commented on #923
Thanks for the report @svenjacobs. Are you able to provide a reproducer? My guess is that mockk doesn't play well with coroutines.

[2020-09-14 09:36] svenjacobs commented on #923
Did something change between 2.0.12 and 2.0.13 regarding coroutines? The [release](https://github.com/spekframework/spek/releases/tag/2.0.13) doesn't mention any major change...

MockK and coroutines work fine with 2.0.12. Tests have not been changed.

[2020-09-14 09:47] raniejade commented on #923
I think one change is that, discovery is now done within a coroutine to support asynchronous discovery: https://github.com/spekframework/spek/blob/2.0.x/spek-runtime/src/commonMain/kotlin/org/spekframework/spek2/runtime/SpekRuntime.kt#L48. But it is turned off by default, a coroutine is started but it is effectively single threaded and using the same thread as before (in 2.0.12).

Can you give me

[2020-09-14 10:13] svenjacobs commented on #923
Here's a simple test that fails. The problematic line is 19 (`coEvery`):

[code]

Spek 2.0.13
[MockK](https://github.com/mockk/mockk) 1.10.0
[Kluent](https://github.com/MarkusAmshove/Kluent) 1.61