[2017-09-12 13:07] raniejade commented on #256
Can you try using `1.0.0-RC2` on you're repo you are still using RC1?

[2017-09-12 13:12] raniejade commented on #256
Can you check your dependencies? Let me know if you're pulling in JUnit Platform `1.0.0`. Haven't tested that release yet and it may introduced some breaking changes to the API.

[2017-09-12 13:36] aurae commented on #256
Also, if you're using android-junit5 with Android Studio, please make sure to add the embedded runtime for JUnit 5 as another compile-only dependency to your build script. You can check my readme for more details on this, but basically AS didn't keep up with the changing API of the JUnit milestone releases, and is still stuck with an older (and now, incompatible) bundled version.

[2017-09-13 09:45] timrijckaert commented on #256
I have updated the JUnit Platform dependency to `1.0.0` still no success.

[2017-09-14 07:01] artem-zinnatullin commented on #241
I'd keep 2 as well, lots of people don't understand what RxJava version belongs to `rx.` and what version belongs to `io.reactivex.`, I don't same problem for Spek.

@ming13 I understand your desire to make everything as short and beautiful as possible, but sometimes explicitness is more pragmatic :)

[2017-09-14 15:35] paulinabls commented on #256
@timrijckaert https://github.com/paulinabls/hangman here you can find a working config for AS 3.0 Preview and Spek v 1.1.2 . I couldn't make it work with Spek v 1.1.4.  See `app` module in given repo for android kotlin project. Module `sumbodule` contains tests that can be run with Spek plugin.

[2017-09-14 17:59] ddubson opened #262 "JUnit Platform Runner 1.0.0 does not work with Spek v1.1.4"
The latest release of JUnit Platform Runner `1.0.0` does not seem to work with Spek 1.1.4, throwing the following error:

[code]

However, JUnit platform runner `1.0.0-RC3` works just fine.

[2017-09-14 20:00] artem-zinnatullin commented on #262
Should be fixed by #260, please wait for new release :)

[2017-09-14 21:57] aurae commented on #256
@timrijckaert Interesting that adding the runtime doesn't seem to be working for you. In the android-junit5 example project, I can fix or break unit test execution in AS 3.0 just by commenting out the `testCompileOnly` dependency on `android-junit5-embedded-runtime`…

[2017-09-16 14:10] aurae commented on #256
I've found another thing that might be causing your issue, and it's related to how the artifact was published to jcenter. Can you try pulling in the `android-junit5` dependencies directly from my Bintray by putting the following repository above your `jcenter()` in the build script:

[code]

If that's actually the fix, I'll prepare a hotfix for jcenter.

[2017-09-16 18:42] ming13 commented on #246
I’m probably too late, but it would be nice to append a space symbol by Spek itself. I. e. not `prefix = "describe "`, but `prefix = "describe"`. Does it make sense?

[2017-09-16 23:05] timrijckaert commented on #256
Does not seem to do anything.
It would be just nice if somebody could share a working setup of this.
Just the simplest Android project.

[2017-09-17 05:23] raniejade commented on #246
Well, I don't mind either way. Since @artem-zinnatullin brought up the same concern, I'm fine changing it.

[2017-09-17 05:25] raniejade commented on #256
Very sorry, haven't look at this any further yet. My local android dev environment is broken and I haven't find time yet to fix it.

[2017-09-18 07:25] volodymyrprokopyuk opened #263 "Spek does not discover all spek tests"
Hi,

In my project at https://github.com/volodymyrprokopyuk/kotlin-fp I've 19 spek unit tests. Only 15 tests are discovered and executed. The remaining 4 tests are not discovered for unknown to me reason. All the tests follow the same pattern and have the same structure and I don't see any difference that could be the reason for not discovering and executing the tests.

I'm using Spek 1.1.4 and JU

[2017-09-18 21:21] jamesbassett commented on #262
Great to see this has been fixed already :) Any ETA on the release?

[2017-09-19 18:09] fgaule commented on #262
+1

[2017-09-21 12:50] raniejade commented on #262
Sorry for the delays, doing the release now. `1.1.5` will be available in bintray and central in a couple of hours.

[2017-09-21 12:50] #262 closed

[2017-09-21 12:54] raniejade commented on #263
Hey sorry for the delay, been busy with some personal stuff. Looks like you removed spek from your project, if you still need some help just let me know.

[2017-09-21 12:54] #263 closed

[2017-09-21 12:54] raniejade commented on #258
I answered your question in SO, closing this as it's not an issue w/ Spek.

[2017-09-21 12:54] #258 closed

[2017-09-21 12:56] #245 closed

[2017-09-21 12:56] #241 closed

[2017-09-21 12:56] #242 closed

[2017-09-21 12:56] #238 closed

[2017-09-21 12:57] #237 closed

[2017-09-21 12:57] #236 closed

[2017-09-21 12:58] raniejade commented on #246
This is done in `2.x`, will make another PR for the changes.

[2017-09-21 12:58] #246 closed

[2017-09-21 12:59] raniejade commented on #179
Fixed in `2.x`.

[2017-09-21 12:59] #179 closed

[2017-09-21 13:06] jamesbassett commented on #262
Awesome, thanks!

[2017-09-21 13:36] volodymyrprokopyuk commented on #263
Thank you for your attention and reply! But I had to move forward so I switched to JUnit 5

[2017-09-21 15:08] volkdown opened #265 "Not run methods beforeEachTest and afterEachTest"
I'm trying to write a test. But I'm very confused. In accordance with the code, the presenter must be initialized in method beforeEachTest. And the condition must be cleared in method afterEachTest. But when I run the test, it failed an error NPE in line mPresenter!!.setPass(PASSWORD, PASSWORD). But if you uncomment the two lines in front of it, then the test will succeed. What could be the proble

[2017-09-21 15:54] raniejade commented on #265
As mentioned in the docs, Spek will eagerly any code within a group (`given`, `describe`, `context`). For your case you could use an action scope (`on`):

[code]

[2017-09-21 15:54] #265 closed

[2017-09-22 01:28] jamesbassett commented on #262
Yay it works :) Will 1.1.5 be available via jcenter/central given that it's an [EAP release](http://spekframework.org/downloads)? At the moment I have to add the jetbrains repo. If it's not, when's the next normal release?

[2017-09-22 15:44] fgaule commented on #262
+1

[2017-09-26 08:30] raniejade commented on #256
@timrijckaert  can you add this to `app/build.gradle`?

[code]

Apparently android and kotlin has their own output directory, when running from AS compiled kotlin and android outputs are not consolidated hence the `ClassNotFoundException`. Tested it with Gradle 4.2 and Android Studio 3.0 Beta 6.

[2017-09-26 09:14] raniejade commented on #256
Let's see if AS 3.0 Beta 7 fixes this https://issuetracker.google.com/issues/64804587.

[2017-09-26 11:20] raniejade opened #266 "Setup CI checks for every PRs"

[2017-09-26 11:29] raniejade opened #267 "Provide Gradle plugin for JVM-based projects"
The idea here is to provide a faster way to setup spek and hide complications of setting up JUnit Platform.

[code]

Multiple Source Sets
---------------------------
The plugin should support multiple source sets but also provide a sensible default.

[code]

Managed Spek dependencies
----------------------------------------
No need to manually specify a dependency to spek, just apply the plugin an

[2017-09-26 11:30] raniejade opened #268 "Provide Gradle plugin for Android-based projects"
See #267

[code]

[2017-09-26 11:41] raniejade opened #269 "Provide Maven plugin for JVM based projects"
See #267.

[2017-09-26 22:48] timrijckaert commented on #256
I had already added this albeit in another form.

[code]

Could you setup a test **Android** project with a simple Spek test that is able to run in AS 3.0 Beta 6-7?
Maybe also check in the run configs?
It would be really helpful to compare the setups

[2017-09-27 00:13] raniejade commented on #256
*build.gradle*
[code]

*app/build.gradle*
[code]

[2017-09-27 14:37] timrijckaert commented on #256
Yes!
Finally.

Thanks for these.
I pushed the changes to my Repo and it now works like intended both in Android Studio 3.0-6 as well as in the CLI.

[2017-09-27 14:37] #256 closed

[2017-09-27 20:10] inikolaev commented on #224
Hi, I'm also having trouble using spek with latest versions of dependencies. I've created a sample repository to reproduce the issue: https://github.com/inikolaev/kotlin-spek-maven-example

Let me know if you are able to reproduce the issue when running it.

[2017-09-27 20:32] inikolaev commented on #224
I also added `Dockerfile` so it would be easier to reproduce it.

[2017-09-27 22:58] mannodermaus commented on #256
(Copied from #271 for future reference by anybody who might stumble upon this)

The proposed task declarations will only copy over classes in the `debug` build type, leaving `release` and any other potential build type out of the picture. Also, the dependency section could use some clean-up (e.g. you don't need the `junit-platform-runner` unless you want to run JUnit 4 in the first place, and the

[2017-09-28 04:46] raniejade commented on #224
Thanks, I'll look into it this weekend!

[2017-09-28 23:37] lgtout opened #272 "Value to provide as expected when testing for exception thrown"
If I want to use the data-driven extension to verify that an exception is thrown, what value should I provide to the (required) `expected` parameter of `data()`?  The scenario is different sets of input values that result in the same exception thrown.

[2017-09-30 04:36] raniejade commented on #224
@inikolaev Looks like there's an issue with JUnit Platform and Surefire `2.20.1`. I've tried using `2.19` as mentioned in the JUnit docs and it works. Below is the changes I made (it includes some cleanup).

[code]

[2017-09-30 04:38] raniejade commented on #224
For reference: https://github.com/junit-team/junit5/issues/809

[2017-09-30 04:39] raniejade commented on #224
Looks like it's not an issue w/ Spek. Closing it now, re-open if I miss something.

[2017-09-30 04:39] #224 closed

[2017-10-02 14:30] bangarharshit commented on #65
I can add support for robolectric by writing a custom test engine (it will be a copy of Robolectric's test runner). There will be few limitations such as configs per test since I don't know how can we annotate a test in spek.

[2017-10-02 14:43] raniejade commented on #65
@bangarharshit thanks, as much as possible we prefer to decouple the implementation from JUnit. The idea is to implement it using Spek's API. We provide `@CreateWith` probably a good place to start.

[2017-10-04 07:47] curiousily commented on #256
Can you build & run your apk when 7. is added? I receive the following gradle error

[code]

Using AS 3.0 Beta 7

[2017-10-05 13:39] timrijckaert commented on #256
Nope indeed it is broken again. :'(
For now I have just fixed it with putting an if check before the task.

[code]

[2017-10-06 16:51] fgaule commented on #81
+1

[2017-10-11 00:13] charleskorn opened #278 "Can't run tests in IntelliJ"
Whenever I try to run a test from IntelliJ, I get the following error:

[code]

This happens whenever I right click on a test file and choose Run, or if I run a Spek configuration set to run all tests from my test package.

Running the tests from the command line with Gradle works file.

**Version info**
IntelliJ version: IntelliJ IDEA 2017.2.5
JRE: 1.8.0_152-release-915-b12 x86_64
JVM: OpenJDK 64

[2017-10-11 00:57] raniejade commented on #278
Can you try adding `org.junit.platform:junit-platform-runner:${junitPlatformVersion}` to your test classpath?

[2017-10-11 01:10] charleskorn commented on #278
That worked, I added

[code]

to my `dependencies`. (`junit_version` is set to `"1.0.1"`.) Is there any reason why this isn't included automatically? Seems a bit counter-intuitive to have to add a dependency to my project so that the IDE integration works correctly.

[2017-10-11 01:12] charleskorn commented on #278
(thanks for your incredibly fast response by the way)

[2017-10-11 01:20] raniejade commented on #278
No worries. We do bundle it, but it's an old version. Just need to update the plugin to include the latest one.

[2017-10-11 01:22] raniejade commented on #278
Closing this in favor of https://github.com/raniejade/spek-idea-plugin/issues/52.

[2017-10-11 01:22] #278 closed, assigned to nobody

[2017-10-11 09:37] Arclights opened #279 "Update Kotlin dependencies"
The more recent versions of Kotlin runtime library seem to have breaking changes in them which makes the currently used version of the Kotlin libraries (1.0.6) not work with, at least, Kotlin 1.1

[2017-10-11 18:21] ManaliN opened #280 "Plugin Error : Spek threw an uncaught TypeCastException."
I am new to Kotlin and Spek. I am trying to setup Spek with kotlin-android for BDD Testing.
I have added the following in the build.gradle:

apply plugin: 'kotlin-android'

apply plugin: 'kotlin-android-extensions'

// Repository required for Unit Testing
repositories {
    maven { url "http://dl.bintray.com/jetbrains/spek" }
}
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.j

[2017-10-13 02:50] thsaravana opened #281 "Broken link"
The link in the Readme https://jetbrains.github.io/spek is broken.

[2017-10-13 15:09] angelsanzn opened #283 "beforeGroup is executed even when all examples are `xit`-ed"

[2017-10-16 04:35] arturdryomov opened #284 "Replace DSL Extensions with Public Methods"
It is kind of annoying to import DSL operators semi-manually. Yes, the IDE most of the time will suggest the right thing, but it is still confusing to see DSL operators as “optional” extensions. Technically it is nice to see how it is done via extensions, the real world usability is not so great. If we all agree about DSL stability across releases this shouldn’t be an issue.

Pros.
* Less semi-man

[2017-10-16 04:38] arturdryomov opened #285 "Provide Focus and Exclusion Operators"
* Focus — prefix group and test operators with `f`.
* Exclusion — prefix group and test operators with `x`.

This can be achieved via IJ plugin, but it should be noted that not everybody uses IJ and will use JUnit 5 for a considerable amount of time, since it will require migration.

From my personal standpoint, plugin should be a bonus to Spek experience and not its corner stone. Sometimes I can

[2017-10-16 06:51] bangarharshit opened #286 "@CreateWith doesn't work with multiple class loader."
In robolectric, we want to run the test on a different class loader. In Junit 4 we achieved by writing our own custom runner - https://github.com/OleasterFramework/Oleaster/blob/master/oleaster-robolectric/src/main/java/org/robolectric/internal/RoboOleaster.java

The problem with spek:
[code]
RobolectricSpek can't be instantiated with a custom class loader as it throws classcastexception. If it is

[2017-10-19 18:52] SpinGit opened #289 "Describe / it - mock scope issue"
Hi,

i wrote a simple Spek Test with kotlin test assertions. Mockito to mock any arguments, etc.

[code]

Every single test (it) will be run successful. When i run the whole test suite the mocks will be overwritten by the other describe block. Is there any issue with the describe/it scope?

Should i use a different spek dsl: given, etc?

Thank you very much.

[2017-10-21 04:12] raniejade commented on #289
As mentioned in the docs, Spek eagerly evaluates group scopes (`describe`, `given`, etc..) during the discovery phase. You could move your mock setups inside a `beforeEachTest` or use `on` instead of describe.

[2017-10-21 04:12] #289 closed, assigned to nobody

[2017-10-21 13:28] osipxd opened #290 "Exceptions inside coroutines not failing test"
I have problem when trying to test methods that use coroutines.

**Code:**
[code]
**Result of tests:**
All should fail, but when I using launch it isn't fails
![image](https://user-images.githubusercontent.com/3684355/31852146-473ff856-b67b-11e7-9532-2f060126c28c.png)

**Output:**
[code]

**Stacktraces:**
When using `run`:
[code]
When using `launch`:
[code]

[2017-10-22 01:32] artem-zinnatullin commented on #279
Have you checked https://github.com/spekframework/spek/issues/248?

[2017-10-22 06:34] artem-zinnatullin commented on #285
I also give my vote for this feature, it's useful, especially in case when Spek IntelliJ plugin has compatibility issues with new releases of IntelliJ/Android Studio.

@raniejade can we reuse `Path` abstraction to run part of the test tree `f` or we'll need to add separate support apis for `f`? I imagine `x` will require separate support anyways to report test as disabled.

[2017-10-22 06:41] bangarharshit opened #294 "Spek doesn't create new instance of test class for each unit tests"
JUnit creates a new instance of test class for every unit test. [Junit 5 lifecycle](http://junit.org/junit5/docs/current/user-guide/#writing-tests-test-instance-lifecycle)

Spek, however, uses the same instance for all tests. It breaks semantics for frameworks such as robolectric as different tests can run on different SDK version.

A very simple spec test:
[code]
Test class:
[code]

[2017-10-22 07:03] artem-zinnatullin commented on #294
That's expected, as you can see Spek tests are basically lambdas inside lambdas which allows you do dynamic stuff like this:

[code]

With JUnit you declare test methods separately so framework can reason about them more statically.

Spek provides you easy to use APIs (`memoized` and `SubjectSpek`) to reinitialize test environment:

[code]

[2017-10-22 07:14] bangarharshit commented on #294
Got it. It still loses some flexibility (although very minor) - I can't run different tests on different configurations [SandboxTestRunner.java](https://github.com/robolectric/robolectric/blob/6fa38fc48242cbdcb08b54f4bd5b5a0a8dbee6f2/junit/src/main/java/org/robolectric/internal/SandboxTestRunner.java#L218)

Maybe a good thing to call out in the documentation.

[2017-10-22 07:14] #294 closed, assigned to artem-zinnatullin

[2017-10-22 07:23] artem-zinnatullin commented on #294
Yes, definitely documentation should state that much clearer… (we'll rework it before Spek 2.x release)

Regarding running tests on different Robolectric configurations — how does it look like with JUnit (wasn't able to google it)? I only specified Android version on class level.

But in general it should be possible, Spek tests are simply code that you run, if Robolectric provides APIs to switch

[2017-10-22 07:28] bangarharshit commented on #294
Robolectric uses reflection internally to figure out config but a similar API can be provided. I am working on the robolectric integration for spek.

Looks like a good API. Once I am able to figure out https://github.com/spekframework/spek/issues/286, I can resume working on it.

[2017-10-22 07:30] bangarharshit commented on #286
@artem-zinnatullin do you know how it works or if you can show me a test, it will expedite robolectric integration.

[2017-10-22 07:34] raniejade commented on #286
@bangarharshit I'll look into it this week, sorry my internet was broken for a week.

[2017-10-22 07:35] bangarharshit commented on #286
@raniejade Awesome. No Problem.

[2017-10-22 07:44] artem-zinnatullin commented on #286
@bangarharshit in any case, please check our `2.x` branch, we won't merge any changes except bugfixes to `1.x`, really focusing on `2.x` now!

Btw, what if you just decouple your `RoboOleaster()` from JUnit runner API and call it in `beforeEachTest()` with required parameters?

[2017-10-22 07:49] raniejade commented on #285
We could add a filter step after the discovery phase to support `f` as an extension. Early Spek versions `f` was implemented in two phases, (1) search for focused scope (2) traverse tree to remove non-focused branches.

[2017-10-22 07:50] bangarharshit commented on #286
Thanks for the heads-up. Will check out 2.x and start working on it.
It will not work since different callback methods such as `it`, `describe` called by frameworks will still be on the same class loader.

In `RoboOleaster` all these methods were called from the robolectric's custom class loader (without writing my own TestEngine) .

I want to find a way to run different callback methods on the cu

[2017-10-22 08:01] artem-zinnatullin commented on #266
This is mostly done.

[2017-10-22 08:01] #266 closed

[2017-10-22 08:14] artem-zinnatullin commented on #285
Yeeep, SGTM!

I'd actually like to work on it if you don't mind, to dive deeper into test runner mechanism, you changed it pretty significantly since I touched it last time :)

Also, as a side-effect of this issue implementation we could try to extract Introspection API that'll sit expose parts of Discovery, Filtering and Running phases and allow user develop extensions (ie Robolectric integration

[2017-10-22 08:24] raniejade commented on #285
Sure, go ahead! :)

[2017-10-22 08:29] artem-zinnatullin opened #298 "Host Spek IntelliJ plugin in this repo."
Currently plugin lives in @raniejade's personal repo https://github.com/raniejade/spek-idea-plugin, we've also allocated repo under `spekframework` https://github.com/spekframework/spek-idea-plugin.

That complicates development (especially development of unpublished `2.x`), so as discussed in https://github.com/spekframework/spek/pull/295#issuecomment-338459487 we can bring IntelliJ plugin source

[2017-10-22 08:36] artem-zinnatullin commented on #286
Hm, but then I guess it would require new instance of Spek class every time to load with proper classloader which will require significant changes in how Spek discovers and runs tests as well as disable some dynamic features…

If you could avoid that somehow, that would be fantastic :)

Btw, as far as I see it's only required for running test cases in same Spek with different Robolectric configura

[2017-10-22 08:44] arturdryomov commented on #298
None, SQLDelight and even Kotlin (I guess) does the same.

[2017-10-22 08:49] bangarharshit commented on #286
Yep. That should be enough.

RoboOleaster pretty much does that (unlike robolectric, it runs test only for 1 configuration). Developers can write different test classes to cover different configuration or we can give wrapper APIs like you suggested `listOf(Android.SDK_LEVEL_16, Android.SDK_LEVEL_21, Android.SDK_LEVEL_26).forEach`

@raniejade suggested using @CreateWith since it is designed for a s

[2017-10-22 08:49] arturdryomov commented on #285
BTW it can be helpful to add some warnings to the output about `f` and `x` usage as a tip to remove them afterwards (in case someone added them for debugging purposes).

[2017-10-23 10:56] #281 closed, assigned to nobody

[2017-10-24 04:20] raniejade commented on #284
I don't think writing a star import (`import org.spekframework.spek2.dsl.standard.*`) is that hard. Using extension methods allows developers to import only what they need - if they have their own synonyms they don't need to import the ones we provide (`import org.company.our_style.*`). Spek for me is prescriptive yet flexible.

[2017-10-24 06:15] arturdryomov commented on #284
We are creating a lot of tests in a single day, manual import is tedious because it is manual.

Actually I think it is a good mnemonic.
* No need to import — you are using standard DSL.
* Need to import — OK, this is custom.

[2017-10-24 06:17] raniejade commented on #284
But that would pollute the completion provided by the IDE.

[2017-10-24 13:35] artem-zinnatullin commented on #284
Problem with `import org.spekframework.spek2.dsl.standard.*` is that it's not what IntelliJ does by default, default code style only starts `*` after 5 imports from same namespace, so it's a pretty manual job for most of the users…

Problem with putting standard DSL directly into `Spek` is that user potentially won't be able to have custom DSL with same function names, but I think this is good sin

[2017-10-24 14:26] raniejade commented on #284
I still don't see any issue on doing imports for using synonyms, any good IDE can do it for you. Confusion on what to import can be easily addressed in the docs.

I don't want Spek to be too prescriptive, yes we provide a set of standard synonyms but we don't force users to use them.

[2017-10-24 18:25] sedovalx commented on #278
As far as I understand, it means the junit 4.12 runner is used. Which in turn means that ["the IDEA plugin won’t work"](http://spekframework.org/docs/latest/#setting-up-legacy). Is it right?

[2017-10-26 19:21] devonhumes opened #303 "Spek does not output failed assertion messages in Maven"
### NOTE: This works in the IntelliJ plugin. It only fails with Maven.

## Steps to reproduce
1. Create failing Spek test
2. Run with `mvn -e test`
3. Build fails

### Actual result
The build fails like it should, but the error message causes a NullPointerException.

[code]

This is caused by a null pointer exception inside of Surefire when it's trying to print the message.

[code]

See https://gi

[2017-10-26 19:26] devonhumes commented on #303
Additionally, running these tests in JUnit 5 with the Jupiter engine works just fine.

[code]

[2017-10-27 00:58] artem-zinnatullin commented on #284
@raniejade that just seems like friction point that we could remove by default and not force boilerplate

[code]

cycle to be applied by every user for every new part of DSL used in a spec. This is especially painful when you edit huge existing spec and want to use DSL part that wasn't used in it before (IDE lags a lot)

Less friction points — happier users :)

It's very similar to idea of Spek Gr

[2017-10-27 01:23] raniejade commented on #284
Ok fine :), but I'm still not convinced that the manual import is the issue.

This makes sense :+1:

[2017-10-29 23:45] artem-zinnatullin commented on #303
@devonhumes unfortunately none of project maintainers use Maven nowadays… (maybe Hadi, but I'm not sure)

Let's try upgrade surefire plugin to latest version atm: `2.20.1`, here is [link to all releases](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.apache.maven.plugins%22%20AND%20a%3A%22maven-surefire-plugin%22).

If that doesn't help, then you'll most likely have to open issue against

[2017-10-30 01:01] raniejade commented on #303
@artem-zinnatullin JUnit 5 only supports `2.19.1`.

I did some initial digging but I'm lost. It might be good to ask the junit5 team as they are the ones providing the surefire provider.

[2017-10-30 02:53] devonhumes commented on #303
Ok I can see that. Unfortunately, I'm stuck with Maven. Since JUnit 5 works
correctly with Maven, I don't think they will be motivated to dig for a
fix. I'll just have to try a different framework. It's too bad, I really
like the syntax. FYI, I tried both versions of the Surefire plugin and they
both failed.
On Sun, Oct 29, 2017 at 6:01 PM Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-10-30 03:58] raniejade commented on #303
Just filed https://github.com/junit-team/junit5/issues/1130, hopefully the team can help shed some light on this.

[2017-10-30 06:45] #191 closed

[2017-10-30 07:31] artem-zinnatullin opened #307 "nit: Remove @author from comments."
We have this information in git :)

[2017-10-30 09:58] raniejade commented on #303
Fix is here: https://github.com/junit-team/junit5/pull/1131. Tested it locally and it works with @devonhumes demo project. Close this as it's not an issue with Spek.

[2017-10-30 09:58] #303 closed, assigned to artem-zinnatullin

[2017-10-30 10:54] raniejade commented on #210
This should be fixed by now, see https://github.com/spekframework/spek/blob/2.x/spek-runtimes/jvm/src/test/kotlin/org/spekframework/spek2/jvm/NonUniquePathTest.kt.

[2017-10-30 10:54] #210 closed

[2017-10-31 00:08] artem-zinnatullin commented on #210
@raniejade should we add a test that'll check memoized in this scenario?

[2017-10-31 12:33] raniejade commented on #303
Should be fixed by the time JUnit Platform `1.1.0` is released.

[2017-10-31 23:00] devonhumes commented on #303
Sounds good!
On Tue, Oct 31, 2017 at 5:33 AM Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-11-01 09:02] raniejade opened #317 "Invalid dependency declaration in pom"
I missed this out previously, looking a way to fix it without changing the project's `group`.

[code]

[2017-11-01 09:37] raniejade commented on #317
I got two options: a hacky and non-hacky one. For the non-hacky just change to a flat structure and everything will work, while the hacky one requires some fiddling with gradle. cc @artem-zinnatullin @ming13 @hhariri

[2017-11-03 15:15] raniejade opened #318 "Setup CI builds for JDK 9"
We will still be targeting `1.8` but it will be nice to know that we can build Spek on JDK 9.

[2017-11-03 20:28] ayrat555 opened #320 "spek tests"
I’m trying to read through spek source code. but I can’t find any tests. where should I look?

[2017-11-03 23:11] robstoll opened #321 "Executing all specs in package fails if one has include of an anonymous object"
Consider the following situation:
in package `a` there is only one file with:
[code]
Executing it alone (in intellij) works fine. Executing all tests in package `a` fails:
[code]

Then I have package b which also just has one file:
[code]
Executing it alone works but also executing all test in package b. I hope this extra information helps to track down the bug

[2017-11-04 03:43] raniejade commented on #321
Kotlin compiles the inner object as a separate class, so when you're running a test for a package Spek picks it up and tries to create an instance of it - as a fix we need to check if the class is `anonymous` or not. Thanks for the report!

[2017-11-04 03:46] raniejade commented on #320
Already replied to you on slack, closing this issue.

[2017-11-04 03:46] #320 closed, assigned to nobody

[2017-11-04 16:06] ayrat555 commented on #320
Thank you

[2017-11-06 13:38] raniejade opened #322 "Improve maven setting up section in the user guide"
We only have this there:

Maven
=====

JUnit provides support for Maven.

[code]

[2017-11-06 17:24] amed500 commented on #65
@bangarharshit hello, have you made the implementation or support for `RoboElectric` really would be very interesting, thanks in advance

[2017-11-06 17:32] bangarharshit commented on #65
The pr is almost ready. I will be adding tests and test with different Android configurations before sending the PR. Definitely by end of this week.

[2017-11-07 04:22] artem-zinnatullin commented on #318
At KotlinConf Andrey Breslav said that JDK 9 support will be finished soon, so I assume it's not done yet

[2017-11-07 15:43] volkdown opened #325 "Android studio 3.0"
Hello! After the renovation of the studio, my tests stopped working. I saw the topic https://github.com/spekframework/spek/issues/256 But that did not solve my problem. Can you help me? I even made a new project with the settings as in the topic , but it also does not work.

`org.junit.platform.commons.util.PreconditionViolationException: Could not load class with name: com.livechat.android.ui.act

[2017-11-07 17:56] #286 closed, assigned to artem-zinnatullin

[2017-11-08 11:06] amed500 commented on #325
hello, i have the same issue in my project, does anyone faced the same issue, that spek can't load classes !

[2017-11-09 12:13] osipxd commented on #256
With this I get DexException on assemble.
I've removed these tasks from compileDebugKotlin and problem disappears:
[code]

[2017-11-09 12:55] raniejade commented on #325
Here's a working sample repo for spek https://github.com/spekframework/spek-android-example. As for the IDE issue can you try out this build: https://drive.google.com/file/d/1JpUKuiXGovg0JEtGOsj9rscjQc6YNZ1b/view?usp=sharing?

[2017-11-10 05:55] JakeLin opened #326 "WARNING: TestEngine with ID 'spek' failed to discover tests error with Spek v1.1.5"
I have searched around and saw some issue like #225, #248 and #262 , they said this issue should be fixed in release `1.1.5`. However, I am still seeing this issue in Android Studio 3 like

[code]

These are my gradle files:

[code]

[code]

And test
[code]

Any idea? thanks

[2017-11-10 06:06] raniejade commented on #326
Please see this repo https://github.com/spekframework/spek-android-example. You also need a new build for the plugin https://drive.google.com/file/d/1JpUKuiXGovg0JEtGOsj9rscjQc6YNZ1b/view, which will I release once everything is good. Also, please don't use `@RunWith(...)` since the bundled JUnit plugin will take over instead of Spek's plugin.

[2017-11-10 07:28] seanho commented on #326
+1 with the problem.

I check out the spek-android-example and try to run it with the latest Android Studio and got the same error.

[2017-11-10 08:03] seanho commented on #326
I've tried the plugin v0.5.0 that you've provided and got this error on launch

java.lang.ClassNotFoundException: org.jetbrains.spek.idea.SpekJvmLineMarkerProvider PluginClassLoader[org.jetbrains.spek.spek-idea-plugin, 0.5.0]

[2017-11-10 08:35] raniejade commented on #326
Can you un-install and re-install the plugin? Also, please paste the full stack trace.

[2017-11-10 09:20] markusamshove opened #327 "Support for testing platform common code"
Hello,

we're trying to port [Kluent](https://github.com/MarkusAmshove/Kluent) to be (kotlin)platform independent in the future (MarkusAmshove/Kluent#75), so that you can use it in kotlin-jvm, -javascript and -native. In the past we only supported Java as a platform and therefore wrote all our unittests with Spek.

I've fiddled around and split the project into platform specific parts and one comm

[2017-11-10 10:02] raniejade commented on #327
I don't think you can run `test` on a common module directly, but it will be executed when you run `test` on a specific platform module. Nonetheless, it will most likely be supported in some way. Main goal for `2.x` is to prepare for multi-platform support, but the initial release will only support `JVM`.

[2017-11-10 11:23] markusamshove commented on #327
Yeah thats true, the common module tests were run when gradle built the platform specific project, which makes sense and is actually pretty good, because it makes sure to run all tests (even from the common module) within each target platform.

It would be nice to be able to write unittests in the common library with Spek and let the platforms use their specific runner (which must be supported by

[2017-11-11 03:46] seanho commented on #326
Uninstalling and reinstalling didn't work.

I am using Android Studio 3.0 Build #AI-171.4408382 on macOS Sierra.

Here's the stack track for the "IDE Error Occurred" when I launched Android Studio.

[code]

[2017-11-11 04:15] snowe2010 commented on #326
You just need to add the launcher to your list

[code]

The docs should probably be updated to reflect this.

[2017-11-11 11:03] raniejade commented on #327
Planning to support this in the IntelliJ plugin but I'm waiting for `kotlin.test` to support it first so I have an idea on how to implement it.

[2017-11-11 12:51] raniejade opened #328 "Improve spec discovery"
Currently the `jvm` runtime will search the classpath for subclasses of `Spek` during the discovery phase. This is not optimal specially when running specs from the IDE, where most of the time we only want to run a specific class. `SpekRuntime#discover` accepts a `DiscoverRequest` parameter which currently only have a single property `path`. We could add extra properties here that each runtime cou

[2017-11-11 12:51] raniejade commented on #328
cc @artem-zinnatullin @ming13 @hhariri

[2017-11-11 17:02] curiousily commented on #325
@raniejade thanks for the sample! Everything seems to be working with the 0.5.0 plugin. Any idea about when it will be made available via the JetBrains repositories (for direct install from Android Studio)?

[2017-11-11 17:35] raniejade commented on #325
Probably sometime next week, will be out for a couple of days going to publish the build when I get back. Essentially what you currently have will be the same build I'm going to publish.

[2017-11-11 19:43] bangarharshit opened #329 "Bring android samples into the main repo"
How about moving the android sample into the main repo? Making samples has multiple submodules. All the samples will always run the latest version.

[2017-11-12 19:49] favetelinguis opened #330 "Setup instructions not working for gradle with Kotlin DSL"
Im trying to use Spek following the instructions for setting it up using Gradle with Kotlin DSL however im getting the following error for configuration:

Type inference failed: Not enogh information to infer parameter T in inline fun <reified T : Any>
Project.configure(noinline configuration T.() -> Unit): Unit
Please specify it explicitly

[code]

[2017-11-13 01:38] artem-zinnatullin commented on #330
Hi @favetelinguis,

We don't control neither Kotlin Gradle DSL nor JUnit5 Gradle Plugin, not sure what we can do here…

Would be great if you could create issue in [JUnit5 Gradle Plugin](https://github.com/junit-team/junit5/tree/master/junit-platform-gradle-plugin) and crossreference it with this one.

If JUnit team also decide that it's not in their control — please create issue against [Kotlin G

[2017-11-13 01:38] #330 closed, assigned to nobody

[2017-11-14 05:01] JakeLin commented on #326
Thanks, the plugin https://drive.google.com/file/d/1JpUKuiXGovg0JEtGOsj9rscjQc6YNZ1b/view is working on this repo https://github.com/spekframework/spek-android-example.

[2017-11-14 05:01] #326 closed, assigned to nobody

[2017-11-14 14:09] amed500 commented on #325
thanks @raniejade the new version of the plugin fixed it :)

[2017-11-15 00:14] artem-zinnatullin opened #331 "Prevent users from nesting actions."
[code]

Possible solutions:

- Detect problem at runtime and throw exception
- `@DslMarker` https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-dsl-marker/

[2017-11-15 07:26] artem-zinnatullin commented on #328
I think we should be able to rewrite `discover()` phase of `SpekRuntime` to not start with `reflections.getSubTypesOf(Spek::class.java)` if `DiscoveryRequest` has specific path?

[2017-11-15 07:30] artem-zinnatullin commented on #327
I'm not sure `kotlin.test` is designed to give developers an abstract API to allow custom test frameworks like Spec.

Afaik it just pretty much 1-1 mapping to existing platform frameworks like JUnit4 and actually kinda hides that fact from you so if we'll need to hook into platform specific runner used by `kotlin.test` — that can be more complicated than supporting own multiplatform bindings.

[2017-11-15 11:13] raniejade commented on #328
We could set a specific path for `reflections` to narrow down the search.

[2017-11-15 11:15] raniejade commented on #327
I think he only wants a way to test common modules like `kotlin.test`, not necessarily integrate with it.

[2017-11-15 11:41] raniejade commented on #325
Just released version `0.5.1` of the plugin, it should fix the issues with AS 3.0.

[2017-11-15 11:41] #325 closed, assigned to nobody

[2017-11-15 11:42] raniejade commented on #284
#306 has been merged, closing this issue.

[2017-11-15 11:42] #284 closed, assigned to artem-zinnatullin

[2017-11-15 11:59] markusamshove commented on #327
@raniejade is right.

I'm trying to separate the JVM projekt into a platform independent common module, which works fine from the Kotlin perspective.

However all tests we've written (which need to be in the common module) are written in Spek.
The only platform independent way to write tests is `kotlin.test` in the moment.

What I'd like to do in the future:

* Write tests in the common module via

[2017-11-15 22:05] artem-zinnatullin commented on #328
SGTM, my point here is that initial `path` passed in `DiscoveryRequest` should be enough :)

[2017-11-17 07:14] hoangtranwork opened #332 "Spek Idea Plugin crash"
I've seen random crash on this plugin, even when working on a pure Java project with another Kotlin/Spek project open side by side.

https://www.dropbox.com/s/d133q968mlwogdy/Screenshot%202017-11-17%2014.13.41.png?dl=0

The stacktrace in the Detail tab:
[code]

[2017-11-18 02:20] raniejade commented on #331
https://github.com/spekframework/spek/blob/2.x/spek-dsl/common/src/main/kotlin/org/spekframework/spek2/meta/SpekDsl.kt :) If we go with route 2, the minimum supported version will be Kotlin `1.1`.

[2017-11-21 12:50] Saandji opened #333 "KotlinReflectionInternalError when running inner test"
When I am trying to run the test hitting `it(...)` method, instead of the class itself, I am getting:

[code]

My setup:

[code]

Spek version: 1.1.5
Kotlin version: 1.2.0-rc-39

maven:

[code]

[2017-11-21 20:50] michaeloa opened #334 "Data driven extension with >3 parameters"
I'm testing out the data-driven extension, since I have a use-case where I think it would be useful (have to all combinations of inputs for 9 - possible more - input parameters). It would be really useful in terms of having testers developing the test cases, rather than implementing each test case manually.
- What is the status of this?
- What are the plans for extending the number of parameters?

[2017-11-22 21:19] abenhmida commented on #151
Hi, i am interested in spek and i want to contribute to the project despite the fact that i am new to kotlin also. I thouth i could take this issue in order to familiarize my self with spek and kotlin. Could you guide me on this? or there is other issue more "afordable for a beginner".

thanks

[2017-11-23 21:04] michaeloa commented on #334
Any thoughts on this? The 1-3 input versions seem to work; is the code solid enough that it would make sense to fork it and simply add the variations of "on" that I require?

[2017-11-23 22:08] ljacqu opened #336 ""Setting up" links on Downloads page returns 404"
At the bottom of http://spekframework.org/downloads there is a link "Setting up" that points to an invalid page:

Please fix the link.

[2017-11-24 04:36] raniejade commented on #334
We should sync up the extension functions and data classes, is there a way to generate them @ming13 @artem-zinnatullin?

[2017-11-24 04:37] raniejade commented on #332
This is fixed, but not released yet.

[2017-11-24 04:37] #332 closed, assigned to nobody

[2017-11-24 04:38] raniejade commented on #333
What version is your intellij kotlin plugin?

[2017-11-26 01:53] raniejade commented on #333
kotlin `1.2-rc-xx` has a problem with jackson: https://github.com/FasterXML/jackson-module-kotlin/issues/97. For now the only workaround is to downgrade to a previous stable version.

[2017-11-27 22:45] raosuj opened #337 "Android LiveData testing @Rule InstantTaskExecutorRule"
hey guys,

how do I use
`@Rule
val rule = InstantTaskExecutorRule()`

inside spek to swaps the background executor.
I am trying to test MutableLiveData, but running into java.lang.RuntimeException: Method getMainLooper in android.os.Looper not mocked when liveData.setValue us called
https://medium.com/@veniosg/unit-testing-with-mutablelivedata-22b3283a7819

ps: very new to spek
please help!

[2017-11-28 00:20] raosuj commented on #337
i am getting @Rule annotation is not allowed to target local variable when I use it inside spek

[2017-11-28 12:10] Rosomack commented on #252
Nesting is also supported by the `given - on - it` convention. `given` blocks can be nested, and I think the documentation should reflect that too.

[2017-11-28 19:41] lgtout commented on #333
I'm getting this too, with Kotlin version 1.2.0-release-IJ2017.2-1.  But I'm not using Jackson.

[2017-11-28 19:57] arnis71 opened #338 "How to run spek tests with gradle from command line?"
I have an example spek test that looks like this

[code]

How can I trigger the execution from command line?

P.S. ./gradlew test throws this exception
`org.junit.platform.commons.util.PreconditionViolationException: Cannot create Launcher without at least one TestEngine; consider adding an engine implementation JAR to the classpath`

[2017-11-28 22:00] christopherperry commented on #118
How would you achieve the same functionality as `RuleChain`?

[2017-11-28 22:23] lgtout commented on #333
The problem only occurs if you try to run `describe`, `it`, etc.  It doesn't if you run the Spek subclass.

[2017-11-28 22:28] raniejade commented on #333
Sorry for the delays, been very busy. The plugin uses jackson, but is shadowed. Will be looking into it this week.

[2017-11-28 22:29] lgtout commented on #333
@raniejade Ah, np.  Thanks!

[2017-11-29 09:51] raniejade commented on #333
Fixed in v`0.5.4` of the plugin.

[2017-11-29 09:51] #333 closed, assigned to nobody

[2017-11-29 11:55] #307 closed, assigned to artem-zinnatullin

[2017-11-29 12:06] artem-zinnatullin commented on #337
`Rule` is a JUnit concept.

Unfortunately, generic `Rule` interface is designed to wrap test case and decorate it with some behavior without exposing methods like `before()` and `after()` (only [`ExternalResource` rule does that by default](http://junit.org/junit4/javadoc/latest/org/junit/rules/ExternalResource.html)) that could be called from Spek's `beforeEachTest` and `afterEachTest`.

Spek pro

[2017-11-29 12:06] #337 closed, assigned to artem-zinnatullin

[2017-11-29 20:12] lgtout commented on #333
Thanks @raniejade !

[2017-12-01 13:52] #338 closed, assigned to nobody

[2017-12-03 19:52] jaredsburrows commented on #317
What is the problem here? What the desired G:A:V? Ideally you want your module name to match the `artifactId`. The group name and version number should be the same for all artifacts.

[2017-12-04 15:08] msogrin commented on #170
It was said almost a year ago. Is there any chance the version 1.1.19 gets deleted?

[2017-12-04 22:52] fkrauthan opened #341 "Expose TestInfo within test and lifecycle methods"
I was wondering if there is anyway to access the Junit5 [TestInfo](http://junit.org/junit5/docs/current/api/org/junit/jupiter/api/TestInfo.html) object or something similar. I would like to dynamically access the test name to pre-fill a special field for my network requests without having to copy paste the test name all the time.

[2017-12-06 16:15] ayooladedeji commented on #132
Hey, any fix for this?

[2017-12-11 09:41] artem-zinnatullin commented on #317
@jaredsburrows you can find details of the problem in PR #342

TL;TR: because of how we organised modules in the project (hierarchical folders) Gradle screwed up `groupId` and `artifactId` of our cross-module dependencies

[2017-12-11 16:39] jaredsburrows commented on #317
@artem-zinnatullin I would vote to rewrite how you publish it using `gradle.properties` and remove extra folders. This will help simply things in your pull request. You should not have to rewrite the `POM` unless you want something custom(eg. https://github.com/jaredsburrows/gradle-spoon-plugin/blob/master/gradle/publish.gradle#L84).

See @JakeWharton's Butterknife repo here: https://github.com/Ja

[2017-12-11 18:07] jpopadak opened #343 "Enable another top level way to setup tests"
I understand that `group`s have to be resolved at startup, thus anything inside of the group context is ran once. I wish there was a cleaner way to setup values than having a `beforeEachTest` block in each.

Currently, I have to separate values used vs mocking calls in the groups.

[code]

I wish I could do something like the following to prevent the need for `beforeEachTest` blocks:

[code]

I ha

[2017-12-11 20:35] artem-zinnatullin commented on #317
@jaredsburrows `gradle.properties` wouldn't solve this particular issue. Each module's groupId/artifactId were already set correctly in the pom, but cross-module dependencies were declared incorrectly.

I've used the structure you're talking about for a long time and never really liked it because you still need some code in `.gradle` files as well as `.properties`, which only complicates stuff. In

[2017-12-11 20:36] #317 closed, assigned to artem-zinnatullin

[2017-12-11 21:01] jaredsburrows commented on #317
@artem-zinnatullin Sure, there are many solutions for this. Since you merged your other PR and closed this one it should be ok.

[2017-12-13 11:45] Rosomack opened #344 "Erroring tests not marked as failing in command line output or xml"
Hi,

I found that getting errors in a spec does not fail any tests that are inside. This is a minimal test case that exposes the issue:

[code]
The above example only reports 1 test as failing (the assertion failing), but I'd expect any tests contained in a given that throw NPE's to be reported as failing too!

Note that if I didn't have the `it` nested in an `on` block I would get the failure rep

[2017-12-17 11:34] raniejade opened #345 "Consider force exiting when execution phase is finished."
See https://github.com/raniejade/spek-idea-plugin/issues/62.

[2017-12-17 11:43] raniejade commented on #343
You can use `memoized`, but personally I would use `beforeEachXXX` to setup mock returns.

[code]

[2017-12-17 11:52] raniejade commented on #344
I guess this is kinda expected when using `on` (action scope) since tests (`it`) are discovered only during the execution phase. Since `beforeEachTest` throws an exception, execution stops and `on("do stuff")` is never executed. Nonetheless, this should still be fixed.  Thanks for reporting!

[2017-12-21 18:44] piotrgwiazda opened #347 "Add Allure or other reporting"
I'd like to use Spek for BDD style acceptance tests. I can't find any reporting solution that will provide complete and good looking reports. Allure is a solution I use with Spock. How about using it with Spek?

[2017-12-24 17:32] oleksiyp opened #348 "Mocking framework"
Hi,

hope find you well with this cold call.

I am an author of [mocking framework for Kotlin](http://mockk.io)

I see you are using mockito-kotlin.

I just want you to be aware that there is solution that fully supports Kotlin and ask to try it in your new/current projects.

I can help you if you answer to this issue.

Thanks and please star [it](https://github.com/oleksiyp/mockk)

[2017-12-24 20:53] #348 closed, assigned to nobody

[2017-12-29 19:15] magneticflux- commented on #170
Perhaps [Shipkit](http://shipkit.org/) would be useful for you for versioning? It recently had it's first stable release, but Mockito has been using it for years.

[2018-01-04 21:54] cldfzn commented on #321
Is this the same thing occurring for my attempt at shared tests (where ConfigurationSpec is an abstract class with a SpecBody):

`itBehavesLike(object : ConfigurationSpec() {})`

Same exception as above. I worked around it using an extension method SpecBody.assume() that checks if the subject is set and executes the SpecBody if so. Idea was taken from an older StackOverflow post.

[2018-01-11 08:33] Petikoch opened #352 "Release date of 2.0 ?"
Hello @artem-zinnatullin ,

you said in November 2017 at the KotlinConf (https://www.youtube.com/watch?v=R425cc6XrvA) that

- developers who are not already using Spek should wait for Spek 2.x
- a release will be around at the end of November 2017

We are very much looking forward to 2.0!

When do you think 2.0 will be available? It's January 2018 now ;-)

Best regards,
Peti

[2018-01-11 09:58] artem-zinnatullin commented on #352
Hi Peti, this is solely my fault :(

Right after KotlinConf I had and still have very pressuring work, in
December I had to take a long vacation due to personal problems.

I'm coming back from vacation on Friday and finishing my part of Spek tasks
for 2.0 is top priority after work.

I'm very sorry for inconvenience..

On Thu, Jan 11, 2018, 11:33 AM Peti Koch <notifications@github.com> wrote:

[2018-01-11 10:04] vadger opened #353 "No tests are run with some abstract class that extends Spek in classpath"
Hello,

I faced with problem when no tests are executed by gradle build if I have own abstract class that extends Spek in classpath.

Instead I'm getting: WARNING: TestEngine with ID 'spek' failed to discover tests

It was hard to localize the problem.

An abstract class is used to do some common stuff related to all specs like resetting database, load initial data.

How to reproduce. I took spek-

[2018-01-11 11:59] Petikoch commented on #352
Thank you @artem-zinnatullin for the answer and all the best for you!

[2018-01-11 11:59] #352 closed, assigned to nobody

[2018-01-11 14:11] raniejade commented on #352
@artem-zinnatullin Don't take all the blame man, I'm partly responsible for it as well - been busy with the new job.

[2018-01-12 17:17] michaeloa commented on #347
Currently looking at setting up a test framework with Spek myself, and also glanced at Allure. Didn't seem to be any problem setting it up to generate reports on the spek sample project. Doesn't generate nested reports by default (only the "it"), but presumably there is a way to wrangle it to do that, if Spock does it.

[2018-01-13 02:22] raniejade commented on #347
We will look into it, thanks!

[2018-01-13 13:23] piotrgwiazda commented on #347
In Spock it was easy to implement a pluggable test listener that handles Allure API. Not sure if there is any similar concept in Spek.

[2018-01-13 19:52] Odepax commented on #220
+1 : Just been through a `ConcurrentModificationException` with nested actions (code is below). Is there any other way to get around the problem until a fix is released?

PS: Apart from that, it's a very nice test framework (it deserves a bit more documentation though). Great job!

Odepax.

* * *

[code]

[2018-01-14 12:06] michaeloa commented on #347
The Spek test runner is a specialization of the jUnit5 TestEngine if I understand correctly, so I can't imagine it should be that much harder to implement than for Spock, assuming one knows where to look. Assuming it's not possible to get this working using the default output.

[2018-01-14 13:09] piotrgwiazda commented on #347
There are some additional deatures like issue links and grouping specs into features.

[2018-01-15 10:49] vadger commented on #353
I solved this problem making AbstractUISpec abstract.

[2018-01-15 10:49] #353 closed, assigned to nobody

[2018-01-17 15:16] yunikkk opened #354 "Spek plugin fails with Android Studio 3.1 Canary 8."
Spek plugin `0.5.4-studio3.0` fails to run tests.
Trying with sample https://github.com/spekframework/spek-android-example produces
`Error running 'org.spekframework.speksample.CalculatorSpec': com.android.tools.idea.gradle.project.model.AndroidModuleModel.getSelectedVariant()Lcom/android/tools/idea/gradle/project/model/ide/android/IdeVariant;`
This is very similar to the error which appeared with

[2018-01-18 13:22] Eternity-Yarr opened #355 "TypeCastException with Spek 0.5.4"
Here is the stack trace
[code]

[2018-01-19 12:18] radityagumay commented on #207
@magnumrocha are you solve that issue? i also face same problem

[2018-01-22 14:12] patjackson52 commented on #181
Solution for me was to run the `testClasses` task before the test.  This can be added to the run configuration to do it automatically.

[2018-01-25 07:55] Eternity-Yarr opened #359 "Cases with same names within one ActionBody are ignored"
Given:
[code]
will result in
[code]
If one changes name of second 'it' block to something unique build will fail, as expected.

Is this behavior considered correct?

[2018-01-28 15:59] pemistahl commented on #322
I recently had the same problem that the existing documentation is not enough to get a working Maven build, in my case combining it with Kluent as assertion library. After discovering a [blog post](http://www.catalystcomputing.co.uk/rob-westwood/2016/10/testing/using-spek-with-maven/) from 2016, I could finally come up with a working POM file.

The missing key points are the following:

- The test

[2018-01-28 16:03] pemistahl commented on #130
See [issue 322](https://github.com/spekframework/spek/issues/322#issuecomment-361073281) for a working sample.

[2018-01-28 16:04] pemistahl commented on #192
See [issue 322](https://github.com/spekframework/spek/issues/322#issuecomment-361073281) for a working sample.

[2018-01-28 19:20] arielouziel commented on #354
Same in Canary 9...

[2018-01-29 05:04] rahulsom opened #361 "KotlinScript gradle documentation doesn't render correctly"
This is what the `setting-up.adoc` has

[code]

However, when it gets rendered, it looks like this

[code]

This seems to stem from the use of `subs="attributes"` in the source block. It's quite possibly an asciidoctor bug. The `<JUnitPlatformExtension>` gets rendered in HTML without escaping.

[2018-01-30 09:44] yunikkk commented on #354
I've created an issue for that in the spek-idea-plugin repo, https://github.com/raniejade/spek-idea-plugin/issues/64

[2018-01-30 09:45] #354 closed, assigned to nobody

[2018-01-31 09:52] raniejade commented on #355
@Eternity-Yarr can you provide what IntelliJ version are you using? Also if you can provide the source file you are viewing when this happened.

[2018-01-31 09:54] raniejade commented on #359
This is fixed in `2.x`.

[2018-01-31 09:54] #359 closed, assigned to nobody

[2018-01-31 09:55] #361 closed, assigned to nobody

[2018-01-31 11:26] Eternity-Yarr commented on #355
Sorry, i couldn't recall what source file i was watching two weeks ago :(

![2018-01-31-142547_535x163_scrot](https://user-images.githubusercontent.com/3705333/35620611-b490eaf2-0692-11e8-917f-6ab3aab877eb.png)

[2018-02-03 18:13] ianbrandt opened #364 "Document data-driven spek support"
There is no mention [in the documentation](http://spekframework.org/docs/latest/) of the functionality added by pull request #180.

[2018-02-06 16:49] HeliumEnd opened #365 "SubjectSpek not found"
I was trying to use `SubjectSpek` in my tests but gradle reported back saying `Unresolved reference: subject` in `org.jetbrains.spek` (this is relating to version 1.1.5). I found no documentation on how to get `SubjectSpek`.

The only way I figured it out was looking into spek-api jar, noticed a folder in the spek github with the same name and tried adding the subject extension as a dependency and

[2018-02-07 17:26] asksahil commented on #365
I am facing same issue as well

[2018-02-07 19:44] gcaplan commented on #81
Bump. Please add this - it's surely not a big job?

[2018-02-08 09:18] raniejade commented on #365
We moved subjects to another module, looks like it was not mentioned in the docs.

[2018-02-08 21:27] patrikerdes commented on #170
Running gradle-versions-plugin on my project I get
[code]
Please delete 1.1.19.

[2018-02-23 22:12] robstoll opened #368 "support exclude filtering"
I am running spek via ConsoleLauncher and as it seems, spek currently ignores the specified exclude filters
as documented for junit5 here:
https://junit.org/junit5/docs/5.0.0/user-guide/#running-tests-console-launcher

Any plan to support those filters?

[2018-02-26 09:59] robstoll opened #371 "Fail if a Test contains another Test"
I accidentally wrapped a test into another test and only realised it because I used TDD and the Test did not fail as expected. I am not using TDD all the time and would like to be informed of such a mistake by Spek. So, the test `it has a test in it` should fail at the end because it contained another test.
[code]

[2018-02-26 11:26] raniejade commented on #371
Related to #331, using `@DslMarker` should fix this as well.

[2018-03-02 09:30] Mugurell opened #373 "Coverage Reporting broken for "Run .. with Coverage""
Android Studio 3.0.1
Spek plugin 0.5.4-studio3.0

Using the default Intellij IDEA coverage runner results in reports that factor all the files in project.
![image](https://user-images.githubusercontent.com/11428869/36892145-8a989ad8-1e0c-11e8-8f69-6e1cb3fb2a52.png)

Using Jacoco is not possible because that option is not remembered after closing the "Run/Debug Configurations" window"
![image](http

[2018-03-03 21:40] arturdryomov opened #374 "Split Specification and Gherkin-style DSLs"
The [Spectrum](https://github.com/greghaskins/spectrum) BDD testing library has an interesting approach to the `describe` + `context` vs. `given` + `when` dilemma. Basically [it identifies them as separate styles](https://github.com/greghaskins/spectrum/tree/1.2.0/docs#supported-features) and hides DSL in different packages.

Personally I think it is an awesome idea. Unfortunately I have no good i

[2018-03-04 05:47] raniejade commented on #374
I'm game for this, one thing we could do is to introduce a different subclass for each style to prevent people mixing the different styles. Something like:

[code]

[2018-03-04 05:55] hhariri commented on #374
I'd favour something that avoids people mixing and matching, cause that's led to a lot of confusion and errors in the past.

[2018-03-04 07:39] raniejade opened #375 "Consolidate dependency versions into gradle.properties"

[2018-03-04 13:22] Odepax opened #376 "Spek tests are not isolated"
## Reproduce:

1. Initialize a Kotlin project with Spek;
2. Use the attached `src` folder;
3. Run all tests, they should fail;
4. For each `on` block:
    1. Comment out or delete all the **other** blocks;
    2. Run all tests, they should all go green.

Morality: the result of a test seems to depend on the actions executed on other tests.

* * *

**Attached:** `src` folder in [SpekTestsreNotIsola

[2018-03-05 07:35] raniejade commented on #376
This is expected, you should use `val counter by memoized { ThrowingCounter(3) }`. `given` is a group that will be eagerly invoked in the discovery phase. `on` on the other hand is an `action` which has the semantics you expect, the problem with it is that it can only contain tests (`it`).

[2018-03-05 07:35] #376 closed, assigned to nobody

[2018-03-05 07:37] raniejade commented on #374
@ming13 do you have the bandwidth to explore this idea?

[2018-03-05 08:13] arturdryomov commented on #374
@raniejade I’m not sure it is a good idea to have multiple `Spek` classes because it will move confusion to a different place. Plus, the naming can be tricky, i. e. `GherkinSpek` + `SpecSpek`.

Maybe we can provide different DSL artifacts and implement them as extensions (please don’t hate me, I know I suggested to move them to functions). But! It will require each user to add another artifact...

[2018-03-05 09:29] raniejade commented on #374
@ming13 That's a neat idea, it will also clearly show how customizable Spek is. We just need to clearly say in the docs the different styles and what artifacts they should include.

[2018-03-06 20:00] Odepax commented on #376
Ow, didn't know this one, nice anyway!

Also tried inheriting from `SubjectSpek<ThrowingCounter>` instead of  `Spek` and it worked. Same using `lateinit var subject: ThrowingCounter ; beforeEachTest { subject = ThrowingCounter(3) }`.

Is there a difference between these three methods, aside from taste preference?

* * *

PS: isn't it _memo-R-ized_?

[2018-03-08 11:01] raniejade commented on #200
Closing this as `2,x` introduced `@Ignore`.

[2018-03-08 11:01] #200 closed

[2018-03-08 11:02] raniejade commented on #321
Closing, fixed in `2.x`.

[2018-03-08 11:02] #321 closed, assigned to nobody

[2018-03-08 11:08] raniejade commented on #298
Repo now host the source for `2.x` IJ plugin.

[2018-03-08 11:08] #298 closed, assigned to raniejade

[2018-03-15 19:18] phatblat commented on #326
**Update:** this seems to have been a gradle caching issue as my projects are now working fine with Spek 1.1.5 and JUnit Platform 1.0.0-1.1.0. See [KotlinTemplate](https://github.com/phatblat/KotlinTemplate) for a working example.

-----
I'm also getting this error using Spek 1.1.5.

[code]

The above stacktrace indicates that the `ClassNotFoundException` is getting thrown from `
SpekTestEngine.re

[2018-03-15 19:47] phatblat opened #380 "1.1.5 release is broken"
I ran into the same issue as #326 and found that the 1.1.5 release doesn't correspond to the `v1.1.5` tag. Can someone re-release 1.1.5?

[2018-03-17 08:43] raniejade commented on #380
@phatblat I think you're using an incompatible version of JUnit Platform, what version are you using?

[2018-03-22 00:56] phatblat commented on #380
@raniejade I tried several versions of the JUnit Platform, from 1.0.0-1.1.0. However, I suspect [the issue I was running into](https://github.com/spekframework/spek/issues/326#issuecomment-373492693) were due to some sort of caching issue because I'm now unable to reproduce them. I've never had any trouble with a [simple template project](https://github.com/phatblat/KotlinTemplate).

[2018-03-22 00:56] #380 closed, assigned to nobody

[2018-03-27 05:50] radityagumay commented on #354
@yunikkk did you solve this issue? i just recently update to AS 3.1 and this break my spek in IDE

[2018-04-02 15:00] DmitriyZaitsev opened #386 "classMethod FAILED"
I've got MyAwesomeSpek object annotated with `@RunWith(JUnitPlatform::class)` in my Android project. It has 4 tests.
They are all green if I run them with IDEA plugin or from command line by `gradle junitPlatformTest`.
But when I run `gradle test` to get a report, build fails with AssertionErrors from some two extra `classMethod` tests.
Errors disappear when I remove the annotation, but then I can

[2018-04-05 18:35] ebrowne72 opened #388 "Guarantee tests run in order"
Looking at the implementation, tests are stored in a LinkedHashSet and are executed in the order they are defined. Can we rely on that? Will this change in Spek 2.x? Can we get something in the documentation which says whether we can rely on tests executing in order?

The reason I ask is that we have some code where we want to verify calls to a mock are done in order. It seems like each verificati

[2018-04-05 19:44] vanniktech commented on #388
We should try to randomize the order so tests are not making assumptions that others have run before.

[2018-04-05 20:35] artem-zinnatullin commented on #388
No, please don't rely on that.

I'm also leaning towards randomization of execution order.

I'm trying to remember what language switched to random iteration order for Maps/Dictionaries because people relied on that, I think it was Python but quick googling didn't help

[2018-04-06 07:27] egor-n commented on #388
@artem-zinnatullin it was Go:

[Go maps in action – The Go Blog](https://blog.golang.org/go-maps-in-action)

[2018-04-06 17:19] ebrowne72 commented on #388
Then how about adding some way to specify that tests need to be run in a certain order? Maybe a thenIt() function?

[2018-04-06 19:00] vanniktech commented on #388
Why would you want that?

[2018-04-06 19:28] ebrowne72 commented on #388
For example, to verify calls to a mock happen in a certain order.

    on("foo called on bar") {
        val mockDependency = mock<Dependency>()
        val inOrder = inOrder(mockDependency)
        val bar = Bar(mockDependency)

        bar.foo()

        it("calls fred() on dependency") {
            inOrder.verify(mockDependency).fred()
        }

        thenIt("calls barney() on dependency")

[2018-04-06 19:43] vanniktech commented on #388
Simple solution: Don't use mocks :trollface: seriously though

[2018-04-09 00:13] artem-zinnatullin commented on #388
Well, that's where our ideology diverts with @raniejade hehe

If we decide to keep `on` (action) and I think we will, inside `on` you indeed need a strict order because that's whole idea of `on`.

However in `context` (group), I believe order should be randomized by Spek to avoid people relying on it.

[2018-04-10 15:58] pedegie opened #389 "Impossible to iterate in parameterized tests"
Hello, I'm trying to create parameterized test. I tried about ten different configurations, i put context blocks in many  places (before / after list), same to `on` and `it` sections, anyway behavior is "little" strange.  To keep it simple, lets look at this example:

[code]

Why it executes only once? If i put `given` section in `forEach` there is also only one println

[2018-04-10 19:15] PHPirates commented on #170
Yeah is this **very** confusing. I have `https://dl.bintray.com/jetbrains/spek` repo in my build.gradle in my build.gradle from the past as otherwise Spek can't be found, as in #139, so I looked there for latest version (just by hand, going to the link) which seemed to be 1.1.19, also as found by Patrik's plugin as he said. I checked also at `https://jcenter.bintray.com/org/jetbrains/spek/spek-api

[2018-04-13 07:21] pedegie commented on #389
Alright, finally I make it works. I need to
a) move given section in forEach
b) make given description unique (so i put list closure as name)
c) mark DriverTest as data class, perhaps there was something wrong with toString metohd so point b didn't work.

[2018-04-14 13:38] Khoulaiz opened #390 "Gradle JUnit Plugin deprecated"
Please document the proper way to include spek into a gradle build using the gradle 4.6 configuration features. The current recommended plugin is deprecated in favour of using the native gradle support.
I am afraid I am too dumb to figure out how it works correctly.

[2018-04-19 06:15] radityagumay commented on #390
@Khoulaiz hi, i just made a PR https://github.com/spekframework/spek-android-example/pull/2, please close this if solve you issue. @raniejade

[2018-04-19 06:17] radityagumay commented on #373
@Mugurell  hi, i just made a PR spekframework/spek-android-example#2, please close this if solve you issue. @raniejade

[2018-04-19 06:36] radityagumay commented on #389
@pedegie you cant doing that, description in each group for example in given is treatment as unique. so it will remains once.

please close you issue. thanks

[2018-04-19 09:31] radityagumay commented on #386
@DmitriyZaitsev hi, please take a look my PR #2, if this solve you issue, please close this. thanks

[2018-04-19 10:18] raniejade commented on #386
@DmitriyZaitsev you can drop the `@RunWith(...)` annotation and install https://plugins.jetbrains.com/plugin/8564-spek.

[2018-04-19 21:40] #389 closed, assigned to nobody

[2018-04-21 07:05] radityagumay commented on #386
@raniejade removing `@RunWith(...)` will not generate code coverage

[2018-04-22 11:18] DmitriyZaitsev commented on #386
@radityagumay
Thanks, but I didn't get how #2 can help. Could you please elaborate?

[2018-04-22 11:21] DmitriyZaitsev commented on #386
@raniejade
I use the plugin in the IDE.
If I drop the annotation, `gradle test` won't generate the html test report.

[2018-04-23 09:59] raniejade commented on #374
One option for isolation is to only have a single entry DSL at the top-most scope (for each DSL styles).

[code]

`describe` is defined as:
[code]

The gherkin style might look like:
[code]

Using `@DslMarker` will prevent nesting them.

[code]

The DSLs will be using `group`, `action` and `test` under the hood. IDE support will be trivial with the new `@Synonym` annotation. Now with https://githu

[2018-04-23 16:26] robfletcher commented on #374
Is the plan to keep different styles structurally compatible? One thing I found infuriating with ScalaTest was that there are numerous different styles and porting an existing test from one style to another is a non-trivial effort.

[2018-04-24 08:07] robstoll commented on #374
Would be nice if one can mix styles if one wants or it should at least be easy to add an own style.

[2018-04-24 08:28] raniejade commented on #374
@robfletcher WDYM by structurally compatible?

Mixing is what we are trying to avoid but you still have the option to create your own or extend an existing one.

[2018-04-24 10:22] raniejade opened #394 "Introduce specification style (jasmine, rspec)"
Isolation is discussed on #374 , while this issue will discuss one of the styles we want to support. This style is  inspired by test frameworks like Jasmine and RSpec.

[code]

This is equivalent to(using only Spek core scopes):

[code]
###  Keywords

- `it` creates a spec, in JUnit world this is your test method.
- `describe` creates a suite, which is a collection of specs.
- `context` is an alia

[2018-04-24 12:29] curiousily opened #395 "Using 2.0 in Android Studio"
Seeing that Milestone 2.0 is past due by [**5 months**](https://github.com/spekframework/spek/milestone/3) what is the recommended way to use the dev 2.0 version in Android Studio?

More importantly, any ETA of 2.0? Would you recommend switching to something like kotlintest or plain JUnit5 and not waiting for 2.0 release?

Thanks for all the wonderful work from the spek framework team!

[2018-04-24 18:13] robfletcher commented on #374
@raniejade as in the differences are aliases for the same function rather than a fundamentally different way of structuring test cases.

[2018-04-25 00:22] raniejade commented on #374
@robfletcher definitely, the only differences are the aliases/keywords used in each style. Structure will always be in the form of nested callbacks.

[code]

[2018-04-25 00:48] raniejade opened #396 "Introduce Gherkin style DSL"
This style is inspired by [Gherkin](https://github.com/cucumber/cucumber/wiki/Gherkin), isolation is discussed on #374.

[code]

The above code is equivalent to(using only core Spek scopes):

[code]

Test tree for both will look like:
[code]

[2018-04-25 01:25] raniejade commented on #395
Firstly, very sorry for the delay. The team was pre-occupied with personal stuff and didn't have much time to work on `2.x`. As of now, you can't use `2.x` yet. I would suggest to use `1.x`, and migrate later on. We hope to make the miigration as smooth as possible, the plan is to allow projects to contain `1.x` and `2.x`  side-by-side.

Only when #374, #394 and #396 is done I can give a correct e

[2018-04-25 08:39] curiousily commented on #395
First, no need to be sorry, this is an open source, free of any charge, effort. And quite frankly, spek has been a very welcomed change for our team (living in JVM & Android world).

Thanks for the detailed response, will follow the progress on the mentioned issues!

Keep up the good work,
Thanks 😃

[2018-04-25 08:58] #331 closed, assigned to artem-zinnatullin

[2018-04-26 16:05] rusio commented on #364
From reading through #180 and #146 it seems that Spek features a nicer API for data-driven tests than KotlinTest, which is well documented. We would like to replace a suite of Groovy based Spock tests with Spek, but the lack of documentation carries the risk that the API can be changed. So while it looks impressive, the feature is useless without docs.

[2018-05-01 13:58] ohkio opened #402 "setting-up.adoc needs a small revision"
As of right now the file:
spek/documentation/src/asciidoc/setting-up.adoc

says that the build.gradle file should have a part that looks like this:
[code]
This did not compile for me as I believe this is actually the format intended for the build.gradle.kts file. The syntax that worked for me was:
[code]
which I was able to figure out from the JUnit documentation. Please revise!

[2018-05-02 13:20] kollikolli opened #403 "JUnit5 Tags for Spek"
I am trying to distinguish my tests into Unit- and Integration tests.
My idea was to use the new JUnit5 Annotation `@Tag("unit")` which works nicely for my JUnit tests, but I cannot get it to work with Spek.

What I currently have is my class:

    data class MyObject(val value: Int)

My tests:

    @Tag("unit")
    object MyObjectTest {

        @Test
        fun checkEquality() {
            val

[2018-05-02 16:56] nlwillia opened #404 "Contexts not detected unless tests are directly nested"
[code]
This ends up adding `root / test` instead of `root / a / test` and `root / b / test`.  It's not clear from the docs that there's a static structural requirement, so I'm not sure whether this is a bug, language limitation or just a bad expectation on my part.

[2018-05-03 03:21] raniejade commented on #404
`root / test` is expected, since the `it` you are referencing in `add` belongs to the context `describe("root")` . For your expected behaviour you have to use extension functions:

[code]

Which will yield `root / a / test` and `root / b/ test`.

[2018-05-03 03:21] #404 closed, assigned to nobody

[2018-05-03 03:23] raniejade commented on #403
JUnit Jupiter and Spek are totally different frameworks, the only thing they share is JUnit Platform (`TestEngine`).  `@Tag` is a JUnit Jupiter API.

[2018-05-03 03:23] #403 closed, assigned to nobody

[2018-05-03 11:52] nlwillia commented on #404
Ah, got it.  I was expecting more of a stack-like dispatch behavior.

[2018-05-04 12:11] bondpp7 commented on #50
@wilkinsona or @sdeleuze: any word on https://jira.spring.io/browse/SPR-15143?  It's been
"waiting for triage" for more than a year.  Without the ability to integrate with spring's context, our adoption of Spek is hamstrung.

[2018-05-04 12:37] wilkinsona commented on #50
@bondpp7 Sorry, I can't help you there. Some input from @sbrannen is needed.

[2018-05-05 03:58] paul-hammant opened #405 "Make a pure Java8 example of using Spek"
https://github.com/mscharhag/oleaster and http://cuppa.forgerock.org are Mocha/Jasmine inspired frameworks for Java8. I'm sure Spek is usable from Java8 (albeit not as elegant).  Any chance of making an example project (Maven or Gradle)?

[2018-05-06 19:30] phatblat commented on #396
Has any work been started on this? Is it dependent on any ongoing 2.0 work?

My team is looking at using Gherkin, so I'm interested in contributing to make this happen.

[2018-05-07 09:27] raniejade commented on #396
@phatblat no work has been done yet, umbrella issue is #374 which discusses how to split the different styles. Implementation wise, I would like to #394 to be implemented first before proceeding with this.

[2018-05-07 12:23] raniejade commented on #405
Wouldn't count on this to happen. Spek is not designed to be used from Java so it does not make sense to create examples for it.

[2018-05-07 12:23] #405 closed, assigned to nobody

[2018-05-08 20:00] phatblat commented on #394
This is right up my alley as I'm a contributor on [Quick](https://github.com/Quick/Quick#readme), which is an RSpec style testing framework for Swift and Objective-C. I'll take a look at 2.0 and see if I can start working on this.

[2018-05-08 20:51] rainkinz commented on #330
For those trying to get this working who are a bit new to Gradle, this worked for me:

[code]

[2018-05-08 22:43] raniejade commented on #394
@phatblat see #408

[2018-05-09 11:58] sbrannen commented on #50
Hi everybody,

I don't foresee any easy way to support testing frameworks based on lambda expressions or closures with the _Spring TestContext Framework_, simply because the two programming models are completely different with regard to registration (and more importantly _lookup_) of metadata as well as test execution lifecycle.

I'll post something similar on the related JIRA issue for Spring and

[2018-05-13 14:15] paul-hammant opened #410 "How to do a single test?"
Other frameworks allow you to prefix with `only().it(...)` or `only().describe(...)`

How does that work in Spek ?

[2018-05-14 08:45] raniejade opened #411 "Allow child scopes to reference memoized values from the parent scope"
Making it possible to write reusable scopes, which means it is possible to do something like:

[code]

We could also re-write data driven to look like (**this may require adding support to Spek Core rather than an extension**):
[code]

[2018-05-14 16:14] nukeforum commented on #411
Would it be possible to reuse the other scopes (When, Then, context, etc.)? I really like the idea of being able to reuse cases like that. It looks pretty idiomatic to me.

[2018-05-15 03:22] raniejade commented on #411
@nukeforum Yep! Any scope can be re-used.

[2018-05-15 03:51] #394 closed, assigned to nobody

[2018-05-15 11:28] #396 closed, assigned to nobody

[2018-05-15 20:45] lewismorgan commented on #410
Do you mean running just a single test? You can group your tests in "describe", "on", and "it". Each one can be run by itself without running all the tests in the class, unless it's the parent of the test from my understanding. There is gutter icons in the IntelliJ IDE that you can use to run if you're using the plugin. Looks like the IDE runs a spek tooling class. Here's a cutdown version of the

[2018-05-16 12:39] paul-hammant commented on #410
If I'm in Intellij, I presume I can customer the test-runner to pass those `--spec` and `--path` options to the executer.  If from Maven, it'd be `-Dpath=path2speklambda`, right?

I'm asking because I have hundreds of nested describes, and its, and for experimental purposes I'm wanting to run just one without commenting out others, or rearranging the source significantly to facilitate my temporary

[2018-05-18 07:09] raniejade commented on #410
We have `f` prefixed versions of the scopes (`fit`, `fdescribe`, etc...) which is the same as `only().`, but was dropped in `1.1`. We felt it was a hacky solution for frameworks who don't have any good IDE support.

Closing this as it is a duplicate of #285 .

[2018-05-18 07:09] #410 closed, assigned to nobody

[2018-05-28 09:28] #411 closed, assigned to nobody

[2018-05-31 16:31] berlin-ab commented on #333
Looks like maybe it is back.

[code]

Using version `1.1.5` with kotlin version `1.2.41` and plugin version `0.5.4`

[2018-05-31 22:55] berlin-ab commented on #333
Found a fix.

It was right in front of me as a warning (at the top of my run output).
[code]

The key line of warning output was this:
```Consider providing an explicit dependency on kotlin-reflect 1.2 to prevent strange errors```

I did that, and everything started working again.

[2018-06-06 22:05] kiyoshi-shikuma commented on #52
bump +1

[2018-06-09 21:38] quiqua commented on #337
I ran into this as well and as @artem-zinnatullin pointed out its fairly easy to achieve:

[code]

[2018-06-10 18:29] arturdryomov opened #422 "Remove Action in favour of Group and Test combination"
### Issue

At this point there are two ways to do the same thing — using `action` and `group`.

[code]
[code]
The difference is obvious — it is possible to omit `beforeEachTest` when using `action`. At the same time `action` cannot be nested. Before 2.0 this could lead to nasty bugs related to putting nested groups into `action` which were essentially ignored. Fortunately enough `@DslMarker` magic

[2018-06-10 23:45] raniejade commented on #422
I'm up for this now :) Simplifies a lot of things in the runtime and the docs. Another problem is that `group` and `test` have before/after fixtures but `action` does not, which may have caused some confusion.

[2018-06-11 00:01] raniejade opened #423 "Data driven 2.0"
Introduce `where` that can be used to create data-driven tests.

[code]

Implementation wise it can be built on top of #411, repeating the scope `n` times and creating pre-defined memoized values based on the declared columns/values.

//cc @ming13 @artem-zinnatullin @hhariri

[2018-06-11 01:41] dave08 commented on #422
But doesn't before and after just add clutter to the tests? When nesting is not required, it would maybe be nice to have such an option...

[2018-06-11 03:27] arturdryomov commented on #422
@dave08, I might be wrong from the technical perspective but since `action` is dynamic it brings a lot of nuances. @raniejade can elaborate on that. Stable, understandable and explicit behaviour is worth an extra lambda (at least in my opinion).

[2018-06-11 03:28] arturdryomov commented on #422
@vanniktech, can you please give your opinion? Looks like you’ve monitored Spek for some time.

[2018-06-11 04:07] artem-zinnatullin commented on #422
@dave08 `action` still requires a separate lambda to have something run before/after *each* test, the only case when it saves you a lambda is an analog of `@BeforeClass` from JUnit when you execute something once before running several tests

I really like the point about scaling @ming13 makes, other points are great too

👍

[2018-06-11 04:45] artem-zinnatullin commented on #423
hmm, so it's reflection based and not type-safe

Also how would Spek know that `test(…)` doesn't need to be executed on its own?

[2018-06-11 05:31] arturdryomov commented on #423
I think we can promote data-driven approach using patterns instead of implementation.

Simple scenario:

[code]

Complex scenario:

[code]

It is simple and language-driven. It is possible to do custom formatting, filter values using `if` and just go crazy.

With the data-driven extension we saw the limitation of the centralized _helpers_ since it did not fit custom behaviors, like having 100 argu

[2018-06-11 06:16] dave08 commented on #422
So in gherkin, you'd have `given { beforeEachTest { .... } }` all over the place no? I agree about the confusion, I myself recently had such problems, I'm just wondering if the most common use case is to have beforeEachTest (as is currently the default memoized CachingMode), then would there be a way to not have to riddle test code with it all over. Also, you'd need to memoize more or use `var`s a

[2018-06-11 07:05] arturdryomov commented on #422
JFYI — I’ve walked through issues we had before and `action` definitely brings a lot of confusion, especially because of nesting, execution order and general difference from `group`.

[2018-06-11 07:52] dave08 commented on #422
You all have very good points, I'm just wondering if there isn't a way to avoid the beforeEachTest... even in junit, you only have it at the top of the class. Here, even just to run the SUT you have to have it every time... try adding mocking frameworks to the mix, and you've got a lot of boilerplate. I admit, that I don't fully understand theninner workings enough to be commenting, I'm only comin

[2018-06-11 08:15] arturdryomov commented on #422
@dave08, your concerns are totally valid and we do not dismiss them.

At projects I’m working on usually we have something like this.

[code]

`perform` is an alias for `beforeEachTest`. You can replace `context` with `given` and `when`, `it` with `then`. Looks pretty organic to me. And it follows the general Arrange-Act-Assert pattern.

Yes, JUnit has `beforeEachTest` only on top of the suite, bu

[2018-06-11 08:48] raniejade commented on #422
Just FYI the Gherkin DSL looks like:
[code]

Above is equivalent to:
[code]

Now if we proceed with dropping `action`, then `Scenario` will be aliased to `group`. We also need to make guarantees to the execution order to support the Gherkin style.

[2018-06-11 08:57] vanniktech commented on #422
Indeed I have. And I'm really eager now that the SNAPSHOT upload mechanism have been merged.

I'm also in favor of simplifying the API and it certainly looks like we don't need `action`. Let's just nuke it.

[2018-06-11 11:04] vanniktech opened #425 "Alpha release"
I like that there's been some progress in the last few days. Snapshots also seem to be something that will start to work soon.

Can we get out a really early alpha release that will still super likely break and corrupt everything?

Just want to get my hands dirty and play around with it and have a stable source and not depend on SNAPSHOTS.

[2018-06-11 11:21] arturdryomov commented on #425
I think you can just take snapshots and go with it. They [seem to be available](http://oss.jfrog.org/oss-snapshot-local/org/spekframework/spek2/) at this point.

* Repo — `http://oss.jfrog.org/artifactory/oss-snapshot-local`
* Artifacts for JVM:
    * Runtime — `org.spekframework.spek2:spek-runtime-jvm:2.0.0-SNAPSHOT`
    * JUnit 5 Runner — `org.spekframework.spek2:spek-runner-junit5:2.0.0-SNAPSHO

[2018-06-11 11:40] dave08 commented on #250
KotlinTest seems to do this with system properties: https://github.com/kotlintest/kotlintest/blob/master/doc/reference.md#focus

It could currently be done by making extra extension functions for groups that just check those system properties against the tags passed...? Of course, having this integrated deeper in Spek might be more efficient...

[2018-06-12 08:07] kintomiko commented on #232
@davidsowerby I use gradle 4.6 instead of the gradle plugin, it works for me
I mixed junit4 and spek testcases

[2018-06-12 10:13] davidsowerby commented on #232
@kintomiko Thanks for that.  I may try that.  I did in fact start using Spek, and am gradually migrating tests to it, but have kept them in a separate project for now.

[2018-06-12 13:21] dave08 commented on #422
@ming13 Do you have a cleaner way of dealing with this with the current proposition, or is this the way to do it?
[code]

[2018-06-12 13:34] dave08 opened #426 "Add support for tests with coroutines"
Would it be possible to add `cdescribe`, `ccontext`, `cBeforeEachTest` and `cit`, etc.. (for example), that would have a `runBlocking` (or the new TestCoroutine system...) inside... that would avoid extra nesting (like mockk.io did...).

[2018-06-12 13:40] arturdryomov commented on #426
The general idea at this point is to delegate these things to tests. Otherwise it would expand to RxJava, `Future`, `ListenableFuture` and so on. Spek is a testing engine, we don’t even provide asserts. You can go wild and create your own extensions though.

Side note — from a personal point of view, such things should be a part of code structure and test arrangement. I’m not into coroutines but w

[2018-06-12 13:42] dave08 commented on #426
I just thought that since coroutines is really part of Kotlin core, and Spek is a Kotlin test framework, it would just avoid lots of boilerplate code... but I guess one could make extension functions...

[2018-06-12 13:53] arturdryomov commented on #426
`Future` is a part of the JVM and yet JUnit does not have direct _helpers_ to deal with them. The same goes to `Thread` and `Executor`. Working with them is part of the codebase, as well as anything related to multithreading or anything else.

It is not a boilerplate, it is dealing with application level-abstractions. Nothing can deal with that good enough except the developer. Test engine has a s

[2018-06-12 18:36] arturdryomov commented on #422
@dave08, `memoized` might help you with that. Actually it is a classic RSpec discussion around [fields vs. `let`](http://www.betterspecs.org/#let).

[code]

[2018-06-13 20:46] rooton opened #429 "Failed to resolve: org.jetbrains.spek:spek-api"
---

[2018-06-13 20:50] #429 closed, assigned to nobody

[2018-06-14 10:44] ailjushkin commented on #425
@ming13 hi, could you please tell me what should I set up in my pom.xml to be able to compile my project using the kotlin-reflect 1.2.x?

The latest version of spek-api seems to be using the older version of the kotlin-reflect which is apparently 1.0.6.

This problem becomes into compilation errors.

https://mvnrepository.com/artifact/org.jetbrains.spek/spek-api

I have to use the official maven r

[2018-06-14 12:57] arturdryomov commented on #425
@ailjushkin, 2.0 snapshots available only on jcenter.

[2018-06-14 13:42] vanniktech commented on #425
Can we please sync them to mavenCentral?

[2018-06-14 14:53] ailjushkin commented on #425
That would be great if you could sync it with the central repository.

But the minimal task is to update dependencies: I only need to have kotlin-reflection 1.2 as a dependency for the 1.x version.

[2018-06-15 09:27] artem-zinnatullin commented on #422
@raniejade for Gherkin we not only need guarantees for execution order (which is relatively easy to do), but also `memoized` to cleanup after end of all `test` in a `group` and this one is more tricky to bake into runtime

[2018-06-15 09:34] artem-zinnatullin commented on #422
Although we can force `CachingMode.GROUP` for `memoized` in Gherkin, but that's kinda hacky

[2018-06-15 23:13] artem-zinnatullin commented on #422
So, as @raniejade pointed, removing `action` requires Gherkin to be adapted for this change.

I've talked with @ming13 for few hours about that after I've implemented PR #430 which removes `action` but keeps Gherkin working in flat style.

@ming13 suggested that Gherkin can work without action just by using nested style like:

[code]

That's how iOS team writes tests at Juno where @ming13 works.

[2018-06-16 13:22] vanniktech commented on #422
Lets nuke Gherkin then. The less the better. Keeps the API simple and focused.

[2018-06-16 21:58] raniejade commented on #422
I would really like to keep the Gherkin style, and yes it's a side-effect of the `give-on-it` style on `1.x` which I know a lot of people still uses. If dropping action results in making implementing Gherkin a lot harder (I don't like forcing `CachingMode.GROUP`), then let's not drop it at all.

We could go with @ming13's suggestion, but maybe just drop `Feature/Scenario` synonyms and go with `Giv

[2018-06-16 23:46] artem-zinnatullin commented on #422
@raniejade PR #430 keeps Gherkin flat without `action` and statically disables overloads of `memoized` with custom `cacheMode` by using `@Deprecated(level = ERROR)`, there is not much point in `TEST` caching mode for flat-styled Gherkin as far as I see

But that's implementation details.

As far as I know we don't have users who asked us to add Gherkin in the first place, so maybe we can roll out

[2018-06-17 00:11] artem-zinnatullin commented on #426
I stand with @ming13 here, it should be possible to provide Coroutines support as extension project on top of Spek, similarly to how we [provide Specification style](https://github.com/spekframework/spek/blob/1b9be4f79e201c4b4bdc56f3a3fe93973402aeb3/spek-dsl/common/src/main/kotlin/org/spekframework/spek2/style/specification/Specification.kt) right now.

By providing custom style you'll have contro

[2018-06-17 06:57] arturdryomov commented on #422
@raniejade, @artem-zinnatullin, I’m in the middle ground between you two. But I like @raniejade suggestion a bit more. Let’s remove `Action`, remove `Feature` and `Scenario` and have Gherkin-like DSL using `Given`, `When` and `Then`. We can discuss further progress later since it is a separate topic aside from `Action` which was caught by crossfire. Let’s move step by step.

[2018-06-17 22:01] raniejade commented on #422
I guess moving forward we could re-implement the Gherkin style as what @ming13 suggested, then we can proceed dropping `action`.

[2018-06-19 13:46] vanniktech commented on #425
Was thinking of this again and to encourage everyone of using Spek it would be really beneficial if we had alpha / rc / beta releases or however you want to call them.

[2018-06-19 18:56] Rosomack commented on #423
I agree with @ming13 on this. However I've got a few comments on the usability of @ming13 's proposed solution I'd like to make you aware of. I've tested this on `1.1.5`, apologies if this has already been fixed in `2.0`.

For complex test cases requiring a few setup parameters, I would expect to be able to break them up into `groups` to improve readability in the IDE like so:
[code]
This is overe

[2018-06-19 19:10] arturdryomov commented on #423
@Rosomack, hey, that was one of the first Spek issues I’ve opened. See #210. Probably should be fixed in `2.x`.

[2018-06-20 06:15] ailjushkin commented on #425
@vanniktech sounds perfect, thank you guys for your great work

[2018-06-21 00:37] #422 closed, assigned to nobody

[2018-06-22 02:29] LeoColman opened #434 "Context not being resetted between 'on' cases"
I expected a new Foo to be created for every 'on' scenario, but instead it reuses the object, therefore I can't use the same logic for all the tests that modify the object.

What can I do to achieve this?

[code]

[2018-06-22 07:53] NorseDreki commented on #434
Use `val foo by memoized { Foo() }` instead of `val foo = Foo()` as the latter is evaluated only once.

---
BTW,  there seems to be an inconsistent behavior:

`memoized` uses `CachingMode.TEST` by default which means value should be re-created for every `it` (test scope), _but_ it is re-created for every `on` here (action scope), for example:

[code]

"Should not have changed as well" test fails a

[2018-06-23 19:14] raniejade commented on #434
@upelsin that's expected since action is treated as a `test` by memoized.

[2018-06-23 19:14] #434 closed, assigned to nobody

[2018-06-23 19:35] raniejade opened #435 "Properly support gherkin style"
Since we dropped action (#422), we lost the ability to do stateful tests (you can't have tests depend on the previous one). It is still possible to implement gherkin, without `action` (`Given` here is a synonym to `test`).

[code]

The only missing with this approach is that the test tree doesn't reflect the structure. How would we prevent confusion that plauged `action`? Treat the each styles sep

[2018-06-24 22:51] NorseDreki commented on #434
@raniejade probably `CachingMode.ACTION` could have been a less confusing name then.

[2018-06-24 23:31] LeoColman opened #436 "Using memoized and mocking not doing correct behaviour"
While trying to use memoized and a mocked dependency, everything gets a little bit out of the place.

Given the following code and tests:

[code]

It was expected for every test to pass. But, for some reason, the methods are not being called on the memoized mock. The tests go all over the place, and the order of Given -> On -> It doesn't seem to be respected.

The tests work correctly when doing t

[2018-06-24 23:41] LeoColman commented on #436
As I've seen in issue https://github.com/spekframework/spek/issues/289
I also tried to use on.

Replacing all 'describe' for 'on' also doesn't work.

[2018-06-24 23:44] LeoColman commented on #436
Using beforeEachTest isn't cool to do the mocking, as I'll have to make my services mutable, and that is not very kotlin-ish

[2018-06-24 23:47] raniejade commented on #436
You should wrap all your `every { barService.bar() } returns "Baz"`, in a `beforeEachTest`.

[code]

[2018-06-25 00:22] LeoColman commented on #436
How would you recommend structuring this piece of code?

The way I see it I'll have to write way more code to test a very, very simple concept

[2018-06-25 09:09] nykykof opened #437 "spek kotlin and maven"
Hello,

I have a little web project with pure kotlin ( ktor framework). For the unit tests i decided to use spek in oder to stay in the same way of using pure kotlin in my project. The problem i am facing is that i am using spek in a maven project and for my CI purpose i want to be able to run "mvn test" in the console but i can't ( it does anything like i have not any test in th project).
I tried

[2018-06-25 20:43] Khoulaiz commented on #390
No, it does not resolve the issue. I don't want to know how to use a deprecated plugin (like you did in your sample project). I want to know how to use the native gradle support and I would like to read it in the official documentation of spek. I consider it as bug to use deprecated functionality, that's why I created this bug.

[2018-06-29 20:09] robstoll commented on #267
You might want to have a look at: https://github.com/robstoll/tutteli-gradle-plugins/blob/master/tutteli-gradle-spek/src/main/groovy/ch/tutteli/gradle/spek/SpekPlugin.groovy

it does not fulfil all the requirements stated above but might be a good starting place; especially if you want to provide support for gradle < 4.6 => feel free to copy.
If your plugin targets Gradle >= 4.6, then it should be

[2018-06-30 08:40] kkurczewski commented on #437
I'm also unable to run Spek with Maven, tried example at: https://github.com/spekframework/spek-maven-sample but it throws ugly exception.

I fiddled with dependencies versions, directories and test names and I managed to run maven without errors but no test are executed.

[2018-07-02 10:27] davidsowerby commented on #232
It took me a while to get back to this, but with the setup provided by @raniejade and the Gradle version tip provided by @kintomiko , I now have this working.

I have also updated the versions and am using:

spek 1.1.5
junit-platform: 1.0.3
vintage-engine: 4.12.3

[2018-07-02 18:06] #436 closed, assigned to nobody

[2018-07-03 19:59] AnkBurov opened #445 "Spek doesn't write <error> tags in junit test report files when exception is thrown in the on{ } block"
Hi. I've faced with some strange behavior of the Spek (tested with 1.1.5), not sure if this is a bug but it does look like it.

During test execution if exception is thrown in blocks given{ } or it{ } everything is ok - `test-results/junit-platform/TEST-spek.xml` file contains expected tag `<error message="!!!!!" type="java.lang.IllegalArgumentException">`

but when exception is thrown in the on{

[2018-07-04 11:38] dennisfen opened #446 "Spek website is unavailable"
There's a problem with the link (http://spekframework.org/) or the website itself. Following the link gives 404.

[2018-07-04 12:24] raniejade commented on #446
Yeah, @hhariri not sure if it takes this long for the DNS changes to propagate. Looks like it's pointing to github's nameservers.

[2018-07-05 01:22] raniejade commented on #446
https://spekframework.org is now back. Thanks for the report @dennisfen.

[2018-07-05 01:22] #446 closed, assigned to nobody

[2018-07-07 11:56] raniejade commented on #365
Not relevant anymore, subject extension is dropped on `2.x`. Will add a migration docs specifically for it.

[2018-07-07 11:56] #365 closed, assigned to nobody

[2018-07-07 11:56] #328 closed, assigned to nobody

[2018-07-07 11:57] #217 closed

[2018-07-07 11:57] #170 closed

[2018-07-07 11:57] #267 closed

[2018-07-07 11:57] #268 closed

[2018-07-07 11:57] #269 closed

[2018-07-07 11:57] #285 closed, assigned to artem-zinnatullin

[2018-07-07 11:57] #344 closed, assigned to nobody

[2018-07-07 11:57] #345 closed, assigned to nobody

[2018-07-07 11:57] #423 closed, assigned to nobody

[2018-07-07 11:57] #435 closed, assigned to nobody

[2018-07-07 11:58] raniejade commented on #425
First alpha is already out: https://github.com/spekframework/spek/releases/tag/2.0.0-alpha.1

[2018-07-07 11:58] #425 closed, assigned to nobody

[2018-07-07 14:57] PHPirates commented on #170
@raniejade I still see 1.1.19 in both links from my last comment, will this be fixed soon like you said in your first comment?

[2018-07-08 07:19] #374 closed, assigned to nobody

[2018-07-08 10:36] PHPirates opened #448 "Some typos in the migration guide? And: example usage"
Thanks for the [migration guide](https://spekframework.org/migration/), it's very useful!

Some things had to be changed for me though (possibly also in [setting up](https://spekframework.org/setup-jvm/) or other places): `import org.spekframework.spek2.specification.describe` should be I think `import org.spekframework.spek2.style.specification.describe` because the first is not found.
Same for `

[2018-07-08 10:38] PHPirates commented on #170
@raniejade Sorry I had not noticed that you had released the 2.0.0-alpha.1 version! That solves it too of course. Thanks!

[2018-07-08 11:12] PHPirates commented on #448
Also, in order to run all my tests and not only my spek tests I had to change
[code]
to
[code]
like it was before. No need to `includeEngines`. But maybe this should be a separate issue.

[2018-07-09 09:26] raniejade commented on #448
@PHPirates thanks for the report! The migration guide really needs some ❤️ , was rushing into doing the first alpha. Will definitely work on it.

[2018-07-09 09:44] vanniktech commented on #425
Sweet. Took 10 minutes to migrate one of my pet projects. Awesome!

[2018-07-09 14:22] micHar opened #449 "Cannot use junit5 @ExtendWith with Spek"
Hey, not sure if it's an issue at all, maybe a misconception on my side. I have a simple test class

[code]

And an extension class:

[code]

What I get is:
[code]

So the extension is only called for the traditional `whatever()` test, the Spek tests are ignored. Of course I could add Spek's own `beforeTest` closure, but the extension mechanism seems like a good idea for my case (providing trampol

[2018-07-11 17:19] plannigan opened #451 "Tests not executing: OpenJDK11"
I recently updated one of my machines to Ubuntu 18.04 (with OpenJDK11) and attempted to run the [spek-multiplatform-example](https://github.com/spekframework/spek-multiplatform-example) since the alpha was just released. However, the test report shows that none were executed. I tried testing the project on two other systems with OpenJDK8/Ubuntu 16.04 and the tests are executed as expected.

I incl

[2018-07-11 22:12] plannigan commented on #451
I have now run the same build using OpenJDK8 on the Ubuntu 18.04 machine and the tests ran successfully. So it seems like the issue is a difference between Java 8 and Java 11.

[openjdk8-ubuntu18.04.txt](https://github.com/spekframework/spek/files/2186371/openjdk8-ubuntu18.04.txt)

[2018-07-12 09:32] raniejade commented on #451
The main repo can't even compile against JDK10, currently blocked by https://github.com/JetBrains/gradle-intellij-plugin/issues/298.

[2018-07-12 09:34] raniejade commented on #449
`@ExtendWith` is JUnit Jupiter API, it's a different test framework . Spek implements a JUnit Platform `TestEngine` and so does JUnit Jupiter.

[2018-07-12 09:34] #449 closed, assigned to nobody

[2018-07-12 09:44] fbcbl opened #452 "AS Plugin for Spek 2.0.0?"
Hello,

This new Spek version will require a new plugin? If so, any expectations on when it will be available?

Thanks.

[2018-07-12 14:04] raniejade commented on #452
@fabiocarballo It's already out https://plugins.jetbrains.com/plugin/10915-spek-framework, but you need to add a repository that points to `https://plugins.jetbrains.com/plugins/dev/10915`.

![spek2-plugin-repo](https://user-images.githubusercontent.com/1041919/42638148-43e14266-8630-11e8-9a52-c8a4e97342cb.PNG)

I'll include this in the release notes for `2.0.0-alpha.2`

[2018-07-12 14:04] #452 closed, assigned to nobody

[2018-07-13 06:52] fbcbl commented on #452
amazing. thanks :)

[2018-07-16 12:24] harry-uglow opened #453 "How can I inherit other classes with Spek"
Hi there,

I am trying to use Akka's Route TestKit which requires inheritance of an abstract class. I cannot do this:

    class TestKitExampleTest : JUnitRouteTest(), Spek({

      describe("My routes") {
        val appRoute = testRoute(MyAppService().createRoute())

        it("calculator add") {
          // test happy path
          appRoute.run(HttpRequest.GET("/calculator/add?x=4.2&y=2.3"))

[2018-07-16 13:12] raniejade commented on #453
Looks like `JUnitRouteTest` is using a rule to bootstrap akka, see https://github.com/akka/akka-http/blob/master/akka-http-testkit/src/main/scala/akka/http/javadsl/testkit/JUnitRouteTest.scala.

You can use Spek's  `LifecycleListener` to do the same thing.

[code]

Then on your test you can do:

[code]

[2018-07-16 14:39] harry-uglow commented on #453
Thank you, this worked!

Full code for time travellers:

    import akka.http.javadsl.testkit.JUnitRouteTest
    import org.jetbrains.spek.api.lifecycle.LifecycleListener
    import org.jetbrains.spek.api.lifecycle.TestScope

    class SpekRouteBootstrapper: LifecycleListener, JUnitRouteTest() {
      override fun beforeExecuteTest(test: TestScope) {
        systemResource().before()
      }

[2018-07-16 22:16] #453 closed, assigned to nobody

[2018-07-17 00:46] ankushg opened #454 "Support Kotlin/JS"
Now that 2.0 is in alpha, we can write Spek tests in `common` modules and run them via JUnit when building/testing `jvm` modules.

It would be amazing to run those same `common` Spek tests when building/testing for `js` modules as well.

I realize this is probably a little far away, but I figured it couldn't hurt to get the discussion started on what a Javascript test runner for Spek could look li

[2018-07-22 01:52] raniejade opened #455 "Run gutter icons are not being shown for tests in common module"
![common](https://user-images.githubusercontent.com/1041919/43041462-c5aad82c-8da4-11e8-9f78-e88de285f320.PNG)

Weirdly enough, it works for common platform tests in the spek repo.

![common-spekrepo](https://user-images.githubusercontent.com/1041919/43041467-df781404-8da4-11e8-8054-70a5c49ed726.PNG)

The snippet below determines whether a line gets the `run` gutter icon. Basically the plugin will

[2018-07-22 02:21] raniejade commented on #395
@curiousily Hey! `2.0.0-aplha.1` is out, would you like to test it out? Didn't have time to setup a sample android project that uses it, but you can base it out the multiplatform example: https://github.com/spekframework/spek-multiplatform-example.

[2018-07-24 09:52] raniejade commented on #454
Haven't thought about it that much, but in the case for `kotlin-test`  support is built-in into the kotlin compiler itself.

[2018-07-27 12:42] davzucky opened #461 "Spek2 - What is the repository ?"
Hi,

I'm really interesting of migrating my test packs to Spek2 using the new gherkin language. However following the instruction from the website https://spekframework.org/setup-jvm/ I cannot figure out which repository I need to reference. Looking around I have not been able to figure out the address.

Could you let me know ? I will be happy to update the documentation after

[2018-07-27 13:40] raniejade commented on #461
Wow, silly me - I thought I already added it to the docs. `https://dl.bintray.com/spekframework/spek-dev/` is the maven repo url.

[2018-07-27 13:40] #461 closed, assigned to nobody

[2018-07-27 13:46] raniejade commented on #451
Fixed in #460

[2018-07-27 13:46] #451 closed, assigned to nobody

[2018-07-27 18:06] davzucky commented on #461
That work. Thank you for the fast reply

[2018-08-01 17:20] marcphilipp opened #462 "Incompatibility with JUnit Platform 1.3-M1"
Originally reported as https://github.com/junit-team/junit5/issues/1518.

Spek 1.1.5 seems to completely ignore the passed `DynamicTestExecutor` [1] and instead add the test descriptor and call the execution listener directly [2] which is not how `HierarchicalTestEngine` is supposed to be used. 🤔

[1] https://github.com/spekframework/spek/blob/v1.1.5/spek-junit-platform-engine/src/main/kotlin/org/

[2018-08-01 20:57] raniejade commented on #462
@marcphilipp yes, it is still maintained but mostly for bug fixes. I'll take a look at the PR later, thank you!

[2018-08-02 10:15] raniejade commented on #462
Resolved by #463

[2018-08-02 10:15] #462 closed, assigned to nobody

[2018-08-02 10:27] raniejade commented on #455
trying to get help from the IJ plugin development forum: https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000435044--Kotlin-PSI-Check-if-class-is-a-subclass-of-a-particular-class-that-works-for-JVM-and-Common-platforms-?page=1#community_comment_360000084739

[2018-08-08 19:12] mtrewartha opened #464 "Spek 2 IDEA Plugin and Android Studio 3.3 Canary 5"
I'm trying to get my specs converted from Spek 1 to 2. Manual Gradle (4.9) runs with `./gradlew test` are working great, but running in Android Studio (3.3 Canary 5) with the Spek 2 plugin (2.0.0-alpha.1-IJ2018.1) gets me the following exception:

[code]
Here's what my setup looks like:
[code]

[code]

Here's the Android Studio version info:

_Android Studio 3.3 Canary 5
Build #AI-182.3684.101.33.

[2018-08-09 07:47] raniejade commented on #464
The version of the plugin you have is for IJ, there's a different one for AS. The current AS plugin we have published only works for AS 3.2, I'll see what I can do.

[2018-08-09 16:12] mtrewartha commented on #464
Ah, gotcha. I realize 3.3 is still a canary build, so thank you! Things work on the command line for now, so at least I've got that.

[2018-08-09 23:18] radekkozak commented on #395
Hi, so i've setup quick **spek2** *proof-repo* based on original `spek-android-example`

I'm not making PR yet - i think maybe we could incorporate it separately to have one working android sample project for each spek version. I think if someone ( @raniejade ? ) over at the spek team could prepare separete repo it would be great. I could easily PR in then

As far as i tested in AS 3 my example in

[2018-08-10 10:01] raniejade commented on #395
@radekkozak I'm thinking if the samples should be in the main repo. @artem-zinnatullin wdyt?

[2018-08-11 01:10] artem-zinnatullin commented on #395
Yeah I'd start with samples in the repo, unless it becomes too unrelated to the Spek itself

[2018-08-11 10:24] radekkozak commented on #395
Thanks for chiming in @artem-zinnatullin Well i guess it would probably make sense and made the  project more tight _vis-à-vis_ how it look right now. On the other hand it might be little easier from the perspective of the end user to just clone relevant sample and build on this rather than getting the whole project repo with whole caravan. Anyway, ultimately it's your call of course

[2018-08-11 12:50] raniejade commented on #395
It will be much easier for us to maintain and keep up to date.

[2018-08-11 13:01] radekkozak commented on #395
That is for sure. Ok then, i'm going to remove the sample in that case - or if you want to copy over it beforehand just to boot yours let me know and i will do that when you're done.

Thanks for the great work on the framework btw, we already love it here and looking forward to 2.x getting out the beta

[2018-08-12 12:56] raniejade commented on #395
@radekkozak if you could send the PR for the android example, it will be very appreciated :). Will submit separate PR for moving the jvm and mpp examples.

[2018-08-12 13:05] radekkozak commented on #395
Aaa ok, i think i misunderstood you a little but no problem. I leave it to you then to merge it wherever you like as my quicky was based on original sample with 1.x version (that i think it's still beneficial to keep for those folks who use the old Spek)

[2018-08-13 05:35] Zkffkah opened #468 "Spek2 Android Studio plugin NoClassDefFoundErro MultiplatformUtilKt error"
When using this example with Android Studio 3.1.3 and Spek2 plugin Version: 2.0.0-alpha.1-Studio3.1.
![20180813133308](https://user-images.githubusercontent.com/5444033/44014267-7a008c40-9efd-11e8-8f28-88df288976af.png)

Can reproduce it by using this https://github.com/spekframework/spek-android-example/pull/5 spek2 exmaple
1. open the project, spek2 plugin is working
2. rename kotlin package in

[2018-08-16 21:39] ohkio opened #472 "Please Update Intellij Plugin"
Hello!

I have been trying to get Spek to work for the past couple days and finally got very close to getting everything working together. However I believe the last thing that doesn't seem to be working is the Spek plugin. I'm using Kotlin 1.2.60, Gradle 4.9, Intellij 2018.1 community edition, my gradle build file looks like the following:

[code]

And yet when I run JUnit tests the response is "

[2018-08-18 12:12] raniejade commented on #468
@lowwor I don't think we could do anything here. Did you try refreshing the project after the rename?

[2018-08-18 12:30] raniejade commented on #464
@miketrewartha can you try changing `testRuntimeOnly` to `testImplementation`?  I think there's a bug in the plugin where it's not including the dependencies from `testRuntimeOnly`.  Android modules are the only ones affected.

[2018-08-18 12:34] raniejade opened #474 "testRuntimeOnly dependencies not being added to the classpath during execution"
Only android modules are affected.

[2018-08-20 01:57] Zkffkah commented on #468
Weired that, everything is ok when I reopen the project the other day. Maybe not a problem from spek, close the issue for now.

[2018-08-20 01:57] #468 closed, assigned to nobody

[2018-08-20 16:09] mtrewartha commented on #464
Yup, that lets them run 👍 For you future readers, the dependency for `kotlin-reflect` needs to be a `testImplementation` dependency, too.

[2018-08-21 16:55] mtrewartha opened #475 "Unclear test suite failures when using empty xdescribe blocks"
I found an annoying scenario where the test suite fails to run when a spec contains an empty `xdescribe(...)` call. I often times write a skeleton of a test suite when TDDing some new code, so I wind up with a file like this:

[code]

I'll then progressively flesh the file out, implementing tests, then implementing code, running the tests as I go and watching them start to pass. However, when tryi

[2018-08-21 17:21] #464 closed, assigned to nobody

[2018-08-21 17:23] mtrewartha commented on #464
Looks like you've got #474 for this, so I'll close. Thanks @raniejade, appreciate the help!

[2018-08-22 06:19] artem-zinnatullin commented on #475
Thanks for report, we'll take a look

[2018-08-22 06:54] artem-zinnatullin commented on #475
Hm, I couldn't reproduce it on current 2.x branch https://github.com/spekframework/spek/commit/45b935d015d71bcdd5f28334e14bf987e88220dd

PR #476 adds integration test where I verify that it finishes without crashing.

Could you please provide a bit more info:

- Which 2.x Spek version are you on?
- Also which JUnit dependency versions are you using?

Crash seems to be caused by JUnit engine callin

[2018-08-22 07:01] raniejade commented on #475
The problem is with the junit 5 runner. JUnit 5 tries to prune the tree to remove empty groups by calling `removeFromHierarchy` for each empty group. Our implementation just throws an exception.

[2018-08-22 07:09] artem-zinnatullin commented on #475
Yea, but I couldn't reproduce it… Maybe JUnit deps version mismatch

[2018-08-22 07:11] raniejade commented on #475
Are you trying to replicate using the integration tests? If yes, it doesn't use the junit5 runner.

[2018-08-22 07:25] artem-zinnatullin commented on #475
Ah damn it

[2018-08-22 07:30] artem-zinnatullin commented on #475
Reproduced now by placing test in `integration-test/jvm`, will try to fix

[2018-08-24 06:55] bohsen commented on #472
The 'No test found' issue is Android Studios way to tell us it hates us.

Been experiencing it periodically for around half a year on a project not using Spek. Pretty sure it's not the plugin.

[2018-08-24 07:09] raniejade commented on #472
@Benbyday what plugin version do you have? I think you may have pulled in the plugin for IJ. Can you try downloading the plugin manually from here: https://plugins.jetbrains.com/plugin/10915-spek-framework. Choose the AS version.

Also why do you need `testCompile 'org.junit.jupiter:junit-jupiter-api:5.2.0'`? Are you using `@RunWith(...)`?

[2018-08-26 09:05] raniejade commented on #371
Resolved by #398

[2018-08-26 09:05] #371 closed, assigned to nobody

[2018-08-26 09:11] raniejade commented on #329
Android sample is now in the main repo.

[2018-08-26 09:11] #329 closed, assigned to nobody

[2018-08-26 09:12] raniejade commented on #327
Possible now in `2.x`

[2018-08-26 09:12] #327 closed, assigned to nobody

[2018-08-27 11:28] raniejade commented on #475
@artem-zinnatullin what was your progress on this?

[2018-08-27 14:31] vanniktech commented on #472
I've just installed the Plugin for AS with the link you provided and it works fabulously. My gradle configuration:

[code]

[2018-08-28 13:16] raniejade commented on #474
@artem-zinnatullin is `testRuntimeOnly` usually used in android projects? Looking at a android studio's project structure dialog implies it should not be used:

![android-project](https://user-images.githubusercontent.com/1041919/44725336-619c5400-ab18-11e8-8643-deeaa8b25832.PNG)

I'm inclined to prefer using `testImplementation` instead.

[2018-08-28 15:28] vanniktech commented on #474
Yeah testImplementation ist the way to go.

[2018-08-29 14:48] mad-pojo opened #479 "Run Spek by Maven"
I try to run Spek tests by Maven as describe in documentation at spekframework.org (configuring the surefire plugin with spek-runner-junit5 dependency).
When the test phase is executed the SpekTestEngine's discover() function invokes. But there no any desired selectors (ClasspathRootSelector and SpekPathDiscoverySelector) except ClassSelector are provided by discoveryRequest parameter. As result n

[2018-08-30 11:42] raniejade commented on #479
@mad-pojo can you include your `pom.xml`? Not sure what you're trying achieve?

[2018-08-31 15:58] mad-pojo commented on #479
[code]
There is my test pom. I don't include junit-platform-surefire-provider as dependency of maven-surefire-plugin, because the version 2.22.0 of this plugin already includes the functionality of junit-platform-surefire-provider. If I uncomment the spek-runner-junit5 dependency at project's dependencies then the SpekTestEngine is invoked. If this dependency remains commented out, the SpekTestEng

[2018-09-01 01:57] raniejade commented on #479
The runner should not be part of the project's dependency as it is already part of the plugin dependency. My guess is junit-platform sees two engine with the same ID (spek2) and just fails silently.

[2018-09-01 01:57] #479 closed, assigned to nobody

[2018-09-01 05:13] raniejade commented on #474
I'll update the docs to use `testImplementation` instead.

[2018-09-01 05:13] #474 closed, assigned to nobody

[2018-09-01 14:57] #336 closed, assigned to nobody

[2018-09-04 08:43] FWiesner commented on #475
same happens with empty `describe` blocks

[2018-09-04 09:41] raniejade commented on #475
@artem-zinnatullin ping

[2018-09-05 13:10] #475 closed, assigned to artem-zinnatullin

[2018-09-07 01:50] DrewCarlson opened #488 "Support android project tests in Intellij Idea"
The tests in the android sample project can be run in Android Studio using the Spek Framework plugin but no tests are found when using the same run configuration in Intellij Idea.  I assume this is expected because of a technical distinction between the IDEs.  Is this something that can be supported?

[2018-09-07 06:59] raniejade commented on #488
Unfortunately, this unlikely to be supported as IJ doesn't have the necessary infrastructure to support android projects. Why not just use Android Studio?

[2018-09-07 06:59] #488 closed, assigned to nobody

[2018-09-07 07:00] raniejade commented on #318
We are already building against JDK 10.

[2018-09-07 07:00] #318 closed, assigned to artem-zinnatullin

[2018-09-07 07:31] dave08 commented on #488
Wow, I spent an hour or two on this problem yesterday, I had no idea that theres only AS support... it might be nice to stress this in the docs, it would save lots of frustration... thanks!

[2018-09-07 13:22] raniejade commented on #488
I don't see why we need to add this in the docs, the developer portal for android clearly states that you use android studio.

[2018-09-07 15:05] DrewCarlson commented on #488
I started using Android Studio from v1 and have accumulated a lengthy list of reasons why I do not use it now and will not use it anytime soon.  Some reasons that may provide enough understanding: Idea has an actual release schedule (that adds real value per release), has never caused a run config to break between versions, supports many other platforms languages that I work with on a daily basis.

[2018-09-07 23:45] raniejade commented on #488
One major difference between android and non-android projects is build variants. AS is aware of this and can setup the project (dependencies, etc) accordingly.

[2018-09-08 01:01] DrewCarlson commented on #488
Are you referring to (for example) information used [here](https://github.com/spekframework/spek/blob/a35c1cdaee373954ff2efca0d5ced6a470dd0775/spek-ide-plugin/android-studio/src/main/kotlin/org/spekframework/android/spek2.kt#L67-L92)?

It is my understanding that everything being used in the Spek Android Studio plugin is from Intellij's android plugin and has nothing to do with Android Studio itse

[2018-09-08 02:04] raniejade commented on #448
New docs at https://spekframework.org/

[2018-09-08 02:04] #448 closed, assigned to nobody

[2018-09-08 02:05] #375 closed, assigned to nobody

[2018-09-08 02:49] raniejade commented on #437
Can you guys check #490? Added a sample maven build there.

[2018-09-08 02:49] raniejade commented on #334
Data driven extension has been dropped in `2.x`.

[2018-09-08 02:49] #334 closed, assigned to nobody

[2018-09-08 02:50] #395 closed, assigned to nobody

[2018-09-08 02:52] #279 closed, assigned to artem-zinnatullin

[2018-09-08 03:10] raniejade commented on #488
The plugin is being developed by the android team and not being published in jetbrains' plugin repos. AFAIK there's no android plugin that can be used in IJ. AS is a different IDE that is based on IJ. Even though the support is implemented as plugins, it does not mean that it will work with IJ.

[2018-09-08 05:32] DrewCarlson commented on #488
Thank you @raniejade for taking the time to communicate with me.

Like I’ve been saying: A default installation of Intellij IDEA (with the bundled Android plugin) understands and can manipulate every facet of an Android project, the same as Android Studio.  I’m sure AS has other IDE layer features and tweaks but it is not special when it comes to Android tooling.  JRebel for Android has worked gre

[2018-09-09 18:29] DrewCarlson commented on #488
[Here](https://www.reddit.com/r/androiddev/comments/9eb4i5/do_i_need_to_install_android_studio_if_i_already/e5o4w6d/) is a well timed explanation of the difference between Intellij IDEA and Android Studio from a member of the AS team.

[2018-09-11 14:21] kkurczewski commented on #437
@raniejade you maven sample is good :+1:

[2018-09-12 07:38] raniejade commented on #437
Awesome, thanks for checking!

[2018-09-12 07:38] #437 closed, assigned to nobody

[2018-09-12 07:41] raniejade commented on #390
JVM examples now use Gradle 4.7 and the built-in JUnit 5 support, unfortunately for android, we still need to rely on a 3rd party plugin - this is not deprecated.

[2018-09-12 07:41] #390 closed, assigned to nobody

[2018-09-16 08:40] davidsowerby opened #494 "Structure of Gherkin DSL"
I've been trying out the Gherkin DSL, and just seen the docs update at #493.

I love the idea of this structure but it does cause some issues with the way tests are counted.

- The `Given`, `When`, `Then` and `And` are all at the same level of the structure, which means they all get counted as tests - if you use all 4, then it counts as 4 successful tests for what I would see as 1 test! (Your exam

[2018-09-16 09:19] raniejade commented on #494
I understand your concern here, but I wouldn't want introduce another concept just for this. I think the issue here is how the tests are reported?

Yep, I'm going to introduce something for this. It will be opt-in and by default execution order is not guaranteed.

Yes, it is replaced by the `gherkin` style.

[2018-09-16 11:50] davidsowerby commented on #494
@raniejade thanks - I'm not too worried about the number of tests - it is a bit mis-leading but otherwise not too much of a problem.

Do you have an issue I can track this on?

[2018-09-16 20:26] davidsowerby commented on #494
Thinking about it further, without guaranteed execution order this structure is invalid isn't it?

At any time the test could suddenly go from `Given`, `When`, `Then` to `Then`,`Given`, `When` (or any other combination) - which clearly would not make sense and would lead to random, incorrectly failing tests.

It seems to me that with the current structure, the Scenario is really the 'test' - the `

[2018-09-17 19:31] punkisdead commented on #388
+1 for randomizing the order, or at least providing that as an option similar to how RSpec does.

I've run into weird failures where one test would depend on some state that was triggered in an earlier test.

I would also not test that mocks are being called in a certain order, that is not a very good test in my opinion. To paraphrase Martin Folwer, "interaction-based tests are ... more coupled to

[2018-09-17 19:47] punkisdead commented on #494
IIRC cucumber doesn't differentiate between `Given`, `When`, `Then`, `And` and treats them all as "steps" when tracking execution. When you look at the output from cucumber it will state how many "steps" were executed, how many successful, how many skipped, how many failed, etc.

You would be correct in thinking that the logical grouping of a scenario should guarantee the execution order of the va

[2018-09-17 21:17] davidsowerby commented on #494
@punkisdead thanks for that confirmation.  I think this highlights the core of this issue.  The current Gherkin DSL in Spek is treating each test step as a test.

That leads to both the issues I see here - the lack of guarantee of test step order, and incorrect counting.

The principle of encouraging test isolation - by making no guarantee of test execution order - is fine, but only if it is appli

[2018-09-18 12:26] raniejade commented on #494
This should be fixable and is already planned.

We rely on JUnit 5 as a test runner and it doesn't have this concept of "steps". I don't see it as a problem with core Spek once we guarantee execution order. Spek has

[2018-09-18 12:31] raniejade commented on #494
This should be fixable and is already planned.

We rely on JUnit 5 as a test runner (which includes reporting as well) and it doesn't have this concept of "steps". I see it as only a problem on how it's being reported not core Spek itself.

[2018-09-19 06:12] raniejade opened #496 "Ensure execution order for the Gherkin DSL"
Proposed solution is to add an optional param on the scope methods (`group` and `test`), which defaults to unspecified order. Can be an enum or just a boolean parameter. `Scenario` would set this variable to ensure execution when calling `group`.

see #494 for context

[2018-09-19 17:37] davidsowerby commented on #496
This would work, but I cannot think of a situation where unspecified order is valid for test steps?

[2018-09-19 22:20] raniejade commented on #496
@davidsowerby Thanks for pointing that out! It's an optional parameter with default value of "unspecified" , but will be set to the appropriate value by `Scenario`.  I've updated the ticket.

[2018-09-22 05:08] #496 closed, assigned to nobody

[2018-09-27 07:45] raniejade commented on #388
Resolved by #497 , by default the execution order is `unspecified` for each scope. Guaranteed execution order is needed by the gherkin style.

[2018-09-27 07:45] #388 closed, assigned to nobody

[2018-09-27 07:46] raniejade commented on #364
Data driven extension was dropped in `2.x`, closing this issue.

[2018-09-27 07:46] #364 closed, assigned to nobody

[2018-09-27 07:48] raniejade commented on #220
`action` was dropped in `2.x`, closing this issue. It's recommended to use `group` and fixtures instead.

[2018-09-27 07:48] #220 closed

[2018-09-27 07:49] #254 closed

[2018-10-02 13:57] rikbrown opened #501 "Maven import of 1.2.1"
Hi!

When can we expect to see the 1.2.1 version imported to Maven? The fix in https://github.com/spekframework/spek/pull/463 would be useful.

Thanks!
Rik

[2018-10-04 09:09] raniejade commented on #501
@rikbrown `1.2.1` is out, but it's only available in jcenter.

[2018-10-04 09:09] #501 closed, assigned to nobody

[2018-10-04 09:10] raniejade commented on #501
Need to sort out maven central syncing, will do it in a couple of days. ticket: #502

[2018-10-04 09:12] raniejade opened #502 "Sync 1.x and 2.x artifacts to Central"
Currently having issues with permissions. Getting this error on bintray:

[code]

[2018-10-04 09:23] raniejade opened #503 "Support Kotlin 1.3 multiplatform model"
One big question is: Will it require a `1.3` as the minimum version?

[2018-10-04 17:16] dinuchiriac opened #505 "Test framework quit unexpectedly"
I really like the Spek framework format, however, I can't get it working. I'm getting `Test framework quit unexpectedly` when running the test, here is my setup:

[code]

[code]
Also, I'm using Spek Plugin for Android studio `Version: 2.0.0-alpha.1-IJ2018.1`
Does anyone have any ideas what's going on here?

[2018-10-05 01:32] raniejade commented on #505
Looks like you've got the plugin for the mainline IJ, can you try downloading the correct version here: https://plugins.jetbrains.com/plugin/10915-spek-framework?

[2018-10-05 08:41] dinuchiriac commented on #505
Plugin `Spek Framework` is incompatible with this installation. What is the latest Android Studio supported? I'm running:
Android Studio 3.2
Build #AI-181.5540.7.32.5014246, built on September 17, 2018
JRE: 1.8.0_152-release-1136-b06 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14

[2018-10-05 08:47] raniejade commented on #505
I see, the plugin is for the beta build for 3.2. Currently updating my AS, will publish the correct version soon.

[2018-10-05 08:48] raniejade commented on #505
In the meantime, @dinuchiriac can you try reinstalling the plugin within AS and see if you get the correct version?

[2018-10-05 08:51] dinuchiriac commented on #505
Still getting the same alpha version `Version: 2.0.0-alpha.1-IJ2018.1`.

[2018-10-05 08:53] raniejade commented on #505
Oops sorry, I think you still have the dev channel in your plugin repository list - can you try removing it and refresh the plugin page?

[2018-10-05 08:55] dinuchiriac commented on #505
ahh, right, I removed it and got the correct version now.

[2018-10-05 08:59] dinuchiriac commented on #505
Tests are running fine now, thank you @raniejade
Looking at the spekframework website, the plugin repository link is still on dev branch:
https://plugins.jetbrains.com/plugins/dev/10915
from https://spekframework.org/setup-jvm/

[2018-10-05 09:12] raniejade commented on #505
@dinuchiriac thanks for pointing that out, see #506 for the fix.

[2018-10-05 09:12] #505 closed, assigned to nobody

[2018-10-08 05:53] raniejade opened #507 "Improve docs for android"
Some good feedback on the stuff that is missing.

from https://www.reddit.com/r/Kotlin/comments/9m3j7v/i_think_that_minutest_radically_simplifies/e7bpud9

[2018-10-08 07:11] StanislasGaitUp commented on #507
I am posting this here since I believe that the sample projects help to make Android easy to use.
I did not manage to make the android sample work:
After cloning the repo and having only one easy modif (updating to gradle 3.2.0), I have had this crash when starting the tests (same thing happened for the separate module and the current app).

[code]

[2018-10-08 07:41] raniejade commented on #507
@StanislasGaitUp is it this sample: https://github.com/spekframework/spek/tree/2.x/samples/android?

[2018-10-08 07:44] StanislasGaitUp commented on #507
No it was this one, https://github.com/spekframework/spek-android-example I will look at this sample then

[2018-10-08 08:37] StanislasGaitUp commented on #507
@raniejade I am facing the same problem with the sample code from https://github.com/spekframework/spek/tree/2.x/samples/android
I also had to update the gradle to 4.7 because Android Studio told me that Junit5 requires this version

[2018-10-08 08:42] raniejade commented on #507
~Ooops, sorry. @StanislasGaitUp change this line ` testRuntimeOnly "org.spekframework.spek2:spek-runner-junit5:$spek_version"` to ` testImplementation "org.spekframework.spek2:spek-runner-junit5:$spek_version"`. I've updated the docs but forgot to update the samples.~ I was looking at an outdated branchm weird.

[2018-10-08 08:50] raniejade commented on #507
Forgot to ask, how are you running it? command line (gradle)? or android studio?

[2018-10-08 08:58] StanislasGaitUp commented on #507
I am using Android Studio, to run the tests I am right clicking on tests/org.spekframework.speksample, then clicking on "Run Specks in tests/org.spekframework.speksample" and then I get "Test framework quit unexpectedly. "

[2018-10-08 09:08] StanislasGaitUp commented on #507
I don't know if it matters but I have Android Studio 3.2 with Spek plugin Version: 0.5.5-studio3.0

[2018-10-08 09:21] raniejade commented on #507
You need the new plugin, search for `Spek Framework` in the plugin interface.

[2018-10-08 09:32] StanislasGaitUp commented on #507
Well thank you ! It is working now ! I knew it was something stupid that I had done...

[2018-10-10 07:29] oripwk commented on #426
Hi,

What's the status on this? Will this be available in Spek 2?

[2018-10-10 07:35] artem-zinnatullin commented on #426
I'd still recommend to build coroutines support as separate extension library.

In the conversation above you can find a lot of good points made by @ming13 on why we should probably not add such functionality into the core.

Btw, it's not just coroutines, we've cut on most extensions in 2.x to release sooner and spend less time on support.

[2018-10-10 07:59] audkar opened #509 "Spek plugin 2.0.0-rc.1.145 incompatable with Android Studio 3.2 stable release"
Latest Spek plugin version `2.0.0-rc.1.145` was released with compatibility restrictions `181.5281—181.5281.*` for Android Studio 3.2. However latest stable AS version is `181.5540.*`

Because of this plugin for IJ is pulled instead of AS3.2

[2018-10-10 09:38] raniejade commented on #509
Thanks for the report!

[2018-10-11 19:20] Jonathannascimento opened #511 "Dagger and spek"
Hello everyone, i'm trying to use dagger and spek in my project, but i need to put a annotation inside my spek class, so how can i do that if the spek class is in kotlin and inside de body constructor?

thx.

[2018-10-12 05:19] artem-zinnatullin commented on #511
While use case seems a bit odd, it should work if you're trying to annotate `class` that is not declared as `inner`, it should be just normal static class for Dagger.

Are you getting any error?

[2018-10-14 08:13] #509 closed, assigned to nobody

[2018-10-14 09:20] #507 closed, assigned to nobody

[2018-10-17 19:34] Tapchicoma commented on #503
New multiplatform plugin is already supported in `1.2.71`, though only for jvm and js targets. Proper native target support is only available in `1.3`.

[2018-10-18 05:45] raniejade commented on #503
That's interesting, thanks @Tapchicoma!

[2018-10-19 17:57] michal-mally opened #516 "IntelliJ plugin not compatible with IDEA 2018.3 EAP"
Spek plugin (https://plugins.jetbrains.com/plugin/10915-spek-framework) is not compatible with IDEA >= 183 (IDEA 2018.3 EAP). Are there any plans to support new IDEA? It is extremely hard not to be able to run Spek2 tests from IDE.

[2018-10-20 10:12] raniejade commented on #516
Thanks for reporting! Currently downloading the EAP build, it will be great if you could add more info about the problem.

[2018-10-20 17:26] michal-mally commented on #516
There isn't much more really. IntelliJ IDEA just says the "plugin is incompatible with this version" and refuses to turn it on.

[2018-10-21 21:31] raniejade commented on #516
Ahh right, just need to publish a new build with the correct version.

[2018-10-21 22:50] jeiea opened #517 "Is there any reason to drop support for various selectors?"
I was satisfied with Spek 1.x to use IntelliJ test class execution feature which has the following icon
![image](https://user-images.githubusercontent.com/4188984/47273355-05145d00-d5ce-11e8-8b18-22f88ccbda23.png)
But Spek 2.x executes all test classes despite of class selection and I found where this difference come from.

[1.x SpekTestEngine][1.x] awares JUnit's various selectors, but [2.x][2.x]

[2018-10-22 07:16] raniejade commented on #517
It wasn't implemented, no harm in putting it back. Thanks for noticing!

[2018-10-22 13:10] NitroG42 opened #518 "Test framework quit unexpectedly when running feature or scenario"
Using latest 2.0.0-rc.1.150+20181019T091243Z-IJ2018.2 on Intellij 2018.2, I can't run single test using the IDE:
- Running using the "Play" icon on the left of file works only when selecting the whole class inheriting Spek. When I use the icon on a Feature or Scenario block, it throws "Test framework quit unexpectedly" and I see no error message, even in the IDE logs.
- When running tests on the w

[2018-10-23 08:27] cazpr opened #519 "Unable to run an individual JUnit test when using spek 2"
I have a project that uses both junit 5 and spek 2 tests, but when I run an individual junit test, the spek tests execute as well, regardless of having the spek framework plugin (2.0.0-rc.1.150) installed or not.

![screenshot 2018-10-23 at 10 10 15](https://user-images.githubusercontent.com/842442/47346531-ade5b980-d6ad-11e8-9843-2006051c8922.png)
![screenshot 2018-10-23 at 10 10 56](https://user

[2018-10-23 10:09] raniejade commented on #519
Thanks for reporting! Looks like IJ is delegating execution for test to gradle.

[2018-10-23 10:29] raniejade commented on #516
Had a go with it, looks like I also need to bump kotlin to `1.2.71`. Also need to backport that change to `1.x`, so not a quick fix as I previously thought.

[2018-10-25 11:02] #517 closed, assigned to nobody

[2018-10-25 11:02] #519 closed, assigned to nobody

[2018-10-25 13:23] recumbent opened #521 "Data driven testing in V2"
Question:

Given that `spek-data-driven-extension` has been deprecated for V2 is there a concept around how one might do "data driven" testing?

There are a number of contexts where I find the ability to run the same test over a number of variations of the very similar data extremely useful and hence I'm curious as to the thinking in this context. (I'd like to follow the appropriate patterns in my

[2018-10-27 11:34] raniejade commented on #521
Preference now is:
[code]
Just plain old kotlin code.

[2018-10-27 11:34] #521 closed, assigned to nobody

[2018-10-27 18:27] arturbosch opened #523 "[idea-plugin] Clicking on run icons says "Nothing here""
Hi,
after updating the kotlin idea plugin to `Version: 1.3.0-rc-190-IJ2018.2-1`, I am not able to run any test cases. I use spek2-rc, idea-2018-2.5 and kotlin 1.3-rc-198.
Thank you for your work.
The stacktrace is:

[code]

[2018-10-27 23:16] raniejade commented on #523
@arturbosch Can you confirm that if you have kotlin `1.2.x` everything works?

[2018-10-28 07:24] arturbosch commented on #523
Yes, if I have 1.2.71 idea plugin installed everything is fine. The kotlin libs with 1.3 are no problem on cli so it should be the idea plugin.

[2018-10-30 09:57] ttnesby commented on #523
Hi, I have the same issue "Nothing here" and the dump, **BUT running Kotlin 1.2.70** with Spek Framework '2.0.0-rc.1'. Have installed the latest IJ plugin from 19th of October. No older Spek plugin installed. Same issue for 1.2.71 as well.

IntelliJ IDEA 2018.2.5 (Ultimate Edition)
Build #IU-182.4892.20, built on October 16, 2018
JRE: 1.8.0_152-release-1248-b19 x86_64
JVM: OpenJDK 64-Bit Server VM

[2018-10-30 10:10] raniejade commented on #523
@ttnesby What's the version of your kotlin IJ plugin?

[2018-10-30 11:13] #523 closed, assigned to nobody

[2018-10-31 08:07] michaelomann opened #527 "Plugin error with IntelliJ 18.2.5 and Kotlin 1.3"
After upgrading the IntelliJ Kotlin Plugin to `1.3.0-release-IJ2018.2-1`, I get the following error when clicking on the green "run" button in the Editor:

[code]

<img width="268" alt="screen shot 2018-10-31 at 09 05 44" src="https://user-images.githubusercontent.com/4853579/47774095-5b7b4d00-dcec-11e8-9aba-fbad9b33eb3c.png">

[2018-10-31 08:26] raniejade commented on #527
Duplicate of #523, already fixed in `2.x` just need to publish a new build.

[2018-10-31 08:26] #527 closed, assigned to nobody

[2018-10-31 12:34] michaelomann commented on #527
Hi @raniejade

👍

Do you have an ETA?

[2018-10-31 19:56] raniejade commented on #527
Hopefully before the weekends, just finishing one more task then I'll publish it. You can also clone master and the build the plugin yourself in the meantime: `./gradlew spek-ide-plugin:intellij-idea:buildPlugin`.

[2018-11-01 06:14] arturbosch commented on #523
Thanks!

[2018-11-04 23:02] raniejade commented on #518
@NitroG42 can you try with the latest version of the plugin?

[2018-11-05 09:17] NitroG42 commented on #518
Hello, as it is not available right now (I was using the latest version from 19 October), I cloned the project and build the latest version of the plugin (I needed it because I updated the kotlin plugin to 1.3 too).
The two issues remains, I can't launch a test by clicking run on a Feature or Scenario in the class, I have to launch all, and it won't allow to rerun a finished test by right clicking

[2018-11-05 13:37] raniejade commented on #199
Resolved in `2.x`

[2018-11-05 13:37] #199 closed

[2018-11-05 15:47] NitroG42 commented on #518
I tried with the source to debug what's happening but JUnit is a bit above my league it seems.

[2018-11-05 15:57] NitroG42 commented on #518
I tried with the source to debug what's happening but JUnit is a bit above my league it seems.

[2018-11-06 00:43] raniejade commented on #518
Are you using `@RunWith` by any chance?

[2018-11-07 09:24] raniejade commented on #518
@NitroG42 can you share repo that help replicate your issue? I've done some testing and it works for me.

[2018-11-07 09:52] NitroG42 commented on #518
Sorry I forgot to answer, I don't use RunWith, here's the repo:
https://github.com/NitroG42/testspeck

Using "play icon" to run test on any of the two Scenario block will fail. It works on the Feature one, but I can't relaunch one test, I'll do a gif or video if I'm not clear. Thanks!

[2018-11-07 09:53] raniejade commented on #516
Just an update: got a branch for it locally but it's failing to build for some reason (and I don't know why) 🤷‍♂️

[2018-11-07 10:05] NitroG42 commented on #518
Here's the gif of what I get:
http://recordit.co/kXxLWaNOoi
(I compare with a standard junit test for the right click after running)

[2018-11-07 10:16] raniejade commented on #518
Thanks, I'll have a look! re: navigating to tests is not implemented yet - but should be easy after #533 lands.

[2018-11-10 11:53] #518 closed, assigned to nobody

[2018-11-11 00:27] raniejade commented on #516
Found the issue, Jetbrains decided to break their API in `2018.3` 😞 .

[2018-11-13 11:42] raniejade commented on #516
Because of the breakage I'm doing a big refactor to the plugin, since we still want to support minimum `IJ2018.1` (Android Studio) and I want to avoid duplicating code between the plugins.

[2018-11-14 10:36] vritser opened #536 "How to use DI in Spring"

[2018-11-15 05:38] artem-zinnatullin commented on #536
Please see https://github.com/spekframework/spek/issues/50 and https://jira.spring.io/browse/SPR-15143

I'm going to close this issue, if you have comments, please post them in https://github.com/spekframework/spek/issues/50 so it's easier to follow for others, thanks!

[2018-11-15 05:38] #536 closed, assigned to nobody

[2018-11-19 09:30] #516 closed, assigned to nobody

[2018-11-22 23:31] ailicic commented on #337
I am trying to test with LiveData in Spek and even with the above beforeEachTest/afterEachTest blocks I still get the same "Method getMainLooper in android.os.Looper not mocked" error which suggests the rule is not working.

Is this perhaps related to LiveData being moved from androidx.arch.lifecycle to android.arch.lifecycle or ArchTaskExecutor being moved from androidx.arch.core.executor to andr

[2018-11-26 14:02] lisandroct opened #540 "Support for Kotlin 1.3 and IntelliJ 2018.3"
Issues #523, #525 and #527 are closed but I'm still experiencing issues with Kotlin 1.3.
First of all, I simply can't install the plugin on IntelliJ 2018.3.
And on 2018.1.7 and 2018.2.6, if I use Kotlin 1.3, I get the "nothing here" text and I can't run the tests.

[2018-11-27 02:03] raniejade commented on #540
@lisandroct can you try this build out?
[2.0.0-rc.1.164+e256843-IJ2018.3.zip](https://github.com/spekframework/spek/files/2617999/2.0.0-rc.1.164%2Be256843-IJ2018.3.zip)

[2018-11-27 18:21] arturbosch commented on #540
Hey, I can verify that with your build it works again, thank you!

[2018-11-27 21:18] raniejade commented on #540
@arturbosch Great! Want to get more feedback before publishing the plugin.

[2018-11-28 14:25] lisandroct commented on #540
@raniejade now it's working just fine on 2018.3 and using Kotlin 1.3. :ok_hand:

[2018-11-29 17:06] mtrewartha commented on #540
@raniejade this is working great for me with Kotlin 1.3.10 and the following version of Studio:

Android Studio 3.4 Canary 5
Build #AI-183.4284.36.34.5141831, built on November 20, 2018
JRE: 1.8.0_152-release-1248-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.2

I'll keep an eye out for any issues, but thanks for putting that build up!

[2018-11-29 20:51] raniejade commented on #540
@miketrewartha build I posted is specific to IJ. AS has a different plugin as it require some special handling. One of the issues is that if you are using the IJ plugin any changes you made to the test won't be picked up when you run the test. I'm not sure if it is still the case for Android Studio 3.4 Canary 5.

[2018-11-30 09:50] yaroslav-shlapak opened #543 "Error "Test framework quit unexpectedly" when running tests from a package that contains other packages"
Environment:
Android Studio 3.3 RC 1Build #AI-182.5107.16.33.5138683, built on November 19, 2018
Spek plugin versoin: 2.0.0-rc.1.158+20181104T071551Z-IJ2018.2
    jacocoVersion = "0.8.2"
    spekVersion = "2.0.0-rc.1"
    androidTestRunnerVersion = "1.0.2"
    junitJupiterVersion = "5.3.1"
    junit5RunnerVersion = "0.2.2"
    junit5GradlePuginVersion = "1.3.1.1"
    kotlinTestVersion = "3.1.10"

[2018-11-30 09:57] raniejade commented on #543
The plugin you pulled is for IntelliJ IDEA, let me try building the plugin for 3.3. Might take awhile, need to download over a gig of IDE data 😂

[2018-11-30 10:20] yaroslav-shlapak commented on #543
I've just tried to run tests from a package with:
Android Studio 3.2.1 Build #AI-181.5540.7.32.5056338, built on October 9, 2018
Spek plugin versoin: 2.0.0-rc.1.158+20181104T071551Z-Studio3.2

same error

As a workaround, it is possible to run tests using Junit from the configuration:
![screenshot from 2018-11-30 12-19-37](https://user-images.githubusercontent.com/3373419/49283384-4552df00-f49a-11

[2018-11-30 10:29] raniejade commented on #543
@yaroslav-shlapak that's weird. Can you share a project that reproduces your problem?

[2018-11-30 11:07] yaroslav-shlapak commented on #543
Just created one: https://github.com/yaroslav-shlapak/TestSpekProject

[2018-11-30 11:14] raniejade commented on #543
@yaroslav-shlapak can you try adding `testRuntimeOnly "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"` to your dependencies? I suspect your pulling in an incompatible version of kotlin-reflect. Spek2 is built against kotlin `1.2.71`.

[2018-11-30 11:26] yaroslav-shlapak commented on #543
I've added changes to the test project:

https://github.com/yaroslav-shlapak/TestSpekProject/commit/37381781ca9110cae9d718f8c069c3ed9f4d4b13?diff=unified
https://github.com/yaroslav-shlapak/TestSpekProject/commit/da4fd290783142fce60018710aef42a59c6db429?diff=unified

and got the same error.

Might the AS Kotling plugin: 1.3.10-release-Studio3.2-1 be a culprit?

[2018-11-30 11:51] raniejade commented on #543
@yaroslav-shlapak sorry, should be `testImplementatio"org.jetbrains.kotlin:kotlin-reflect:$kotlin_version`. hmmm, let me check.

[2018-11-30 12:37] raniejade commented on #543
Can you try this build out?
[2.0.0-rc.1.164+4297c4a-Studio3.2.zip](https://github.com/spekframework/spek/files/2633216/2.0.0-rc.1.164%2B4297c4a-Studio3.2.zip)

[2018-11-30 12:53] yaroslav-shlapak commented on #543
Yes, it works. Is it possible to build the similar plugin for AS 3.3?

[2018-11-30 17:04] mtrewartha commented on #540
@raniejade I haven't noticed that, but I have noticed a few times where Studio doesn't seem to recognize tests and show the green run arrows in the gutter. Once I run any test in that file though, the issue corrects itself. Other than that, I haven't noticed anything weird.

[2018-12-03 15:16] habutre commented on #540
Working here too.

IntelliJ IDEA 2018.3 (Community Edition)
Build #IC-183.4284.148, built on November 21, 2018
JRE: 1.8.0_152-release-1343-b15 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.9.142-1-MANJARO

[2018-12-04 07:59] raniejade commented on #502
Syncing is such a hassle, `jcenter` is much ideal anyway.

[2018-12-04 07:59] #502 closed, assigned to nobody

[2018-12-10 14:22] jcornaz commented on #426
Is there a chance that [spekframework](https://github.com/spekframework) provide that extension library?

Please also note, that `suspend` is a language keyword. We are not talking about supporting any arbitrary library. We only ask about support of the Kotlin *language*.

[2018-12-12 08:37] grine4ka commented on #52
Do I understand correctly that this issue is blocked by some issues in gradle?
Like these:
[#4438](https://github.com/gradle/gradle/issues/4438)
[#4252](https://github.com/gradle/gradle/issues/4252)

[2018-12-13 22:30] raniejade commented on #540
New build already published 🎉

[2018-12-13 22:30] #540 closed, assigned to nobody

[2018-12-13 22:31] raniejade commented on #543
@yaroslav-shlapak I published a build recently, were you able to test it out?

[2018-12-14 19:04] breandan commented on #91
Any updates on property testing? Not just grid search, but with [shrinking support](https://propertesting.com/book_shrinking.html) to find the minimal counterexample? Would like do property testing, but KotlinTest is the currently only framework that implements it correctly. @hhariri

[2018-12-17 02:32] dymaxionuk opened #549 "Selector (Class/Method) doesn't work (Junit5 + Spek2)"
Context: A (kotlin) project containing both JUnit5 and Spek2 tests, using the Junit5 engine.

When running a JUnit5 test by class, and/or method,  the Spek2 tests are also selected for running (even though from a different package/class/method

Initially filed against IntelliJ IDEA, but the team responded and believe it's an issue with the MethodSelector/ClassSelector since the IDE is correctly pa

[2018-12-17 04:27] raniejade commented on #549
Related to #519 and fixed in #520. I'm hoping to do a GA release before the 🎄 .

[2018-12-17 04:27] #549 closed, assigned to nobody

[2018-12-17 08:26] yaroslav-shlapak commented on #543
The latest build of plugin doesn't work at all. I've got the error on Android Studio start up:
[code]
Spek plugin version Version: 2.0.0-rc.1.170+fe27af0-Studio3.3
Android Studio 3.3 RC 2
Build #AI-182.5107.16.33.5160847, built on December 4, 2018

Additional symptoms:
"Nothing here" when clicking on test play button near the Spek test/group
State of latest/saved tests in the configurations:
![scr

[2018-12-17 08:31] yaroslav-shlapak commented on #543
2.0.0-rc.1.167+0914c41-IJ2018.2 works but with the issue reported at the top of this thread.

[2018-12-18 09:59] raniejade commented on #543
@yaroslav-shlapak I think I found the issue, let me rebuild the plugin.

[2018-12-18 10:21] raniejade commented on #543
Can you try this out? [2.0.0-rc.1.174+c371da5-Studio3.3.zip](https://github.com/spekframework/spek/files/2690020/2.0.0-rc.1.174%2Bc371da5-Studio3.3.zip)

🤞

[2018-12-18 21:40] Tapchicoma opened #550 "Spek Android Studio plugin stops working"
Just saw following report when trying to run Spek 2.0 test in Android Studio 3.3 RC2:
[code]

Spek version used: `2.0.0-rc.1`

[2018-12-19 09:19] raniejade commented on #550
I shared a build here: https://github.com/spekframework/spek/issues/543#issuecomment-448170605, can you try it out?

[2018-12-19 09:50] Tapchicoma commented on #550
Build from #543 works for me :+1:

Closing this issue, as it is a duplicate of #543.

[2018-12-19 09:50] #550 closed, assigned to nobody

[2018-12-19 12:27] jcornaz opened #551 "Jump to source from test result in IntelliJ plugin"
Hello,

First of all, thank you very much for providing this great testing framework.

When using the Plugin for IntelliJ, it is still not possible to jump to sources by double-clicking on a test result.

That is really annoying when one has to understand the cause of a test failure. In that case the first thing we always want to do, is to read the test, and therefore jump to test source.

Is ther

[2018-12-20 08:48] yehorh opened #552 "Intellij plugin skip app tests in android sample project"
When I run (android app from samples https://github.com/spekframework/spek/tree/2.x/samples/android) unit tests in IntelliJ
Test results are empty.

With android studio it works fabulously.

![Intellij screenshot from 2018-12-20 10-31-21](https://user-images.githubusercontent.com/10909216/50273357-1ef1e500-0443-11e9-9415-dbe6cb7a97f1.png)
![Android studio screenshot from 2018-12-20 10-34-53](https

[2018-12-20 09:46] yaroslav-shlapak commented on #543
It works sometimes, but sometimes I push the play button near the test/group and then push run and nothing happens. Moreover, Alt+Enter keyboard shortcut stops to work with this plugin. There are no such issues with 2.0.0-rc.1.167+0914c41-IJ2018.2. Also, with 2.0.0-rc.1.174+c371da5-Studio3.3 when I try to run tests from a package there are no Spek runners to choose from the popup list menu, only J

[2018-12-20 14:37] YervandAleksanyan opened #553 "Spek and Android Data Binding"
HI

I am trying to use the Spek in my android project. I am using android data binding in my project and  an annotation processing library  "com.android.databinding:compiler3.1.4" . The problem is that the  android data binding Compiler version should be  as same  as  Android Gradle Plugin Version, however after setup  spek, idea  tells me  that I should  change Android Gradle Plugin version to `3

[2018-12-20 18:55] 0mega opened #554 "[Plugin] Android Studio 3.2 play button "Nothing here""
Hi there,
Really like using Spek, great job with this framework!

I've seen several reports of the Spek plugin not running when clicking on the play button. Although some people report it's working for them, in my case, I tried several build of the plugin for AS 3.2 and it does not work.

Android Studio 3.2.1
Build #AI-181.5540.7.32.5056338, built on October 9, 2018
JRE: 1.8.0_152-release-1136-b06

[2018-12-20 20:52] pardom commented on #552
I'm seeing the same thing.

[2018-12-20 21:34] raniejade commented on #554
Thanks for the report. What version of the kotlin plugin do you have installed?

[2018-12-20 21:36] raniejade commented on #553
It should work, and you should change `testRuntimeOnly "org.spekframework.spek2:spek-runner-junit5:$spek_version"` to `testImplementation "org.spekframework.spek2:spek-runner-junit5:$spek_version"`.

[2018-12-20 21:38] raniejade commented on #552
I'll take a look, in the meantime can you guys share a reproducible build?

[2018-12-20 22:00] piclemx commented on #472
Hey, since I have updated my intellij version. The plugin don't work anymore. Could we get a update on this?

[2018-12-21 06:30] YervandAleksanyan commented on #553
@raniejade hulsom
 After change , problem doesn't fixed

[2018-12-21 11:39] raniejade commented on #553
can you describe what exactly the problem is?

[2018-12-21 11:41] raniejade commented on #552
@yehorh can you share the full stacktrace?

[2018-12-21 12:53] 0mega commented on #554
Kotlin plugin: 1.2.71-release-Studio3.2-1

[2018-12-21 21:56] yehorh commented on #552
full stacktrace?
where i can find it?

[source test file](https://github.com/spekframework/spek/blob/2.x/samples/android/app/src/test/kotlin/org/spekframework/speksample/CalculatorSpec.kt)

#### test result
[code]

#### IntelliJ log
[code]

#### event log
[code]

[2018-12-21 23:46] raniejade commented on #554
@0mega Upgrading to the kotlin 1.3 as plugin should fix your problem.

[2018-12-21 23:46] #554 closed, assigned to nobody

[2018-12-21 23:53] raniejade commented on #552
Ahh right, I misunderstood the report - sorry! IntelliJ + Android project is an unsupported setup, please use AS (Android projects requires some special handling for build variants which is handled by AS perfectly).

[2018-12-21 23:53] #552 closed, assigned to nobody

[2018-12-22 00:28] pardom commented on #552
Are there plans to support Android projects in IntelliJ? I use IntelliJ for Android projects instead of Studio.

[2018-12-22 01:42] raniejade commented on #552
Not atm, sorry.

[2018-12-23 00:04] 0mega commented on #554
Thank you @raniejade, it does work.
To prevent this kind of question in the future, is there any reference doc that would point which version of AS works with which version of Spek Plugin and which version of Kotlin is required?

[2018-12-28 04:18] charleskorn opened #555 "Support Kotlin/Native"
I can see #327 added support for the multiplatform project model, but I can't see any references to Kotlin/Native.

Is this something you plan to support? If so, do you have an estimate for when?

And would you be open to a PR / PRs to add support for this?

[2018-12-29 09:38] jgandert commented on #452
@raniejade Will this always be necessary, or will it end up in the main repository at some point?

[2018-12-29 10:33] vanniktech opened #556 "Skip API feels clunky"
I do find the skipping/ignoring API to be a bit clunky. No matter which way I use it:

[code]

Given that we have `describe` and `it` that make naming things much easier, would not it make sense to also incorporate the skipping part semantically into the structure?
Here's some example of what I mean, although I'm not super happy with it either.

[code]

Maybe someone else has better ideas?

[2018-12-31 20:44] piacenti commented on #322
For more recent versions of the surefire plugin you will see that junit-platform-surefire-provider is deprecated and will be removed. I got this to work without warnings.
[code]

[2019-01-03 16:58] piacenti commented on #92
@mfulton26 Were you able to get eclipse to recognize spek tests as tests to be run from the IDE itself?

[2019-01-05 15:17] mmitic-lotusflare commented on #232
I have similar issue to this one, I'm trying out Spek in Android studio on existing project, I've done integration as explained [here](https://spekframework.org/setup-android/) and everything worked fine until I tried running existing JUnit 4 tests. It kept running spek tests instead of junit ones.
After some attempts, I've figured out that whenever `spek-runner-junit5` dependency is included, IDE

[2019-01-07 09:51] raniejade commented on #232
@mmitic-lotusflare it's fixed in master, I'm hoping to release a new version soon - just got back from my vacation.

[2019-01-07 09:51] raniejade commented on #232
Oops, wrong button..

[2019-01-07 09:51] #232 closed

[2019-01-07 11:39] raniejade commented on #543
@yaroslav-shlapak Yep, known issues some are fixed in master.

[2019-01-07 18:14] pardom commented on #552
If I wanted to add support for IntelliJ (with the Android Plugin), where would I start?

[2019-01-08 09:24] jcornaz commented on #52
Will this issue be solved for Spek `2.0.0`?

Loosing hierarchy information in reports make it very cumbersome to track the cause of failing tests.

@grine4ka I don't see how it could be related. Theses are *gradle* issue. Spek shall produce good test reports independently on the build system used. No matter if it is gradle, maven or something else.

[2019-01-08 09:28] raniejade commented on #52
@grine4ka is correct as we depend on gradle for generating reports. Spek already reports the proper hierarchy , it's all up to gradle on how it is rendered.

[2019-01-08 09:51] jcornaz commented on #52
Thanks @raniejade for the precision. Does it mean that maven users don't experience this issue?

[2019-01-08 10:51] raniejade commented on #52
I'm not sure, I don't use maven that much.

[2019-01-08 14:09] mmitic-lotusflare commented on #232
Thanks, @raniejade, I'll watch the releases.

[2019-01-09 06:26] raniejade commented on #556
You could always use `x` variants of `describe`, `context` and `it`.

[code]

[2019-01-09 09:50] jcornaz commented on #52
I experienced the same with Maven.

Should this issue be closed then?

Or maybe Spek could provide a workaround? By concatenating the hierarchy information in the test name for instance.

[2019-01-09 16:17] peterholak opened #560 "stderr output is shown in the wrong test"
If a test manually outputs something to `System.err`, it's sometimes visible next to the wrong test in the test runner. Sometimes lines are missing, or outputs from different tests are grouped together, or only visible in the group, etc.

This doesn't happen with `System.out` - everything works fine there.

Android Studio 3.2.1, Spek 2.0.0-rc.1, AS plugin 2.0.0-rc.1.169+2c45d6a-Studio3.2, android-

[2019-01-09 16:58] vanniktech commented on #556
I could yeah but why not improve the API so that everyone can benefit from it?

[2019-01-09 22:10] filipproch opened #561 "Unable to run Spek tests from Intellij"
Hi,

I am having an issue with running Spek tests in my Android project from Intellij. If I run them from gradle (`./gradlew test`) it works. Running from intellij, ends up like on picture bellow. No error, just no tests being run :(

<img width="1073" alt="screenshot 2019-01-10 at 12 02 52 am" src="https://user-images.githubusercontent.com/1387116/50931487-60d2e180-146b-11e9-9839-e2101f8f7a26.png

[2019-01-10 06:16] raniejade commented on #561
Running tests for an android project within IntelliJ is unsupported, please use Android Studio.

[2019-01-10 06:16] #561 closed, assigned to nobody

[2019-01-10 21:54] pardom commented on #561
Could you provide some context as to why it is unsupported? IntelliJ uses the same Android plugin that Android Studio does. If you could provide more info, I'm sure the community (myself included) would be happy to contribute.

[2019-01-10 23:17] filipproch commented on #561
@raniejade Or at least maybe to write it somewhere? I spent a lot of hours researching why it doesn't work, and all was wasted :/
Otherwise, agree with @pardom , happy to help make it work in IntelliJ

[2019-01-11 15:19] jcornaz opened #563 "NoClassDefFoundError when using mocks and running spek from IntelliJ on a Windows machine"
Hello,

Please consider the following test (using [MockK](https://mockk.io/)):

[code]

It runs fine from gradle (`graldew test`). But running the test from IntelliJ fails with:

[code]

Please also note that it doesn't concern only Mockk. Using Mockito also fail:
[code]

And finally also note that running the Junit5 equivalents works just fine, even when triggered from IntellIJ.

[2019-01-11 16:18] cldfzn opened #564 "Design of Gherkin DSL execution"
I've been trying to use the Gherkin DSL for spek2. The execution of the test cases in the current build seem unintuitive to me. `Given`, `When`, `Then` and `And` are each treated as separate test cases. Based on how I understand `Given` and `When` to be defined from a test perspective I would think those would essentially be aliases for `beforeEachTest` leaving `Then` and `And` to be the actual te

[2019-01-11 20:26] Lakedaemon commented on #503
Could we have a sample for the new multiplatform plugin ?
I tried to set spek2 up but couldn't with
plugins {
    id 'kotlin-multiplatform' version '1.3.11'
}

[2019-01-11 23:40] raniejade commented on #564
@cldfzn the default `CachingMode` for `memoized` within a `Feature` is a `GROUP`, while the default is `SCOPE` within a `Scenario`. Can you give a sample test?

[code]

[2019-01-11 23:41] raniejade commented on #503
Will take a look, thanks!

[2019-01-11 23:43] raniejade commented on #563
That's weird, I've used both libraries and seem to work fine for me. Can you share your build script? Or better yet a sample project reproduces the issue?

[2019-01-13 01:51] raniejade commented on #561
@filipproch Yep, should be fixed by #562.

Originally when I wrote the plugin(https://github.com/raniejade/spek-idea-plugin), we only published a single version for both IntelliJ and Android Studio. The AS support was riddled with bugs (special mention: https://github.com/raniejade/spek-idea-plugin/issues/6) as the plugin didn't handle android projects properly. I was able to fix it but it resulte

[2019-01-14 08:45] jcornaz commented on #563
Sure.

Here is a project allowing to reproduce the problem consistently: https://github.com/jcornaz/spek-mock-bug

Again, don't run `gradlew test` it would work just fine. My problem is about running from IntelliJ.

**Steps to reproduce**
1. Open test class `MockkSpec`
2. Run the test using the gutter icon ![image](https://user-images.githubusercontent.com/2535178/51105364-16de5880-17e9-11e9-8fff-

[2019-01-14 10:19] jcornaz commented on #563
With the hope it helps, here are more information I've found:

* The reproducer I shared in my previous post, reproduce the problem only for MockK but not for Mockito. Running `MockitoSpec` behaves as expected.
* Adding `testCompile("org.koin:koin-test:2.0.0-alpha-6")` to `build.gradle.kts` will make `MockitoSpec` fail.
* Adding `exclude(group = "org.mockito")` to the `koin-test` dependency solves

[2019-01-14 13:34] jcornaz opened #566 "Spek doesn't make the build fail in case of crashes during the discovery phase"
Please consider this code:

[code]

We would expect the test to fail right?

But if the implementation of `doSomethingDuringDiscoveryPhase` throws an exception:
[code]

Then that exception will be thrown during the *discovery phase* of Spek. Therefore, Spek won't find any test. It will log the exception, but not make the build fail:
[code]

I personally find this behavior quite dangerous. If at so

[2019-01-14 22:21] #564 closed, assigned to nobody

[2019-01-14 22:22] cldfzn commented on #564
Figured it out, it had to do with one of my own extension functions that I had migrated that was not using the new defaultCachingMode made available in the LifecycleAware interface. Thanks for the help.

[2019-01-15 00:33] snowe2010 commented on #461
This url still seems to be missing from the gradle section of the docs. It took me forever to find this thread just to go back and find that it was in the maven section of the page.

[2019-01-15 06:58] raniejade commented on #566
JUnit 5 needs to add some support for this first (see https://github.com/junit-team/junit5/issues/242), before Spek can implement it.

[2019-01-15 07:17] raniejade commented on #563
@jcornaz I cloned the project, tried running the tests via gradle and intellij - everything passed. Adding `estCompile("org.koin:koin-test:2.0.0-alpha-6")` does not make a difference - tests still passed. It works for JDK 10 and JDK 8 for me - so it's not a java version problem.

[2019-01-15 08:21] jcornaz commented on #563
But we consistently reproduce the problem on 3 different machines and 3 different projects.

Are you on Windows? Did you use the same IntelliJ version? Did you use the gutter icon in IntelliJ?

[2019-01-15 08:35] raniejade commented on #563
My windows is not setup for development. I have the same version of IJ and the spek plugin. Looking back at the main post, this looks interesting: `This mock maker is not supported on Android.`.

[2019-01-15 08:56] jcornaz commented on #563
Also make sure to untick "Delegate IDE build/run actions to gradle"

![image](https://user-images.githubusercontent.com/2535178/51169309-d7c50b80-18ab-11e9-83ca-502ae26476ae.png)

[2019-01-15 09:04] jcornaz commented on #563
None of our projects are Android projects. So it is definitely not the problem.

*P.S: And it would concern only Mockito, not MockK anyway.*

[2019-01-15 09:35] jcornaz commented on #566
Couln'd Spek catch the error and create a *fake* failing test like "discovery phase failed"?

For instance in `AbstractRuntime`:
[code]
(I didn't try it yet, and it is probably not enough. But it shows the idea)

I would definitely prefer having Spek creating a dummy test to make the suite fail, than having the build passing when something wrong happen during the discovery phase.

[2019-01-15 09:52] jcornaz commented on #563
*EDIT: This message has been moved to a separate issue: #568*

[2019-01-15 09:54] raniejade commented on #563
@jcornaz Can you file that as a separate issue?

[2019-01-15 09:57] raniejade commented on #563
Weird, have you reported to the mockito team?

I don't have it unticked.

Can you run `./gradlew dependencies` and paste the output here?

[2019-01-15 10:01] jcornaz opened #568 "Using the gutter icon in IntelliJ may not run the tests."
Given the following test:
[code]

Running from the gutter icon:
![image](https://user-images.githubusercontent.com/2535178/51172266-2aee8c80-18b3-11e9-854e-03559ce6e637.png)

Doesn't run any test:
![image](https://user-images.githubusercontent.com/2535178/51172277-35a92180-18b3-11e9-9dd8-8f37b6f92fe4.png)

But running all tests from IntelliJ contextual menu:
![image](https://user-images.githubuser

[2019-01-15 10:03] raniejade commented on #568
Can you share the full stacktrace of the failure?

[2019-01-15 10:11] jcornaz commented on #563
No because:
* We don't write android applications
* I prefer MockK

My point is: Don't look too much in that direction. Since the problem is reproducible in non-android projects, it is very unlikely that there is any correlation between this message and the bug reported here.

So that's why you don't reproduce the problem. Untick it, and you should be able to reproduce it.

Please let me add that

[2019-01-15 10:12] jcornaz commented on #568
There is no point. The failure is the expected behavior. I want the test to fail.

The non-expected behavior is when no test run. And there isn't any stacktrace for that.

[2019-01-15 10:17] raniejade commented on #568
It gives me a point to start the investigation, honestly I can't find a reason why it doesn't fail. Have you tried rerunning it again after doing `Run "All Tests"`?

[2019-01-15 10:19] raniejade commented on #563
Oops sorry double negatives. I don't have it ticked.

[2019-01-15 10:20] raniejade commented on #563
Is there a difference between running the tests from the IJ and gradle?

[2019-01-15 10:23] jcornaz commented on #563
Yes. From gradle it works as expected. Not from IJ.

Please notice that running *all test* from IJ also works as expected. Only running from the *gutter icon* does not work.

[2019-01-15 10:26] jcornaz commented on #568
Ok.
[code]

Just keep in mind that it is the *expected* exception.

Yes. It doesn't help.

[2019-01-15 10:29] raniejade commented on #563
Interesting, it may be a problem with your IJ setup. Have you tried re-installing the spek plugin? If that doesn't work can you test with a vanilla IJ + spek plugin only (it may be conflicting with some other plugin)?

[2019-01-15 10:40] jcornaz commented on #563
No. But since we reproduce the problem on 3 different installations, I really doubt that it would make any difference. I will try however.

I will try and keep you updated.

*EDIT: Disabling all downloaded plugins (except Kotlin and Spekframework) didn't help*

[2019-01-15 11:25] quiqua commented on #563
I just cloned your bug-repository and ran the tests via the different methods successfully on

- IntelliJ IDEA 2018.3.3 (Community Edition)
- JRE: 1.8.0_152-release-1343-b26 x86_64
- JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
- macOS 10.14.2
- with the SpekFramework IJ Plugin for spek2

Might be related to Windows only then?!

[2019-01-15 11:51] jcornaz commented on #563
That's our best hypothesis I guess... I wonder how it could be related to the operating system, but I have no better clue.

I just tried with a vanilla IJ + Spekframework plugin. And I still reproduce the bug:
* IntelliJ IDEA 2018.3.3 (Community Edition)
* Build #IC-183.5153.38, built on January 9, 2019
* JRE: 1.8.0_152-release-1343-b26 amd64
* JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
* Wi

[2019-01-15 12:01] peterholak commented on #550
Android Studio 3.3 has now been released. Given that this is already fixed in git, can you release an updated version of the plugin?

[2019-01-15 12:47] kevinjom commented on #352
any news of 2.0 release?

[2019-01-15 13:04] OkieLe commented on #550
Found same error on AS3.3 release version.

@raniejade Please release an updated version of the plugin.

[2019-01-15 15:09] jcornaz commented on #563
It does seem related to the operating system. I am not able to reproduce the bug on a Linux VM.

[2019-01-15 19:20] ursjoss commented on #563
I can confirm the current findings: The issue with running the spec from the gutter icon seems to be an issue with Windows as OS - as opposed to Linux in my case, where the test runs without issue.

## On windows
I have almost exactly the same environment as @jcornaz (except for a newer jdk):

**Project JDK**
1.8.0_192

**IntelliJ**
IntelliJ IDEA 2018.3.3 (Ultimate Edition)
Build #IU-183.5153.38,

[2019-01-16 05:36] raniejade commented on #550
Yep, just published it. Just waiting for Jetbrains to accept the updates.

[2019-01-16 10:17] mmitic-lotusflare opened #569 "Spek plugin breaks "run" gutter icon"
With spek plugin enabled, AS 3.3 fails to show any option when clicking "run" gutter icon - both for tests classes, individual tests and even java scratch files.
![image](https://user-images.githubusercontent.com/25745458/51242280-da913080-197f-11e9-89e4-b9301a53e65e.png)
![image](https://user-images.githubusercontent.com/25745458/51242288-dfee7b00-197f-11e9-8f62-eae482604b37.png)

IDE restats did

[2019-01-16 10:20] vanniktech commented on #569
I can confirm this too.

[2019-01-16 10:23] raniejade commented on #569
Just published a new version, just waiting for it to be accepted by JB. Hopefully that will fix it, if not I'll investigate some more.

[2019-01-16 10:25] mmitic-lotusflare commented on #569
That's some quick response 😄

[2019-01-16 11:31] peterholak commented on #550
Thanks, the run configurations and other features now work in 3.3! 👍 I have however noticed that the plugin version has the `-IJ2018.2` suffix, instead of the previous `-Studio3.3` one.

I had to re-create the run configuration. The mocking of Android's methods (such as `Log.w` by creating own `android.util.Log`) now doesn't work. Not sure if this is related to the plugin or to some other change A

[2019-01-16 14:08] mmitic-lotusflare commented on #569
Version `2.0.0-rc.1.180+b8533a4-IJ2018.2` doesn't have the issue. 👍

[2019-01-16 21:27] raniejade commented on #569
`2.0.0-rc.1.180+b8533a4-IJ2018.2` is the wrong version :(. Ughh, I think they changed the build numbers in the release. Need to tweak that.

[2019-01-17 07:08] raniejade commented on #569
So I think the order of the deploy is important, re-uploaded the AS plugins - hopefully that will fix it.

[2019-01-17 12:29] 0mega commented on #569
Installed Android Studio 3.3
Build #AI-182.5107.16.33.5199772, built on December 25, 2018
JRE: 1.8.0_152-release-1248-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6.
The updated Spek plugin is: 2.0.0-rc.1.180+b8533a4-IJ2018.2

It fixes the issue reported here.

[2019-01-17 13:29] dhaksddj opened #570 "Is this project being maintained?"
Does this project has significant support behind it? I see multiple issues that look really bad, PRs not merged for months and very poor documentation for a beginner.

[2019-01-17 13:47] vanniktech commented on #570
Do you want to help out?

[2019-01-17 14:11] Lakedaemon commented on #503
I tried doing like in the commit implementing new multiplatform surpport
https://github.com/spekframework/spek/commit/c7f72fe28f14f670e41e6ea605305c5cb3e46130
But my intellij idea is unable to find org.spekframework.spek2:spek-dsl-metadata:$spek_version
for ext.spek_version = '2.0.0-rc.1.181+20190113T062549Z'

It looks like the necessary artifacts are missing there :
https://dl.bintray.com/spekfra

[2019-01-17 14:12] Lakedaemon commented on #503
Thanks for your work, btw. :)

[2019-01-17 21:30] raniejade commented on #503
That's only a placeholder, the current dev version is `2.0.0-rc.1.180+b8533a4`. You can check out the project README for the current stable and dev versions.

[2019-01-17 21:31] raniejade commented on #503
Fixed in #565.

[2019-01-17 21:31] #503 closed, assigned to nobody

[2019-01-17 21:43] Lakedaemon commented on #503
Thanks, with that last precision, it worked for me. Many thanks for this. :)

[2019-01-18 01:09] sraiteri opened #571 "Spek 1 Plugin compatibility with Android Studio 3.3.0"
Hi Spek Framework team,

Our team is currently in the process of migrating an Android app from Spek 1 to Spek 2. It's a large codebase, so migration effort will be considerable (magnitude of months).

Android Studio 3.3.0 has been officially released earlier in the week and we've noticed an incompatibility with it and **v0.5.5-studio-3.0** of the Spek plugin. We're holding off on full migration of

[2019-01-18 01:15] sraiteri commented on #571
I assume this is a duplicate of https://github.com/raniejade/spek-idea-plugin/issues/68 from the original Spek plugin repo?

[2019-01-18 08:42] Lakedaemon commented on #503
Could you please provide the artifacts for
https://dl.bintray.com/spekframework/spek-dev/org/spekframework/spek2/spek-dsl-jvm/

bintray only has
2.0.0-alpha.1/
2.0.0-alpha.2/
maven-metadata.xml

and also for
https://dl.bintray.com/spekframework/spek-dev/org/spekframework/spek2/spek-runtime-jvm/
2.0.0-alpha.1/
2.0.0-alpha.2/
maven-metadata.xml

which looks like a dependency for
org.spekframework.sp

[2019-01-18 10:07] jcornaz opened #572 "Document how to separate test types (unit, integration, ui, end-to-end, etc.) when using Spek"
Hello,

As far as I understand neither `@Category` (Junit4) nor `@Tag` (JUnit5) annotations can be used in conjunction with Spek righ?

Separating test source would be my preferred option. But I encountered trouble trying do to so using [gradle-testset-plugin](https://github.com/unbroken-dome/gradle-testsets-plugin)... (see unbroken-dome/gradle-testsets-plugin/issues/62).

The last option I am awa

[2019-01-18 16:47] jcornaz commented on #290
@osipxd, I guess you found out why since then. But here is the answer:

* This problem is not related to Spek at all. JUnit would have had the same behavior
* `launch` is a fire-and-forget. `join` never throw, even if the underling coroutine failed. This is by design. If one wants to have a `join` that throw in case of failure of the underling coroutine, then he has to use `async` and `await` inst

[2019-01-19 04:00] sraiteri commented on #571
Also cross-referencing https://github.com/raniejade/spek-idea-plugin/issues/71 and https://github.com/raniejade/spek-idea-plugin/issues/68

[2019-01-19 10:32] raniejade commented on #571
Can you guys test this build out?
[0.6.1-studio3.3.zip](https://github.com/spekframework/spek/files/2775429/0.6.1-studio3.3.zip)

[2019-01-19 11:51] sraiteri commented on #571
@raniejade,

**0.6.1-studio3.3.zip** works with Android Studio 3.3.0 (under the following configurations):

<img width="644" alt="screen shot 2019-01-19 at 9 47 32 pm" src="https://user-images.githubusercontent.com/7417780/51426270-d856fc80-1c33-11e9-9c26-fe29623261bd.png">

1. **AGP 3.3.0**, **Gradle 5.1.1**, **Spek 1.2.1**
* Run all Spek 1 tests in test package from IDE :white_check_mark:
* Run

[2019-01-19 11:51] #571 closed, assigned to nobody

[2019-01-19 15:39] dhaksddj commented on #570
Sorry for my terseness. We are evaluating tools for a new project and work and I've been assigned the due diligence. Can you give some information on the state of play of this project right now? Is it struggling with lack of resources? Are you actively looking for devs to help out? How does the future look?

[2019-01-21 09:42] jcornaz commented on #570
Since I'm not the maintainer, my comment here is only personal opinion.

1. Open PR request is not a good measurement IMHO. Any well maintained project can have PR staying open forever and even for good reasons. You'd better look at the *close* PR. And you'll see a bunch of recently merged PR: https://github.com/spekframework/spek/pulls?q=is%3Apr+is%3Aclosed.
2. Commits to the main branch in durin

[2019-01-21 10:35] jcornaz commented on #566
@raniejade Do you think that this kind of change could solve the problem: https://github.com/jcornaz/spek/commit/615790fad012d7fe365f833a6d5af5d6fa0bc101?

And it would be consistent to what we find here: https://github.com/spekframework/spek/blob/b8533a47cc5908b2c2b787d464d5db4006a25c2d/spek-runtime/src/commonMain/kotlin/org.spekframework.spek2/runtime/Collectors.kt#L59

The only thing is, I don'

[2019-01-21 10:38] dhaksddj commented on #570
Thank you for your response.

[2019-01-21 10:38] #570 closed, assigned to nobody

[2019-01-21 11:06] raniejade commented on #566
@jcornaz Unfortunately, no. Fixtures (beforeGroup) are executed during the execution phase. As I mentioned JUnit 5 needs to support this first before we can do anything within Spek.

[2019-01-21 11:13] raniejade commented on #570
@jcornaz is spot on, I wont pry any longer. The issues do need some house keeping, most of them are several years old and may not apply anymore.

[2019-01-21 12:06] jcornaz commented on #566
That's the point.  The exception would be caught during the discovery phase and thrown during execution phase

1. **Discovery**: Catch the exception, so the discovery no longer crash, but instead register a `beforeGroup`.
2. **Execution**: Execute `beforeGroup`, throwing the exception caught during discovery and making the test suite fail.

[2019-01-21 12:11] raniejade commented on #566
Ahh, I get it now. Instead of adding a fixture, why not do a throw here: https://github.com/spekframework/spek/blob/b8533a47cc5908b2c2b787d464d5db4006a25c2d/spek-runtime/src/commonMain/kotlin/org.spekframework.spek2/runtime/Collectors.kt#L65?

[2019-01-21 14:35] jcornaz commented on #566
The catch block you linked does add a fixture. Here is the full try-catch block you linked from `Collectors`:

[code]

So it does add a fixture `collector.beforeGroup { throw e }`, doesn't it?

Now, the problem, is that this block of code is only evaluated when discovering a *group*. And actually, it already behaves as expected (because of this try-catch) when an exception is thrown during discove

[2019-01-21 14:42] jcornaz commented on #572
@tkrullmann (from [gradle-testset-plugin](https://github.com/unbroken-dome/gradle-testsets-plugin))  answered the following to my problem with Spek:

@raniejade, Would it be possible to make the Spek runner to scan only the `testClassDirs` instead of the entire `classpath`?

[2019-01-21 16:41] charleskorn commented on #572
Another option is to create separate Gradle source sets and corresponding test tasks. This has the advantage of allowing you to have different dependencies for each type of test (which can be useful when you want to enforce the level at which different tests operate).

I have this set up in a project, take a look at https://github.com/charleskorn/batect/blob/master/app/build.gradle, https://github

[2019-01-21 16:45] charleskorn opened #573 "Intermittent PreconditionViolationException"
I'm seeing occasional warnings like this when running my tests:

[code]

This is running under Gradle 5.1.1, and seems to happen randomly - I can't see a pattern to what causes it nor what caused it to begin happening.

Furthermore, this doesn't mark the test run as failed, causing the build to be incorrectly reported as successful.

[2019-01-21 16:50] charleskorn commented on #573
I should add that this is with Spek 1.2.1 and the JUnit platform engine version 1.3.2.

[2019-01-21 19:59] jcornaz commented on #572
@charleskorn Yes, that's exactly what I did. And it is also my prefered option.

The only difference is that I use [gradle-testsets-plugin](https://github.com/unbroken-dome/gradle-testsets-plugin) to make my build really simpler, and avoid writing the same boiler-plate in all my projects. But Spek doesn't work well with that plugin, because it ignores the `testClassDirs` and scan the whole `classp

[2019-01-22 12:35] raniejade commented on #572
Apologies for the late reply - been very busy lately.

It wasn't ignored, nothing  was passed to Spek. Scanning the classpath will only happen if no `ClasspathRootSelector` is passed to it (https://github.com/spekframework/spek/blob/2.x/spek-runner/junit5/src/main/kotlin/org/spekframework/spek2/junit/SpekTestEngine.kt#L44). My guess is gradle's JUnit 5 integration does not pass that selector.

Ind

[2019-01-22 12:45] jcornaz commented on #572
There was indeed a problem in `gradle-testsets-plugin`. Many thanks to @tkrullmann for solving it.

However, if I'm personally no longer blocked, I don't consider this issue solved.

Here hare the things that (I think) should be done before closing this issue:
* Document that `@Tag` and filter by class name doesn't work with Spek
  * Or eventually support filter by class name and/or `@Tag`
* Docum

[2019-01-23 10:16] raniejade commented on #573
Weird, not entirely sure how this can happen.

[2019-01-23 10:20] raniejade commented on #572
Or eventually support filter by class name and/or @Tag

I think we need to disambiguate in the docs JUnit Platform vs JUnit Jupiter (collectively known as JUnit 5), pretty common misunderstanding.

And eventually give an example (users coming from Junit are used to do that with @Category and @Tag)

Yep, definitely going to happen.

I'll leave up to the people who wants to contribute, I don't use a

[2019-01-23 10:49] AdrianAgr opened #574 "Couldn't run test clicking in the greens arrows alongside of the class"
This morning I found an update from Spek (to **v2.0.0-rc.1.180+b8533a4-IJ2018.3**), and after did it I couldn't run any test individually (**clicking in the green arrows alongside the class**). The only way that I have found to run the test is running **all** the test classes that I have in the folder **at the same time** (right-click on the folder -->Run Test in whatever).

I'm working with Windo

[2019-01-23 10:54] raniejade commented on #574
By any chance do you have the class in the default package?

[2019-01-23 11:01] raniejade commented on #574
Also, can you share a reproducer? The kotlin plugin version you are using may help as well.

[2019-01-23 11:28] raniejade commented on #566
My bad, brain is not working :joy:.

Have you tried doing this:

[code]

in `AbstractRuntime#resolveSpec`? For the tests, you can look at  [this](https://github.com/spekframework/spek/tree/2.x/spek-runner/junit5/src/test/kotlin) for inspiration.

[2019-01-23 12:28] AdrianAgr commented on #574
No, I don't have this class in the default package (I created another package specifically for test). And regarding the reproducer (if I understood correctly), you have to write a regular Spek test.

The Kotlin plugin version is: v1.3.11-release-IJ2018.3-1

[2019-01-23 13:37] mmitic-lotusflare commented on #569
Latest plugin version on AS is 2.0.0-rc.1.180+b8533a4-Studio3.3

[2019-01-23 19:16] charleskorn commented on #573
Yes, it's very odd, I'd expect it to be consistent.

Is there any way to make it fail the build when this happens?

[2019-01-23 22:55] CACuzcatlan commented on #571
@raniejade how do you install that manually? I've only done it through Android Studio -> Preferences -> Plugins

[2019-01-24 10:24] raniejade commented on #571
@CACuzcatlan there should be an option to install from disk.

[2019-01-24 10:32] sraiteri commented on #571
@CACuzcatlan that's the one.

**Android Studio -> Preferences -> Plugins -> Install plugin from disk...** (bottom right button)

![image](https://user-images.githubusercontent.com/7417780/51672313-ea131800-2016-11e9-9ece-731f91fa832c.png)

After the standard Android Studio restart to initialise the plugin, you should see **0.6.1-studio3.3** is installed:

![image](https://user-images.githubusercon

[2019-01-24 18:01] CACuzcatlan commented on #571
@sraiteri Thanks! Unfortunately, I'm still getting the issue where it says `Nothing Here` when clicking on the gutter arrow in Android Studio. I'm running

Android Studio 3.3
AGP 3.3.0, Gradle 5.1.1, Spek 1.2.1

[2019-01-24 18:30] floralvikings commented on #563
### tl;dr workaround

In the run configuration, add the following VM option:

[code]
- - -
@jcornaz @raniejade I believe I may have found the root cause of this issue.

Apologies in advance for the long post; I've been banging my head against this for what feels like forever.

1. `C:\Users\<User>\AppData\Local\Temp\` is *supposed* to be the default value of `java.io.tmpdir` on Windows, but for som

[2019-01-25 12:07] ursjoss commented on #563
I can confirm that the workaround of adding `-Djava.io.tmpdir=C:\Users\<User>\AppData\Local\Temp\` to the VM options of the launch configuration works around the issue. Thanks @floralvikings for nailing this down.

I tried to set the parameter in the custom vm options, in order to not have to set it in the various launch configurations. It didn't work though. I guess the issue (hopefully) taken ca

[2019-01-25 12:12] AdrianAgr commented on #574
I solved the issue, somehow the package line was removed and I didn't notice it,

[2019-01-25 13:32] sraiteri commented on #571
@CACuzcatlan - very strange. Do you have any test plugins competing at the JUnit platform level? What is the structure of your `given/on/it`?

Here's what I see when I try to run individual tests in a Spek 1 test file:

![image](https://user-images.githubusercontent.com/7417780/51748811-4babb300-20f9-11e9-971b-9c95eac20ee8.png)

Occasionally I've got to try to re-run from the gutter again, but the

[2019-01-25 14:09] jcornaz commented on #574
But, Spek should be able to run specification in the default package, right?

[2019-01-25 14:24] rburgst opened #578 "Spek Plugin doesnt work in IntelliJ IDEA 2019.1 EAP"
![image](https://user-images.githubusercontent.com/22971/51751613-8b50ab80-20b5-11e9-834b-7d5c38cc54ae.png)

[2019-01-25 15:50] pc-fmarin commented on #572
I'm trying to use `gradle-testsets-plugin` to do this, after putting the following simple snippet in my build.gradle the integrationTests are not executed, they are compiled but not executed. Is there something I'm missing in my config?
I'm using gradle 5.1.1
`
plugins {
    id 'org.unbroken-dome.test-sets' version '2.1.1'
}

testSets {
    integrationTest
}
`

[2019-01-25 16:14] tkrullmann commented on #572
The other test sets are not executed by default - that's by design. You have to either include the `integrationTest` task when running Gradle, or have something like

[code]

in your build script.

[2019-01-25 18:20] CACuzcatlan commented on #571
@sraiteri I have that exact setup and I know it's not the tests because they were working before I upgraded to Android Studio 3.3.

I'm using Gradle Plugin 3.3.0, Gradle 5.1.1, Spek 1.2.1, Spek plugin 0.6.1-studio3.3

Android Studio 3.3
Build #AI-182.5107.16.33.5199772, built on December 24, 2018
JRE: 1.8.0_152-release-1248-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6

[2019-01-25 22:13] pc-fmarin commented on #572
yeah I got that, I'm running `gradle integrationTest` and that is not executing tests, after attempting w/ debug I noticed these lines during the testIntergration execution.  These tests are kotlin folder

14:46:29.278 [DEBUG] [TestEventLogger] Gradle Test Run :integrationTest STARTED
14:46:29.304 [DEBUG] [org.gradle.api.internal.tasks.testing.detection.ClassFileExtractionManager] extracted class

[2019-01-25 23:08] raniejade commented on #571
@CACuzcatlan what kotlin plugin version are you using?

[2019-01-25 23:12] raniejade commented on #573
Unfortunately no, I'm not sure if there is a config with JUnit Platform that fails the run if there are warnings.

[2019-01-25 23:14] #569 closed, assigned to nobody

[2019-01-25 23:16] raniejade commented on #578
Thanks for the report! I'll download the EAP first, hopefully it will only require updating the version requirements.

[2019-01-25 23:23] raniejade commented on #574
@jcornaz It should - I definitely fixed this before, going to look at it again.

[2019-01-25 23:39] #566 closed, assigned to nobody

[2019-01-25 23:47] raniejade commented on #563
@ursjoss @floralvikings @jcornaz Have you looked in the console (within IJ) what paremeters IJ is passing to the jvm when running the tests? I suspect something passed there overrides the tmp dir property.

[2019-01-26 00:12] CACuzcatlan commented on #571
@raniejade
The one from Android Studio -> Preferences -> Plugins
`1.3.20-release-Studio3.3.1`

In my gradle file under dependencies I had:
`classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:1.3.11"`

I was getting the following warning:
`Kotlin version that is used for building with Gradle (1.3.11) differs from the one bundled into the IDE plugin (1.3.20) more... (⌘F1)`

so I change it to 1.3.2

[2019-01-26 00:17] raniejade commented on #571
@CACuzcatlan Are you able to share the project? If not, can you create a sample project that replicates the issue?

[2019-01-26 00:39] pc-fmarin commented on #572
Finally got my different sourceSets working.  I have to add this to discover and execute the tests.

[code]
Then I had to add the spek framework explicitly to the integrationTest config so the test runner can find the spek tests to execute.

NOTE: I also had to repeat the testing log configuration I had in the test config so the SUCCESS tests appear on console.
[code]

[2019-01-26 11:36] sraiteri commented on #571
I'm not sure if this issue is Kotlin related - I have had similar issues before in other projects. Tests ran as part of Gradle fine, but failed to be detected from the IDE (the `Nothing here` from plugin execution.

In most cases, it came down to some `exclude group: org.junit.platform` items scattered through the test dependencies - legacy configuration to force the JUnit platform versions in old

[2019-01-26 17:18] ursjoss commented on #563
@raniejade I don't see any obvious override in the console. Do you think that #577 would not solve the issue?

By the way: Adding `-Djava.io.tmpdir=C:\Users\<User>\AppData\Local\Temp\` to the VM Options of the `Spek 2 - JVM` template makes a nice and workable workaround for the time being.

[2019-01-26 17:20] floralvikings commented on #563
@ursjoss #577 does not fix this issue; it fixes two other bugs that I found incidentally while looking for the root cause of this one. Sorry for the confusion

[2019-01-26 23:28] raniejade commented on #563
This is interesting: https://stackoverflow.com/a/29716813.

Looking at [this](https://github.com/mockk/mockk/blob/e64063f4387e0e9d7c42bb721da337157d13d4c4/agent/jvm/src/main/kotlin/io/mockk/proxy/jvm/dispatcher/BootJarLoader.kt), MockK writes the jar in a java agent - which may not see the env variables?

[2019-01-28 10:18] #343 closed, assigned to nobody

[2019-01-28 10:18] #355 closed, assigned to nobody

[2019-01-28 10:30] raniejade commented on #555
It will be supported eventually. PRs are definitely welcome!

[2019-01-28 10:32] raniejade commented on #551
Fixed in the `2.x` branch. If you use the latest dev builds and ide plugins, you should be able to jump to source.

[2019-01-28 10:32] #551 closed, assigned to nobody

[2019-01-28 10:33] #543 closed, assigned to nobody

[2019-01-28 10:34] #472 closed, assigned to nobody

[2019-01-28 10:35] #402 closed, assigned to nobody

[2019-01-28 10:35] #272 closed

[2019-01-28 10:37] #280 closed, assigned to nobody

[2019-01-28 10:39] #252 closed

[2019-01-28 10:39] #445 closed, assigned to nobody

[2019-01-28 10:40] #290 closed, assigned to artem-zinnatullin

[2019-01-28 10:42] #219 closed

[2019-01-28 10:43] #235 closed

[2019-01-28 10:43] #212 closed

[2019-01-28 10:44] #208 closed

[2019-01-28 10:45] #207 closed

[2019-01-28 10:46] #201 closed

[2019-01-28 10:46] raniejade commented on #198
`action` is dropped in `2.x`.

[2019-01-28 10:46] #198 closed

[2019-01-28 10:47] #130 closed

[2019-01-28 10:48] #193 closed

[2019-01-28 10:48] #98 closed

[2019-01-28 10:48] #105 closed

[2019-01-28 10:49] #57 closed

[2019-01-28 10:52] raniejade commented on #52
Nope, hacky solutions will only add more problems.

[2019-01-28 10:52] #52 closed

[2019-01-28 10:53] raniejade commented on #161
Should be possible now, see #572

[2019-01-28 10:53] #161 closed

[2019-01-28 10:54] #157 closed

[2019-01-28 10:54] #168 closed

[2019-01-28 10:55] #181 closed

[2019-01-28 10:55] #169 closed

[2019-01-28 10:56] #192 closed

[2019-01-28 10:56] #93 closed

[2019-01-28 10:57] #136 closed

[2019-01-28 10:58] #386 closed, assigned to nobody

[2019-01-28 10:58] #373 closed, assigned to nobody

[2019-01-28 11:12] AnkBurov commented on #445
@raniejade seriously?

[2019-01-28 11:14] raniejade commented on #445
`on` was dropped from  `2.x`, making this issue outdated. Sorry for not mentioning a reason.

[2019-01-28 11:14] AnkBurov commented on #445
Ok, thank you. Have a nice day then.

[2019-01-29 11:21] charleskorn commented on #555
Great to hear. Is there anything in particular you'd like to see a PR for? Based on a quick glance, it looks like the first step would be implementing the runtime and then some kind of test runner.