[2013-04-18 12:31] mhshams opened #5 "need for a solution to skip a spek, a given, an On or an It."
An Ignore annotation (@Ignore in JUnit) or something similar would be very beneficial to skip
temporary some of the tests.

It must be operate on:
    - whole spec instance
    - a specific "given"
    - a specific "On"
    - a specific "It"

[2013-04-22 16:26] mhshams opened #8 "Empty blocks or not implemented scenarios, must be skipped (Pending mode)"
User should be able to add "given", "on" and "it" without implementation. this is useful when he/she wants to create the scenarios only.

[code]

[2013-04-22 16:33] kareez opened #9 "Need for HTML report. ( unimplemented HTMLListener )"
In order to see a better coverage report,
A developer wants to see the execution results in HTML format.

[2013-04-24 04:41] mhshams opened #11 "Merging JUnitSpek and ConsoleSpek"
Hi,

having looked at JUnitSpek and ConsoleSpek, I found they are almost identical.
the only difference is the "RunWith(javaClass<JSpec<*>>())" in the JUnitSpek.

I was thinking, we can merge them and have one parent Spek class only, which is of course annotated with "RunWith(javaClass<JSpec<*>>())".

By this approach, there will be one type of Specks only, But user can decide to whether run them

[2013-05-01 13:16] #8 closed, assigned to nobody

[2013-05-01 13:16] #5 closed, assigned to nobody

[2013-05-05 20:20] hhariri opened #16 "Release 0.1"
Guys,

You think we can set a date for a 0.1 release of this?

[2013-05-11 13:32] jonnyzzz opened #18 "Switch to 1.6"
I noticed current config requires Java 1.7. Why? Unless we have any prerequisites for that, let's consider 1.6 that my expand applicability of the library

[2013-05-14 08:01] #18 closed, assigned to nobody

[2014-01-16 08:38] jonnyzzz opened #21 "IDEA vs Gradle vs Maven"
What is the main project model that is used for the project?

Currently I see `.gradle` and `.idea` project. What should I open in IDEA to start?

[2014-01-16 22:58] jonnyzzz opened #22 "CI build for Spek?"
Do we have one?

[2014-01-17 10:26] #21 closed, assigned to nobody

[2014-01-17 10:29] jonnyzzz opened #23 "Support pre-post actions for ```on```"
Thats gonna be nice to allow running pre or post tasks before or after each `on`, e.g.

[code]

[2014-01-17 10:29] #23 closed, assigned to nobody

[2014-01-19 17:04] jonnyzzz opened #24 "Standard test definition"
Currently we have 2 main approaches to define a test:

[code]

The next way is JUnit compatible:

[code]

There are following questions:
- do we like the syntax in general?
- what is the best name for base class?

[2014-02-13 11:47] #24 closed, assigned to nobody

[2014-02-13 11:48] #22 closed, assigned to nobody

[2014-02-13 11:48] #11 closed, assigned to nobody

[2014-02-13 11:55] #16 closed, assigned to nobody

[2014-02-13 12:09] orangy opened #25 "Get rid of "reflections" since it causes jar size exploding"
We need to enumerate all classes in classpath, getting +2mb for jar size is too much. Could use something like this: https://github.com/ddopson/java-class-enumerator

[2014-02-16 13:58] #25 closed, assigned to nobody

[2014-02-16 13:59] hhariri opened #26 "Provide JAR support for Command Line Console Runner"
Currently only support folders containing .class files. Need to add (fix) .jar support.

[2014-02-18 21:41] charroch opened #27 "spek-core missing in SNAPSHOT release"
There is a dependency in the POM against spek-core and a unspecified version on jetbrains repo.

[code]

[2014-04-15 04:25] #27 closed, assigned to nobody

[2014-04-15 04:26] hhariri opened #29 "Support for Theories (Row-based testing)"
Ability to run the same specification, with different input values.

[2014-04-15 04:26] hhariri opened #30 "TeamCity Plugin"

[2014-06-29 08:23] K0zka opened #31 "central repository sync"
Could you upload spek to the central maven repository as well?
The problem is that if I build an app tested with spek, then I will not be able to upload to central because from central repository all artifacts depending on external repositories are rejected. see [1]

Thank you!

1: http://blog.sonatype.com/2010/03/why-external-repos-are-being-phased-out-of-central/

[2014-08-12 16:06] cardctor opened #32 "All Ons executes before Its"
Actual: All Ons executes before Its.
Expected: Its executes after his Ons.
Kotlin M8 and Spek 0.127

    class SpekSpecs: Spek() {{
        given("given1") {
            var log = ""
            on("on1") {
                log += "on1"
                it("it1 goes after on1") {
                    log += "it1"
                    shouldEqual("on1it1",log)
                }
            }

[2014-09-11 13:19] #29 closed, assigned to nobody

[2014-10-09 08:40] serddmitry opened #33 "Incorrect reporting of exceptions in "on" clause"
Tested on 0.1-SNAPSHOT (0.1-20140926.162946-6)

When there is an exception thrown inside "on" clause, IntelliJ shows me "Tests were not started".
Furthermore, other given clauses don't run at all.

Expected behavior:
- exception in one clause shouldn't affect the others
- IntelliJ test runner should mark only failed clauses as failed

[2015-01-14 18:40] nhekfqn opened #34 "spec-sample tests are not run with ./gradlew test"
I've changed TimingSpecification test so that it fails when running with IDEA runner, than tried to run

[code]

command from root of the project. Build succed. It looks like tests are not run while building project with gradle.

[2015-01-14 19:22] nhekfqn opened #35 "Sample maven project"
I tried to configure sample maven project with spek tests runnable from IDEA and during maven build but had no luck.

What I tried:

1. configured sample maven project with kotlin JUnit test similar to https://github.com/JetBrains/kotlin-examples maven/mixed-code-hello-world. Tests runs fine both with IDEA (ultimate 14.0.2) and ```maven test``` (from command line).
2. added spek dependency as desc

[2015-01-19 20:49] hhariri commented on #35
Thanks. Going to take a look.

[2015-02-24 08:03] krischik commented on #35
Got the same problem when importing a Gradle library project:

[code]

I used:

[code]

Stange thing: It build just fine.

[2015-03-24 15:27] paslavsky opened #36 "Spek doesn't work with Kotlin M11"
Please build new version for the Kotlin M11

[2015-03-24 19:20] zainfur commented on #34
Hi, I have a similar issue! Did you manage to fix it?

[2015-03-27 11:42] hhariri commented on #36
Doing so now. Sorry for delay.

[2015-03-27 12:23] hhariri commented on #36
I'm going to push for M11, but it will only be temporary cause Spek needs some changes as mentioned.

[2015-03-27 12:23] #36 closed

[2015-03-27 12:42] hhariri commented on #34
Not ignoring this but Spek is going to need some changes soon and will get to this also.

[2015-05-10 20:08] Chumper commented on #34
Looks like spec is not being updated anymore, is there a plan for spek 2 or is this still considered the actual development status?

Just curious since we are looking into spek and want to see if it is worth the time for a new project.

[2015-05-13 04:26] hhariri commented on #34
Sorry. Was on the road. There are still plans. Can I ask you, what needs do you currently have? i.e. What aspects of Spek are currently interesting to you or provide benefit over existing solutions?

[2015-05-15 13:28] Chumper commented on #34
Currently we are using Java, Cucumber and Gherkin to write test. That takes a huge amount of time and we are looking into solutions that will shorten the time to write tests without losing any quality.

We like the way how tests are written in Gherkin, but we dont like that everything needs to be defined over explicitly, so we are looking for some good compromises and spec is one of them.

[2015-05-18 06:43] hhariri commented on #34
Thanks. Have you found any shortcomings right now in Spek? The reason we're redesigning, amongst others is to improve on the syntax for Spek. Right now you had to use {{ }} (i.e. put everything in constructor. Since Kotlin now recommends *init* keyword before constructor, it already adds to removing a nicer syntax. The code in constructor also imposed certain limitations.

[2015-05-31 02:44] hastebrot commented on #35
Somehow the Spek and Kotlin artifacts at http://repository.jetbrains.com/all/org/jetbrains/ seem to be outdated.

[2015-06-01 06:29] hhariri commented on #35
Rebuilding now. Not sure why it didn't rebuild.

[2015-06-01 06:29] #35 closed

[2015-06-01 21:28] richardszalay opened #38 "M12 support"
Any chance we'll be seeing a maven drop that includes 1ac8fe232fb91ff08e56147e693178621ab0a68e?

(I realise I could use the snapshot version, but I'd rather keep my kotlin dependency on a stable release)

[2015-06-02 06:14] hhariri commented on #38
Done. It should be published soon.

[2015-06-02 06:14] #38 closed

[2015-06-02 07:26] richardszalay commented on #38
Thanks hhariri, though is there a reason the new build targets Kotlin 0.12.200 rather than 0.12.213?

[2015-06-02 07:37] hhariri commented on #38
AFAIK 0.12.200 is M12, is it not?

[2015-06-02 08:02] richardszalay commented on #38
It looks like 213 was released to Maven Central a day after 200, so I'm assuming its a quick bugfix release.

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.jetbrains.kotlin%22%20AND%20a%3A%22kotlin-stdlib%22

[2015-06-02 09:05] hhariri commented on #38
Pushing 0.2.213 now.

[2015-06-03 06:01] richardszalay commented on #38
Perfect, thanks!

[2015-06-26 05:46] trharoldsen opened #39 "afterOn executing before On"
Expected: on runs before afterOn
Actual: afterOn runs before on

Sample:
[code]

output:
1423

[2015-06-26 08:41] jvelo commented on #35
I have the same issue as @nhekfqn. I managed to have maven build the specs, but they are not executed (they should fail, but build succeeds).
I have kotlin version ```0.12.613``` and spek version ```0.1.165```.
I have set ```<testSourceDirectory>${project.basedir}/src/test/kotlin</testSourceDirectory>```, where my specs are.

[2015-06-26 16:24] hhariri commented on #39
Yep it's a known issue. With the restructuring hopefully this will be solved.

[2015-06-30 07:06] hhariri commented on #35
Can you post some sample project please?

[2015-06-30 07:21] jvelo commented on #35
I've created https://github.com/jvelo/kotlin-spek-maven which builds successfully with ```mvn test``` when I would expect it to fail

[2015-08-26 22:20] theangrydev opened #41 "init keyword is clunky"
I don't like having to do { init { } } instead of {{ }}, have you guys any ideas about how you might be able to land on a clean syntax again?

[2015-09-18 10:53] yoavst opened #45 "M13 support"

[2015-09-26 21:05] kareez opened #47 "The first slide in documentation site has some extra brackets."
- The open bracket in ```val calculator = Calculator() { ``` should be in the next line.
- Also there is an extra bracket in ```val sum = calculator.sum(2, 3) {```.

![](http://jetbrains.github.io/spek/img/slide-1.png)

[2015-09-30 04:59] paslavsky commented on #41
I found one solution, maybe it help
Please see my [pull request](https://github.com/JetBrains/spek/pull/48)

[2015-09-30 07:28] hastebrot commented on #41
Amazing! So simple. We still need parenthesis `()` around the inline function, but this is much better than `init {}`.

Before:
[code]

After:
[code]

[2015-09-30 07:54] mhshams commented on #41
I think, a more practical solution would be to move the scenarios inside methods.

[code]
Spek runner can scan the classes for the specific annotation (e.g. Scenario).

Advantages:
 - all scenarios that are related to a single feature would be in a single class.
 - no need to worry about 'init' any more

[2015-09-30 08:00] hastebrot commented on #41
@mhshams The issue here is, that we need to find a method name (e.g. `firstScenario()`), which is redundant.

The Spock testing framework for Groovy solved this, by accepting strings as method names. Also some JavaScript and Ruby testing frameworks avoid this, by _calling_ functions that accept strings for BDD declarations (e.g. `setup()`, `describe()`, `it()`), instead of _declaring_ functions.

[2015-09-30 08:11] mhshams commented on #41
@hastebrot , long time ago, when I was playing with spek, I suggested to use the **kotlin escape character** to define the method names as string.
something like:
[code]
With this approach you don't need have the annotation or another top declaration.

[2015-09-30 08:24] hastebrot commented on #41
@mhshams Wow, thanks for this! I didn't know this was possible in Kotlin. Even IDEA supports auto-completion for calling these methods with escaped strings.

[2015-09-30 09:16] hhariri commented on #41
@mhshams I like that approach in the benefits it offers. I'm just not such a fan of the escape characters. However since we first discussed it, things have also changed in Kotlin, including the need for init, so this might be ultimately a better approach.

In addition, it will solve some of the issues we have. Wondering if beforeOn/afterOn would be solved too...Going to play around with this.

(Bt

[2015-09-30 10:06] paslavsky commented on #41
@hhariri Thank you for invitation

[2015-10-07 18:55] jkcclemens commented on #32
Any news on this issue?

[2015-10-10 08:48] hhariri commented on #32
With the current way Spek is designed it's close to impossible to get this to work, that's why we're considering changing some of the DSL and this is in process. Sorry for delay.

[2015-11-13 19:38] codeslubber opened #49 "shouldNotBeNull does not work"
Does the opposite:

    shouldNotBeNull(agentCommission)

Yields this result:

[code]

Opposite of what is expressed.

[2015-11-15 07:18] hhariri commented on #49
Should be fixed now.

[2015-11-15 07:18] #49 closed

[2015-11-16 18:59] #45 closed

[2015-11-17 09:50] jasperblues opened #50 "Running (spring) integration speks?"
Is there an equivalent for the following JUnit?

[code]

[2015-11-23 23:43] codeslubber opened #51 "Run configurations get hosed up and fail to work"
Somehow it is possible to end up with run configurations that throw up this error:

[code]

This sure looks like a classloader problem. Was able to slink out of this a few times by deleting them then recreating them.

[2015-11-24 06:34] hhariri commented on #51
Is there anything to reproduce this?

[2015-11-24 06:36] codeslubber commented on #51
We were able to reproduce a number of times. It is possible that Kobalt played a role in this. We noticed that it appeared twice in the modules. Was going to talk to cedric about it. Main reason I made an issue here is it does seem that the runner is the problem. But maybe one of the kobalt jars had an older JUnit?

[2015-12-07 16:20] madhead commented on #33
I'm still having the same issue...

[2015-12-07 16:22] madhead commented on #51
Had the same issue running `0.180` with latest Kotlin (they've removed `Delegates.lazy` in regards to `lazy{}`). Updating to latest Spek version resolved this.

[2015-12-07 16:23] codeslubber commented on #51
Thanks @madhead ! Will give this a try..

[2015-12-10 16:02] madhead opened #52 "Improve grouping in JUnit test reports"
I've setup a test repo for this issue [here](https://github.com/madhead/spek-reports).

When I run Spek suites in IntelliJ IDEA, the reports looks awesome:
![IntelliJ IDEA test report](https://cloud.githubusercontent.com/assets/577360/15592412/35729cb8-23ac-11e6-9a49-87295f04791e.png)

Suite class's name is visible alongside with it's package. The sings are aligned in tree. Just great.

But when I

[2016-01-13 23:27] alpacagh commented on #32
This issue was created 1 year 5 months 2 days ago, any chances for resolution?
May be at least some documentation note for such case?

[2016-01-19 12:03] alvivi opened #57 "Testing async code"
Hi there,
we trying to figure out how to test async code with Spek. Does Spek offer any facilities to test async code? With [Quick](https://github.com/Quick/Quick) we use `waitUntil` and `toEventually`.

[2016-01-22 15:28] jskierbi commented on #39
Anything new in this respect?

I understand that ```beforeOn``` and ```afterOn``` are called during adding test task to the queue, with queue itself being processed afterwards. Is there anything I can be helpful with? I really like Spek and want to add it to my project badly, but this issue prevents me from doing so

[2016-01-24 16:47] hhariri commented on #32
The current structure of Spek does not allow it without either

a) A major redesign
b) Dropping complete JUnit infrastructure and writing most of the support JUnit now provides from scratch.

For now and to avoid further confusion, I've dropped before/afterOn. This can still be done just placing the function calls before the actual on.

[2016-01-24 16:49] hhariri commented on #39
Is there any possibility of working around it by just calling the code you need yourself in a function call explicitly? Currently because of how Spek is designed, without major changes it's not possible :(

[2016-01-24 16:50] hhariri commented on #57
Currently there isn't. Can you show me some sample code you want to test?

[2016-01-24 22:13] jskierbi commented on #39
Hmm I forked repo and started some code rework in this regard, now I've managed to change structure a bit so that given, on and it calls can be deferred after listing them (in master this is done via ```iterateOn```). One problem yet to overcome -> JUnits ParentRunner need to list all children tree before execution, which is unfortunately not possible before running given/on/it expressions (regist

[2016-01-25 00:03] hastebrot commented on #39
Hi Jakub,

I experimented a bit with ParentRunner a few months ago. Register new
children during test execution works fine.

My plan was to use graph transformations to rewrite Spek classes to graphs
that resemble the execution order and use these graphs for the ParentRunner
tree and test run output. This approach could help to understand and debug
the execution order better and allow custom DSLs,

[2016-01-25 06:57] hhariri commented on #39
@jskierbi Currently nothing planned, so your PR is more than welcome :)

[2016-01-25 22:16] jskierbi commented on #39
Hi. Was exploring ParentRunner today, indeed there's an option to modify description (children etc) during test execution. It's just that... what I've managed to achieve (integration with Idea):

![screen shot 2016-01-25 at 11 04 13 pm](https://cloud.githubusercontent.com/assets/743666/12566055/0186a2e0-c3b8-11e5-9793-d61c99c162f1.png)

Below's the code of my ParentRunner:
[code]

Some more diggin

[2016-01-25 22:29] jskierbi commented on #39
@hastebrot generic, unwinding tree would be a very cool addition to this project - this would give possibility to limitlessly extend specs :) As for now I focused on poor man's improvements to make it work using existing defined 3 lvl hierarchy. When it works, I'll try to find some time to dig this too.

[2016-01-26 05:41] hhariri commented on #39
@jskierbi Pinged my colleague that's responsible for the unit testing stuff in IDEA.

[2016-01-26 06:26] akozlova commented on #39
you may fake junit runner to skip sendTree - I am not very fascinating about this as you would through away a useful functionality. If your tree is dynamic from the start to the end, then it's probably the only solution available. What if you won't add any children to the suite first and add them in `run` only?

[2016-01-26 22:18] jskierbi commented on #39
Oki doki. Works. Results are as follows:

1. beforeOn/afterOn called in proper order (both Spek runner and Idea/JUnit integration)
2. added beforeEach/afterEach idiom, it is also called in proper order
3. Idea integration works ok, test tree is built properly. Actual tests execution is done inside ```ParentRunner#getDescription()``` with results being stored in hash map,  ```ParentRunner#run(RunNo

[2016-01-27 09:52] hhariri commented on #39
@jskierbi This is fantastic! Should we test the branch already or you want to do some clean-up first?

[2016-01-27 09:59] akozlova commented on #39
sorry, didn't check the code but running tests inside getDescription is really unexpected. Do you check that getDescription was already called and return the cach?

[2016-01-27 10:38] jskierbi commented on #39
@hhariri let me do the cleanup first and then I'll submit a PR, hopefully this week :) I wanted to share the news as soon as I made it work

@akozlova, ```run(RunNotifier)``` bases on values produced by ```getDescription()```, traversing recursively children of root description and reporting their execution status. Basically, there is a hashmap, thats maps Description hashCode to execution result.

[2016-01-29 02:59] sad2project commented on #47
And it's not using init.

[2016-02-01 06:46] hhariri commented on #47
Updated.

[2016-02-01 06:46] #47 closed

[2016-02-03 16:33] ch4vi opened #60 "Spek + Android"
I have an Android library in Kotlin and I want to start to bulid my test clases with Spek and probably with Mockito to mock a Context. I'm trying all day long but it not works.

Can Spek works with Android?

[2016-02-03 18:48] hhariri commented on #60
What's the actual issue? What error are you getting? Spek doesn't have any relationship with Android in principle...

[2016-02-04 16:00] ch4vi commented on #60
Well, the issues is that Android tests should run with an instance of AndroidJUnit4, but JUnitGivenRunner does not inherits from AndroidJUnit4, so there is no way to run test on android.
Moreover, tests classes must inherit from ActivityInstrumentationTestCase*

[2016-02-04 16:47] hhariri commented on #60
Ah sorry I'm not that familiar with Android. Yes if Android requires certain inheritance for integration tests, then it wouldn't be viable. Outside of the Android specific tests of course you could use it.

[2016-02-04 16:47] #60 closed

[2016-02-07 21:01] Zoltu opened #61 "Improve IntelliJ Integration."
When using JUnit, I can tell IntelliJ to run a single test by right-clicking on it in the test results window or by right clicking on the test method name in the text area.  With Spek tests, I am unable to do either of these things and it appears I can only run entire test classes (not individual `given`, `it` or `on` blocks).  When all of the tests are passing this is fine.  However, when I have

[2016-02-11 10:58] jskierbi commented on #61
Test structure is not known upfront (unlike JUnit, where whole test structure information can be extracted via reflection prior to execution), so it is not possible to mark single ```given```, ```it``` or ```on``` to run same way as in JUnit.

However, it may be good idea to add **focus** idiom to Spek - similar to specta for iOS, where you can add ```f``` prefix to make only focused specs run. It

[2016-02-11 16:32] hhariri commented on #61
@jskierbi really not in favor of having to modify tests to be honest :/

[2016-02-20 00:32] lkogler commented on #39
Hey, @jskierbi I like where you're going with the PR!  But it seems to me that the behavior you've got is still not quite what I would expect, based on other libraries such as Rspec, Jasmine, etc.

I've ported your test code into Rspec to illustrate what I mean:
[code]

This code outputs the following:
[code]

The thing to note here is that in Rspec, a regular `before` (or `before(:each)`) execute

[2016-02-20 00:38] hastebrot commented on #39
Nested `context`s and `describe`s have a tricky execution order. `before(:each)` needs to execute for every `it` in the hierarchy. I experimented a bit with Mocha.js, and didn't expect the execution order.

[2016-02-22 19:29] gzoritchak opened #63 "No init in the documentation"
Since Kotlin M12 calling the constructor should be done using the init keyword.

It is not indicated in the doc : http://jetbrains.github.io/spek/docs.html

[2016-02-23 06:47] hhariri commented on #63
Fixed ,thanks

[2016-02-23 06:47] #63 closed

[2016-02-25 20:51] dmarcato opened #65 "Robolectric integration"
Currently, Spek doesn't play well with [Robolectric](http://robolectric.org/) :disappointed:

The reason is that Robolectric requires a `BlockJUnit4ClassRunner`, but Spek requires its own `JUnitClassRunner`. The exception thrown is:
[code]

Would it be possible to support framework like Robolectric?

[2016-02-28 08:33] yaroslav-ulanovych commented on #61
@jskierbi

Sorry, but that's untrue, in scalatest we can able to run single test from a hierarchy

[code]
[Screenshot](http://i.imgur.com/fHuhy8W.png)

[2016-02-29 19:35] dalewking opened #68 "Allow it on given without an on"
Sometimes you are just checking the static state of something and not really performing an action. For example, something simple like my API exports a constant for use by users and I want to just verify its value.

In English, I basically want to say something like this:

    given("MY_CONSTANT")
    {
         it("Should have the value 5") { shouldEqual(5, MY_CONSTANT) }
    }

But I am forced to

[2016-03-05 01:31] lkogler commented on #39
I took a stab at fixing this problem and ended up doing quite a bit of changes.  You can see my fork over at https://github.com/lkogler/spek.  Basically, I changed the DSL to behave like RSpec: you can have `describe` blocks nested to arbitrary depth, and there are `beforeEach` and `afterEach` blocks that execute before and after every `it` block.

I know that it's quite a major change, I'd love t

[2016-03-05 01:32] lkogler commented on #68
I took a stab at fixing this problem and ended up doing quite a bit of changes.  You can see my fork over at https://github.com/lkogler/spek.  Basically, I changed the DSL to behave like RSpec: you can have `describe` blocks nested to arbitrary depth, and there are `beforeEach` and `afterEach` blocks that execute before and after every `it` block.

I know that it's quite a major change, I'd love t

[2016-03-05 01:34] lkogler commented on #32
I took a stab at fixing this problem and ended up doing quite a bit of changes.  You can see my fork over at https://github.com/lkogler/spek.  Basically, I changed the DSL to behave like RSpec: you can have `describe` blocks nested to arbitrary depth, and there are `beforeEach` and `afterEach` blocks that execute before and after every `it` block.

I know that it's quite a major change, I'd love t

[2016-03-06 21:35] jskierbi commented on #39
@lkogler as I can see from your logs, problem is not solved, i.e. execution order is invalid for source problem of this issue. Using your solution, the result of original problem would read:
2134
(please correct me if I'm wrong)

What I found out working on this, main issue is unwinding test execution hierarchy (tree structured) beforehand execution ```it``` blocks (leafs in the structure), which

[2016-03-06 21:52] jskierbi commented on #61
@yaroslav-ulanovych does scalatest come with its own IntelliJ plugin? As for now, for current execution model, without additional logic on the IDE side, for my knowledge this is not possible.

[2016-03-09 02:38] jaredsburrows commented on #65
+1

[2016-03-13 10:51] yaroslav-ulanovych commented on #61
@jskierbi The IntelliJ Scala plugin comes with good ScalaTest support. Anyway I believe pull requests with spek support should be gladly accepted by IntelliJ team.

[2016-03-26 19:13] hhariri commented on #39
Branch 1.0 should now solve this issue.

[2016-03-26 19:13] #39 closed

[2016-03-26 19:14] hhariri commented on #61
Branch 1.0 should solve this.

[2016-03-26 19:14] #51 closed

[2016-03-27 15:32] codeslubber opened #72 "Conflict in runtime versions"
I saw some people talking about excluding the runtime from the test import. But since it's not in the docs, and I just spent ~ half an hour trying to add this one dependency to an Android project, going to go back to JUnit instead.

Why are releases not made on this project?

[2016-03-27 20:38] hhariri commented on #72
We're working on finally moving to 1.0 and there are significant changes. You can see the WIP on the 1.0 branch. Once that's final, we'll make the release.

[2016-03-28 00:42] Zoltu commented on #61
@hhariri I just downloaded 1.0.0 and I still don't appear to be able to run individual tests.  IntelliJ does show them separately (as before) but I don't see any way to run them in isolation.

Is there something more I need to do in order to run isolated tests?

[2016-03-28 05:31] hhariri commented on #61
Sorry. I was closing a few different issues, and mistakenly closed this one. This current limitation still remains (for now)

[2016-03-30 14:21] SalomonBrys opened #74 "V1.0.0: given and on should prefix description"
In v1.0.0, `given` and `on` are both aliases to `describe`.
They should be aliases that prefix the description with their keyword.

`given(description, block)` should translate to `given("Given " + description, block)`
`on(description, block)` should translate to `on("On " + description, block)`

Currently, when you use `given("a calculator") {}`, the IDEA test runner shows a test group that is na

[2016-03-31 05:38] hhariri commented on #74
The only thing there is a) localisation support b) make it optional and default?

[2016-03-31 07:04] SalomonBrys commented on #74
a) I'm not sure localisation is a problem. "Given" is an english word, using it implies an english sentence.
Being french, I wouldn't write `given("une calculatrice")`. I'd rather create my own `avec` function.

b) To me, `describe` is the default. If you're using `given`, then you're exepected to provide a sentence that completes after the word.

[2016-03-31 09:30] hhariri commented on #74
But if you're using French and want to use given, wouldn't you want it to say "avec" ?

[2016-03-31 10:00] SalomonBrys commented on #74
If I would want to use french sentences, I'd use `describe`.

[2016-04-04 17:24] lkogler commented on #61
I've taken a stab at implementing focused tests here: https://github.com/JetBrains/spek/pull/75

Does this address your issue @Zoltu ?

[2016-04-05 20:58] mikegehard commented on #50
+1 for this issue.

Maybe there is some lessons that could be learned from:

https://github.com/dam5s/kspec/tree/master/libraries/kspec-spring

[2016-04-08 01:22] Zoltu commented on #61
It partially addresses my issue, but I don't think it does so enough to make me switch back from JUnit to Spek for test authoring.  I utilize the JUnit IntelliJ integration pretty heavily and use the GUI to run, debug or coverage one test at a item, or a whole class of tests depending on what I am doing.  I also sometimes use the run configurations created by doing that to switch back and forth be

[2016-04-08 03:39] ChrisZou commented on #65
+1

[2016-04-08 16:23] RedNifre opened #76 "Android documentation?"
I created a spek test somewhere in the androidTest package. How do I include it in the test APK? Or how to run it at all? The website states that you can "just run it" in IntelliJ, how do I "just run it" in Android Studio without getting an "Empty test suite" error?

Basically I'm looking for a quick Android tutorial for Spek.

[2016-04-10 16:37] hhariri commented on #76
What is the base class for the test? We currently don't support Android integration tests.

[2016-04-11 16:44] aneveux commented on #35
Hello,

Any news regarding that topic? We have the same problem of our tests not being executed with Maven. You can find our project right here as an example: https://github.com/ktoolz/rezult

Running `mvn test` won't do anything, but running the tests in IntelliJ actually executes everything.

Thanks a lot for your help :)

[2016-04-12 19:17] Zoltu opened #77 "The rendering is broken on the docs site."
![image](https://cloud.githubusercontent.com/assets/886059/14472530/6d6e38d8-00a8-11e6-9004-bdd997bbc06f.png)

Windows 10, Chrome 49.0.2623.110 m

[2016-04-12 19:23] Zoltu opened #78 "Docs site appears to be out of date."
I just updated to the latest version of spek `1.0.9` and now the `Spek` constructor wants a body.

[2016-04-14 01:16] kiharakato commented on #65
+1

[2016-04-25 23:13] pivotal-james-zcheng commented on #65
+1

[2016-05-07 11:09] hhariri commented on #68
I believe this issue should now be solved.

[2016-05-07 11:09] #68 closed

[2016-05-07 11:10] hhariri commented on #61
For now this won't be resolved due to the way Spek is designed and the impossibility of actually running individual functions. If/when we move to scripts and Kotlin provides support for identifying line numbers or expression trees, then we can try and address this issue.

[2016-05-07 11:10] #61 closed

[2016-05-07 12:32] cubuspl42 opened #80 "Typo: jebrains-all"
https://jetbrains.github.io/spek/download
[code]

[2016-05-07 13:00] cubuspl42 opened #81 "Intellij IDEA support for creating Spek tests"
Correct me if I'm wrong, but it seems like Intellij doesn't support Spek as a first-class testing framework.

`Ctrl+Shift+T -> Create New Test... -> Testing library`

Spek is not on the list.

[2016-05-07 13:24] hhariri commented on #81
Not currently no. But it's on the list of things to add.

[2016-05-12 19:24] mfulton26 commented on #31
Now that a 1.0-eap is available can getting this into The Central Repository be prioritized higher? Thanks.

[2016-05-12 19:43] hhariri commented on #31
Absolutely. Will be putting it there with the release.

[2016-05-20 10:35] marcomorain commented on #78
This is tripping me up too.

[2016-05-20 10:36] marcomorain commented on #78
Looks like this is the new syntax:

[code]

[2016-05-20 14:01] hhariri commented on #78
Yes. Will be getting it all updated and ready for release.

[2016-05-25 12:36] p-fischer opened #82 "Spek breaks coverage reports"
When I'm selecting "Run Tests in <package_name> with Coverage" in Android Studio.
The test coverage report works as long as I don't run any tests written with Spek.
Including Spek tests the report is showing 0 % coverage everywhere.

I fear loosing coverage reports is a K.O. criteria for using Spek for me. Do you know how to fix that?

[2016-05-25 14:52] p-fischer commented on #82
Sorry, this is an Android Studio bug and I experienced that issue too with JUnit4 tests written in Kotlin. I don't know the exact problem. Anyway, simply cleaning the project helps.

[2016-05-25 14:52] #82 closed

[2016-05-31 04:29] kiwiandroiddev opened #84 "IntelliJ IDEA support for jumping to failing "it" block"
The IDE support for showing test results in a given > on > it tree is great, it would be cool if double-clicking on a failing line here took you to the failing code block in question.

[2016-05-31 04:34] hhariri commented on #84
That's currently not possible unfortunately and won't be for the viable future because of the way Spek is designed, which is basically a series of closures inside the constructor.

If/when Kotlin adds some support for expression trees, we might be able to do something like this.

[2016-05-31 04:40] kiwiandroiddev commented on #84
Ah OK. Thanks anyway Hadi

[2016-06-01 14:05] kmizu opened #85 "spek repository should have tags"
Since spek has no release tags, users have to open http://repository.jetbrains.com/all/org/jetbrains/spek/spek/ to find the latest version of spek.  It it has tags, users can know about version of spek without opening the maven repo of JetBrains.

[2016-06-06 07:53] raniejade opened #86 "Upgrade to JUnit 5"
A custom JUnit 5 engine needs to be implemented, we should preserve the current behavior as much as possible.

[2016-06-06 08:03] raniejade opened #87 "Subject support"
Most of the time you write specifications for a single class. Normally you would create a nullable local variable of that type and instantiate the said class in a `beforeEach` clause. With subjects we lessen the boilerplate, each test (`it`) will get their own instance of the subject.

[code]

[2016-06-06 08:08] raniejade opened #88 "Shared subject specs support"
Sometimes it's convenient to reuse specs - like testing a subclass (e.g `Calculator` and `AdvancedCalculator`).

_DSL_

[code]

In KSpec we something like this:

[code]

Depends on #87.

[2016-06-06 14:56] pilgr opened #89 "Handle expected exception"
Is it possible to write tests where specific exception is expected, like using `@Test(expected = UnhandledException::class)` from JUnit ?
Thanks!

[2016-06-06 15:04] artem-zinnatullin commented on #89
For now you definitely can use plain `try/catch` check inside of `it {}`

[2016-06-06 15:14] raniejade commented on #89
If you use https://github.com/npryce/hamkrest you can do:

[code]

[2016-06-06 16:50] juanchosaravia commented on #74
I sent a PR regarding this issue: https://github.com/JetBrains/spek/pull/90
I think it's OK to leave it tied to english words as the aliases are in english too, also "it" is in this way.

[2016-06-07 07:31] geoand opened #91 "Support table driven tests"
Greetings!

Are there any plans to support table driven tests like the ones implemented in Spock using [where](https://spockframework.github.io/spock/docs/1.0/data_driven_testing.html) or the JUnit [Parameterized](https://github.com/junit-team/junit4/wiki/Parameterized-tests) tests?

Thanks!

[2016-06-07 07:39] raniejade commented on #91
No plans as of the moment, but nothing stops you to do:

[code]

[2016-06-07 07:43] geoand commented on #91
Thanks for the prompt response!
Yes, for simple use cases the code above would suffice.
Of course for more complicated cases the code would probably be a lot less readable.

[2016-06-07 07:44] artem-zinnatullin commented on #91
The idea here is to run each combination as separate test and when
something fails — show exact value(s) that caused the problem.

There is a Burst from Square that works with JUnit and the core combining
module is not tighten to JUnit so maybe you can reuse it.

On Tue, 7 Jun 2016, 10:39 Ranie Jade Ramiso, <notifications@github.com>
wrote:

[2016-06-07 07:49] geoand commented on #91
@artem-zinnatullin With the code snippet provided above by @raniejade, the test report / IDE would report on three different tests run, because of the different describe closures.
Although it's not an optimal solution IMHO, it is viable in some cases

[2016-06-07 08:30] raniejade commented on #91
Actually, I prefer creating separate tests per data (row). When using spock I always use `@Unroll`, it's easier to see what values caused the problem.

[2016-06-08 10:27] ieugen commented on #50
Any updates on this?

[2016-06-08 13:53] raniejade commented on #50
No plans yet, going to push `1.0` first before dealing with this.

[2016-06-08 21:44] mfulton26 opened #92 "eclipse plugin"
Will an Eclipse plugin be created for Spek? I personally prefer IDEA but I do have coworkers who use Eclipse so to migrate to Spek without Eclipse support may be problematic. Thanks.

[2016-06-08 21:46] artem-zinnatullin commented on #92
Maybe it works? Spek uses JUnit reporting API, Eclipse should handle it I guess…

[2016-06-08 21:54] mfulton26 commented on #92
I just realized that as I was looking at the `Spek` class. Yes, I believe it should work out of the box. Thank you.

[2016-06-08 21:54] #92 closed

[2016-06-09 05:04] raniejade commented on #76
For reference:
- https://developer.android.com/studio/test/index.html#TestAPI
- https://developer.android.com/topic/libraries/testing-support-library/index.html

[2016-06-09 13:59] mfulton26 opened #93 "concurrency issue: Internal Error occured."
It doesn't do it every time but running the following spek sometimes causes the below NPE.

[code]

[code]

[2016-06-09 14:04] mfulton26 commented on #93
In addition, if the Internal Error does not occur sometimes all of the `on` blocks do not execute.

I'm loving what I see so far with Spek but I do need to be able to run some of the execution for testing in parallel and I would like to avoid synchronizing `DescribeBody` method calls.

Thanks.

[2016-06-09 15:15] raniejade commented on #93
What's the use case for this? Spek going some significant changes before `1.0`, this may or may not be applicable when those changes are applied.

[2016-06-09 15:29] artem-zinnatullin commented on #93
Can't you move multithreading to `it("something")` so it'll live inside of the test?

Also, I'm not sure that JUnit runner will wait for such tests without explicit blocking inside of the tests.

[2016-06-09 15:42] mfulton26 commented on #93
If I move the multi-threading to `it("something")` then I will have multiple asserts in a single test.

`JUnitSpekRunner` doesn't have, from what I can tell, any kind of timeout on describing the test. The time for the tests is only the time spent asserting things and not the total execution time as the tests don't actually start until after all of the HTTP requests are finished. This is typical t

[2016-06-09 16:27] mfulton26 commented on #89
One of Spek's transitive dependencies is `kotlin-test` which has `assertFails` and `assertFailsWith`:

[code]

See [kotlin/kotlin/test/TestAssertions.kt](https://github.com/JetBrains/kotlin/blob/d2bf4cbfa016fc1e27c9847fbf8f6e38400f3ce8/libraries/kotlin.test/shared/src/main/kotlin/kotlin/test/TestAssertions.kt) and [kotlin.jvm/kotlin/test/TestAssertionsJVM.kt](https://github.com/JetBrains/kotlin/bl

[2016-06-10 14:53] danhyun opened #95 "Something for cleaning up resources"
Hello,

Sorry if the answer is easily available but I did look through docs and codebase.

I'm looking for something similar to Spocks' @AutoCleanup `spock.lang.AutoCleanup` that can take care of cleaning up resources at the end of the test, does something like this make sense or is feasible in Spek?

Thanks,

[2016-06-10 15:19] geoand commented on #95
+1

[2016-06-10 16:02] raniejade commented on #95
It's the first time i heard about `@AutoCleanup`, interesting. For now you have to do it manually using the `beforeEach` and `afterEach` fixtures.

[2016-06-10 16:19] raniejade commented on #93
I guess the problem here is Spek not supporting parallel executions of tests (`it`, `on` etc.. blocks), it will definitely happen sometime in the near future.

[2016-06-15 14:51] chisou commented on #74
+1 for that PR to increase consistency.

But it would be best to support this with a set of non-spoken qualifiers in case you a) want to use a different language than English or b) have your test just structured in a different way.

I right now I need to end all my tests with an "it" like test name which quite often is just annoying.

So - when we are having `given`, `on`, `it` with forced descrip

[2016-06-15 16:56] raniejade commented on #74
@chisou There are some changes happening in spek right now which will allow you to extend the DSL. See https://github.com/JetBrains/spek/blob/junit5/spek-api/src/main/kotlin/org/jetbrains/spek/api/dsl/Standard.kt on how to do it. Do note that this has not been merged on master yet.

[2016-06-16 10:43] chisou commented on #74
That looks quite cool and the Standard already seems to have all the methods I dreamed of :-) Great, looking forward to it!

[2016-06-19 13:44] russel commented on #91
I have been a fan of table-driven testing, but am rapidly seeing this as inferior to the random generation approach associated with property-based testing. You can almost do this with Spock, but KotlinTest, and Specks are doing much more the QuickCheck thing, which include shrinking – many claim this is a critical feature.

[2016-06-20 05:07] hhariri commented on #91
+1 on Property-Based testing. This is something I want to bring to Spek.

[2016-06-20 07:54] raniejade commented on #91
Property-based testing is new to me, what's the difference and advantage against table-driven tests?

[2016-06-20 08:08] russel commented on #91
See QuickCheck in Haskell (and many pter languages that have copied it), and Hypothesis (originally a Python thing but now also a Java thing, and if usable from Kotlin, the winner in the test framework war). Also there is KotlinTest which already has property-based testing.

It is about not having to use manually constructed tables, but instead large numbers of automatically generated data. Instea

[2016-06-20 08:28] raniejade commented on #91
Spek and KSpec are joining forces, both are still in the early stages of development. We are still working on the first release, this will eventually happen some time in the future (we don't have a definite roadmap yet).

[2016-06-20 14:55] russel commented on #91
I had heard whisper of the coalescence of the Spek and KSpec efforts, which I think a good thing. Any decision on which name going forward?

On the one hand I would like to see KotlinTest in the mix so there was only one test framework, making it easy to market and build a team to move it forward. On the other hand having a multiplicity of frameworks can be a positive statement, unless the languag

[2016-06-20 15:08] raniejade commented on #91
Spek, because bacon is :heart:. Anyways, I can imagine the order of things that will happen. Firstly we need to table-driven tests (manually set the inputs), then property-based testing can follow.

[2016-06-20 17:09] mfulton26 opened #97 "test initialization prevents entire specification from running"
If a `context`/`given`/`on` invocation throws then Spek initialization fails and no `it` blocks are executed. Spek should run what it can and report initialization issues in the subtree as appropriate, should it not?

[2016-06-20 17:18] mfulton26 opened #98 "spek tree result in IntelliJ IDEA - only shows text after last period (.)"
This is probably a JUnit/IDEA reporter thing but if a `describe`/`on`/`it`/etc. block description contains a period (.) then IntelliJ DEA only displays the portion of the description string after the last period. e.g. "a calculator with a current display value of 4.11" is displayed as simply "11".

[2016-06-20 17:20] artem-zinnatullin commented on #98
Yeah, even more weird stuff happens if you try to put brackets in names

On Mon, 20 Jun 2016, 20:18 Mark Fulton, <notifications@github.com> wrote:

[2016-06-20 17:21] mfulton26 opened #99 "afterEach - support triggering off of results"
Sometimes I need to do something conditionally in a test on whether it passed (nothing thrown), failed (`AssertionError` thrown), or erred (`Throwable` other than `AssertionError` thrown). I can't find a way, however, to get the status on a test so that I can clean-up appropriately. How can this be accomplished?

[2016-06-21 00:31] raniejade commented on #99
Can you give me an example of this _something_?

[2016-06-21 00:36] raniejade commented on #98
Yeah, there are certain characters that are used internally to represent hierarchy (e.g `foo (bar)` - `foo` will be treated as a method of `bar`). `.` is also special. We are moving to JUnit 5 and hopefully this gets fixed.

[2016-06-21 00:48] mfulton26 commented on #99
[code]

hmmmm, now that I write it out I wonder if an inline function to wrap my `assertions` would be better. e.g.:

[code]

but then I have to write `sauceIt` instead of `it`...

[2016-06-21 01:01] raniejade commented on #99
IMHO that should be the responsibility of your build process not your tests. This raises several red flags for me:

- What happens when `sauceREST.jobFailed(jobId)` fails? It's most definitely not a test failure.
- Say I want to run the tests locally, do I need to have access to that service?

[2016-06-21 01:08] mfulton26 commented on #99
With TestNG I would do this with an `AfterMethod` and/or `ITestListener` to "extend" the framework. That way I can run my tests independent of a build process. Not all tests/specifications are unit tests and not all tests/specifications are tied to build processes. Even so, I do agree that this shouldn't be part of the test but in order for it not to be I need some kind of hook. I can call JUnit p

[2016-06-21 01:09] mfulton26 commented on #99
And yes, when running Sauce Labs tests you have to have access to its REST API in order to run tests as well as update their statuses.

[2016-06-21 01:30] raniejade commented on #99
I guess this falls under extending Spek, which is currently impossible. I suggest using your workaround for now, we will definitely look into this after `1.0`.

[2016-06-21 11:07] sksamuel commented on #91
Scala does ok with two test frameworks. A spec type one (Specs2) and a "JUnit" type one (ScalaTest). So I think Spek and KotlinTest could live side by side quite happily each offering something different. For example, I'm personally not into _specifications_ and prefer writing more straightforward unit tests, and I know other people who think the opposite.

[2016-06-21 16:47] mfulton26 commented on #86
I checked out the junit5 branch and I'm liking very much what I see. One behavior though that I believe is worthwhile to change is that instead of resolving the specs up front before execution that specs start running before resolving groups/tests and dynamically registers/adds them to the JUnit5 TestPlan, etc. This way work can be done outside of test blocks and not delay user feedback, etc. Thou

[2016-06-22 04:27] raniejade commented on #86
I see no value in delaying the discovery of groups/tests, ideally there should not be any logic in group blocks aside from setting up the spec. Initialisation and cleaning up can be done in the fixtures (`beforeEach` and `afterEach`, respectively - we could also add `before` and `after` later on).

[2016-06-22 10:29] mfulton26 commented on #86
When unit testing I completely agree but when your setup involves creating `RemoteWebDriver` instances for testing UI web components across various web browsers/platforms using Sauce Labs or a similar Selenium Grid then your setup time becomes a nuisance as instantiating your tests takes longer than running them.

With that said, I haven't tried using the `beforeEach` yet. It would force me to use

[2016-06-22 10:41] raniejade commented on #86
Ahhh saucelabs again :). This use case most likely fall on how to extend Spek, which is in the roadmap.

You can use subjects, but it feels hacky. By the time Kotlin `1.1` is released, we can do something like this:

[code]

`driver` will only be created the first time is accessed.

[2016-06-22 11:12] mfulton26 commented on #86
Ah, nice. And yes, Sauce Labs again. :-)

How will `let` differ from `lazy`? Same type of delegation?

[2016-06-22 12:40] raniejade commented on #86
`let` (name may change) will be spek specific and it will be tied execution of the spec. Basically you can configure it so that, each test will have their own instance or not.

[2016-06-22 12:49] mfulton26 commented on #86
Neat. Thanks.

[2016-06-22 18:34] SalomonBrys commented on #95
The PR #100 that I've just posted proposes a solution.

While waiting for it to be reviewed, here's a code that I use (which is a very lite port of said PR):

[code]

With this, you can use the resource cleanup system when using `r_it`:

[code]
In this code, the `connection` object will be closed whether or not the test succeeds.

[2016-06-23 06:32] raniejade commented on #95
Hey @SalomonBrys thanks for the PR, unfortunately there are some changes happening in the codebase (we are upgrading to JUnit 5) that will render #100 invalid. If you want to test it out checkout this branch https://github.com/JetBrains/spek/tree/junit5.

[2016-06-23 12:47] SalomonBrys commented on #95
@raniejade I've proposed #101 that does the same thing, but for the branch junit5 ;)

@danhyun At Spek's current state, you should not use `afterEach` to do resource cleanup as `afterEach` will only be called if the test suceeds!

[2016-06-23 13:39] raniejade opened #102 "Memoized values"
Basically they are user defined values whose lifetime is bound to either to a `group` or `test`.  Meaning each group/test can have their own instance of that value. Subject (#87) is implemented this way and we can reuse some stuff.

The DSL proposed requires Kotlin 1.1 as it will use local delegated properties.

[code]

[code]

It's also possible to extend this for example (to resolve #95):

[code

[2016-06-23 13:47] raniejade commented on #95
With #102 we can easily add an extension method for cleaning up resources.

[code]

Now we can do something like:

[code]

[2016-07-07 12:05] d-lorenc commented on #65
+1

[2016-07-13 15:17] hhariri commented on #50
We can revisit this after the 1.0 release.

[2016-07-13 16:29] rafal-glowinski commented on #50
+1 here guys.

[2016-07-13 19:36] wilkinsona commented on #50
Please let us (the Spring Boot team) know if there's anything we can do to help

[2016-07-13 23:45] dam5s commented on #50
I have implemented a runner for my own library (Aspen) that uses the SpringContextManager. It's actually pretty simple to get a runner working, the Spring team has done a great job at abstracting the way to run tests using Spring.

You can find the runner I implemented there: https://github.com/dam5s/aspen/blob/master/libraries/aspen-spring/src/main/kotlin/io/damo/aspen/spring/SpringTestTreeRunner

[2016-07-14 14:08] hhariri commented on #50
@wilkinsona  @dam5s Thanks Andy, Damien. We really would like to get 1.0 out the door with as much as the planned functionality and there's still quite a bit to do. As soon as that happens I think we can pick this up and start work on it.

[2016-07-19 06:55] frankandrobot opened #104 "How to create a gradle task that runs all unit tests?"
So I have my spec classes. Can run them manually in intellij.
Project uses gradle.

How can I run them all using gradle?

[2016-07-19 12:52] raniejade commented on #104
Are you using the new `1.0.0-SNAPSHOT`? If not Spek uses a JUnit 4 Runner, gradle test task should be able to pick it up. If you're using the snapshot build you can check this example https://github.com/pandaframework/panda-ecs/blob/master/build.gradle.

[2016-07-19 13:49] raniejade commented on #104
Your are missing

[code]

[2016-07-19 17:47] artem-zinnatullin commented on #104
Can you put your tests to src/test/java? I suspect you didn't configure
src/test/kotlin correctly.

And I think you shouldn't compile both spek:1.0.25 and 1.0.0-SNAPSHOT,
they're completely different.

On Tue, 19 Jul 2016, 20:44 Uriel Avalos, <notifications@github.com> wrote:

[2016-07-19 18:08] artem-zinnatullin commented on #104
I didn't said to remove 1.0.25 :) I just don't think you need both 1.0.25
and 1.0.0-snapshot.

We use only 1.0.25 and it works for us both from IDE and terminal (Gradle).

On Tue, 19 Jul 2016, 20:57 Uriel Avalos, <notifications@github.com> wrote:

[2016-07-19 18:18] artem-zinnatullin commented on #104
Wait, when you put tests to src/test/java, gradlew test finishes
successfully? Because Gradle doesn't do reach reporting by default and you
may not notice that tests did run.

Check build/reports for test reports and run with 'clean' to avoid seeing
previous results.

On Tue, 19 Jul 2016, 21:11 Uriel Avalos, <notifications@github.com> wrote:

[2016-07-19 22:20] #104 closed

[2016-07-21 22:56] mmelnic commented on #65
+1

[2016-08-04 01:04] jpshelley opened #105 "Test Versions Differ"
https://kotlinlang.slack.com/archives/spek/p1470260654000104

I tried `1.0.25` but it complains that my kotlin version `1.0.3` differs from my test app (`1.0.2`) so I assume spek isn’t up to date with kotlin?

Will that happen every time Kotlin updates? Seems a bit silly.

[2016-08-04 06:32] artem-zinnatullin commented on #105
Just force your build system to use your version of Kotlin in tests. This
is a common problem and not specific to Spek.

On Thu, 4 Aug 2016, 04:04 John Shelley, <notifications@github.com> wrote:

[2016-08-04 13:41] jpshelley commented on #105
@artem-zinnatullin understandable, I've had it happen plenty of times with other dependencies as well, but since Spek relies on Kotlin (and from the same company) there should be some way of hopefully keeping those in sync so that wouldn't be needed. I have no idea how that would work tho 😅

[2016-08-04 13:43] artem-zinnatullin commented on #105
There is no such way, even if Spek will depend on Kotlin 1.0.3 your app may depend on Kotlin 1.0.2 and build will still fail

[2016-08-04 14:59] jpshelley commented on #105
Valid point, maybe just need to add documentation to the setup then to point that out. Also if the maintainers had an agreement to keep up to date by the week or something that would be nice.
ie: kotlin 1.0.3 is released, then in 7 days spek will also support it (obviously that might get tricky but would be nice to know)

[2016-08-04 15:40] dprotaso opened #106 "Docs link is broken"
http://jetbrains.github.io/spek/docs/

[2016-08-04 16:41] artem-zinnatullin commented on #105
Kotlin 1.x is backward compatible so it shouldn't be a problem for Spek to
work on newer versions of 1.x

On Thu, 4 Aug 2016, 17:59 John Shelley, <notifications@github.com> wrote:

[2016-08-08 16:52] Spoki4 commented on #65
+1

[2016-08-08 16:56] artem-zinnatullin commented on #65
Not a Robolectric user at the moment, can't you just extend
`RobolectricTestRunner` and add functionality of `JUnitSpekRunner` to it?

On Mon, Aug 8, 2016 at 7:52 PM, Ivan <notifications@github.com> wrote:

[2016-08-10 14:24] lordspace74 commented on #65
+1

[2016-08-15 10:30] upelsin commented on #52
Any plans for this?

[2016-08-17 06:14] georgepapas commented on #52
bump...
+1

[2016-08-17 06:31] raniejade commented on #52
We just upgraded to JUnit 5 which should fix the XML reports. However currently it doesn't generate the html reports.  We will be releasing 1.0 soon, so stay tuned.

[2016-08-23 13:19] mfenniak commented on #106
http://jetbrains.github.io/spek/docs/latest/ works, and it looks like the website has been updated to point to this "latest" subdir.

[2016-08-23 13:22] raniejade commented on #106
Hey guys, we are still polishing the docs and the site. Hopefully by next week we have something to show. :)

[2016-08-23 13:25] hhariri commented on #106
This is actually correct. We've moved to ASCIIDOC and it should point to /latest/. IS there an issue?

[2016-08-23 13:37] mfenniak commented on #106
There was an issue a couple weeks ago, but it is fine right now.

[2016-08-24 14:14] michabu opened #107 "No such property: artifactory_user"
I just freshly cloned spek and can't open it with IDEA nor can build it in the console:

[code]

[2016-08-26 02:46] raniejade commented on #107
You need to set the property `artifactory_user` via the `-P` command line switch or adding it to `$HOME/.gradle/gradle.properties`. An empty string will suffice as it is only used when deploying.

[code]

[2016-08-26 15:45] mfulton26 opened #108 "Support parallel execution of tests"
There are various ways to implement. Personally I believe I prefer to be able to execute `group` and `test` blocks myself using my own `ExecutorService`, etc. but that doesn't work today as Spek "pushes" blocks onto a queue/tree and executes everything itself serially.

One of the big things I don't like about many test frameworks is that they try to provide their own DSL for parallel execution wi

[2016-08-26 15:51] mfulton26 opened #109 "Support object instance tests"
IntelliJ IDEA offers to run `object` speks annotated with `@RunWith(JUnitPlatform::class)` but running such results in a `KotlinNullPointerException`. I personally like using `object` for tests/specifications as they are indeed singletons (unless data driven, but that usually happens within a test/specification and not at the top-level and if it does then enum/class can be used with whatever annot

[2016-08-26 15:56] artem-zinnatullin commented on #108
You already can use loops and flow control

On Fri, Aug 26, 2016 at 6:45 PM, Mark Fulton <notifications@github.com>
wrote:

[2016-08-26 15:59] nomisRev commented on #65
+1

[2016-08-26 16:01] mfulton26 commented on #108
@artem-zinnatullin Yes but to a limited extent. e.g. You can not make a test dependent on results of a previous test or use results of a test to data-drive further tests, etc. As it is today (until Kotlin 1.1 comes out) you cannot do expensive set-up lazily either in a group. Discovering and executing groups and tests at the same time could be very advantageous to give developers further control.

[2016-08-26 16:05] artem-zinnatullin commented on #108
Though I find making tests dependent on other tests, dynamic tree will great

On Fri, Aug 26, 2016 at 7:01 PM, Mark Fulton <notifications@github.com>
wrote:

[2016-08-27 11:12] raniejade commented on #109
Good point, thanks! We will look into it after the `1.0` release.

[2016-08-27 11:42] raniejade commented on #108
AFAIK JUnit 5's dynamic tests doesn't support groups. `ExecutorService`s will just complicate things, since tests are created dynamically we need a reliable way to tell Spek that all tests are generated. You can already use any control flow and with coroutine support in Kotlin `1.1`  we can do a lot more.

[2016-08-27 20:15] hhariri commented on #107
I've added default values to gradle.properties so hopefully this won't happen again.

[2016-08-27 20:15] #107 closed

[2016-08-27 20:39] artem-zinnatullin commented on #108
Oh no, wait, please do not tight Spek with Kotlin's coroutines

On Sat, Aug 27, 2016 at 2:42 PM, Ranie Jade Ramiso <notifications@github.com

[2016-08-28 02:14] raniejade commented on #108
@artem-zinnatullin Why is that?

[2016-08-28 02:41] artem-zinnatullin commented on #108
Because as @mfulton26 pointed:

It's better to not tight Spek to specific API for parallelization, for example I (we) would like to use RxJava for that, someone would like to use Executors API, others will use Reactor, etc, etc.

[2016-08-28 03:47] raniejade commented on #108
Ahh, yep definitely. What I meant was you can do more complex test setup with coroutines compared to the control flows (which we currently have).

[2016-08-28 11:15] artem-zinnatullin commented on #108
Ah, ok!

On 28 Aug 2016 6:47 am, "Ranie Jade Ramiso" <notifications@github.com>
wrote:

[2016-08-29 03:19] raniejade commented on #108
One thing I can think via extensions that allow to tap into Spek's lifecycle.  Been playing around with extending Spek, here's what I have so far https://github.com/JetBrains/spek/blob/master/spek-junit-platform-engine/src/test/kotlin/org/jetbrains/spek/engine/ExtensionTest.kt.

[2016-08-30 21:04] michabu opened #110 "gradle build fails with [buildinfo] Not using buildInfo properties file for this build. [Context URL cannot be empty]"
thank you for your quick reaction to "No such property: artifactory_user #107".

I'm a step further but still can't just
`./gradlew build`

it fails with:
[code]

[2016-08-31 04:53] hhariri commented on #110
Added some random value. Can you try again please?

[2016-08-31 04:53] #110 closed

[2016-08-31 06:36] michabu opened #111 "Authentication scheme 'all'(Authentication) is not supported by protocol 'file'"
Another step further from #110, but unfortunately still not building:

[code]

[2016-08-31 07:14] hhariri commented on #111
How are you invoking this build?

[2016-08-31 11:11] michabu commented on #111
` ./gradlew build
`

[2016-09-01 05:09] hhariri commented on #111
I'm honestly not sure what's going on. I've just done a clean checkout and built fine...Can you run it with --stacktrace?

[2016-09-01 05:21] #106 closed

[2016-09-01 05:22] #86 closed

[2016-09-01 05:22] #72 closed

[2016-09-01 05:23] #41 closed

[2016-09-01 05:23] #77 closed

[2016-09-01 05:23] #74 closed

[2016-09-01 05:24] #78 closed

[2016-09-01 05:24] #80 closed

[2016-09-01 05:24] #89 closed

[2016-09-01 05:26] #32 closed

[2016-09-01 05:26] #31 closed

[2016-09-01 05:26] #26 closed

[2016-09-01 05:26] #33 closed

[2016-09-01 09:47] michabu commented on #111
Of course. I did a fresh clone and ran ./gradlew build --stacktrace:

[code]

[2016-09-02 05:01] hhariri opened #113 "Support for creating Speks in IntelliJ IDEA"
https://twitter.com/craig_bass/status/770003615733977089?s=03

[2016-09-03 04:13] raniejade commented on #113
Please see: raniejade/spek-idea-plugin#7

[2016-09-03 04:13] #113 closed

[2016-09-04 11:07] rafal-glowinski commented on #50
So, we have 1.0 out. Any plans for Spring Integration once you have the Spek API stabilized?

[2016-09-05 00:31] raniejade opened #114 "Improve documentation for the IDEA plugin and JUnit 4 support"
There are some caveats when using the plugin, we need to document it to avoid confusion. Additionally, we also need to add a section regarding the current status of the JUnit 4 support.

[2016-09-05 13:16] #114 closed

[2016-09-05 15:48] artem-zinnatullin commented on #50
Not a Spring user: please don't include Spring support to the core
(separate lib will be better), thanks.

On 4 Sep 2016 1:07 pm, "Rafal Glowinski" <notifications@github.com> wrote:

[2016-09-05 17:56] hhariri commented on #50
@artem-zinnatullin We won't be doing that.
@rafal-glowinski We'll get to this.

[2016-09-06 12:43] raniejade opened #115 "Spek Extensions"
Spek lacks support for integrating third party libraries (Spring, PowerMock, etc ...), this is one of main the reasons why people can't move out from the *JUnit 4* based runner.

At a minimum we should allow extensions access to the execution lifecycle.

## DSL
DSL classes are renamed and will take advantage of https://github.com/Kotlin/KEEP/issues/57 (eventually - need to wait until Kotlin `1.1`

[2016-09-06 12:44] raniejade commented on #50
I'm still working on a spec for extension which can be found here (#115), feedback is very much welcomed.

[2016-09-06 15:19] mfulton26 commented on #115
Suggestions/Questions:
 1. Remove `beforeExecuteSpec`/`afterExecuteSpec` in lieu of `beforeExecuteGroup`/`afterExecuteGroup`. A specification _is_ a group, correct?
 2. `s/ExtensionContext/Context/g`. Can "TestExtensionContext" simply be "TestContext"? I realize there may be internal context types with the same names but if they are not public then I don't believe "ExtensionContext" is any more cl

[2016-09-07 13:51] ruigoncalo opened #117 "Could not find method testRuntime()"
Trying to [setup](http://jetbrains.github.io/spek/docs/latest/#setting-up) spek, but get the following error:
[code]

I'm using:
- Gradle 2.14.1
- Gradle plugin 2.1.3

What's missing?

[2016-09-07 15:05] raniejade commented on #117
`testRuntime` is only available if you apply gradle's standard java plugin. By any chance are you using the android plugin? If so, `testCompile` should suffice.

[2016-09-08 12:26] fabiocarballo commented on #117
I had the same problem on Android and changed it ```testCompile```. Now I have this weird error message:

```Error:Could not find property 'test' on SourceSet container.```

Any tip?

Would love to use this on my project.

[2016-09-08 12:53] raniejade commented on #117
@fabiocarballo can you paste your build file?

[2016-09-08 13:12] raniejade commented on #115
Makes sense, I did it that way to differentiate normal "groups" and a specification. If it doesn't have any use case I'm glad to remove it.

Actually, internally we use the term scopes, should we use that instead?

One way we can do this is adding support for tags. Based on the tags present, the extension can apply itself or just ignore that group/test.

I still prefer being explicit on what exten

[2016-09-09 10:57] fabiocarballo commented on #117
sure!:

[code]

[2016-09-09 11:33] raniejade commented on #117
@fabiocarballo It's an issue with the JUnit Platform plugin, see https://github.com/junit-team/junit5/issues/204. For now, you have to stick with the [JUnit 4 based runner](http://jetbrains.github.io/spek/docs/latest/#_junit_platform).

Remove this line for now.
[code]

[2016-09-09 15:23] fabiocarballo commented on #117
@raniejade got it! that worked to compile and recognize Spek. However, Android Studio isn't recognizing Spek class files as tests as it was doing before. Anything I can do regarding this?

[2016-09-09 15:43] raniejade commented on #117
Do you have the @RunWith annotation?

On Fri, Sep 9, 2016 at 11:23 PM Fábio Carballo <notifications@github.com>
wrote:

--
Cheers,
Ranie Jade Ramiso
Software Engineer
w: http://polymorphicpanda.io

[2016-09-11 18:56] craigjbass commented on #102
Trying to get this working with Kotlin 1.1 EAP

Then I noticed a discrepancy between the release version on GitHub (1.0.0) and the maven repo version (1.0.9)

And like, I'm well confused

[2016-09-11 19:52] craigjbass commented on #102
I was playing around a bit and got something working in Spek 1.0.9

[code]
![image](https://cloud.githubusercontent.com/assets/1889973/18420056/ae75abbe-7861-11e6-90d5-6ecc327c84af.png)

![image](https://cloud.githubusercontent.com/assets/1889973/18420053/9bdfcdcc-7861-11e6-9aad-5edd3392ccb0.png)

[2016-09-11 20:16] craigjbass commented on #102
Although it is difficult to recreate the behaviour of let() from RSpec....

[code]

![image](https://cloud.githubusercontent.com/assets/1889973/18420207/f08e41f2-7864-11e6-8298-3a9eb4fdec13.png)

[2016-09-13 13:01] #117 closed

[2016-09-13 13:04] fabiocarballo opened #118 "Is there anything similar to JUnit Test Rule?"
Hello Guys,

I wanted to be able to do something with the behavior similar to the JUnit test rule. Is that possible?

My goal would be to something like:

[code]
But without the need to repeat this code in each single test and somehow contain this logic on a separate piece of code.

Thank you

[2016-09-13 13:59] mfulton26 commented on #118
I don't think Spek has anything specific for this but you can make your own custom group functions which applies "rules". e.g.:

[code]

[2016-09-13 15:45] fabiocarballo commented on #118
Thought so! Awesome tip! 👍

[2016-09-13 15:45] #118 closed

[2016-09-14 04:44] raniejade commented on #118
Another use case for #115  :)

[2016-09-14 17:19] ZakTaccardi commented on #76
I'm interested in running a unit test on the testCompile classpath of a andoroid library gradle module.

documentation on how to set this up would be nice

[2016-09-16 07:40] andrejczyn commented on #50
+1

[2016-09-16 13:16] raniejade commented on #115
I've added a sample extension for some mocking framework.

[2016-09-16 13:39] raniejade commented on #102
@craigjbass Latest release is `1.0.89`, which rewrote most of the internals. Awesome work, if you checkout the latest master you will see a lot has changed.

[2016-09-22 19:37] rharter opened #119 "Structure support in IntelliJ IDEA"
I'm not sure where this request should go, but it would be really great to be able to see the tests in the IntelliJ IDEA structure tab, or a similar tab that the plugin could provide.

Ideally this would be similar to the test results structure, but listing the test cases within the class.

[2016-09-23 10:14] raniejade commented on #119
Ref: raniejade/spek-idea-plugin#9

[2016-09-23 10:14] #119 closed

[2016-09-28 07:25] raniejade opened #120 "Specs in the default package is not detected."
To replicate, just create a single spec in the default package in a gradle project. Run `./gradlew clean junitPlatformTest`, the report would show that there are no tests.

[2016-09-28 07:32] raniejade commented on #120
It's a bug with JUnit 5: https://github.com/junit-team/junit5/issues/465. This will be fix when we upgrade to `1.0.0-M3`.

[2016-10-07 01:04] jturolla opened #127 "PreconditionViolationException: Cannot create Launcher without at least one TestEngine; consider adding an engine implementation JAR to the classpath"
Basic android setup on: http://jetbrains.github.io/spek/docs/latest/#setting-up-android results in the following error.

I'm sorry if this is trivial, but I'm not familiar on how to include a TestEngine and it would be nice to include this information on the Android section of Spek getting started guide.

If this is solved I'd be willing to contribute to the docs.

By the way, I'm executing this u

[2016-10-07 03:11] raniejade commented on #127
Weird, `testCompile 'org.junit.platform:junit-platform-runner:1.0.0-M2'` should pull in the TestEngine. Is your project available online? If not can you indicate the structure of your gradle project.

Also, shouldn't this `test.java.srcDirs += 'src/main/kotlin'` be `test.java.srcDirs += 'src/test/kotlin'`?

[2016-10-08 12:38] Dima564 commented on #65
+1

[2016-10-08 13:22] AndriyBas commented on #65
+1

[2016-10-08 14:00] KolomietsOleh commented on #65
+1

[2016-10-09 05:16] hhariri opened #128 "IncompatibleClassChangeError when using junitplatform."
$ gradle mybatis:test
:mybatis:compileKotlin UP-TO-DATE
:mybatis:compileJava UP-TO-DATE
:mybatis:processResources UP-TO-DATE
:mybatis:classes UP-TO-DATE
:mybatis:compileTestKotlin
:mybatis:compileTestJava UP-TO-DATE
:mybatis:processTestResources UP-TO-DATE
:mybatis:testClasses UP-TO-DATE
:mybatis:junitPlatformTest
Exception in thread "main" java.lang.IncompatibleClassChangeError: Implementing clas

[2016-10-11 14:57] ruigoncalo opened #129 "Run single spek test using command line"
How can we run a single spek test on command line (gradlew test...) on Android Studio 2.2?

By single spek test I mean the `it` specification.

Thanks!

[2016-10-12 04:16] hhariri commented on #129
Currently that's not possible. If you want to run individual tests you can use the Spek plugin.

[2016-10-12 10:34] #129 closed

[2016-10-15 11:17] hhariri opened #130 "Update Docs/Demos for Maven Sample"
Have similar sample that shows bare minimum setup for Maven.

i.e. https://t.co/K4SXF0vkFZ

[2016-10-23 20:05] otomatik commented on #127
@jturolla I had the same error and fixed it by adding the following dependency:
[code]

[2016-10-24 00:45] jturolla commented on #127
Nice, I'll test this out and get back with the result @otomatik

[2016-10-24 12:55] raniejade commented on #127
@jturolla Did that fix your issue? Going to close this issue if yes :)

[2016-10-24 14:08] jturolla commented on #127
@raniejade Yes, the issue is fixed.

[2016-10-24 15:03] sepatel commented on #81
Any ETA for when. Currently I'm unable to use it due to how it can only be run via command through gradle and thus a huge loss of ability to test/debug using the IDE? Spek is really nice but without the IDE support it is very painful as well.

Is there a work around to allow testing at least a specific Spek class (preferably down do the describe level) and not everything within the IDE?

[2016-10-25 02:45] raniejade commented on #127
Fixed with #131 thanks @otomatik @jturolla

[2016-10-25 02:45] #127 closed

[2016-10-25 17:23] Adambl4 commented on #128
Is there any workaround for this?

[2016-10-25 18:37] hhariri commented on #81
Hi Sejal,

The IDE support is there. What's currently not there is the ability to
create new tests, but that can be easily with a file template for now.

Regards,
Hadi Hariri
http://hadihariri.com | @hhariri

On 24 October 2016 at 17:03, Sejal Patel <notifications@github.com> wrote:

[2016-10-25 22:19] Adambl4 commented on #128
Reflection library of 1.1 and 1.0.4(which Spek used) are not compatible.
Solution:
1. Build Spek using 1.1
2. Ensure that there is no another version of Kotlin in classpath
[code]

[2016-10-26 05:27] raniejade commented on #128
Thanks @Adambl4 for looking into this. I'm concerned that something similar may happen every time a new version comes out. Not a fan of building the same thing for different Kotlin versions.

[2016-10-29 00:51] Nejat opened #132 "unable to mock using mockito in spek tests"
i'm not sure if i set things up correctly, i'm new to kotlin and gradle

I've included the Spek to recreate the issue, the exception output and the `bundle.gradle` file

The same exact test using JUnit, with Mockito_Kotlin or just pure Mockito works as expected, so I do not believe it's the test itself

Does Mockito work with Spek? If so, how do I get it working.?

I rather not have two separate t

[2016-10-29 05:38] hhariri commented on #132
I just tried your exact example and it worked both using the Spek Test Runner as Gradle.

Btw, if you're using the given/on/it style then you don't really need describe. Or if you're using describe and executing tests on it, then you don't need given.

[2016-10-29 12:29] Nejat commented on #132
Thank you, I see the problem now.

This is only happening with the Spek plugin for IntelliJ.  I had the latest one available in the Plugin repository v0.2.5.

It does not happen when I use a JUnit configuration and as you pointed out Gradle.

What is the Spek Test Runner?

[2016-10-29 12:29] #132 closed

[2016-10-29 14:44] hhariri commented on #132
Sorry I mean the Spek plugin. It seems to be working here with the latest release.

[2016-10-29 14:46] Nejat commented on #132
What's the version you're using?

[2016-10-29 16:16] hhariri commented on #132
Hmm. I was using 0.2.4 and it was working. Upgraded to latest and having issues. @raniejade ?

[2016-10-29 18:36] Nejat commented on #132
If it helps, I installed 0.2.4 and it's still not working. It maybe possible that it's a dependency issue?

[2016-10-30 05:04] hhariri commented on #132
Are you getting the same issue still with the upgrade?

[2016-11-01 10:16] restor1 commented on #65
+1

[2016-11-14 10:35] upelsin commented on #52
As of Spek 1.0.89, tests still reside in `default-package`.

[2016-11-23 18:29] sblundy opened #133 "Unable to run after upgrade"
After upgrading to 2016.3, I am unable to run a Spek run configuration. I press run and nothing would happen. IntelliJ's exception dialog just popped up. The tests have worked previously and run when I execute the gradle test task. Deleting the config and running anew resulted in a different exception.

### Environment

Spek plugin: 0.2.5
Kotlin version: 1.0.3

### Exception when I ran an existing

[2016-11-23 18:33] sblundy commented on #133
Sorry, wrong project

[2016-11-23 18:33] #133 closed

[2016-11-27 10:40] jdiazcano opened #134 "it tag doesn't admit single quotes in description"
I tried to write single quotes in the `it` tag as description and that resulted in `Empty test suite.` It doesn't matter if you use expekt, hamkrest or any other, the `assert` is reached because you can debug it but it will never be taken part as a test

Working example:

[code]

Empty test suite example (notice the `shouldn't`):

[code]

[2016-11-27 11:40] raniejade commented on #134
Similar to https://github.com/raniejade/spek-idea-plugin/issues/18. Currently issue tracking for the idea plugin is a different repo. Going to release `v0.3.0` of the plugin anytime this week (just doing some testing). Fix is already at master, closing this issue.

[2016-11-27 11:40] #134 closed

[2016-11-29 12:48] sazzer opened #135 "Test Generation doesn't seem to work correctly"
I'm trying to write some tests using Spek to cover a large range of input and expected output values. As such, I'm trying to generate the tests by having a single *performTest* method that takes the input values, and contains two *it* calls inside it.

Essentially what I have is:
[code]

Which seems reasonable. Unfortunately it doesn't work as expected. Instead of getting the tree of describe -> d

[2016-11-29 15:45] raniejade commented on #135
In your example`performTest` captures the toplevel scope, that's why your `it`s are on the topmost level. You `describe`s are also missing because Spek automatically prunes groups without any tests (`it`). What you want is:

[code]

Making it an extension function, ensures that it will execute in the proper scope.

[2016-11-29 15:45] #135 closed

[2016-11-30 04:01] windyboy opened #136 "How can I rewrite vertx async unit test with spek"
Hi, there
How can I rewrite the unit test code such as :
`
@Test
    fun testMyApplication(context: TestContext) {
        val async = context.async()
        vertx.createHttpClient().getNow(port!!, "localhost", "/") { response ->
            response.handler { body ->
                context.assertTrue(body.toString().contains("Welcome!"))
                async.complete()
            }
        }

[2016-11-30 11:53] raniejade commented on #136
Hi, unfortunately spek doesn't support vert.x unit tests. We will consider this use case when implementing extensions, see #115.

[2016-12-03 16:00] jakubgwozdz opened #138 "compatibility issues with surefire plugin"
There is a problem with versioning (or at least with lack of documentation on it).
In my pom.xml, I have this versions specified:
[code]
(1.1.19 is taken from <repository> and <pluginRepository> https://dl.bintray.com/jetbrains/spek - as it is not yet on central repo)

And this runs and launches tests, but when there is a test failure, instead of reporting it, the build stops with

[code]

I assum

[2016-12-03 17:29] jakubgwozdz commented on #138
Sort of solved, when I added @RunWith(JUnitPlatform::class) to each of test classes and removed plugin dependencies as documented on http://junit.org/junit5/docs/current/user-guide/#running-tests-build

[2016-12-03 17:54] raniejade commented on #138
Have you checked http://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven? Not well versed with maven, but I'll try my best to help.

[2016-12-03 18:42] CoreyKaylor opened #139 "Kotlin Gradle Script Problems"
I'm new to kotlin, spek, and gradle so I'm sure I've done something wonky for this not to work. I followed the instructions in the documentation to get the build.gradle.kts setup for spek but I keep getting an error that says Extension of type 'EnginesExtension' does not exist. Currently registered extension types: [DefaultExtraPropertiesExtension, SelectorsExtension_Decorated, FiltersExtension_De

[2016-12-03 20:59] jakubgwozdz commented on #138
@raniejade - yeah, I did it first, exactly as it said on junit5 docs and with that I had errors.
When I moved back to @RunWith it started working.

[2016-12-03 20:59] #138 closed

[2016-12-03 21:10] CoreyKaylor commented on #139
My problem doesn't appear to be isolated to kotlin scripts. Here is my gradle script that has the same problem.

[code]

[2016-12-04 02:50] raniejade commented on #138
Okay, let me know if you have further problems.

[2016-12-04 06:35] raniejade commented on #139
They changed the structure in `1.0.0-M3`, so it should be:

[code]

[2016-12-04 06:39] raniejade commented on #115
Finally got some time to work on this, initial proposal is now obsolete. Basically there will be no more annotations, we will just expose a way to listen to Spek's lifecycle. I also changed subject to be purely an extension. Will update the description for more details about the change.

[2016-12-04 08:56] raniejade opened #140 "Rework lazy groups into actions"

[2016-12-04 08:57] raniejade commented on #76
http://jetbrains.github.io/spek/docs/latest/#setting-up-android

[2016-12-04 08:57] #76 closed

[2016-12-04 08:58] #87 closed

[2016-12-04 08:58] #88 closed

[2016-12-04 09:00] raniejade commented on #120
Fixed at 7994c90524c4037af5e099c5f3e4b8992444ff11

[2016-12-04 09:00] #120 closed

[2016-12-04 09:03] raniejade commented on #85
Closing this issue, we have been using tags for awhile now.

[2016-12-04 09:03] #85 closed

[2016-12-04 09:14] raniejade commented on #128
To avoid this issue, make sure that Spek uses your version of Kotlin. You can enforce this using any build tool. Closing this issue now.

[2016-12-04 09:14] #128 closed

[2016-12-04 09:22] raniejade commented on #111
This should be fixed at master.

[2016-12-04 09:22] #111 closed

[2016-12-04 15:12] CoreyKaylor commented on #139
Got a little bit further. New error now. Sorry if this is trivial stuff.

[code]

Current gradle script

[code]

Current spec is just the calculator example from the docs.

[code]

[2016-12-04 15:27] raniejade commented on #139
Oops sorry, you have to explicitly set the platformVersion to `1.0.0-M2`. Several classes used by spek were renamed from that version. I've got that fix but I'm having problems deploying a new version, just stick with that version for now.

[code]

[2016-12-04 15:56] CoreyKaylor commented on #139
Getting closer, now everything compiles but fails to find my spec.

[code]

[2016-12-04 18:57] CoreyKaylor commented on #139
Okay, I figured that part out. I didn't realize the default test discovery convention needed to have the files inside package folders. I think I'm good to go now. Thanks for the help.

[2016-12-04 18:57] #139 closed

[2016-12-05 01:14] raniejade commented on #139
Just released `v1.1.0-beta2` it's in bintray can you try that out? Should now be compatible with JUnit Platform `1.0.0-M3`.

[2016-12-05 14:40] CoreyKaylor commented on #139
Again new to gradle, but I took a guess that the bintray repository is jcenter() in the gradle? I wasn't able to locate it under that one. If not, can you point me to the right repository url?

[2016-12-05 14:51] CoreyKaylor commented on #139
Actually, maybe I'm partly wrong. I believe it found the spek-api, but not the spek-junit-platform-engine.

[2016-12-05 17:17] raniejade commented on #139
Yep, it's in `jcenter`. Both artifacts should be there (`spek-api` and `spek-junit-platform-engine`), can you paste your update build script here?

[2016-12-05 17:28] CoreyKaylor commented on #139
Sure, here's the output.

[code]

Here's the gradle script.

[code]

[2016-12-06 01:53] raniejade commented on #139
I think I know the problem, will let you know when we fix it.

[2016-12-06 05:56] iamsteveholmes commented on #136
We're using Spek for testing vertx.  We're using a tool called awaitility:
http://www.awaitility.org/

[2016-12-07 04:42] raniejade commented on #139
So we are experiencing problem with `jcenter()`, to use the new version. Please add the following configuration.

[code]

[2016-12-11 22:23] SoulBeaver opened #141 "Empty Test Suite with new JUnit"
Assuming a minimal test scenario with the following class (called MainSpec.kt)

[code]

and this gradle configuration

[code]

I am able to run JUnit, but no tests are found:

[code]

IntelliJ also does not recognize the test class and I have to create the JUnit configuration by hand. I have also tried versions 1.1.19 and 1.0.89 to no avail.

[2016-12-12 01:48] sbrannen commented on #141
Note that the spek `TestEngine` is not discovered in your example.

[2016-12-12 02:40] raniejade commented on #141
As @sbrannen mentioned, you're missing the `TestEngine`.

[code]

[2016-12-12 02:40] #141 closed

[2016-12-13 21:10] angryziber opened #142 "Gradle setup instructions are not up to date"
Gradle setup instructions are not up to date.

Junit platform now requires a `filters` to choose an engine:

[code]

And actually, it works for me also without these lines at all - remove them and it still finds the spek engine.

However, the whole Junit5 requirement is currently a disaster, as it is not stable yet.
IDEA Spek plugin doesn't work properly - it is missing a lot of features from Juni

[2016-12-13 21:16] angryziber commented on #142
I have reported the plugin bug there:
https://github.com/raniejade/spek-idea-plugin/issues/24

However, I would like to use IDEA's built-in Junit5 support instead...

[2016-12-14 00:52] raniejade commented on #142
You have to add the proper dependency to `junit-platform-engine`.

[code]

The JUnit 5 plugin for IDEA is for the JUnit Jupiter Engine, not for the other test engines/frameworks that's built on top of it. As for Spek's plugin, I know it's lacking but we are working hard on adding features to it.

[2016-12-17 15:05] raniejade opened #143 "Support spec inclusion"
Used with #109

[code]

[2016-12-17 15:39] raniejade commented on #115
I've updated the description, opinions please? :)

[2016-12-27 07:50] dreamkidd commented on #50
Any progress on this?

[2016-12-29 14:27] stoyicker opened #145 "Is there anything like @BeforeSpek or @AfterSpek"
I've been reading #115 where this are mentions about statements for before and after group. The problem is that the intention with that one seems to be exposing an extension api. Will writing an extension be needed to add Spek-wide before/after statements?

[2016-12-30 04:59] hhariri commented on #145
No. This is already available. You can use onBefore/After Test

[2016-12-30 07:28] stoyicker commented on #145
I was after something that runs only once for the whole spek, not for every test

[2016-12-30 08:14] hhariri commented on #145
The 1.1 EAP now has changed behaviour to be like that.

On 30/12/16 08:28, Jorge Antonio Díaz-Benito Soriano wrote:

--
Regards,
Hadi Hariri
http://hadihariri.com | @hhariri

[2016-12-30 08:33] stoyicker commented on #145
Alright thanks.

[2017-01-01 11:56] raniejade commented on #145
@stoyicker ,  in the `1.1` eap `xxxEach` were renamed to `xxxEachTest` to match the actual behaviour. We could add `beforeEach` and `afterEach` which will execute before and after a group, respectively. Since a spek is still a group, adding it at the top most level is essentially the same as `BeforeSpek` and `AfterSpek`.

[2017-01-02 07:26] stoyicker commented on #145
I support the suggestion of adding wrappers to run around groups so that using them at top level would enclose the whole Spek - it's basically what I was after and I really believe that writing group-level initialization and teardown should be supported as is already the case for individual tests with `xxxEachTest` - although I'd like to take the chance and ask to please have them called more expl

[2017-01-02 07:45] raniejade commented on #145
+1 on `beforeGroup` and `afterGroup`. Going to include this in the next release (w/c will be sometime this week)

[2017-01-02 09:19] raniejade opened #148 "Spec parameterization"
*TODO*

[code]

[2017-01-03 05:10] #148 closed

[2017-01-03 11:48] denghongcai commented on #142
@raniejade how about add these tips to spek official document? I have a very hard day until find this issue.

[2017-01-03 12:50] raniejade commented on #142
@denghongcai I'm in the process of improving the docs, just finishing up some coding tasks.

[2017-01-03 13:15] #145 closed

[2017-01-03 13:19] raniejade opened #151 "Add unit tests"
Currently all the tests we have are integration tests

[2017-01-03 14:18] raniejade commented on #143
Resolved by b9967f3f0cdf1e31c14eeb83963be04b18d65220.

[2017-01-03 14:18] #143 closed

[2017-01-03 14:18] raniejade commented on #140
Resolved by b9967f3f0cdf1e31c14eeb83963be04b18d65220.

[2017-01-03 14:18] #140 closed

[2017-01-03 14:18] raniejade commented on #109
Resolved by b9967f3f0cdf1e31c14eeb83963be04b18d65220.

[2017-01-03 14:18] #109 closed

[2017-01-03 14:19] raniejade commented on #102
Resolved by b9967f3f0cdf1e31c14eeb83963be04b18d65220.

[2017-01-03 14:19] #102 closed

[2017-01-03 14:22] raniejade commented on #142
Resolved by ce4362714ce971223e7368aa5b2f29eee6fa59dc.

[2017-01-03 14:22] #142 closed

[2017-01-05 01:30] raniejade commented on #91
Hey guys, anyone can help us with #146? :)

[2017-01-05 14:46] raniejade opened #152 "Remove spek-subject-extension dependency from spek-junit-platform-engine"

[2017-01-05 14:47] raniejade opened #153 "Move out subject tests from spek-junit-platform-engine"

[2017-01-05 15:45] raniejade opened #154 "Throw an error when fixtures are used within action scopes"

[2017-01-06 01:01] #154 closed

[2017-01-06 03:02] raniejade commented on #50
hey guys, `v1.1.0-beta3` is out with extension support. Will create a proof of concept sometime next week, so stay tuned.

[2017-01-06 22:04] turansky opened #157 "Intellij IDEA plugin failed in kotlinjs project"
Problem represented in my project
https://github.com/Turansky/upsource-dashboard

Error occurs on start and on some actions with Gradle plugin.

[2017-01-10 08:51] stoyicker opened #158 "Why is the instance of a SubjectSpek shared across its tests?"
Doesn't this go against the idea of having tests independent from each other?

[2017-01-10 08:55] stoyicker commented on #158
Nvm, my mistake.

[2017-01-10 08:55] #158 closed

[2017-01-12 03:11] nickgieschen opened #159 "beforeGroup should be triggered by the group rather than the test"
I have an integration test where I need to start a web server prior to the tests. I have

[code]
However, it looks like beforeGroup only gets called once "it" is run and thus the webserver is obviously not started at the time sendRequest is called. The docs say "Spek allows running arbitrary code before and after a group and test is executed", but this is not true, as far as I can tell. The before

[2017-01-12 03:55] raniejade commented on #159
This is working as expected. Spek has two phases, discovery and execution. `group` scopes are evaluated eagerly during the discovery phase, this due to how Spek is structured. While `tests` and `action` scopes are evaluated on the execution phase. So in your example, `val response = sendRequest()` is evaluated during the discovery phase.  To fix your problem use `on` (which creates an `action` sco

[2017-01-12 03:55] #159 closed

[2017-01-12 13:26] raniejade commented on #50
Hey guys, been looking into Spring's `TestContext` framework which is the backbone of its integration testing support. It makes certain assumptions on how tests, specifically tests are defined as class methods.  We can have a workaround for bootstrapping spring's `ApplicationContext`, but for certain features it will be hard and maybe impossible to support (transactions, `@IfProfileValue`, `@Timed

[2017-01-14 11:51] raniejade commented on #50
Here's the POC https://github.com/spekframework/spek-spring-extension. It's very hackish, but it will be a good starting point.

I'm closing this issue, feel free to file feature requests on that repo.

[2017-01-14 11:51] #50 closed

[2017-01-15 21:35] sdeleuze commented on #50
@raniejade Please create an issue on https://jira.spring.io/browse/SPR/ with more details about what changes you would need in `TestContext` to make it more Spek friendly, I will try to see if something can be done for Spring Framework 5.0 RELEASE.

[2017-01-16 00:30] raniejade commented on #50
thanks @sdeleuze! I'll find sometime later today :+1:

[2017-01-16 09:34] raniejade commented on #50
@sdeleuze https://jira.spring.io/browse/SPR-15143 :)

[2017-01-17 11:45] Adambl4 opened #160 "Report about exceptions occurred inside fixture or action body"
[code]

[2017-01-17 16:32] raniejade commented on #160
Good catch, thanks!

[2017-01-18 04:28] nickgieschen opened #161 "gradle not running tests in integration-test directory"
I have integration tests in src/integration-test/kotlin/foo/bar directory and a custom gradle task to run them. If I have standard junit tests annotated with @test they get run when I run `gradle integrationTest` (which is the name of my custom task). However, this same command doesn't run any spek tests. If I run `gradle test` the spek tests in the standard src/test/kotlin/foo/bar directory do ru

[2017-01-18 06:02] hhariri commented on #161
Do you have them defined in a package or are you using default package?

[2017-01-18 17:20] nickgieschen commented on #161
They are defined in a package

[2017-01-18 18:05] Adambl4 opened #162 "Fixture declaration order differs from execution order"
[code]
it prints 2 1

[2017-01-18 20:10] caipivara opened #163 "Cant find spek-junit-platform-engine:1.1.0-beta3"
I cant find `org.jetbrains.spek:spek-junit-platform-engine:1.1.0-beta3`.

Last release was `1.1.0-beta3` and it exists for `org.jetbrains.spek:spek-api` but not for the engine.

[2017-01-18 21:25] nickgieschen commented on #160
For what it's worth, you also get a green report if an exception is thrown inside the "on" and execution never gets to the "it".

[2017-01-19 01:58] raniejade commented on #163
Are you using gradle? You have to add:

[code]

[2017-01-19 01:59] raniejade commented on #161
Can you paste your build here?

[2017-01-19 02:40] #163 closed

[2017-01-19 13:10] pdvrieze opened #165 "memoized not obeying group scope"
In 1.1 beta 3 memoized (and therefore subjectspek) will not obey the group scope. As such the object cache is cleared after every group, not only the group in which the item is declared (or top scope in case of subjectspek). This behaviour is rather surprising and should probably be fixed checking the group parameter against a field assigned on construction.

[2017-01-19 13:41] pdvrieze opened #166 "Allow abstract base classes for speks"
While subjectspek is helpful, when testing more complex systems where testing needs a number of helper objects it is very useful to define an abstract base class similar to subjectspek. Unfortunately the class scanner happily resolves these classes and lets JUnit then complain about the fact that they can't be instantiated.

It would be worthwhile for the general all tests in package scanning to s

[2017-01-19 14:09] raniejade commented on #166
Good catch, abstract classes should be skipped (in fact the plugin doesn't mark them as runnable). Trying to understand why you have non-abstract spek classes with no default constructor, can you give me an example?

[2017-01-19 14:31] raniejade commented on #165
When using  `CachingMode.GROUP` every group declared in the scope where the memoized value is created will have it's own instance, this is the intended behavior.

[code]

I guess what you want is to keep the instance until it goes out of scope. We could introduce `CachingMode.SCOPE` to support that.

[code]

[2017-01-19 20:25] nickgieschen commented on #161
apply plugin: "kotlin"
apply plugin: "idea"
apply plugin: "application"
apply plugin: 'org.junit.platform.gradle.plugin'
apply plugin: "org.unbroken-dome.test-sets"

version = "0.1"
mainClassName = "foo.api.App"

repositories {
    mavenCentral()
    maven { setUrl("https://dl.bintray.com/kotlin/exposed") }
    maven { url "http://dl.bintray.com/jetbrains/spek" }
}

buildscript {
    ext.kotlin_ve

[2017-01-20 09:23] pdvrieze commented on #166
At some point I attempted marking one of the classes abstract but that didn't seem to help. In this case however I basically have a test I need to repeat 3 times for 3 combinations of boolean parameters (false, false is not valid). The input data is constructed (slightly) differently for each of them, but the bulk of the test is identical. I know that this could possibly be done using a function i

[2017-01-20 10:16] raniejade commented on #166
Sounds like a data-driven test (see #146)?  I was previously thinking of supporting parameterizing speks:

[code]

But didn't pursue it due to lack of use case.

[2017-01-21 09:06] #166 closed

[2017-01-21 09:59] #162 closed

[2017-01-21 16:47] raniejade commented on #160
Error reporting works on gradle, this a problem with the plugin. It's using the built-in `SMTestTreeView` which uses `service messages`. Unfortunately it doesn't support container failures, so I'll have to take a look on what we can use.

I'm closing this issue in favor of https://github.com/raniejade/spek-idea-plugin/issues/29.

[2017-01-21 16:47] #160 closed

[2017-01-22 04:38] raniejade opened #167 "Make junit-platform-engine a compilyOnly dependency"
In theory, the runner ((gradle, maven or idea plugin) of the test should provide this dependency.

[2017-01-22 04:46] #167 closed

[2017-01-23 11:20] pdvrieze commented on #165
Perhaps scope would be the correct way to do it. As long as this scope could also mean a group itself. I also find that beforeGroup actually has the semantics I want so there is some bit of confusion.

[2017-01-23 11:34] raniejade opened #168 "Add documentation on how to use a different version of kotlin"

[2017-01-23 11:38] raniejade commented on #165
@pdvrieze I can see the confusion there, but I guess we could fix this by properly documenting the behaviour.

[2017-01-24 14:58] artem-zinnatullin opened #169 "java.util.ConcurrentModificationException in Specs with loops"
We have some Specs with loops that were working fine on Spek 1.0.25, they're not working with Spec 1.0.89 and above.

Such kinds of Specs are failing with `ConcurrentModificationException`:

[code]

Full stacktrace with Spek 1.1.0-beta3 and `1.0.0-M3` junit-platform-engine with `@RunWith(JUnitPlatform::class)`:
[code]

[2017-01-24 15:31] artem-zinnatullin opened #170 "Please fix Spek versioning, compatibility and publishing."
Currently Spek has veery crazy versioning principles.

* We're currently on `1.0.25` which is known as pre-v1…
* `1.0.89+` known as post-v1, somewhere near to this version `DescribeBody` was renamed to `Dsl`, **compatibility broken**.
* `1.1.0-beta3` is version shown by badge in GitHub README, in this version `Dsl` was renamed to `SpecBody`, **compatibility broken again**.
* Spek website's [root p

[2017-01-24 15:33] raniejade commented on #169
`i` here is `it`, right? This works w and w/o `@RunWith(...)`.

[code]

Are you running tests in parallel?

[2017-01-24 16:03] raniejade commented on #170
The most recent release is `1.1.0-beta3` which is a pre-release for `1.1`.  Previous versioning was `<major>.<minor>.<build-no>`, `build-no` is controlled by TC so every build increments it.  So starting from `1.1` we will be using semantic versioning, `<major>.<minor>.<patch>[-<qualifier>]` and for pre-release we add a qualifier. Bintray will contain pre and major releases, but only major release

[2017-01-24 16:16] artem-zinnatullin commented on #170
Ok, we can help you with some of these things since we depend on Spek a lot, but thing that worries some of us about Spek is that development process happens mostly without Pull Requests and issues which complicates following changes, providing feedback on code reviews and staying up to date with the project for outside contributors.

[2017-01-24 16:33] ivanpopelyshev commented on #168
This is real issue, I need it for 1.1, it doesnt work with dependency of kotlin-reflect-1.0.6

[2017-01-24 16:38] raniejade commented on #170
+1 on the pull requests, its a better place for feedback regarding the changes. Really appreciate the help, especially with new features and major changes.

[2017-01-24 16:42] raniejade commented on #168
@ivanpopelyshev (gradle) this works for me:

[code]

You could also use https://github.com/spring-gradle-plugins/dependency-management-plugin.

[2017-01-24 16:43] raniejade commented on #168
Also IDEA plugin is broken when using Kotlin `1.1`, but will release a fix sometime this week.

[2017-01-24 16:44] artem-zinnatullin commented on #170
That's very great to hear! We should be able to review PRs within 24h windows every work day.

Let's keep this issue open until all major points fixed? (consistent version in docs and GitHub releases page, description which maven repo should be used and when).

[2017-01-24 16:45] ivanpopelyshev commented on #168
I'm trying to recompile it and publish in my bintray

[2017-01-24 16:50] raniejade commented on #170
Sure, we will keep this open.

[2017-01-24 17:22] ivanpopelyshev commented on #168
Ok, here it is: "http://dl.bintray.com/hackerham/spek-1.1/"

All except javadocs. Built for 1.1.0-beta-18

[2017-01-25 01:45] rafaelsm commented on #65
+1

[2017-01-25 23:12] ivanpopelyshev commented on #168
@raniejade IDEA plugin works for me just fine, with my version of spek. I didn't check it your way.

[2017-01-26 01:15] raniejade commented on #170
Btw, just to be clear. While we do appreciate feedbacks, ultimately the core members have the final say. Our decisions will be based on those feedbacks and the vision we have for Spek.

[2017-01-26 08:53] artem-zinnatullin commented on #170
Sure!

On Thu, Jan 26, 2017, 04:15 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-01-26 09:59] pdvrieze opened #171 "Make the default factory a little more lenient"
Currently the default factory (in SpekTestEngine) assumes that the spek has a primary constructor that is a no-arg constructor. This can be replaced by: `spek.objectInstance ?: spek.constructors.first { it.parameters.isEmpty }.call()` to allow for secondary constructors.

My use case is that I want to be able to use the case standalone and included in another spek. When included I want to reduce t

[2017-01-26 10:46] raniejade commented on #171
:+1:

Would be nice if you could describe those bottlenecks in another ticket? :)

[2017-01-28 08:53] raniejade opened #172 "Allow subjects to be delegated locally"
In Kotlin `1.1` subjects can't be delegated locally, there is a compile error.

[code]

The issue is caused by how `LifecycleAware` is implemented (this also means that using memoized causes the same issue).

[code]

It should be declared as
[code]

[2017-01-28 12:19] artem-zinnatullin commented on #169
Sorry for the delay, no, we're not running tests in parallel, indeed my example actually works while real-life test that used to work on Spek 1.0.25 now fails 100% of the time, I'll try to dive deeper and get back with reproducible test case.

[2017-01-28 13:24] raniejade commented on #169
It would be great If you could give a spec that reproduces the exception. I kinda have an idea how the exception might happen.

[2017-01-29 15:20] #172 closed

[2017-01-29 15:20] #171 closed

[2017-02-01 19:11] fabiocarballo opened #175 "Transition to spek 1.1.0"
Hey,

We have a project we 1000+ tests using spek. I just love it.

However, after the transition to 1.1.0 I'm having a really hard time to make things work. Around 200 tests are not working and it is very hard to understand why.

I think the major issues are related to when I should use beforeEachTest or beforeGroup..

Could you please enlighten me a bit on this issue?

Thank you.

[2017-02-02 04:14] raniejade commented on #175
@fabiocarballo `beforeEach` and `afterEach` were renamed to `beforeEachTest` and `afterEachTest`, respectively. The name was changed to be more descriptive of the behaviour. As the name implies, they will be invoked for every test.

`beforeGroup` and `afterGroup` will only be executed on the scope/group it was declared. So in the example below:

[code]

The output would be:
[code]

[2017-02-02 09:47] fabiocarballo commented on #175
Okok. So If I just renamed everything from beforeEach to beforeEachTest supposedly it would work?

What on what would be the correct way to transition old "on" groups that had inner fixtures? Just rename them to a context/given/any group?

[2017-02-02 10:34] raniejade commented on #175
Yes, just renaming should work.

[2017-02-02 11:07] fabiocarballo commented on #175
@raniejade I'm seeing a difference on the behavior..

[code]

This outputs:

Before Group 1
#updateHole - Before Group#updateHole - Before Each Test
Before Each Test 1
1111
After Each Test 1

#updateHole - Before Each Test
Before Each Test 1
2222
After Each Test 1

Shouldn't the "Before Each Test 1" the first one to appear always? The before each test are being ran from inside to outside, while I

[2017-02-02 11:16] raniejade commented on #175
Yeah, it's a bug #162. Should be fix in the latest master.

[2017-02-02 11:30] fabiocarballo commented on #175
Ah great.

Any ETA on when it will be available through gradle? :)

[2017-02-02 12:21] raniejade commented on #175
1.1 scheduled mid Feb, hopefully we deliver on time.

On Thu, Feb 2, 2017, 7:30 PM Fábio Carballo <notifications@github.com>
wrote:

--
Cheers,
Ranie Jade Ramiso
Software Engineer
w: http://polymorphicpanda.io

[2017-02-02 12:40] robstoll opened #176 "exception in action results in green test"
The error can be reproduced by the following code:

[code]
The `on` should not be green (I am using intellij) but red and an exception should be shown.

[2017-02-02 12:52] robstoll commented on #176
Hm... I realised that it also happens if one of the test fail. Am I using `on` wrong?

[2017-02-02 14:39] raniejade commented on #176
@robstoll It's a limitation of the plugin, unfortunately (https://github.com/raniejade/spek-idea-plugin/issues/29). If you're using gradle everything should work as expected. I'm looking into ways to fixing this, but it might take a while.

[2017-02-02 14:56] robstoll commented on #176
@raniejade you are right, it works fine in gradle, at least my first concern (described in the issue). However, my second concern (described in my comment) still holds. If an unexpected exception occurs in a group scope then none of the tests are executed. Is this intentional?

[2017-02-03 01:02] raniejade commented on #176
@robstoll No, it's not. Re-opening the ticket, it should still continue and just ignore the failing group.

[2017-02-05 12:11] raniejade opened #178 "Problem with subjects (memoized) and fixtures"
One thing I noticed when using subjects and fixtures (`after` variants specifically), is that the subject is *cleared* when the fixture is invoked.

[code]

By the time `afterGroup` is invoked the subject has been cleared, so  using `subject` will return a new instance. Depending on the subject, it can cause a variety of problems. In my case an `NPE` is thrown since `setup` was not invoked.

There

[2017-02-05 12:12] raniejade commented on #178
@artem-zinnatullin @hhariri would love to get your inputs.

[2017-02-06 05:25] hhariri commented on #178
Probably two is more clear and flexible, unless I'm missing something.

[2017-02-06 16:13] mradzinski commented on #168
@ivanpopelyshev does "http://dl.bintray.com/hackerham/spek-1.1/" has beta38 in it? I saw a ```beta3-b38``` dependency but seems to be empty.

[2017-02-06 16:19] ivanpopelyshev commented on #168
fixing it :)

[2017-02-06 16:26] ivanpopelyshev commented on #168
Cant configure the version. It just doesnt want to upload jar files :( How to name it?

[2017-02-06 16:40] ivanpopelyshev commented on #168
OK, i was stupid, sorry :) I re-created the repo from scratch, use it!

[2017-02-06 16:47] artem-zinnatullin commented on #178
`2` adds more entities to the framework which is not a great thing from design standpoint… Also `1` looks simpler both from usage and concept points of view.

@raniejade do you see any pitfalls of solution `1`?

[2017-02-06 21:00] mradzinski commented on #168
@ivanpopelyshev You recreated it from scratch at the same location? ```beta3-b38``` is not available anymore :\

[2017-02-06 21:33] ivanpopelyshev commented on #168
yep, just purge your cache

[2017-02-06 23:31] raniejade commented on #178
I prefer `1` for simplicity, my concern with `2` is how the DSL would look. One advantage of `1` is we have explicit control on when to do the cleanup.

[2017-02-06 23:34] raniejade commented on #168
@mradzinski @ivanpopelyshev can you test it out, if it works?

[code]

[2017-02-06 23:42] mradzinski commented on #168
@raniejade Well, I'm actually writing some tests for Android, so instead of ```testRuntime``` I'm using ```testCompile```. Also, weirdly enough I'm getting a ```Process finished with exit code 255``` error, but I would like to assume is it due to something else (no output, just that message).

[2017-02-06 23:47] mradzinski commented on #168
My dependencies look like:

[code]

where ```ext.kotlin_version = '1.1.0-beta-38'```

[2017-02-06 23:53] raniejade commented on #168
Weird, is the error persistent?

[2017-02-07 00:30] mradzinski commented on #168
@raniejade Not anymore, I was running the tests as JUnit tests instead of Spek ones, my bad. Still, now I'm getting something even weirder:

[code]

Shouldn't that test fail? Because as per the results is passing...

[2017-02-07 00:34] raniejade commented on #168
@mradzinski Is runtime assertions enabled? `assert` will not throw an exception if it's disabled.

[2017-02-07 00:49] mradzinski commented on #168
@raniejade I think my tests are not getting properly run. If I change the ```should fail``` string to ```should pass``` I keep seeing the original "fail" string on the "Test results" list. Any ideas? I had to manually configure a "Run/Debug Configuration" to use Spek, and on the Gradle tasks list to run before launch I left it as it was by default (only has the "Make" task added).

[2017-02-07 00:55] mradzinski commented on #168
@raniejade Never mind, ```assembleDebugUnitTest``` was the proper task. Now everything is working. Thanks for all your help and patience!

[2017-02-07 05:50] artem-zinnatullin commented on #178
Great! Let's stick to 1 then?

On Tue, Feb 7, 2017, 02:31 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-02-07 06:27] hhariri commented on #178
ok. No objections from me.

[2017-02-07 11:59] raniejade opened #179 "Rework UniqueId generation for the JUnit Platform TestEngine"
Currently `UniqueId`s are based from the description passed to group/test and its direct parent.

[code]
We have 3 scopes here and below are their `UniqueId`s:
1. `object MySpec` -> `[class:some.example.MySpec]`
2. `group("some group")` -> `[class:some.example.MySpec]/[group:some group]`
3. `test("some test")` -> `[class:some.example.MySpec]/[group:some group]/[test:some test]`

The [IDEA plugin](

[2017-02-08 16:22] NeverwinterMoon opened #181 "Have to manually run compileTestJava in IntelliJ IDEA to have Spek spec code up to date"
The title pretty much describes it. If I clean everything, Spek specs don't run at all with "Could not load class with name". If I run compileTestJava, it runs OK but I have to manually recompile every time the test code changes... Using gradle and basic configuration from docs.

[2017-02-09 10:34] raniejade commented on #181
By any chance is that an android project (https://github.com/raniejade/spek-idea-plugin/issues/6)?

[2017-02-09 11:03] NeverwinterMoon commented on #181
Well, I have a multi-module project. One of the modules is and Android one. The module I use Spek for is not an Android one, it's a sibling module. And I don't have to rebuild the project sources - these are automatically recompiled - I have to to rebuild only the spek file itself.

[2017-02-09 11:07] raniejade commented on #181
Can you provide more details about the structure? If possible a build script :) Typical gradle java-modules should not need any recompilation (IDE will do it for you)

[2017-02-09 11:08] NeverwinterMoon commented on #181
I know IDEA does that for me. And it works for all the other cases. I've changed my Spek code for regular JUnit for the same module and it worked just fine. Wil provde structure details a bit later, when I am behind my computer.

[2017-02-09 12:06] NeverwinterMoon commented on #181
@raniejade So, here it goes.

The root gradle file:

[code]

Then I have the gradle build file for app and the module X (ther one in question, the one using Spek). Structured like so:
[code]
Does it make sense to post the app gradle config? The module is not used in any direct way in module X...

The gradle build file for module X is:

[code]

The Spek file itself:
[code]

[2017-02-10 04:52] raniejade commented on #181
Thanks, I'll take a look when I get home.

[2017-02-10 08:25] NeverwinterMoon commented on #181
By the way, this might be of no importance, but I know noticed this:

![dfb1df422a21fd1230fdb3e9ef09be2a](https://cloud.githubusercontent.com/assets/1917308/22819516/1ea54918-ef7b-11e6-86bb-d0a876418786.png)

Module 'torpedo' (the one I tried using Spek for) is marked as Android-Gradle by IDEA, although it has absolutely no relation to Android.

[2017-02-10 08:40] raniejade commented on #181
@NeverwinterMoon can you list the tasks for `torpedo`?

[2017-02-10 09:48] NeverwinterMoon commented on #181
@raniejade Here you go:

[code]

[2017-02-11 07:13] raniejade commented on #181
I replicated the issue, it's a similar problem to https://github.com/raniejade/spek-idea-plugin/issues/6. Since you're using intellij IDEA (and not AS) have you turned on "separate module per source set" (when importing the gradle project)?

[2017-02-11 08:25] NeverwinterMoon commented on #181
I am pretty sure I went with all default settings when importing. Is it on by default then? Should I try re-importing the project with this off?

[2017-02-11 12:42] raniejade commented on #181
I'm not sure, I think it's disabled by default.

[2017-02-13 17:27] chapayevdauren opened #182 "Dependency conflicts with kotlin 1.0.6"

[2017-02-13 17:36] #182 closed

[2017-02-14 12:13] NeverwinterMoon commented on #181
OK, checked it out - the option "Create separate module per source set" is on by default. So I did use it to start with, as I haven't changed any default setting on project import.

But I recently discovered another issue. In a different project I am involved this, I got the same problem (tests are not automatically compiled and saying class not found if I try to launch from IDE context) with Scal

[2017-02-14 15:20] NeverwinterMoon commented on #181
Tried in 2016.2.5 and 2016.3.4 with  "Create separate module per source set" and without. Still same problem with Spek.

[2017-02-14 15:22] raniejade commented on #181
Will take a look. Have a feeling that this has something to do with the android plugin.

[2017-02-14 15:32] Adambl4 commented on #181
@NeverwinterMoon have you tried to [delegate run actions to Gradle](http://mrhaki.blogspot.com.by/2016/11/gradle-goodness-delegate-build-and-run.html) in IntelliJ IDEA 2016.3+ ?

[2017-02-14 16:07] NeverwinterMoon commented on #181
@Adambl4 Just did that - worked exactly the same in the end and gave me "Could not load class with name". Unless I manually run "compileTestJava".

[2017-02-19 02:43] raniejade commented on #165
@artem-zinnatullin @hhariri can you guys weigh in :)

[2017-02-19 02:49] raniejade commented on #179
Disregard this, it's also problematic when you try to use extension functions that register any number of scopes.

[2017-02-19 02:52] raniejade commented on #161
Sorry for the delay, I tried doing integration tests for my personal project but I found out that JUnit 5 doesn't support creating your own `test` task. It doesn't integration with gradle's standard `test` task ask well.

[2017-02-19 16:57] artem-zinnatullin commented on #165
Hm, my view probably is too conservative, but I'm actually against any state sharing in tests so each subject/memoized will be in a clean state for each test to prevent shooting yourself in the foot…

But, if you want that, I guess, `CachingMode.SCOPE` suggested by @raniejade is best way to achieve that without affecting behavior of previously supported modes.

[2017-02-19 17:04] artem-zinnatullin commented on #179
Yeah, we actually use extension functions on `DescribeBody/Dsl/SpecBody` that accept extension on themself pretty often to apply some common tests in different parts of Spec tree… Not a fan of that, but also not a hater.

But I think we're ok with running such tests only as part of the sub-tree we're applying them on.

Another solution would be to parse **compiled** Specs, so if extension function

[2017-02-25 02:26] #176 closed

[2017-02-27 19:58] robstoll commented on #176
Awesome, when is your next release planned?

[2017-03-02 02:48] mht-yu-iimura commented on #65
+1

[2017-03-02 15:50] ubuntudroid commented on #52
As we're stuck with Junit4 on Android I'd like to know whether you're planning on improving grouping there as well.

[2017-03-02 16:58] artem-zinnatullin commented on #52
@ubuntudroid we're not stuck with JUnit4 "on Android", if you run tests on JVM, you can use JUnit5 (with few hacks for now, but still possible)!

[2017-03-02 17:54] ubuntudroid commented on #52
@artem-zinnatullin AFAIK there is no official JUnit 4 support in the Android Gradle Plugin.

But if it's possible without breaking Android Studio's unit testing capabilities this would be a great thing. Spek's own documentation just mentions Junit4 support for Android. Would you mind updating it? https://github.com/JetBrains/spek/blob/master/documentation/src/asciidoc/setting-up.adoc#setting-up-le

[2017-03-04 03:40] #178 closed

[2017-03-04 03:49] raniejade commented on #97
Should be fixed by #184.

[2017-03-04 03:49] #97 closed

[2017-03-04 11:17] psa-anddev commented on #181
This doesn't solve the issue but it can be a workaround until the real issue is fixed. If you add the task to compile the tests in your Configuration settings, the running of the tests will never result in error and it will fail when it is expected to.

[2017-03-05 14:59] robstoll opened #188 "compile with kotlin 1.1"
I would like to use spek in a kotlin 1.1 project which itself makes usage of reflection. Unfortunately this is not possible and I get the following error:
[code]

[2017-03-06 04:03] dalewking opened #189 "Does not support nested actions"
I want to run a test where I take my subject, perform an action, do some asserts, then take another action and verify some more asserts. The thing I am trying to test for requires doing both actions.

So I tried to structure a subject spec like this:

    given("my object")
    {
        subject { createObject() }

        on("performing first action")
        {
            subject.performFirstAct

[2017-03-06 04:17] raniejade commented on #189
With https://github.com/JetBrains/spek/pull/186, it's possible to do:

[code]

[2017-03-06 04:21] raniejade commented on #188
Can you check that your build is not pulling a different kotlin-reflect version? The reflection library is only compatible with the Kotlin with the same version.

For gradle it's something like:

[code]

[2017-03-06 06:36] robstoll commented on #188
I tried that but without success.

[2017-03-06 06:37] raniejade commented on #188
That's weird, can you post your build here?

[2017-03-06 09:20] artem-zinnatullin commented on #188
@robstoll yup, please check `./gradlew :module_name:dependencies` output (I guess you use Gradle)

[2017-03-06 15:31] deviant-studio commented on #168
Error:(305, 18) Failed to resolve: org.jetbrains.spek:spek-junit-platform-engine:1.1.0-beta3
am i doing something wrong?
'beta2' resolved ok

[2017-03-06 18:01] robstoll commented on #188
The output of `gradlew dependencies` below. As you can see there is no kotlin-reflect:1.0.6 but it still complains. Everything works fine if I do not call the following function
[code]
I am also using other reflection functionality namely kotlin.reflect.KProperty0 and calling a function expecting this type does not make problems.
[code]

[2017-03-06 21:12] raniejade commented on #168
@deviant-studio it's not in central so you have to add the bintray repo.

[code]

[2017-03-06 22:25] robstoll commented on #188
I compiled spek with kotlin 1.1and it still does not work :(
Looks like its a bug in Kotlin itself. I made three tests.
* exclude kotlin from all dependencies
  * branch: https://github.com/robstoll/assertK/tree/spek-exclude
  * travis: https://travis-ci.org/robstoll/assertK/builds/208378069
* exclude kotlin from all dependencies and use spek only in testRuntime
  * branch: https://github.com/robs

[2017-03-06 22:25] #188 closed

[2017-03-09 14:12] #152 closed

[2017-03-09 14:12] #153 closed

[2017-03-09 14:16] #165 closed

[2017-03-09 20:31] dalewking commented on #189
I accept your answer and closing as hopefully 186 will be released soon. Until then will use jitpack.io to pull it in.

[2017-03-09 20:31] #189 closed

[2017-03-15 12:12] AntonRutkevich commented on #169
BTW, just got the same issue migrating to

`
org.jetbrains.spek:spek-api:1.1.0-beta4
org.junit.platform:junit-platform-runner:1.0.0-M3
`

from 1.0.89 + M2, which works fine
`
org.jetbrains.spek:spek-api:1.0.89
org.junit.platform:junit-platform-runner:1.0.0-M2
`

[2017-03-17 11:29] davidcrotty commented on #65
+1

[2017-03-19 13:09] raniejade commented on #175
Should be fixed in the `1.1.0-beta4`.

[2017-03-19 13:09] #175 closed

[2017-03-21 15:39] JackED42 commented on #65
+1

[2017-03-21 16:09] JackED42 commented on #65
Does anyone have any ideas on an implementation of having Spek work with RoboElectric. I have tried to take a look, but I am a bit lost... If someone can point me in the right direction, I am happy to see what I can do

Thanks

[2017-03-21 21:59] artem-zinnatullin opened #191 "CI build status for PRs"
Currently PRs on GitHub do not have build status check which is very dangerous, we have [TeamCity as CI](https://teamcity.jetbrains.com/viewType.html?buildTypeId=Spek_BuildAndTests) and can configure it to report build status to GitHub.

Another option would be to use Travis or CircleCI and keep their ci setup under version control in the repo.

[2017-03-22 05:14] raniejade commented on #65
@JackED42 see `InstanceFactory` and `@CreateWith` since most likely you will need to use custom class loaders.

[2017-03-23 20:01] yay opened #192 "Setup instructions for Maven are incomplete"
Clearly, that's not all it takes to set up Spek with Maven:
http://spekframework.org/docs/latest/#_maven

Please provide detailed instructions for "dummies".

I have the following in my `<pom.xml>` and I still get `Unresolved reference` for `Spek` and the IDE can't auto-import the package(s):

[code]

[2017-03-24 11:44] hhariri commented on #192
Can I see you repositories definition?

[2017-03-24 13:36] yay commented on #192
Here is it:

[code]

[2017-03-24 13:37] hhariri commented on #192
OK can't see anything specifically wrong here. Is there a chance for you to send me your entire POM so I can take a look?

[2017-03-24 13:46] yay commented on #192
No problem, here you go:
[pom.xml.zip](https://github.com/JetBrains/spek/files/868035/pom.xml.zip)

[2017-03-24 21:50] yay commented on #192
OK, `1.1.0-beta3` and `1.1.0-beta2` work with both Maven repo and BinTray repo, but `1.1.0-beta4` jar is not loaded.

[2017-03-24 22:38] yay commented on #192
A friend of mine tried it, and it worked well for him, so I just used his jar that he sent me.
But this is really weird. I tried with both built in Maven and the Maven I had installed via Homebrew (both v3.3.9), but with same "success". Both downloaded a corrupted jar (couldn't unzip it and the size was just 2Kb).

[2017-03-28 00:33] fishb6nes opened #193 "Expand DSL with 'and' group"
Heya, I am trying to get used to testing in Kotlin with Spek and Kluent, but coming from Jasmine / Mocha I am finding it difficult to formulate nicely flowing sentences with the DSL available given they actually print out their function names.

What are your thoughts on making an `and` group available intended for chaining givens?

[code]

[2017-03-28 06:42] raniejade commented on #193
Interesting... I would normally use `context` but `and` feels natural and more readable.

@hhariri @artem-zinnatullin thoughts?

[2017-03-28 06:45] raniejade commented on #192
@yay can you try using the latest release `1.1.0`?

[2017-03-28 06:51] hhariri commented on #193
Well for me "given" is the context, so if you want to combine multiple, I think this is more readable.

[2017-03-28 07:37] xklakoux opened #194 "data driven extensions not fully working on android"
Hi, I'm using kotlin 1.0.3 with spek 1.1 and data-driven-extensions on android.
I'm forced to use @RunWith(JUnitPlatform::class) annotation.

Data driven extensions test behave like on the picture. This state doesn't advance.
![calculatortest](https://cloud.githubusercontent.com/assets/1180857/24393658/3009c570-1399-11e7-9684-b08a306bf957.png)
Although all duplicated tests pass, proper tests hang

[2017-03-28 07:47] raniejade commented on #194
Btw, are you using `@RunWith(JUnitPlatform::class)`?

[2017-03-28 07:48] raniejade commented on #194
Out of curiosity, why?

[2017-03-28 07:59] xklakoux commented on #194
My tests aren't detected on android if I don't.

[2017-03-28 08:03] raniejade commented on #194
Do you have the [Spek plugin](https://plugins.jetbrains.com/plugin/8564-spek) installed?

[2017-03-28 08:21] xklakoux commented on #194
I indeed didn't have it installed. After I did all the test fail because of
`java.lang.RuntimeException: Stub!` I'm looking on how to resolve that. Could be something about junit5 not being used?

[2017-03-28 08:37] raniejade commented on #194
http://robolectric.org/ unfortunately we don't provide support for it yet #65.

[2017-03-28 08:54] yay commented on #192
Maybe at some future point, I've decided to use JUnit 4 for now. Thanks for looking.

[2017-03-29 11:14] xklakoux commented on #194
We don't use robolectric, this was caused by old test configurations. I had to remove them for this to work. Also I had to downgrade mockito 1.9.5 to 1.9.0 or upgrade to mockito 2 for spek to work with the plugin because of dexmaker error.
However, data driven extension is working fine with the plugin, my bad, this issue can be closed. Thanks for helping me.

[2017-03-30 04:04] #194 closed

[2017-03-31 16:57] vjames19 opened #195 "Unable to run with JUnit Platform 1.0.0-M4"
I'm trying to run a simple test using ./gradlew junitPlatformTest but I'm getting the following exception:
[code]

Any idea on how to fix this?

## Test file
[code]

## build.gradle
[code]

[2017-04-02 02:26] qvaughan commented on #195
I also get this error when attempting to use Kotlin 1.0.6.

[2017-04-02 13:06] qvaughan commented on #195
It appears somehow junit5's console is getting brought into the mix and it is attempting to use platform components from junit5. Adding this to my build.gradle's dependencies solved the problem for me:
[code]

[2017-04-02 14:14] Tobi29 commented on #195
I have observed this as well and it seems like the Milestone 4 release of JUnit is automatically getting used when running tests (even though M3 is configured) and presumably an API change broke Spek.

It seems like the JUnit Gradle plugin usually adds the engine dependencies itself when running the tests, however it appears to be using the newest version instead of the version of the plugin.

Can

[2017-04-02 21:54] artem-zinnatullin commented on #193
`and` is possibly problematic because it may look like there should also be `or`.

In our practice, we usually do nested `on` blocks with `beforeEach` inside of each and `context` if block does not have `beforeEach`, haven't found a need in adding `and`.

@fishb6nes btw, you can add `and` yourself if you need, just create an extension function:

[code]

We do the same to write `perform` instead of

[2017-04-03 03:44] raniejade commented on #195
You can configure w/c version to use via the `junitPlatform` block. I haven't tried using `1.0.0-M4` with Spek, will have to investigate but I'm guessing there are some breaking changes to the API.

[code]

[2017-04-03 03:50] raniejade commented on #193
With the latest version you can't nest `on`s anymore.

[2017-04-03 11:55] mkobit commented on #195
@Tobi29 your issue could be related to https://github.com/junit-team/junit5/issues/576 , where the default dependency brought in by the extension is dynamic so retrieves the "highest" one.

It was fixed in `M4` so that it does not use a dynamic version string by default.

[2017-04-03 13:23] artem-zinnatullin commented on #193
Ah, my bad, well I think my comment is still valid as a general idea.

On Mon, Apr 3, 2017, 06:50 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-04-03 14:41] vjames19 commented on #195
@raniejade That fixes the issue.

Should this be added to the official documentation?

[2017-04-04 14:27] binkley opened #196 "spek-junit-platform-engine does not display full BDD language in JUnit 5"
An example of a failing test:
[code]
Several issues with output:
* What is "null"?
* I'd like to see the full BDD clause, not just the test name

Expected, based on `rspec` output and IntelliJ test Run tab output:
[code]
(I omitted other JUnit5 decoration, such as timing, etc.)

Even nicer would be support for color output!  In general, Ruby `rspec`/cucumber looks like a "gold standard" I'd love t

[2017-04-04 21:47] fishb6nes commented on #193
Sweet, thank you for showing how easy it is to add your own groups. I'm conflicted about getting into the habit of using any group I think of on the fly if its not decent enough to make it into the actual Spek though.

I'd argue against the need or expectation for there to be an `or` group as the tests are constructed in a tree-like fashion. Two sibling groups of the same type represent an `or` si

[2017-04-08 15:23] binkley commented on #195
Using M3 I encountered NPEs that break surefire/failsafe.  Switching to M4 gives the more revealing stacktrace posted by @vjames19.  I'd like to stick to M4, if possible.  If it would help, I can do some investigation and see if a simple PR would fix.

[2017-04-09 14:54] raniejade commented on #195
Re-titled to point out the main culprit.

[2017-04-14 16:08] mfulton26 opened #198 "Add support for "groups" inside ActionBody"
I was surprised to learn that I can put `context` blocks inside `describe` and other `group` blocks but not inside `on` (`action`) blocks. I would like to be able to group `it` blocks within an `on`. e.g.:

[code]

[2017-04-14 16:16] mfulton26 opened #199 "Spek IntelliJ IDEA plugin doesn't mark `group`, `action`, and `test` blocks as executable."
The Spek IntelliJ IDEA plugin marks `describe`, `given`, `on`, `it`, etc. as executable but not `group`, `action`, and `test`. They should all be executable, correct?

[2017-04-15 03:28] raniejade commented on #198
Action blocks are treated as tests, so `group`s and `fixture`s are not allowed inside. Other than readability what are the benefits of having nested groups inside action blocks?

[2017-04-15 03:29] raniejade commented on #199
Nice catch, thanks!

[2017-04-15 23:29] mfulton26 commented on #198
Just readability (organization).

I'm not familiar with `fixture`s.

What do you mean that action bodies are tests? The JUnit platform has containers and tests, right? Tests are leaves and cannot contain other tests was my understanding.

[2017-04-18 14:28] mjdenham commented on #198
I found this confusing too.  I needed to start a mock web service before some tests and stop it after the tests so I used before/afterGroup with a context.  I also tried to use the verb on() within the context.  It took me a while to discover afterGroup() was running before on().

Could you clarify why on() is incompatible with beforeGroup/afterGroup.  The documentation seems a bit lacking regardi

[2017-04-19 02:08] CzBiX commented on #81
Does it still on plan list?

[2017-04-19 02:49] raniejade commented on #81
@CzBiX yes, it's still in our backlog.

[2017-04-19 07:35] raniejade commented on #198
During the discovery phase every call to  `group` and the fixtures (`beforeGroup`, `afterGroup`) are "collected" to build the test tree. The current engine requires to know about the groups and fixtures declared (test tree) in order to know the execution plan. Since `on` is implemented as an action scope, it is only executed during the execution phase. The engine wouldn't know about the fixtures d

[2017-04-19 20:28] mfulton26 commented on #198
Why distinguish between spec scope (`SpecBody`) and action scope (`ActionBody`)? I mean, why not just have all the groups (including `on`) be groups and all the tests be tests? This is how I understood previous version of Spek to work as well. Thanks.

[2017-04-20 01:16] raniejade commented on #198
Actually @hhariri can best explain why we introduced action scopes `on`. People before tried adding state logic within group scopes, which doesn't behave as you might expect.

[code]

As you can see the above spec won't work since, group scopes are eagerly evaluated during the discovery phase. It will fail on the first `test`, since `foo == 3` by the time the tests are executed. With action groups

[2017-04-20 21:03] robstoll opened #200 "Spec without default constructor should be ignored"
I am using the following pattern:
- Write a Spec for an interface.
- This Spec requires a factory method as parameter of the constructor (in order to create the concrete implementation)
- I am reusing this spec in the module where I am implementing the interface

Everything works fine if I run it with gradle. Yet, if I try to run it in intellij I get the following error:
[code]
The problem is in `

[2017-04-20 21:13] robstoll commented on #200
Oh well... setting the Spec abstract works as well :)
I do not close the issue on purpose though. IMO it shouldn't fail. Or if it fails it should print out the suggestion that the Spec should be made `abstract`. That would surely be more user friendly

[2017-04-21 04:50] hhariri commented on #198
I think we need to better describe this in our docs because `on` is just part of the `given` `on` `it` pattern, and really not there to be combined with `describe` `it` pattern. This might lead to confusion and unintended consequences.

[2017-04-21 13:18] lalunamel opened #201 "Update documentation to include detailed information about writing specs"
I'm attempting to learn how to use Spek and find it difficult given the lack of documentation around very specific and essential pieces of the framework.

For example, I'd like to have the question "When does a block defined with `beforeEachTest` run?" answered by reading the docs.

Topics I would like answered by the docs:
What are the three scopes and how are they different?
What are the befores

[2017-04-21 13:32] lalunamel opened #202 "How can I use `lateinit` with Spek?"
It would seem `lateinit` is designed with testing in mind, as [the example](https://kotlinlang.org/docs/reference/properties.html#late-initialized-properties) in the docs illustrates.

How can I use `lateinit` with Spek?

Given a spec file

[code]

The call `ints.first()` will not compile with the error `Variable 'ints' must be initialized`

Seems like a perfect use for `lateinit`, since I as the

[2017-04-22 13:16] #195 closed

[2017-04-22 13:19] raniejade commented on #202
`lateinit` does not work for local variables, you could use `memoized`.

[code]

If you're familiar with `subjects`, `memoized` also accepts a `CachingMode` which controls how spek will cache the instances.

[2017-04-22 13:19] #202 closed

[2017-04-22 13:25] raniejade commented on #200
I think we could introduce an `@IgnoreSpek` annotation to ignore non-abstract classes.

[2017-04-24 18:08] robstoll commented on #200
Sounds like a plan

[2017-04-24 18:38] robstoll opened #203 "`it` not in `group` in reporting"
The problem can be reproduced with the following sample:
[code]

Executing the Spek in intellij shows the `it` of test2 under the `group` whereas the `it` of test are shown separately (not within the group).

[2017-04-24 19:55] mfulton26 commented on #198
In my opinion having `on` behave differently from the other `group` types is an unnecessary complexity. How about making all groups actions? Combine the discovery and execution phases into a single phase (i.e. discover while executing). This way spec developers can add state logic within any `group` (`describe`/`context`/`given`/`on`/etc.).

[2017-04-25 02:07] raniejade commented on #203
The `it` under `test()` refers to the top-most scope (`Spek({ ... })`), while the `it` under `SpecBody.test2()` refers to scope where it's used - in your example: ` describe("a group having `it`s which are created in functions")`.

When `test` to is created it "captured" the scope (keeps a reference) it was declared. So when using `it` within it, it will use the said scope.

[2017-04-25 02:07] #203 closed

[2017-04-25 02:19] raniejade commented on #198
That's a breaking change, I wouldn't want to change it.

[2017-04-25 02:23] mfulton26 commented on #198
Was changing `on` to an `action` not the same type of changing?

[2017-04-25 02:27] raniejade commented on #198
`on` was changed because people expect it to behave the way it's now. Changing every group to behave like actions would break a lot of code.

[2017-04-25 02:29] mfulton26 commented on #198
Hmm. Okay. I actually expected all groups to behave like I understand
active do now the first time I used Spek but I realize I am only one data
point. Thank you for the info.

On Mon, Apr 24, 2017, 9:27 PM Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-04-25 02:29] mfulton26 commented on #198
actions*

[2017-04-25 02:41] raniejade commented on #198
That was one of my frustrations when using Spek for the first time. I started github.com/raniejade/kspec because of that and slow development. Soon enough while developing KSpec, I discovered the reason why we need a discovery phase - because of JUnit 4. To get proper reporting JUnit 4 runner requires the test plan to be known first before executing.

Fixtures was introduced to circumvent the limi

[2017-04-25 13:50] mfulton26 commented on #198
Is Spek still supporting JUnit 4 though? I thought they've completely moved to JUnit 5 (which doesn't have this issue from what I can tell).

[2017-04-25 22:50] snowe2010 commented on #35
Anyone here? This is still a problem.

[2017-04-26 04:18] hhariri commented on #35
@snowe2010 is this resolved per Slack?

[2017-04-26 07:26] raniejade commented on #198
Yep we totally moved to JUnit 5, but it also have two phases - discovery and execution.

[2017-04-26 17:29] mfulton26 commented on #198
Yes, JUnit 5 does have two phases but you return a dynamic container in the discovery phase and then register dynamic containers and tests during the execution phase basically making it into a single phase.

[2017-04-27 00:00] raniejade commented on #198
Last time I checked only dynamic tests are supported, not containers. Either way we will stick with the current behavior.

[2017-04-27 00:07] mfulton26 commented on #198
Very well. FYI: containers descriptors can be registered dynamically in JUnit 5 just like test descriptors can. In fact, I have a protect based on such that builds the tree completely dynamically. It works very well but then I would have to make my own plugin, source code location tooling, etc. which I would certainly rather not do.

Are there any reservations to a pull request to make the whole t

[2017-04-27 00:20] raniejade commented on #198
I'm not really keen in changing the current behavior, even adding just a flag. @hhariri @artem-zinnatullin what are your thoughts? It can potentially break *alot* of stuff, fixtures and subjects to name a few.

[2017-04-27 03:45] hhariri commented on #198
The test suite of a project should be the most reliable aspect. Any breaking change like this I'm kind of against. We've already had one in the 1.1 and I believe we should aim to keep backwards compatibility unless it really goes against our goal to evolve Spek. A flag isn't that ideal cause it introduces again a change in behaviour that is not that apparent.

[2017-04-27 04:51] hhariri commented on #35
here's a sample. I'll update demos to also include this. https://www.dropbox.com/s/tmv8evocxuu69h5/kotlin-spek-maven.zip?dl=0

[2017-04-27 10:00] Ramblurr opened #204 "Example project for mixed java, kotlin and gradle"
I have a sizeable java codebase built with gradle I want to write specifications for using Kotlin and Spek.

However, I can't seem to find the correct incantations in my build.gradle that gets it working.

The sample in this repo relies on external gradle files that only make sense for the multi-project repo.

It would be great to have a single-file demonstrating a working java+spek example.

Some

[2017-04-27 13:40] hhariri commented on #204
You need Kotlin-stdlib if you want to use it, which you normally would in a Kotlin application. kotlin-test is for assertions (i.e. assertEquals) as Spek doesn't come with assertions (yet).

In terms of where you place tests, usually src/test/kotlin is the common place but it's entirely up to you. Take a look at https://github.com/hhariri/mark-code for an example of using it with Gradle. If you ha

[2017-04-27 14:59] artem-zinnatullin commented on #198
Even though I like and used to use `on` instead of `context`, I think we can't break compatibility again and as users have to just agree with current behavior of `on` and as maintainers of the project — improve documentation and reasoning behind it.

I understand your frustration, @mfulton26, but I hope you would agree that breaking changes are bad and we'll have to live with current behavior at l

[2017-04-27 17:01] mfulton26 commented on #198
Yes, I do understand the need to avoid breaking changes. Perhaps this can be reviewed for a 2.x release.

On a side note, it looks like JUnit 5 will be adding top-level support for [dynamic containers](https://github.com/junit-team/junit5/issues/695#issuecomment-292914486).

[2017-04-28 21:14] snowe2010 commented on #35
note that I had to reduce the `junit-platform-surefire-provider` version number to M3 from M4 for it to work for me.

[2017-04-29 12:27] andrei-khveras commented on #86
@raniejade could you give any insight why this PR was closed and what's current status/plans for JUnit 5 support?

[2017-05-01 14:31] raniejade commented on #86
@andrei-khveras current version Spek `1.1.0` supports JUnit 5 (`1.0.0-M3`).

[code]

[2017-05-03 11:49] hhariri commented on #195
1.1.1 with this fix is now available.

[2017-05-10 20:08] eekboom commented on #195
Aaaarg.
With 1.1.1 I can run "gradle test" from the gradle toolwindow and it works. (At least mostly: The "run" toolwindow in IDEA says "Test events were not received", but the console shows the test statistics).

However I can no longer run a single test in IDEA by using the left gutter icon (from the Spek) plugin. Then I get "java.lang.AbstractMethodError: Method org/jetbrains/spek/engine/Scope$

[2017-05-11 00:02] raniejade commented on #195
@eekboom as a workaround please add `org.junit.platform:junit-platform-launcher:1.0.0-M4` in the test classpath. The plugin bundles `1.0.0-M3` and only uses that if you don't have the `junit-platform-launcher` in your test classpath.

[2017-05-15 13:07] paganaye commented on #65
+1

[2017-05-21 03:58] magnumrocha opened #207 "Spek doesn't working properly on Android projects"
Hi guys,

I'm working on a Android Project with the kotlin language. I'm trying to use Spek to test my Presenters classes (yes, I'm using the MVP pattern \o/), but I'm experience some Issues on Spek use.

My tests dependencies are:

[code]

The problem is that, in my Presenters, I have some calls to the Android Util Log api (eg.: Log.d....), and when I run a Spek I'm get this Exception:

[code]

I

[2017-05-21 12:27] raniejade commented on #207
Are you using roboelectric by any chance?

[2017-05-21 13:41] magnumrocha commented on #207
Hi @raniejade,

No, I'm not using robolectric. Just the [Mockito-Kotlin](https://github.com/nhaarman/mockito-kotlin) and JUnit asserts.

[2017-05-21 14:00] lenguyenthanh commented on #207
Let try to remove `testCompile "junit:junit:4.12"`

[2017-05-21 14:06] magnumrocha commented on #207
@lenguyenthanh, I removed and I've got the same Issue.

I think the solution is try make the Spek run using the scope of the JUnit somehow.

[2017-05-21 14:07] lenguyenthanh commented on #207
Can you post your test here?

[2017-05-21 14:25] magnumrocha commented on #207
Sure:

My Spec code:

[code]

My Presenter code:

[code]

[2017-05-21 14:33] lenguyenthanh commented on #207
Let try:
[code]

[2017-05-21 14:40] magnumrocha commented on #207
Same Issue 😢

When we apply the @RunWith(JUnitPlatform::class), it causes some confusion to the Spek plugin, it won’t recognize our spec and create a JUnit config to run your spec instead — which doesn’t work (in Android Studio 2.3, Spek plugin 0.3.3)

[2017-05-21 14:46] lenguyenthanh commented on #207
It seems Spek plugin doesn't work with Android Studio because it AndroidJunit uses JUnit 4. My app works well with Spek 1.1.1 and Android studio 2.3.

[2017-05-21 15:29] raniejade commented on #207
If you're using `@Runwith(JUnitPlatform::class)` the spek plugin won't work as the JUnit plugin will take over.

Is it possible to stub out logging that doesn't use androids logging features? Spek doesn't support android instrumentation tests. It will run the tests in the JVM, the android runtime will not be initialized.

[2017-05-21 15:49] magnumrocha commented on #207
I'm using Spek for my local unit tests, I already known that Spek doesn't work with Android Instrumentation Tests.

We can wrap the Android Log Util class, and check the presence of Spek class on runtime, using Class.forName("org.jetbrains.spek.api.Spek"), but I don't consider this a good solution, because for any android.jar class that I use on my Presenter, I will need do this check.

I was usin

[2017-05-21 16:07] raniejade commented on #207
Okay so you want Spek to work without `unitTests.returnDefaultValues = true`? Or does it now work with Spek? Sorry, I'm still trying to understand the problem here.

[2017-05-21 16:16] magnumrocha commented on #207
@raniejade, sorry for my bad english 😄 .

The problem is Spek is not working as JUnit works with android.jar class and members.

Right now, I don't know if the problem is on Spek or Spek Idea Plugin, that is not considering the `unitTests.returnDefaultValues = true` config like JUnit does.

[2017-05-21 16:35] raniejade commented on #207
No worries. Android support is not that great right now, we are currently looking for ways to improve this.
Spek does not know about `unitTests.returnDefaultValues = true`, it's very specific to the android tooling.

If you want to stick with `unitTests.returnDefaultValues = true`, you have to use `@RunWith(JUnitPlatform::class)` - this means that you will lose IDE support (junit plugin will takeo

[2017-05-21 17:54] magnumrocha commented on #207
I can't run my Spek tests with `@Runwith(JUnitPlatform::class)`, the tests don't run.

I put the gradle task "app:assembleDebugUnitTest" on Before launch of Run Configuration, but this not worked.

[2017-05-22 02:21] raniejade commented on #207
You can't use spek run configuration, the bundled junit plugin should take over. Just delete any spek run configuration you have and create a new "JUnit" run configuration instead.

[2017-05-23 02:01] LewisRhine opened #208 "Android Project Test do not run if there is an IT block"
[code]
Resluts in
"0 of 1 test"
"Process finished with exit code 0"

If I don't have an IT block the test will run fine.

[code]

[2017-05-23 02:52] raniejade commented on #208
@LewisRhine are there logs you can paste here?

[2017-05-23 13:56] LewisRhine commented on #208
@raniejade I don't really get any log output. it seems like it just doesn't see the test if there is an IT block.

[2017-05-23 14:07] raniejade commented on #208
@LewisRhine Ahh, I remember now. It's an issue with JUnit 4, you can only at most 2 group nestings since it assumes that tests are defined as class methods.

[2017-05-23 14:20] LewisRhine commented on #208
@raniejade Oh, I see. Am I guessing there is no way around it ad of now?

[2017-05-23 14:47] raniejade commented on #208
Yeah, unfortunately not. We are thinking of ways to fix this, one of our priority right now is improving android support.

[2017-05-24 22:38] deinspanjer commented on #192
I'm sorta in the same boat.  Using Kotlin, IntelliJ IDEA, Maven, and Spek 1.1.1.

So far, I tried adding the dependency for spek-api as documented, and then I tried several variants of adding dependencies for spek-junit-platform-engine, junit-platform-launcher, and the Spek plugin for IntelliJ.

Here is what I currently get when I try to run a test:
[code]

Could you provide a sample Maven pom or

[2017-05-25 05:47] bl-lia commented on #65
+1

[2017-05-29 10:50] ming13 opened #210 "Memoized and same test names"
Seems like Spek records `memoized` values based on test names. This way if test names are squashed these values are not recreated and are reused. This can be quite painful if these values can contain some state.

The sample code is below.

[code]

[2017-05-29 12:08] raniejade commented on #210
By default each `test` will have a unique value, you can alter this behaviour by passing a `CachingMode`.

` val environment by memoized(CachingMode.GROUP) { Environment() }` - each group will have a unique instance.

` val environment by memoized(CachingMode.SCOPE) { Environment() }` - will only have one instance throughout the spec.

[2017-05-29 12:20] ming13 commented on #210
Yep, I understand that, but if you take a look at the comments at the sample code `environment object` stays the same if the test name is the same. The desired behaviour would be to have different objects.

[2017-05-29 12:25] raniejade commented on #210
Ahh sorry, didn't understand the problem at first. Hmmm, I'll take a loot.

[2017-05-29 12:43] raniejade commented on #210
Okay the problem is with:

[code]

Based on the input: `listOf(1, 2, 3), listOf(1), emptyList()`

The number of groups it creates is 3, however 2 has the same description.

`context(numbers available)` - listOf(1, 2, 3)
`context(numbers available)` - listOf(1)
`context(numbers not available )` - emptyList()

Within a `group` descriptions should be unique. Spek uses the description to create a `Uni

[2017-05-29 13:04] ming13 commented on #210
Yeah, that’s the issue. Does it make sense to generate unique ID based not only on the name but on the declaration fact under the hood in Spek? I guess UUID will do the trick. We are migrating from pre-1.0.0 Spek and it worked there as it seems, because we didn’t have this issue before.

[2017-05-29 13:19] raniejade commented on #210
Problem is tooling will be broken, It requires to know at first hand the test tree - it deduces the `UniqueId`s based on the code structure. With UUIDS there will be no way the spek plugin to deduce the `UniqueId`s. Until we find a way around it, this will not happen.

[2017-05-29 13:22] ming13 commented on #210
Is it possible to save `UniqueId`-name pair?

BTW failing test run when same group IDs is being detected probably will be useful. Otherwise it is kind of hard to find out the source of the issue.

[2017-05-29 13:26] raniejade commented on #210
What do you mean?

Definitely.

[2017-05-29 13:34] ming13 commented on #210
If I understand this correctly Spek goes through test declaration, takes group IDs names and generates `UniqueId` based on them. Is it possible to generate UUID every time Spek finds new group ID and associate it with the text description? This way every group declaration will have truly unique ID and it will be possible to determine text description based on it. Sorry if it sounds dumb, I don’t k

[2017-05-29 13:55] raniejade commented on #210
It's the same problem, the spek-idea-plugin needs to know about the generated `UniqueId` in order to work. We could use a UUID but we have to change the idea plugin to compile the spec first and prematurely do the discovery phase, but it feels a bit overkill.

[2017-05-29 14:05] arturdryomov opened #211 "Memoized usage in test names results in exception"
[code]

This test results in such exception.

[code]

[2017-05-29 14:06] artem-zinnatullin commented on #210
But that's impossible if you have any type of runtime-generated test tree i.e. `listOf(something).forEach { context { … } }`…

What if each node in the tree will have two Ids? One is runtime-generated and strictly unique and used for JUnit5 engine and internally by Spek runtime and other that will be same as statically calculated by spek-idea-plugin?

[2017-05-29 14:11] ming13 commented on #211
BTW it is possible that something is wrong with my toolchain, but when I rename `MemoizedSpec` to `Memoized` it passes...

[2017-05-29 14:40] raniejade commented on #211
The name shouldn't matter, have you tried renaming it back again to `MemoizedSpec` to see if it works?

[2017-05-29 14:47] raniejade commented on #210
@artem-zinnatullin Yeah, it's a known limitation of the plugin. This doesn't work as well: `it("$someVar bar")`.

That's an interesting idea, I'll just need a way the map those ids to the proper internal ids. I'll look into it more. :+1:

[2017-05-29 15:02] ming13 commented on #211
The naming probably is just a bad luck, but I’ve tried the code above on another computer just in case and it still results in the same crash.

[2017-05-29 16:29] artem-zinnatullin commented on #210
@raniejade I think it's totally fine if IntelliJ plugin won't support runtime-generated subtrees but it should definitely be supported by Spek runtime and JUnit5 engine binding.

Maybe you could continue generating UniqueId based on node text description and in case if description is not compile time constant literal — just remove "run" button for that subtree in IntelliJ Plugin?

[2017-05-30 02:07] raniejade commented on #210
It's definitely supported on runtime, the problem arises when there are duplicates within a group. I still prefer descriptions to be unique w/in a group, are there benefits of allowing it?

[2017-05-30 07:38] artem-zinnatullin commented on #210
No doubts it works at runtime, we use it :) Memoized does not work though..

If you'll start extracting repeatable subtrees as functions that accept
lambda with SpecBody as a receiver and apply them in same spec subtree it's
very easy to have several non unique descriptions in it and it's a real
life use case from our specs.

On Tue, May 30, 2017, 05:07 Ranie Jade Ramiso <notifications@github.com>

[2017-05-30 08:35] raniejade commented on #210
Okay, next question. What is the expected behaviour of duplicate descriptions? Should we merge them or keep them separated? Merging will be problematic if the state introduced is non-deterministic, meaning each call to either scope creation methods (`test`, `group`, etc...) might result into a different state.

[2017-05-30 09:46] artem-zinnatullin commented on #210
Runtime (including memoized) should treat them as separate nodes which yeah
means that ids should be generated not only by looking at text description

On Tue, May 30, 2017, 11:35 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-05-30 10:10] vokilam opened #212 "Question: how to use spek-data-driven-extension with Data4-Data9 classes?"
[namespace.kt](https://github.com/JetBrains/spek/blob/master/spek-data-driven-extension/src/main/kotlin/org/jetbrains/spek/data_driven/namespace.kt) defines extensions of `on` function for Data1-Data3 types.

Now Data4-Data9 types seem unusable for me, am I right?

[2017-05-30 11:58] ming13 opened #213 "Memoized value is not the same before and after test"
The code and its output is below. The thing is — `environment` in `beforeEachTest` and `afterEachTest` are not the same value.

[code]
[code]

[2017-05-30 12:02] artem-zinnatullin commented on #213
I'm working on it

[2017-05-30 12:02] raniejade commented on #213
Most likely introduced by #183 . Thanks @artem-zinnatullin !

[2017-06-01 05:15] xgouchet opened #216 "Add afterEachFailedTest callback"
The `afterEachTest` callback is great to cleanup resources, but it lacks information on the success or failure of the test after which it's invoked.

To have a concrete example, I want to add logs in the standard output stream in the afterEachTest callback when the test fails.

Right now I can add my logs, but it will apply  to all the test, whether or not they fail, and this will clutter my outpu

[2017-06-01 06:02] raniejade commented on #216
I'm not really keen on adding new methods, we could just add a parameter to the `afterEachTest` blocks that contains information about the test (description, failure, etc..).

[2017-06-01 06:31] xgouchet commented on #216
@raniejade yes adding context information as a parameter would totally work also.

[2017-06-03 07:17] #213 closed

[2017-06-06 06:26] kopax commented on #111
Hey guys, did you resolve this ? I am hitting the same error in a totally different project and I can't find what to do.

[2017-06-06 06:30] raniejade commented on #111
@kopax yep this should be fix. This is for building the spek repo btw, so I'm not sure if you have the same problem.

[2017-06-06 06:34] kopax commented on #111
@raniejade no it is not for the same app. I googled my error and this is my stacktrace :

https://paste.gnome.org/pdg7wt6dr

It happen in a spring boot application using gradle v3.3 when I do `./gradlew clean build release`. I don't have this error on my host, only in the CI build. I wish you can have some information for me :)

[2017-06-06 06:54] raniejade commented on #111
If I remember correctly this has something to do with `publishing` and/or `artifactory` blocks not having the proper default values. We have this on our artifactory block

[code]

[2017-06-07 00:38] kopax commented on #111
Thanks you helped me solved my issue. I was misspelling my parameter `artifactory_url` => `artifactory_contextUrl` when executing my gradle task.

[2017-06-07 07:01] raniejade commented on #111
No worries @kopax glad to help. 👍

[2017-06-07 14:23] artem-zinnatullin opened #217 "Memoized does not allow null values — runtime crash."
[code]

If `func()` returns `null`, Spek crashes with:

[code]

Because `null` used internally as not initialized state of memoized.

Faced this in our test suite, I'll work on fix.

[2017-06-14 12:48] amorenew opened #218 "Error:Conflict kotlin-stdlib (1.1.2-5) and test app (1.0.6)"
Hi
I trying to use spek in android but I got the following error
` Error:Conflict with dependency 'org.jetbrains.kotlin:kotlin-stdlib' in project ':app'. Resolved versions for app (1.1.2-5) and test app (1.0.6) differ. See http://g.co/androidstudio/app-test-app-conflict for details.
`
My Project gradle:
[code]
My app gradle:
[code]

[2017-06-14 13:00] amorenew commented on #218
I think this two line cause the problem but how could I fix it?
[code]

[2017-06-14 19:03] artem-zinnatullin commented on #218
Link in the error log has all the details to solve the issue https://sites.google.com/a/android.com/tools/tech-docs/new-build-system/user-guide#TOC-Resolving-conflicts-between-main-and-test-APK

Some of dependencies for your androidTestCompile configuration pull different version of Kotlin stud lib that app does, it doesn't look related to Spek

[2017-06-15 08:31] amorenew commented on #218
Solved by
configurations.all {
    resolutionStrategy {
        force 'org.jetbrains.kotlin:kotlin-stdlib:1.1.2-5'
    }
}

[2017-06-15 08:49] #218 closed

[2017-06-19 14:09] panell commented on #208
Shame, because I really liked this framework ;/

Any updated on his?
Any timeline on this?

[2017-06-19 14:25] raniejade commented on #208
@panell Sorry, the team has been very busy with personal stuff in the past month. I'll start something next week, it's going to be a big change and hopefully it lessen the issues being felt on android.

[2017-06-19 17:42] panell commented on #208
thanks for the info. I really appreciate quick update.

[2017-06-20 15:27] mattbdean opened #219 "Programmatically ignore/skip test"
Is there currently a way to ignore/skip tests programmatically? I saw #5, but I'm not sure if anything came out of it.

In TestNG we can simply throw a `SkipException` to skip a test. For JUnit 4, this [StackOverflow post](https://stackoverflow.com/a/1689309) seems to say that if an assumption failed, the test would be skipped. Maybe I'm doing something wrong, but this doesn't seem to be the case

[2017-06-20 16:28] raniejade commented on #219
@thatJavaNerd  each scope (given, describe, on, it, etc..) has a version prefixed w/ an `x`, spek will skip them.

[code]

[2017-06-20 17:01] thatJavaNerd commented on #219
Is there a way we can skip these scopes programmatically?

[2017-06-20 20:28] artem-zinnatullin commented on #208
Just to make it clear, @LewisRhine did you use `on()` intentionally? Because any kind of nesting with *group*s like `context/describe/given` works fine with JUnit4 and fits most of the cases.

For instance we don't have any usages of `on()` *action*s in few hundreds of specs (thousands of test cases).

[2017-06-20 20:36] artem-zinnatullin commented on #219
Yes there is a way to have conditional Spek branches:

[code]

With such extension functions with receiver you can create conditional Spek branches programmatically.

[2017-06-21 01:13] raniejade commented on #208
@artem-zinnatullin how deep is the nesting?

Fck, yeah JUnit 4 doesn't support dynamic tests (tests discovered during execution).

[2017-06-21 01:59] dalewking commented on #95
I am facing this issue as well for memoized values. My memoized value is actually creating a temp directory and populating it and when it is no longer needed in the test (when the cached value is set to null) I would like to delete the directory (without just relying on File.deleteOnExit).

It seems to me what needs to happen is that when declaring the memoized value in addition to the factory lam

[2017-06-21 07:35] artem-zinnatullin commented on #208
@raniejade I'm currently working with spec that has 12 nested groups.

Spek itself works just fine but Mockito starts going crazy on `verify()` calls, looks like it's caused by class names that Kotlin compiler generates for such deeply nested lambdas.

[2017-06-21 07:47] panell commented on #208
For me it failing with very at basic stage, exactly like this @LewisRhine  described at the top.
One think I want to add is that Android Strudio seems to be in incorrect state. Screen
https://drive.google.com/a/babylonhealth.com/file/d/0B4hXruznbpCVaF9uaEVvUHdHY1k/view?usp=sharing

[2017-06-21 08:38] panell commented on #208
Confirm what @artem-zinnatullin  was saying.
Test started working after replacing `on` with `given`
hmm...

[2017-06-21 08:46] raniejade commented on #208
@panell Looks like JUnit 4 is still the culprit, it does require the test tree to be known before hand. `on` is implemented as a dynamic test in JUnit 5.

[2017-06-21 15:49] dalewking opened #220 "Nested actions"
Declaring an action within another action does not seem to work and I get errors like concurrent modification exceptions.

This issue is not so much to make that work, but if it doesn't make sense to have nested actions to at least give you compile errors. I notice that you did something like this with the before and after methods by declaring deprecated errors.

[2017-06-22 00:54] raniejade commented on #95
@dalewking wow, that's a great idea. I was looking into how to prevent passing another lambda argument.

[2017-06-22 01:34] thatJavaNerd commented on #219
I didn't know that! Is there a way we can skip tests while we're inside an `it` body? Something like

[code]

[2017-06-22 09:45] artem-zinnatullin commented on #95
I'm not sure this extension will work though (I'm on mobile), what's wrong
with clearing resources in afterEachTest?

On Thu, Jun 22, 2017, 03:54 Ranie Jade Ramiso <notifications@github.com>
wrote:

[2017-06-22 09:46] artem-zinnatullin commented on #219
Not really, probably just skip the body of the test, however you'll still
see it in the report as passed.

I think you better go with dynamic spec branch generation as I showed
above, you can even produce xit() branch to clearly see that it was
ignored.

On Thu, Jun 22, 2017, 04:34 Matt Dean <notifications@github.com> wrote:

[2017-06-22 10:19] raniejade commented on #95
It's doable. Yeah that's one way to do it:

[code]

Can be implemented as:
[code]

Heck `whenDone` can be implemented using `afterEachTest`.

[code]

[2017-06-22 10:43] raniejade commented on #95
You could also use `test`:

[code]

[2017-06-22 10:44] raniejade commented on #219
You could also use `test`:

[code]

[2017-06-22 12:27] dalewking commented on #95
I would say the pros for my approach is that I don't have to remember which type of after method I have to use based on which scope I have chosen for the memoized. And in my opinion the way the scopes work is a little unintuitive and undocumented. It actually took some trial and error before I learned that Test scope and afterEachTest are not just limited to a test. Multiple tests within an Action

[2017-06-22 16:57] thatJavaNerd commented on #219
Thank you!

I ended up using something similar to what @artem-zinnatullin suggested:

[code]

Are there any plans to include something like this in the API?

[2017-06-29 00:51] gajwani commented on #204
@Ramblurr @hhariri

I created a sample working repo for Java/Kotlin/Spek/JUnit[5,4,3] here: https://github.com/gajwani/kotlin-base

It integrates with IntelliJ and has a working `build.gradle`. Try it out and tell me if it helps at all!

[2017-07-05 08:04] dharmakshetri opened #223 "java.lang.ClassNotFoundException: com.intellij.junit5.JUnit5IdeaTestRunner"
I am very new using spek in kotlin testing. When using spek , got the following error on logcat. I don't why I got this

[code]

I have following dependencies on gradle file

[code]

Test file

[code]

Can you please suggest, how to get this kind of error. I would appericate your valuable suggation or comments on this topic.

[2017-07-05 08:06] raniejade commented on #223
Looks like an issue with IDEA, what version are you using? `com.intellij.junit5.JUnit5IdeaTestRunner` is part of the junit plugin.

[2017-07-05 08:08] dharmakshetri commented on #223
it is android studio 3.0 canary 4.

[2017-07-05 08:16] raniejade commented on #223
Looks like someone answered your question: https://stackoverflow.com/questions/44919436/java-lang-classnotfoundexception-com-intellij-junit5-junit5ideatestrunner-using :)

[2017-07-05 08:28] dharmakshetri commented on #223
Yes, it works, however, I got some warnings. `WARNING: TestEngine with ID 'junit-jupiter' failed to discover test `and `WARNING: TestEngine with ID 'junit-jupiter' failed to discover tests` .

[2017-07-05 08:46] raniejade commented on #223
Just ignore it, you don't have any JUnit Jupiter tests.

[2017-07-05 08:51] dharmakshetri commented on #223
Ok thank you. have a great day.

[2017-07-05 08:53] raniejade commented on #223
No worries. Closing this as it's not an issue with spek.

[2017-07-05 08:53] #223 closed

[2017-07-07 06:54] RuudPaulissen opened #224 "Spek tests not runnable from Maven"
I've been trying to get Spek to run from Maven for over a day now. I've followed all guides and examples I could find on the internet, but with no luck. I can run them in my IDE (IntelliJ), manually, but cannot get them to automatically run in bulk.

The documentation on how to run Spek from Maven on the official website, is very incomplete in my opinion (http://spekframework.org/docs/latest/#_mav

[2017-07-07 09:19] RuudPaulissen commented on #224
On a sidenote: I _was_ able to run my test manually. Spek just stops working now and throws me a nice "Test framework quit unexpectedly".

[2017-07-07 10:11] raniejade commented on #224
@RuudPaulissen have you checked https://github.com/spekframework/spek-maven-sample?

[2017-07-07 10:38] RuudPaulissen commented on #224
@raniejade I just got it working again. I was using JUnit platform version 1.0.0-M5 instead of M4. (Please mind that the documentation page to which the Spek docs link you under the "Maven" section, being http://junit.org/junit5/docs/current/user-guide/#running-tests-build-maven, specifies version 1.0.0-M5 as well - this is confusing.)

I don't seem to need the junit-jupiter-engine to run it, eith

[2017-07-07 11:44] raniejade commented on #224
Yeah, `1.0.0-M5` was just recently released and it seems they introduced  several breaking changes again.

[2017-07-07 12:02] RuudPaulissen commented on #224
I've ran into another interesting issue here. If I run the tests manually, in IntelliJ, they all pass and everything is fine. However, if I run them through maven, I get a NullPointerException thrown from the surefire plugin.

Could this be a bug?

[2017-07-07 16:33] raniejade commented on #224
Can you paste the stacktrace?

[2017-07-07 21:25] RuudPaulissen commented on #224
Hi, there is no stack trace, really. In attachment I've added the output of the Surefire test run from Maven. It signals a failure, with a "null" value appearing in the console. That's about all error message I'm getting.
<img width="1044" alt="schermafbeelding 2017-07-07 om 23 14 38" src="https://user-images.githubusercontent.com/29971665/27977501-54b2c076-636b-11e7-8555-28353ca1d99d.png">

When

[2017-07-10 21:38] RuudPaulissen commented on #224
Take back what I last said about there not being a full stack trace: I've been looking into the issue some more and overlooked the "-e" tag for Maven.

Anyways, here is het full stack trace.
![schermafbeelding 2017-07-10 om 23 35 13](https://user-images.githubusercontent.com/29971665/28041207-d015867c-65c8-11e7-80ed-4f4bbe8de3e8.png)

Thanks in advance.

[2017-07-10 21:57] RuudPaulissen commented on #224
I have found an issue with the exact same error and stack trace as me, here in the spek issues catalog. Link: https://github.com/JetBrains/spek/issues/138.

There was no real solution found, besides adding the @runwith(JUnitPlatform::class) annotation to every test class. Is this still the best way to solve this error?

[2017-07-11 08:20] alejandropg opened #225 "Spek doesn't work with JUnit platform 1.0.0-M5"
Recently (on July 4, 2017) JUnit 5 has released de Milestone 5, but Spek 1.1.2 doesn't work with it.

To reproduce it, use this Gradle build configuration (I think Maven has the same problem, see #224 that maybe is the same issue)

**`build.gradle`**
[code]

If you build the project you get the error:

[code]
and no one Spek test was run.

If you change the value of the property `junitPlatformVers

[2017-07-11 08:35] raniejade commented on #224
What version of maven are you using?

[2017-07-11 08:38] RuudPaulissen commented on #224
Maven version 3.3.9, Java 1.8.0_111, Mac OS X 10.12.5

[2017-07-11 08:40] raniejade commented on #224
I saw your bug report https://issues.apache.org/jira/browse/SUREFIRE-1388, let's wait for a reply from the surefire team.

[2017-07-11 09:00] raniejade commented on #225
I'm a bit hesitant to release a new version just to fix the issue with `1.0.0-M5`. We don't get anything from using the new version since we only use it as a test runner.

[2017-07-11 09:27] alejandropg commented on #225
I think that not worth the effort to release a new version just for this. Just take account it to fix it in the next normal release.

Anyway I see you have a branch to _Implement Spek JVM runtime (#222)_ and remove the JUnit 5 dependency. May be here is not the best site to talk about (I don't not where, please tell me if there is a better place, a list, forum, ... there are any guide to colaborat

[2017-07-11 09:41] raniejade commented on #225
It's a POC and not final, we are going to do some internal discussions and eventually bring up our plans with the community.

[2017-07-14 21:10] Ritzzzll commented on #224
@raniejade the error messages I'm having are exactly those the issuer of ticket https://github.com/JetBrains/spek/issues/138 is having. He resolved vis issues by adding the @RunWith annotation, only I don't seem to have the necessary dependecies for JUnitPlatform::class. Do you have any experience with this?

[2017-07-14 21:14] RuudPaulissen commented on #224
@raniejade the error messages I'm having are exactly those the issuer of ticket https://github.com/JetBrains/spek/issues/138 is having. He resolved vis issues by adding the @runwith annotation, only I don't seem to have the necessary dependecies for JUnitPlatform::class. Do you have any experience with this?

[2017-07-16 03:00] raniejade commented on #224
@RuudPaulissen you need `org.junit.platform:junit-platform-runner`.

[2017-07-17 09:33] guenhter commented on #81
Possible duplicate of https://github.com/JetBrains/spek/issues/113

[2017-07-18 06:00] RuudPaulissen commented on #224
No luck, will have to continue playing the waiting game I guess.

[2017-07-18 06:25] raniejade commented on #224
Can you upload a sample project (in github) that reproduces the issue? I'll try to test it out again, it's been awhile since I used maven :).

[2017-07-19 17:20] RuudPaulissen commented on #224
Thank you for willing to take the time to look into it, @raniejade :-)
I'll do my best to prep something in the next few days. The weird thing is that the errors seem to occur in tests that come with external dependencies (e.g. database connectivity, network connectivity, ...) so it's not that straightforward to reproduce I fear.

[2017-07-31 10:18] niksw7 opened #228 "java.lang.NoClassDefFoundError: kotlin/jvm/internal/KObject with gradle"
I have this issue, when I am running this test with gradle(**gradle build**). It works fine when running in  intelij though.Exception is

`Caused by: java.lang.NoClassDefFoundError: kotlin/jvm/internal/KObject
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)

[2017-08-01 02:47] niksw7 commented on #228
@raniejade can you please give your 2 cents here?

[2017-08-01 03:37] raniejade commented on #228
Have you tried adding:

[code]

In any case, I don't think this is a problem with spek.

[2017-08-01 08:24] #228 closed

[2017-08-01 10:39] igorwojda commented on #208
So just to be 100% clear. Is there any way to use  Speak with Android tests?

I have a sample test project with sample tests, but I wasn't able to make it works.
https://github.com/igorwojda/migrate-java-tests-to-kotlin

[2017-08-01 11:46] raniejade commented on #208
@igorwojda If you're using `@RunWith(..)` it's a no. Do you have https://github.com/raniejade/spek-idea-plugin installed?

[2017-08-01 12:06] igorwojda commented on #208
To be precise I am using Android Studio. So the Spek plugin is installed. I have removed `@RunWith(..)`, no I am getting `Test framework quit unexpecredly` errror

[code]

BTW are you planning to add support for `@RunWith(..)`?

[2017-08-01 13:11] raniejade commented on #208
No, JUnit 4 is very problematic.

Can you try adding a `Before launch` gradle step to compile the test sources?

[2017-08-01 14:43] igorwojda commented on #208
So used new plugin 0.4.1 and recreated configurations, but this didn't help me at all.

I notice that I am missing

[2017-08-01 18:14] CreamyCookie opened #230 "Question: What does this message mean: Run Configuration is currently not installed?"
In 2017.02 I'm getting this message on startup: "Plugin supporting feature (Run Configuration[spek-run-configuration]) is currently not installed."

I can't find a plugin that is named "spek-run-configuration".

[2017-08-01 22:42] raniejade commented on #230
Can you reinstall the [Spek](https://plugins.jetbrains.com/plugin/8564-spek) plugin? If you have some old run configurations please delete it.

[2017-08-01 22:47] raniejade commented on #208
@igorwojda probably related https://issuetracker.google.com/issues/38454212?

[2017-08-02 08:40] davidsowerby opened #231 "Tests Ok from Gradle CLI, fails in IDE"
I am getting the following error in IDEA, yet fails in the iDE with:

Relevant parts of build.gradle:

[2017-08-02 08:43] raniejade commented on #231
@davidsowerby try adding `testRuntime "org.junit.platform:junit-platform-launcher:1.0.0-M4"`

[2017-08-02 08:46] davidsowerby commented on #231
@raniejade great, that was quick, thanks - solved the problem, and still works under Gradle

[2017-08-02 08:46] #231 closed

[2017-08-02 10:13] davidsowerby opened #232 "Spek setup ignores Spock and JUnit tests"
I have both Spock and JUnit tests in folders parallel to the Spek tests, but these are just ignored by both the IDE and Gradle CLI.  Is there something else I need to configure for the JUnitPlatform?

Relevant parts of build.gradle:

[2017-08-02 10:15] raniejade commented on #232
You have to include the correct test engines for them. http://junit.org/junit5/docs/current/user-guide/#dependency-metadata

[2017-08-02 10:17] raniejade commented on #232
If you're using JUnit 4 you just probably need to include the vintage test engine. Make sure it's `x.x.x-M4` release.

[2017-08-02 10:38] davidsowerby commented on #232
I added

but that made no difference

[2017-08-02 10:40] igorwojda commented on #208
OK I nailed the reason of the problem. It looks that something becomes cached and test fails latter in the result.
Steps to reproduce:
1. Unisntall Spek Plugin (in my test setup it was actually never installed, but this should be similar)
2. Checkout the project https://github.com/igorwojda/migrate-java-tests-to-kotlin
3. Run tests in ProfilePresenterTest_Kotlin_Spek (using ide arrow next to class

[2017-08-02 10:41] davidsowerby commented on #232
Ah, got it, need to add to the filter:

[code]

[2017-08-02 10:45] igorwojda opened #233 "Add ability to 'go to test definition'"
After running, JUnit tests we can click on the test result and test source File will be opened (proper line selected, line where the test is defined). I wonder can we add it to Spek?

![image](https://user-images.githubusercontent.com/530122/28870265-8217663c-7777-11e7-9fd4-aad0be076723.png)

Small improvement but it will improve testing a lot

[2017-08-02 10:48] igorwojda opened #234 "Incorrect tests are runned from IDE"
Clicking on the green arrow next to first `on` block runs only test inside this `on` block - OK
Clicking on the green arrow next to first `it` block runs all the tests instead of the only test defined inside this `it` block. I would expect that only test defined inside 'it' block will be runned

![image](https://user-images.githubusercontent.com/530122/28870452-40fb167a-7778-11e7-905e-28759979ff67

[2017-08-02 12:51] davidsowerby commented on #232
But that now excludes the Spek tests, I'm getting only Spock and JUnit.  Tried this as well:

[2017-08-02 15:46] CreamyCookie commented on #230
@raniejade  I did. There was a link "Ignore run configurations" or so, next to the above, which I think alread deleted the run configurations when I pressed it.

And the message doesn't pop up anymore.. Should I close this or keep it open regarding the IMO confusing error message?

[2017-08-02 21:56] raniejade commented on #233
Closing this as a duplicate of https://github.com/raniejade/spek-idea-plugin/issues/5.

[2017-08-02 21:56] #233 closed

[2017-08-02 21:58] raniejade commented on #234
Duplicate of https://github.com/raniejade/spek-idea-plugin/issues/34. `it`s inside on are only discovered during the execution phase so the runtime does not know about it when planning the test tree. The plugin should hide the gutter icons of `it`s when inside an `on`.

[2017-08-02 22:01] raniejade commented on #230
I'll close it for now and just reopen when necessary.

[2017-08-02 22:01] #230 closed

[2017-08-02 22:04] raniejade commented on #232
@artem-zinnatullin can you help out? Never tried using more that one test engine.

[2017-08-03 18:54] tyrondis opened #235 "IntelliJ IDEA: "Test events were not received""
I set up `Spek` with `Gradle` according to the documentation provided here:
http://spekframework.org/docs/latest/#_gradle

Upon running `gradle test` as a Gradle task from within IntelliJ IDEA, the tests run successfully and I can see the test summary in the test output console, however, the tree that normally lists each tests with a visual indicator just shows the text "Test events were not recei

[2017-08-05 11:44] rock3r commented on #225
The same issue is still true as of JUnit Platform 1.0.0-RC2, I think there's a good chance this issue will persist with the final version/

[2017-08-06 06:17] artem-zinnatullin commented on #232
@raniejade we don't have non-Spek JUnit4 tests mixed with Spek…

[2017-08-06 06:52] davidsowerby commented on #232
Ok, I will drop Spek from this project, I have too many Spock and JUnit tests to even consider converting them.

Will we be able to run JUnit / Spock tests in the same build as Spek once #222 is released?

[2017-08-06 08:17] raniejade commented on #232
@davidsowerby I'm going to take a look, it should be possible with the current version.

[2017-08-06 08:30] raniejade commented on #232
@davidsowerby tried it on a personal project.

[code]

When doing `./gradlew test` it runs everything - Spek and JUnit4 tests.

[2017-08-06 10:37] raniejade opened #236 "Remove the old JUnit TestEngine"
We introduced a new `TestEngine` in #222 but didn't remove the old one. Remove the old one and rename the new engine to `spek-junit-platform-engine`.

[2017-08-06 10:51] raniejade opened #237 "Restructure repo"
As agreed we are going to restructure the repo to make it more clear and understandable.

File Tree.

- spek-dsl
- runtime
    - common
    - jvm
    - js
    - native
- spek-runners
    - junit-5
    - javascript
- spek-extensions
    - data-driven
    - Subject
- samples
- documentation

[2017-08-06 10:55] #115 closed

[2017-08-06 11:06] raniejade commented on #235
It's not working as of the moment, I think it only works for JUnit 4 tests.

[2017-08-06 11:11] #9 closed

[2017-08-06 11:11] #34 closed

[2017-08-06 11:12] raniejade commented on #91
Resolved in #146.

[2017-08-06 11:12] #91 closed

[2017-08-06 13:17] raniejade opened #238 "Upgrade to the latest JUnit 5 RC release"
Hopefully there will be no more API breaking changes.

[2017-08-06 14:38] raniejade opened #241 "Rename maven coordinates"
As discussed we will be moving to `org.spekframework.spek2` as our group id.

Below are the new coordinates:

- `org.jetbrains.spek:spek-api` -> `org.spekframework.spek2:spek-dsl`
- `org.jetbrains.spek:spek-junit-platform-engine` -> `org.spekframework.spek2:spek-runner-junit5`
- `org.jetbrains.spek:spek-subject-extension` -> `org.spekframework.spek2:spek-extension-subject`
- `org.jetbrains.spek:sp

[2017-08-06 14:40] raniejade opened #242 "Rename packages"
Related to #241, we need to rename our current package prefix `org.jetbrains.spek` to `org.spekframework`.

[2017-08-06 15:09] raniejade opened #245 "Rename JUnit 5 TestEngine ID"
To be consistent with #241 and #242 rename `spek` to `spek2`. So when using gradle, it's possible to do:

[code]

[2017-08-06 21:50] davidsowerby commented on #232
@raniejade Thanks for your help on this one, it is much appreciated  ... I tried this, but actually could not run any tests at all - I suspect I have missed something, but this setup is very complicated just to run existing tests alongside Spek.

I don't really have much time to spend on this just now - so I will park Spek for now, and try and get back to it later ... or you can close this issue i

[2017-08-07 09:51] #234 closed

[2017-08-08 06:45] crow-misia commented on #65
+1

[2017-08-08 10:40] raniejade opened #246 "Introduce meta annotations for IDE consumption"
Motivation
========

The IDEA plugin hard codes all synonyms we currently provide, which is not flexible if we want to support running user implemented synonyms.

Proposal
=======
Introduce meta annotations that any IDE can check for synonyms.

[code]

So with the annotations above, let's annotate `describe`:

[code]

and `xdescribe`:

[code]

[2017-08-08 10:41] raniejade commented on #246
cc @hhariri @artem-zinnatullin

[2017-08-08 20:50] artem-zinnatullin commented on #246
Very nice idea!

`prefix` is what IntelliJ plugin will output?

[2017-08-09 08:23] raniejade commented on #246
More or less yes, it will use it to compute the scope's path to run.

[2017-08-14 10:52] t28hub commented on #65
+1

[2017-08-15 09:52] lispyclouds opened #248 "Fails to find tests with Kotlin version 1.1.4"
Spek is unable to find any of the tests when run with the newly released Kotlin **1.1.4** but works with **1.1.3-2**. Spek version is **1.1.2**, Gradle version is **4.1**

When run with **1.1.3-2**
[code]

When run with **1.1.4**
[code]

[2017-08-15 09:55] lispyclouds commented on #248
This is the repo using it: https://github.com/lispyclouds/bob

[2017-08-15 10:02] artem-zinnatullin commented on #248
Can you please make sure all Kotlin dependencies use same version? Especially kotlin-reflect which Spek depends on.

[2017-08-15 10:07] lispyclouds commented on #248
Yes, I parameterized it as `kotlin_version`. All the deps are using this parameter.

Here is my build.gradle file: https://github.com/lispyclouds/bob/blob/master/build.gradle

[2017-08-15 10:11] artem-zinnatullin commented on #248
I don't see kotlin-reflect explicitly specified there though.

Maybe it's pulled by kotlin-test,  but I'm not sure, please check that with `gradlew :module-name:dependencies` and specify if it doesn't match common Kotlin version.

[2017-08-15 10:25] lispyclouds commented on #248
Yes, kotlin-reflect is still at **1.1.3-2**
Should an explicit dependency be added?

[2017-08-15 10:27] artem-zinnatullin commented on #248
Yes, please try that and report back :)

[2017-08-15 10:32] lispyclouds commented on #248
Added
`testCompile "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"`
kotlin_version being 1.1.4
Still no luck. gradle does show that the version for reflect have changed.

[2017-08-16 18:53] charleskorn commented on #248
I am also seeing this exact issue.

[2017-08-17 08:22] raniejade commented on #248
@lispyclouds I cloned the repo and did the following changes:

[code]

Running `./gradlew test` yields:

[code]

[2017-08-17 08:26] raniejade commented on #248
`./gradlew dependencies --configuration testCompile` tells that a different version of `kotlin-reflect` is being pulled

[code]

To fix it I did the following changes:

[code]

Which now pulls the correct version of `kotlin-reflect`.
[code]

[2017-08-17 10:09] raniejade opened #250 "Support Focused as an extension"
Motivation
------------
Earlier versions of spek had support for focused versions of the built-in scopes (prefixed with an `f`), when used Spek will only execute those scopes. This was subsequently removed in later versions because we see it as only a temporary solution for the lack of proper tooling. This still stands but we can see it to be useful in specific circumstances. We don't want it to b

[2017-08-17 11:01] Jkly commented on #248
@raniejade Can you have a look at https://github.com/libktx/ktx/tree/develop ? It has the same issue after updating to 1.1.4 and running `./gradlew clean ashley:test`

The test-runtime classpath has the correct version of kotlin-reflect:
[code]

[2017-08-17 11:05] czyzby commented on #248
@raniejade Kotlin version is set through `gradle.properties`. [This branch](https://github.com/libktx/ktx/tree/bug/issue-100_kotlin_mocking_error) was updated to Kotlin 1.1.4, but it was not merged yet due to issues with Spek and Mockito.

[2017-08-17 11:07] lispyclouds commented on #248
Seems like it fails with gradle check only. Gradle test seems to work ok.
Not sure why.

On Aug 17, 2017 at 1:52 PM, <Ranie Jade Ramiso <notifications@github.com>>
wrote:

@lispyclouds <https://github.com/lispyclouds> I cloned the repo and did the
following changes:

diff --git a/build.gradle b/build.gradle
index fb335d1..ea58f0f 100644
--- a/build.gradle
+++ b/build.gradle
@@ -24,7 +24,7 @@ versi

[2017-08-17 11:13] lispyclouds commented on #248
But subsequent runs of `gradle clean test` still fails.

[2017-08-17 11:15] czyzby commented on #248
It seems that in case of KTX Spek finds 0 tests with both `check` and `test` tasks. We do however get the following error:

[code]

Should we modify JUnit platform version?

[2017-08-17 11:30] lispyclouds commented on #248
@czyzby I think so. It gives this error if
org.junit.platform:junit-platform-gradle-plugin is greater than 1.0.0-M4

This is what I am using in my gradle file as well.

[2017-08-17 11:49] czyzby commented on #248
Changing JUnit platform version to `1.0.0-M4` fixed the error, but the tests are still not detected.

[2017-08-17 11:53] raniejade commented on #248
It seems related to changes in Gradle 4.0, which JUnit 5 fixed in `1.0.0-M5`. This didn't happen before because the kotlin plugin pre `1.1.4` was still using `$buildDir/classes/main` as an output directory.

As a workaround, in your buildscript or plugin block. Pull in Junit Platform `1.0.0-M5` then in the `junitPlatform` block set `platformVersion` to `1.0.0-M4`.

[code]

[2017-08-17 11:59] czyzby commented on #248
I think after your changes it just goes back to this error:
[code]

Could you try checking out [this](https://github.com/libktx/ktx/tree/develop) branch and changing the library versions in `gradle.properties`, so that Spek works with Kotlin 1.1.4 in `ashley` subproject?

[2017-08-17 12:04] raniejade commented on #248
@czyzby this works:

[code]

[2017-08-17 12:14] czyzby commented on #248
Ah, I see, I haven't noticed that we override the JUnit platform setting with the test dependency. Anyway, are you planning on moving to the latest JUnit platform version?

[2017-08-17 12:18] raniejade commented on #248
Yes, it was planned only for `2.x` but given the circumstances it needs to be done in `1.x`. Good thing there's already a PR for it #247, expect it sometime next week.

[2017-08-17 12:51] lispyclouds commented on #248
Thanks @raniejade

Your workaround:
[code]

works for me 😄
I tried it with `org.junit.platform:junit-platform-gradle-plugin:1.0.0-RC2` which is the latest one and works fine.

Waiting for #247 👍

[2017-08-17 18:53] artem-zinnatullin commented on #250
Would be great if IntelliJ plugin would reuse exact same API to run particular test/group!

[2017-08-18 00:13] raniejade commented on #250
@artem-zinnatullin that's an interesting idea, I'll consider it!

[2017-08-18 07:37] raniejade commented on #250
Just realised it has some performance implications. It implies that Spek should discover everything first, currently filtering is done while discovering the scopes.

[2017-08-20 12:57] raniejade commented on #248
Fixed by #247, `v1.1.3` will be out early this week.

[2017-08-20 12:57] #248 closed

[2017-08-21 16:14] innobead commented on #248
After upgrading to v1.1.3, test cases still unable to find? any idea?

![image](https://user-images.githubusercontent.com/899492/29528487-ce7cf21a-86ce-11e7-9556-ef1a14d03ab2.png)

[2017-08-21 16:39] lispyclouds commented on #248
Yes, doesn't work even with an explicit mention of version:
[code]
and platformVersion "1.0.0-M4" isn't working too as it was with 1.1.2

[2017-08-21 16:41] lispyclouds commented on #248
Raises this error when run with 1.0.0-M4:
[code]

[2017-08-22 00:42] raniejade commented on #248
Hmmm.. I'll look into it.

[2017-08-22 00:56] raniejade commented on #248
It's working on my project, I'll go checkout @lispyclouds's repo.

[2017-08-22 06:41] raniejade commented on #248
Fix is here #251. Verified it locally with https://github.com/lispyclouds/bob.

[2017-08-22 14:23] lispyclouds commented on #248
Will this be a new release? If yes, when do we expect it?

[2017-08-22 14:33] raniejade commented on #248
Yes, expect it this week. Just waiting for it to be code reviewed.

[2017-08-23 16:26] lispyclouds commented on #248
Works fine now! 😄

[2017-08-24 06:44] innobead commented on #248
Good job, thanks.

[2017-08-25 18:32] sgrimm-sg opened #252 "Inconsistency in docs of "describe, it" style"
The documentation of the "describe, it" style says that this style involves `describe` and `it` blocks, the former of which can be nested. But the example code has `describe`, `on`, and `it`. The `on` blocks should probably be `describe` instead to demonstrate nesting.

[2017-08-29 18:20] jreiter commented on #211
This happens for me whenever I combine Spek and PowerMock.  If I integrate PowerMock and Spek using the `PowerMockRunnerDelegate` (delegating to `JUnitPlatform`), the first test (alphabetically) in my suite that uses Spek, but not PowerMock, results in this exact same stacktrace.  However, all subsequent tests using Spek work fine.

Any ideas?

[2017-08-31 07:25] raniejade commented on #211
@jreiter Sorry, I don't know why this is happening yet. Tried the previous example and it worked for me. It will be very helpful, if you can provide me with an example project that reproduces this.

[2017-08-31 19:10] jreiter commented on #211
@raniejade Yep, I will try making a minimal project that can reproduce the error.  I'll post it here when I have it.

By the way, when I was searching around for solutions for integrating PowerMock with Spek, I stumbled across a Google Groups where you were discussing adding first class support for PowerMock in Spek.  Did that ever go anywhere?

[2017-09-01 02:27] raniejade commented on #211
I wasn't able to work on it further, last thing I did was introduce `@CreateWith` to allow Spek to use PowerMock's custom classloader.

[2017-09-02 06:35] JolandaVerhoef opened #254 "Example of using JUnit5 for Java module in Android project"
The website describes that in an Android project, you should use JUnit4. Using Spek with JUnit5 however gives an improved experience (xml result grouping, IDE plugin). https://github.com/JetBrains/spek/issues/52#issuecomment-283712210 indicates that with a few hacks, it should be possible to use JUnit5 for Java modules in an Android project.

What is the state on this? If this is actually possible

[2017-09-04 16:28] dave08 commented on #136
@iamsteveholmes Can one manage testing a `Verticle` without a `TextContext`? Do you have any examples out? Thanks!

[2017-09-07 11:50] anatolykislov opened #255 "Gradle can't find tests"
I'm using Spek for my Kotlin project. I am able to run tests through Intellij Idea Spek plugin, but can't run them through gradle (build or test).

According to SimpleTest.kt when running from Idea plugin 1 test succeeded and 1 failed, when running via gradle it says that 1 container found with 0 tests. How to set up the launch of tests via gradle?

build.gradle:
[code]

src/test/kotlin/SimpleTest

[2017-09-07 13:31] anatolykislov commented on #255
Updated versions to Spek 1.1.4 and junit-platform 1.0.0-RC2, now works fine.
[SO](https://stackoverflow.com/questions/46095556/gradle-cant-find-tests/46096703) and https://github.com/JetBrains/spek/issues/248

[2017-09-07 13:31] #255 closed

[2017-09-07 15:00] timrijckaert opened #256 "Android Studio 3.0"
Hiya,

I'm a bit confused how the setup of Spek for Android projects should be.
Previously in Android Studio 2.3.3 everything seemed to be working just fine with the Spek plugin installed.

Following the documentation I retried from scratch in a clean new project since I can't share my particular project.
The problem seems to exist there as well.

Upon running I get:

`
WARNING: TestEngine with ID

[2017-09-08 01:15] raniejade commented on #256
Can you try using JUnit Platform `1.0.0-RC2`?

[2017-09-08 08:22] timrijckaert commented on #256
Problem persists.
Although tests now seem to run in CLI not but still not in Android Studio.
I tried out different run configs.

First
Spek config with Spek IDEA plugin

<img width="1071" alt="screen shot 2017-09-08 at 10 15 48" src="https://user-images.githubusercontent.com/6739443/30202580-35ce78f4-947f-11e7-8b82-ee585a7d872a.png">

outputs stacktrace like above.
`WARNING: TestEngine with ID 'sp

[2017-09-09 12:32] Saandji opened #258 "beforeGroup is executed after my code in group"
Here is my test:
[code]

According to Spek documentation, i expect the flow to be following:

1. initialize everything before `describe`
2. call `beforeGroup`
3. initalize `describe` body e.g. my whenever calls for mocks
4. run `context`
5. run each `it` method

But i'm getting the following flow:
1. initialize everything before `describe`
2. run my `describe` body e.g. my whenever calls for mocks

[2017-09-10 06:15] heliofvj commented on #256
JUnit 5 supports gradle for java projects. Gradle for Android projects have some differences that break compatibility.
https://github.com/junit-team/junit5/issues/204

Even if you are using a java module on your project, Android Studio uses an IntelliJ build that depends on APIs of an outdated JUnit 5 Milestone. Your tests will fail when executed from Android Studio directly.
Using JUnit M6 should

[2017-09-10 06:53] heliofvj commented on #254
I was curious about this as well, so I created an Android project with a java-library module to check on the state of things.

Running spek tests in a java module from Android Studio does not seem to be possible ATM.
- After searching for a bit I found out that Android Studio uses an IntelliJ build that depends on APIs of an outdated JUnit 5 Milestone. Tests will fail when executed from Android St

[2017-09-10 12:53] dave08 commented on #65
+1

[2017-09-12 09:46] ming13 commented on #241
What about omitting `2`? I think the difference between `org.jetbrains.spek` and `org.spekframework.spek` is enough. The version will be in the artifact version.

The only confusion point I foresee is the third version, which will force awkward naming, i. e. `org.spekframework.spek` + `org.spekframework.spek3`.

CC @artem-zinnatullin

[2017-09-12 10:32] hhariri commented on #241
I'd keep the 2 cause as you mention, 3 will be awkward.

[2017-09-12 11:54] micHar commented on #225
Anything new on that issue?

[2017-09-12 11:59] raniejade commented on #225
This is already fixed. Please use Spek `1.1.4` and JUnit Platform `1.0.0-RC2`.

[2017-09-12 11:59] #225 closed

[2017-09-12 12:58] timrijckaert commented on #256
Hmm thanks for this.
However this does not seem to work for me like it should.
I updated the  [repository](https://github.com/timrijckaert/SpekAndroidStudio3) to reflect implementing this library.
PR's are very much welcome to better understand what it is I'm doing wrong.

I now get a nice output in my CLI

![screen shot 2017-09-12 at 14 52 52](https://user-images.githubusercontent.com/6739443/303